[2021-01-25 12:36] fgalan commented on #3750
I agree.

The driving use case for keyValues is rendering information for readers. For creating/updating entities, although the NGSIv2 spec supports this mode, it is not a good idea and normalized mode should be used instead.

[2021-01-25 13:04] fgalan commented on #3748
I have "translated" your entity and registration to curl. It will be useful for debugging.

Entity:

[code]

Registration:

[code]

[2021-01-25 13:10] kzangeli commented on #3750
Yeah, I have to say I agree on most of what's said as well.
But ... keyValues for updates is a nice feature and if we can fix it, it would be good for our users.

One detail on
[code]

The nature of PUT is to overwrite/replace, so here overwriting the type is something to expect.
So, a URI param `preserveType'  isn't valid for PUT if we want to be RESTful (not that I'm an expert), right?
Had it be

[2021-01-25 16:41] fgalan commented on #3748
Testing using two CBs (the one at port 1028 acting as CPr):

[code]

Setting up:

* DBs `orion` and `orioncpr` start empty
* Do the 3 curls above (first and second ones are for CB-1026, the third one is for CB-1028)

-------------------

**Testing with legacy format:**

Case 1a: value update without type

[code]

logs in CB-1026:

[code]

Note forwarded attribute value is "" (it should be 400)

Ca

[2021-01-27 11:55] fgalan commented on #3750
Good point. I think you are correct. PUT on `/v2/entities/<ID>/attrs` should not allow `preserveType`.

The problem of doing preserveType the default behaviour is that it would break backward compatibility. Thus, an explicit `option=preserverType` should be used.

[2021-01-27 12:07] fgalan opened #3764 "May Orion build on CentOS 8?"
It would be a good idea to evaluate this, doing a pass-through of the building procedure at https://fiware-orion.readthedocs.io/en/master/admin/build_source/index.html and see how it goes.

[2021-01-28 09:20] fgalan opened #3766 "GitAction for code coverage"
The standard makefile generates a coverage report in `coverage/` directory using a command like this:

[code]

It would be great to add this to GitActions, which means that also some modifications to the CI docker image has to be done. Some more detail about this task:

* I think that the following packages should be added to ci/rpm7/build-dep.sh: lcov and xsltproc
* A new stage for coverage (simi

[2021-01-28 09:21] fgalan commented on #3766
@wistefan you have been recently involved wigh GitActions for Orion. It would be great if you could have a look and help with this, please :)

[2021-01-28 10:13] wistefan commented on #3766
Hi, I wont have the time to do it myself in the next few weeks, but you can use the solution I built for orion-ld repo as starting point:
Action with Coveralls integration: https://github.com/FIWARE/context.Orion-LD/blob/develop/.github/workflows/coverage.yml
LCov in docker-image: https://github.com/FIWARE/context.Orion-LD/blob/develop/docker/Dockerfile-test#L5
Coverage for functional tests: https

[2021-02-01 07:01] rajeswar-NEC commented on #2696
Hi @kzangeli

I would like to work on this issue, please let me know if no one is working on this.

[2021-02-01 08:34] kzangeli commented on #2696
Hi there, thank you for volunteering!
I'm pretty sure the issue is "free" for you to work on, but, @fgalan is the one handing out work (receiving favors :))

[2021-02-01 13:30] fgalan commented on #2696
@rajeswar-NEC thanks for your willingness to work on this issue :) You have been assigned to it.

However, before starting to work on it, please check how Context Broker behaves. The issue is old and I'm not sure if the issue stills or has been fixed.

[2021-02-02 07:28] fgalan opened #3768 "Wrong forwarding URL when registrateion URL omits path"
(Comes from discussion at https://github.com/FIWARE/specifications/issues/13)

Rule to compose forwarding URL for Context Providers is as follow:

* Queries: `<url as used in context registration> + "/op/query"`
* Update: `<url as used in context registration> + "/op/update"`

When the URL in the registration doesn't omit path (e.g. `"http://iot-agent:1880/v2"` or `"http://iot-agent:1880/"`) this

[2021-02-02 07:30] fgalan commented on #3768
@piwo1984 could you have a look to check if my description of the issue above is fully correct, please? Thanks!

[2021-02-02 07:33] fgalan commented on #3768
I'm not sure if that rule is explicitly specified in documentation (https://fiware-orion.readthedocs.io/en/master/user/context_providers/index.html). In negative case, as part of this issue, documentation should be modified to include it.

[2021-02-02 14:02] piwo1984 commented on #3768
@fgalan yes your description is correct.

[2021-02-09 11:06] mapedraza commented on #3758
Regarding the first item (health check), the problem of using a separate endpoint to doing the check (i.e. an extra port opened by the contextBroker process, let’s say port number 6201) is that endpoint doesn’t necessarily guarantee that CB is providing service. I mean, you can check that opening-closing a connection to 6201 is fine, but it doesn’t necessarily mean that the service in port 1026 is

[2021-02-09 14:56] wistefan commented on #3758
Regarding health-check:
I fully agree that the socket-solution is far from ideal and should be extended to actually test something. It would be an option to use one of the normal endpoints, if you can guarantee that requests are answered in highload situations, instead of being terminated. If Orion receives a burst of requests, the connection pool gets exhausted and it start to reject connections.

[2021-02-10 15:51] mapedraza commented on #3758
Regarding health-check:
Since the information is available on the Orion logs, it is possible to parse and process it using bash commands to perform the health-check (we understnad that with the third supported type of kubernetes health-chack, command, a check based in a bash script that way can be implemented, right?). It is available right now. Is this solution right for you?

Regarding memory:
T

[2021-02-11 18:09] mapedraza commented on #3764
I got Orion Context Broker running on `CentOS-8.3.2011` using `task/3132_driver_migration_first_stage` branch using `mongo-c-driver-1.16.0`

Some comments about the installation:
- scons fails when installing. It is not needed anymore since it is needed only for mongo legacy driver
- It is needed to change CMakeLists.txt file to ignore some warnings while compiling
  - Used `    sed -i '87s/.*/set

[2021-02-12 12:50] Anjali-NEC commented on #3638
Hi @fgalan,

As per my understanding on this issue we need to allow multiple value of type in entities, for this we need to convert string into array type.

But i have not found any suitable method to convert string into array in c++ so I have store type value as a string with all the value send in array.  Below is the modification i have done in src/lib/jsonParseV2/parseEntity.cpp in parseEntity

[2021-02-12 15:14] fgalan commented on #3132
PR #3622 is implementing the actual migration of the driver.

[2021-02-16 09:30] fgalan commented on #3764
Could you run the so built contextBroker (e.g. `contextBroker -fg`) and provide the result of `curl localhost:1026/version` to know the exact library version you get in CentOS 8? (It may be needed for documentation purposes)

[2021-02-16 10:49] fgalan commented on #3638
My suggestion is to have a look to existing code in the parsing module used to process arrays in the payload and use the same approach to process entity type arrays. In particular, you could find an example at parseContextAttributeCompoundValue() function in src/lib/jsonParseV2/parseContextAttributeCompundValue.cpp. There are two differences regarding the entity type case:

* In the entity type ca

[2021-02-16 11:38] mapedraza commented on #3764
Orion's response:
[code]

[2021-02-16 16:05] fgalan opened #3774 "mongodriver follow up: analyze the need and usage of a BSON streaming API"
During the work on issue #3132 (PR #3622) the new mongoDriver/ internal API removed the BSON streaming mode and all the existing usages were moved to classical append style.

This issue is about analyzing if re-introducing a BSON streaming API in mongoDriver/ would be a good idea, taking into account the following factors:

1. Feasibility. Would it be possible? How to "link" with the streaming API

[2021-02-16 16:07] fgalan commented on #3774
Look in the code base for `FIXME #3774` to find places that *potentially* would benefit from the usage of BSON streaming mode. It is not an exhaustive analysis, but a good starting point.

[2021-02-16 16:29] fgalan opened #3775 "mongodriver follow up: re-enable disabled unit tests"
During the work on issue #3132 (PR #3622), the unit tests for mongoBackend were disabled, in order to fully remove the dependencies with the old legacy driver along the code base.

This is not a big lost (unit tests were very useful at the beginning of Context Broker development, to fully test big modules before "assembly" them together) but since years ago functional tests are the important ones.

[2021-02-16 16:30] fgalan commented on #3775
Look for ocurrences of `FIXME #3775` in the code about this issue.

[2021-02-16 16:55] fgalan commented on #3638
Additional insight:

Taking into account backward compatibility, mono-type entities should work the following way:

* At parsing stage, entities with string in the type (i.e. `"type": "T"`) will be accepted and its type stored as `std::vector<std::string>` of 1 element
* At rendering stage, entities which type is an `std::vector<std::string>` of 1 elments should be rendered as string, not vector.

[2021-02-17 07:52] amfgomez1219 opened #3776 "Problem when the entity value attribute contain special charcter"
Hello
I have tied to insert in OCB an entity with a password attribute codified:

[code]

* OCB always response to me with the following error:
"found a forbidden character in the value of an attribute"
* In Postman
[code]

[2021-02-17 08:05] fgalan commented on #3776
This is more a question on Orion functionality than an issue of the software. Thus, could you post at http://telefonicaid.github.io/fiware-orion/api/v2/stable/, please? Basically, a copy-paste of the text in the issue. Please use the "fiware-orion" label.

Onces the SOF post has been created, please include the link as a comment in this issue. Then, close the issue. Thanks!

[2021-02-17 08:11] amfgomez1219 commented on #3776
https://ask.fiware.org/question/1223/problem-when-the-entity-value-attribute-contain-special-character/

[2021-02-17 08:14] fgalan commented on #3776
Sorry I use a wrong link in my comment above :)

I refer to: http://stackoverflow.com

[2021-02-17 08:27] amfgomez1219 commented on #3776
https://stackoverflow.com/questions/66238207/problem-when-the-entity-value-attribute-contain-special-character

[2021-02-17 08:27] #3776 closed

[2021-02-17 08:48] fisuda opened #3777 "Get /v2/entities?attrs=id don't work"
'/v2/entities?attrs=id' doesn't seem to work in the latest version. If my understanding is mistaken, please tell me.

- Orion latest (1744eeb6a3489c2c0bfbeceadaf471d0a3784a95)

[code]

- Orion 2.5.2 (11e4cbfef30d28347162e5c4ef4de3a5d2797c69)

[code]

Thanks

[2021-02-17 09:42] piwo1984 commented on #3647
Any progress on this issue?
I agree with @michaeI-s that a client mostly does not know anything about the `registrations`.

[2021-02-17 14:23] fgalan commented on #3647
No progress as far as I know.

I have just added the "help wanted" label to make more explicit what I say in my previous comment about contributions on this coming from the community are welcome :)

[2021-02-18 09:04] avkash08 opened #3778 "Is Orion compatible with AWS DocumentDB"
I am trying to connect Orion with AWS DocumentDB but it's not getting connected. However I tried two other FIWARE components IoTAgent and Sth-Comet with DocumentDB and both are working fine.

Same DocumentDB hostname and credentials are working for IoTAgent and Sth-Comet. I also checked for the connectivity, which is fine, as IoTAgent and Sth-Comet are in same network. I also checked from a differ

[2021-02-18 10:22] fgalan commented on #3777
I have one doubt, please:

Which is the intended use case for using `GET /v2/entities?attrs=id`? To get a list of just entity id and type for all entities, filtering out any attribute?

Thanks for the feedback!

[2021-02-18 10:24] fgalan commented on #3778
I think it should be better to deal with your question using https://stackoverflow.com. Could you post a question there, please? Basically, a copy-paste of the text in the issue. Please use the "fiware-orion" label.

Once the SOF post has been created, please include the link as a comment in this issue.

If at the end, after investigation dealing with the question in SOF, we discover there is a pr

[2021-02-18 10:59] avkash08 commented on #3778
Hi Fgalan,
Thanks for your replay.

I had already posted this issue on SOF before on this page. As of now, I haven't received any update on this.

https://stackoverflow.com/questions/66255887/is-orion-compatible-with-aws-documentdb

Moreover, during my investigation I found one link on SOF which is a bit similar but not matching with my use case.
https://stackoverflow.com/questions/63842042/fiware

[2021-02-18 12:50] fisuda commented on #3777
Thank you for your replay.
I'm developing a command-line interface for NGSIv2.

The following command prints a list of IDs of all entities. It's like ls command.
It uses `GET /v2/entities?attrs=id`.

[code]

This command prints id and attributes when running with --verbose,
[code]

The following command deletes all entities of certain entity type.

[code]
To get list of entities that will be delet

[2021-02-19 09:16] fgalan commented on #3777
I think the change of behavior was introduced by PR https://github.com/telefonicaid/fiware-orion/pull/3751. In particular by this modification:

![imagen](https://user-images.githubusercontent.com/1534240/108482398-ba887580-7299-11eb-8ca5-e7a7cf61fb60.png)

That modification was aimed at improving responses in some query forwarding scenarios but it seems (your feedback proves it) that also have a

[2021-02-19 09:39] kzangeli commented on #3777
`attrs=!`   sounds like a good solution.
In my opinion, if id (or any other 'non-attribute', like type or servicePath) is included in the attrs list of attribute names, the broker should give an error ...

[2021-02-19 12:07] fisuda commented on #3777
Thank you for the detailed explanation.
I didn't understand that id is not a valid name for an attribute.
My doubt was clear up.

[2021-02-19 15:34] fgalan opened #3780 "attrs=! (and maybe also metadata=!) as alias for "no attribute/metadata at all""
Some uses case (see issue https://github.com/telefonicaid/fiware-orion/issues/3777) could take advantage of this.

Suggestions for alternatives to `!` are welcome.

[2021-02-19 15:34] fgalan commented on #3780
CC: @fisuda @kzangeli

[2021-02-19 15:35] fgalan commented on #3777
While something like `attrs=!` (I have create an issue about it: https://github.com/telefonicaid/fiware-orion/issues/3780) gets implemented, maybe a better alternative is to use something like `attrs=__NONE` which is a valid attr name (from the point of view of NGSIv2 spec rules) and will suffice for your use case or getting only entity ids and types in the response.

[2021-02-19 15:37] fgalan commented on #3777
Anyway, this fix in Orion is required:

Otherwise, the result with `attrs=__NONE` will be the same than with `attrs=id`.

[2021-02-19 20:44] #1680 closed

[2021-02-20 00:44] fisuda commented on #3777
I updated my tool (NGSI Go). It uses `GET /v2/entities?attrs=__NONE` to get a list of entity IDs.
Related PR: https://github.com/lets-fiware/ngsi-go/pull/88

[2021-02-20 01:28] fisuda commented on #3777
Cc: @jason-fox
I sent a PR (https://github.com/FIWARE/tutorials.CRUD-Operations/pull/15) to update `FIWARE/tutorials.CRUD-Operations`.

[2021-02-22 10:09] fgalan commented on #1680
Should we understand that you finally solved the issue?

It is a good idea in general to provide a comment explaining how the issue was solved before closing. That may help other users.

[2021-02-22 10:19] fgalan commented on #3780
Upon completion of this issue, some other repositories may need to change the usage of the workaround `attrs=__NONE` to `attrs=!` (or whichever alternative we implemented at the end). In particular, see:

* https://github.com/lets-fiware/ngsi-go/pull/88
* https://github.com/FIWARE/tutorials.CRUD-Operations/pull/15

[2021-02-22 10:36] marc0f commented on #1680
Sorry,
I'm no longer active on the project, thus cannot provide any further details.

[2021-02-22 11:23] pinkerltm opened #3781 "MongoDB 4.x support"
I am trying to connect orion to a MongoDB 4.2.6, all together deployed on Kubernetes (AKS). The convenient thing is, that there is already a Mongodb Community Operator for Kubernetes which deploys an production ready mongodb replicaset, BUT... as [Version 3.6 has End-of-life in April 2021](https://www.mongodb.com/support-policy) the [Operator only supports mongodb >4.0](https://github.com/mongodb/

[2021-02-22 11:27] fgalan commented on #3781
Yes, the plan is to upgrade the recommended version to MongoDB 4.2 (or even 4.4). This PR with the change has been around for a while and probably will be merged soon: https://github.com/telefonicaid/fiware-orion/pull/3732

However, regarding this:

I wasn't aware of such problems. Could you provide more information on it, please? I mean, which exact problem, how to reproduce it, etc.

Thanks!

[2021-02-22 11:28] kzangeli commented on #3781
For Orion-LD I'm using mongo 4.0, 4.2 and 4.4.  Not seeing any problems whatsoever.
Please add some details of the errors you are seeing and we'll be able to fix it.

[2021-02-22 12:37] pinkerltm commented on #3781
This issue was really meant to clarifiy version compatibility. If it should work with 4.x then its ok and this issue can be closed.

As written above there isn't much info except an ERROR that orion wasn't able to authenticate (SCRAM-SHA1 is active on both sides, no SSL, admin database is available, admin user is there and I am able to connect via mongo CLI, the REPLICASET Name is "mongo")...

I d

[2021-02-22 13:20] fgalan commented on #3781
Could you also include the MongoDB configuration (typically, `/etc/mongod.conf` file) so the issue can be reproduced easily, please?

Thanks!

[2021-02-22 13:58] pinkerltm opened #3782 "Authentication issue on MongoDB 4.2 replicaset"
We are utilizing https://github.com/mongodb/mongodb-kubernetes-operator to get an production ready MongoDB 4.2.6 ReplicaSet up and running on kubernetes. In the same namespace "fiware" I am also deploying orion and trying to connect it to the created service, but the Log doesn't get very far

[code]

We deploy Orion with the following manifest

[code]

If I exec to one of the three mongo Contianer

[2021-02-22 13:59] pinkerltm commented on #3781
I´ve made another issue for this particular authentication problem --> https://github.com/telefonicaid/fiware-orion/issues/3782

[2021-02-22 13:59] #3781 closed

[2021-02-22 16:07] fgalan commented on #3777
Fixed by PR https://github.com/telefonicaid/fiware-orion/pull/3783

[2021-02-22 16:42] fgalan commented on #3777
PR with the fix already merged in master.

@fisuda could you check with Orion latest (at commit 3984f9f or later) if the problem is now fixed and `GET /v2/entities?attrs=__NONE` correctly shows the id and type of all entities, please?

[2021-02-22 21:01] fisuda commented on #3777
`GET /v2/entities?attrs=__NONE` worked as expected. This issue has been resolved.
I appreciate your prompt response to fix it.

[code]

[2021-02-22 21:01] #3777 closed

[2021-02-23 12:08] fgalan opened #3785 "mongodriver followup: unify builder and end-object classes families in mongoDriver/"
mongoDriver/ has two kinds of classes:

* Builder classes (BSONArrayBuilder and BSONObjBuilder)
* End-object classes (BSONArray and BSONObj)

This comes from the approach in the old C++ legacy driver, which uses builders to build the object, then "flush" the result to the end-object. Typically:

[code]

However, with the mongo C driver, this is no longer needed. We have kept this kind of interface

[2021-02-23 12:08] fgalan opened #3786 "mongodriver followup: use bson_append_*_begin / bson_append_*_end functions"
Consider the usage of usage of [bson_append_document_begin()](https://mongoc.org/libbson/current/bson_append_document_begin.html) / [bson_append_document_end()](https://mongoc.org/libbson/current/bson_append_document_end.html) and [bson_append_array_begin()](https://mongoc.org/libbson/current/bson_append_array_begin.html) / [bson_append_array_end()](https://mongoc.org/libbson/current/bson_append_a

[2021-02-23 12:27] fgalan opened #3787 "mongodriver follow up: take advantage of "inline allocation" in bson_t"
According to http://mongoc.org/libbson/current/bson_t.html#performance-notes

Not sure if we are using this approach. Some questions arise:

* We always use `bson_new()` to initialize the bson_t structure. Should we use `bson_init()` to take advantage of this performance gain in small documents?
* How `bson_destroy()` is used in that case? Is is called only when the bson_t grows beyond its static

[2021-02-23 12:36] fgalan opened #3788 "mongodriver follow up: are we using the right Mongo C driver functions to run commands?"
We are currently using the following functions in Mongo C to run commands:

* mongoc_collection_command_with_opts(), in orion::runCollectionCommand()
* mongoc_database_command_with_opts(), in orion::runDatabaseCommand()

Functional and leaks regression works with them. However, I'm not sure if they are the right one. This question in SOF is about this: https://stackoverflow.com/questions/66031779/

[2021-02-23 12:36] fgalan commented on #3788
Look for occurrences of FIXME #3788 in the code about this issue.

[2021-02-23 12:50] fgalan opened #3789 "mongodriver follow up: use connection pool native support in Mongo C driver"
During the driver migration done on issue #3132 (PR #3622), we just "translate" the pool management approach existing in Orion. I mean, there are individual connections managed by Orion itself (see `MongoConnection* connectionPool` global variable).

This approach works but maybe is smarter to use the native pool features of the Mongo C driver. See [mongoc_client_pool](http://mongoc.org/libmongoc/

[2021-02-23 15:57] fgalan commented on #3764
PR https://github.com/telefonicaid/fiware-orion/pull/3790 (to be landed soon in PR #3622) has modified the building so now the Mongo C libraries are statically linked so this can be removed from the receipt above:

[code]

[2021-02-24 06:22] pinkerltm commented on #3782
The cause of the problem is, that MongoDB Community Operator is constrained to SCRAM-SHA-256 whereas Orion only uses SCRAM-SHA-1...

There is a workaround to make MongoDB CO provide SCRAM-SHA-1 also, but this is only a proof-of-concept and doesn't work very reliably. The MongoDB guys are thinking that -256 is much safer and therefore should be used.

Are there any plans for Orion to make it config

[2021-02-24 08:05] mapedraza commented on #3764
cmake versions used to compile Orion Context Broker on Centos8

[code]

[code]

[2021-02-24 08:55] fgalan commented on #3782
Thanks for debugging on this!

The proposed change should be easy to do from the point of view of Orion code: the authentication mechanism is specified in the CLI as string and passed down to the `connectionAuth()` function, that uses it to compose the BSON parameter for the `auth()` function in the driver.

Maybe the current MongoDB driver used by Orion (which is legacy and deprecated) is not sup

[2021-02-24 16:38] mapedraza commented on #3764
Some snippets for legacy driver support

Installing scons
[code]

Building mongo-cxx-driver lastest version (1.1.3)

[code]

[2021-02-26 12:30] fgalan commented on #3789
Looks for `FIXME #3790` marks in the code.

[2021-03-01 13:35] fgalan opened #3794 "mongodriver follow up: -mongoUri parameter"
Modern mongo drivers use mongo URI (i.e. `mongo://...`) as a connection string to connect to MongoDB servers. It would be very beneficial (and pretty easy) to implement this in Orion, in a new parameter `-mongoUri` (checking that is not used at the same time than other parameters currently used to compose the URL, e.g. `-dbhost` are not used at the same time).

This would allow overcoming limitati

[2021-03-04 16:41] cdupont commented on #2903
Hello, I encountered this problem again.
I'm URL-encoding my payloads before submitting them to Orion, however the templates such as `${id}` will not be interpreted.

[2021-03-04 17:12] fgalan commented on #2903
For reference, could you provide the exact request you are using, please? curl examples is the preferred way :) Thanks!

[2021-03-04 18:09] cdupont commented on #2903
Hi Firmin, the curl request in my first post works.

[2021-03-04 18:32] kzangeli commented on #2903
Quite clear what's happening here ...
The code that translates the "template" to the "actual" payload for the custom notification is looking for the exact chars '$', '{', and '}'.
The broker would have to also look for the url-encoded chains ($ == '%' + '2' + '4', etc) and treat those 3 chars as '$' (and so on) and do the same replacement. It's an easy fix.

We wouldn't want to force the users to

[2021-03-04 19:32] cdupont commented on #2903
Now as a workaround I URL-encode only forbidden characters. I need to do it because my payload is JSON, it has some `"` characters.

[2021-03-05 13:29] fgalan commented on #3794
Solving this issue also will solve the limitation currently describe in cli.md with regards to `-dbSSL` switch:

[2021-03-08 00:12] krishnakant-mahamuni opened #3797 "not able to connect to azure cosmos db"
Below is the YAML for the Orion, when I am trying to use Azure Cosmos DB Mongo API it fails with the below error, is there a way I can use any of the managed mongo DB instances with Orion?
[code]
[code]

[2021-03-08 08:59] fgalan commented on #3797
Seems to be similar to https://github.com/telefonicaid/fiware-orion/issues/3778

How var is Azure Cosmos DB Mongo API from a real MongoDB instance?

[2021-03-09 14:24] cdupont opened #3801 "Subcription expression: true value"
Hello,
I'm using the expression system in Subscriptions, such as:
[code]
Is there a boolean value in this language? Can I write:
[code]
For matching all events?
I also tried:
[code]
Without success.

[2021-03-09 14:30] cdupont commented on #3801
https://stackoverflow.com/questions/66548842/fiware-orion-booleans-in-subscription-expression

[2021-03-09 14:30] #3801 closed

[2021-03-10 00:53] jaimeventura opened #3805 "Possible bug processing statistics"
I've started an instance of orion with "-statCounters", and all i can get is:

[code]

Despite i did several operations ( getting entities, performing queries, creating subscriptions...)  i couldn't get stats for those.

Im currently using orion 2.4.2, but i have also tested with 2.3.0 and 2.5.2.
Am i missing something?

[2021-03-10 07:20] fgalan commented on #3805
I'm afraid I don't fully understand the problem you describe...

Let's try to be precise, in the following way:

* How do you exactly start ContextBroker (i.e. `ps ax | grep contextBroker`)?
* Which request do you do once it has started? Preferred reporting way: curl statements
* Which request do you do to get statistics? Which result do you get? Which result do you expect?

Thanks!

[2021-03-10 10:21] jaimeventura commented on #3805
Hey, thank you for the quick reply.
So, my expectations were to have statistics  on the number of operations. Actually, i took a sneak peek on the source code ([src/lib/serviceRoutines/statisticsTreat.cpp](https://github.com/telefonicaid/fiware-orion/blob/2.4.2/src/lib/serviceRoutines/statisticsTreat.cpp)) and found a lot of interesting counters.
My goal, beyond the obvious, is to have these into

[2021-03-10 14:51] fgalan commented on #3778
Maybe the new mongo driver we are going to use in Orion for next release (work in progress in PR #3622) may work. There is an experimental docker version available and it would be great if you could test with it and tell us how it goes.

This is the image to use `telefonicaiot/fiware-orion:newdriver`.

Thanks for the feedback!

[2021-03-10 14:53] fgalan commented on #3782
There is an experimental docker version available related with the driver migration to a new version (work in progress in PR #3622) which should support "SCRAM-SHA-256" in `-dbAuthMech`. Could you test it and tell us how it goes, please?

This is the image to use `telefonicaiot/fiware-orion:newdriver`.

Thanks for the feedback!

[2021-03-10 14:58] fgalan commented on #3778
Hold on... it seems there is some kind of problem with that image. I'll tell you when it gets ready again.

[2021-03-10 14:58] fgalan commented on #3797
Hold on... it seems there is some kind of problem with that image. I'll tell you when it gets ready again.

[2021-03-10 14:59] fgalan commented on #3782
Hold on... it seems there is some kind of problem with that image. I'll tell you when it gets ready again.

[2021-03-10 17:39] fgalan commented on #3782
Fixed. Now the image can be pulled and used. Sorry for the inconveniences.

[2021-03-10 17:40] fgalan commented on #3778
Fixed. Now the image can be pulled and used. Sorry for the inconveniences.

[2021-03-11 04:11] krishnakant-mahamuni commented on #3797
works! with the new Image it connects to the cosmos DB instance and that is what I can test for. As I am not able to install any more dependencies to check our functionality.

docker build -t telefonicaiot/fiware-orion:gcversion .
[+] Building 1.1s (7/8)
 => [internal] load build definition from Dockerfile

[2021-03-11 08:00] fgalan commented on #3797
Related question at SOF: https://stackoverflow.com/questions/66486767/using-fiware-orion-with-azure-cosmos-db-mongo-api

[2021-03-11 08:01] fgalan commented on #3797
Good news! :)

So I understand this issue can be closed when the Orion version with the new driver (expected for version 3.0.0) will be released. I understand the problems with your docker setup are out of the scope of this issue (whic is about Orion connecting to Cosmos DB).

[2021-03-12 10:30] Anjali-NEC opened #3807 "How to send measure from orion to iotagent-LoRaWAN?"
Hi Team,

I want to send measures from fiware-orion to iot-agent LoRaWAN(SOUTHBOUND TRAFFIC)

I've done the device provisioning properly and also verify NORTHBOUND TRAFFIC by sending the measures from iotagent-LoRaWAN to orion through thethingsnetwork.

Please guide me on this. Thanks.

[2021-03-12 11:38] krishnakant-mahamuni commented on #3797
sorry. it actually does not work. when I am running a container with a new image the logs say the container is connected to the cosmos instance but when I

curl localhost:1026/version I am getting errors

`kubectl get pods`

NAME                     READY   STATUS    RESTARTS   AGE
orion-55d689c589-h78kq   1/1     Running   0          2m21s

`kubectl logs orion-55d689c589-h78kq`

time=2021-03-12T1

[2021-03-15 11:27] fgalan commented on #3807
This seems to be a question on functionality rather than an issue with the software. Thus, it would be better to post it at https://stackoverflow.com. Could you do that, please? Use the "fiware-orion" label.

After that, include the link to the SOF question as a comment in this issue. Then, close this issue.

Thanks!

[2021-03-15 11:52] fgalan commented on #3797
We need to distinghish between two possible errores:

A. Orion cannot connect to Azure Cosmos DB
B. Problems with the k8s deployment

By [your previos report](https://github.com/telefonicaid/fiware-orion/issues/3797#issuecomment-796433160) I understand item A is fixed. However, I'd suggest the following test to be fully sure:

1. Use the following docker-compose file:

[code]

2. Run it with:

[co

[2021-03-15 11:56] fgalan commented on #3797
Alternatively, I could do the test but I'd need the HOST, PORT, USER, PSW info. Maybe we can found some private channel to pass it to me.

[2021-03-15 12:12] krishnakant-mahamuni commented on #3797
I tried with docker-compose

curl: (52) Empty reply from server

sure, let me know your email ID I will send the details.

[2021-03-15 12:14] fgalan commented on #3797
I cannot post it here as it is a public place ;)

Maybe you have the contact from somebody in the FIWARE Foundation? They know who I am and could provide you my email.

[2021-03-15 12:25] krishnakant-mahamuni commented on #3797
can you email me on krishnakant.mahamuni@gmail.com

[2021-03-15 13:17] fgalan opened #3809 "Suspected false positive using harakiri request on CentOS 8 system"
We have discovered this issue while working in PR https://github.com/telefonicaid/fiware-orion/pull/3622

With ContextBroker 2.6.0-next (git version: d0f6c9c62f81fe0c8ca3689c5172da4878a09871) (one of the commits in PR #3622) on a CentOS 8 system with the folllowing characteristics:

* CentOS release: 8.3.2011
* Valgrind version: 3.16.0
* glibc version (`ldd --version`): 2.28

Running contextBroker

[2021-03-15 14:42] fgalan commented on #3809
What harakiri does is to call the oarionExitFunction() this way:

[code]

I've tested to run that function directly on main() hacking the d0f6c9c code this way:

[code]

contextBroker stop 10 seconds after start:

[code]

and valgrind report 0 bytes definitively losts.

----------------

This makes me think that probably the problem is not in orionExitFunction() itself, but in the "request process

[2021-03-15 14:50] fgalan commented on #954
With the ability to set the DB used for authentication (`-dbAuthDb`) introduced in Orion 2.3.0 I understand this is no longer an issue.

[2021-03-15 14:50] #954 closed

[2021-03-15 14:53] fgalan commented on #3509
The pre-requisite disappeared at the end because we are using a C-based driver. However, it may be a good idea to move to C++11 in some moment, so this issue stills.

[2021-03-15 14:57] fgalan commented on #3662
No feedback has been received on this in many months.

Thus, we would assume that the procedure described in the above link is correct and solve this issue. Please tell us @JackMind if we are wrong so this issue can be reopened. Thanks!

[2021-03-15 14:57] #3662 closed

[2021-03-15 14:58] fgalan commented on #565
A procedure for Ubuntu 18.04 is described at https://fiware-orion.readthedocs.io/en/master/admin/build_source/index.html#ubuntu-1804-lts.

We understand this is enough by the time being so this old issue is closed.

[2021-03-15 14:58] #565 closed

[2021-03-15 16:22] Anjali-NEC commented on #3807
Added issue at https://stackoverflow.com/questions/66597353/fiware-iotagent-lorawan-how-to-send-measure-from-orion-to-lorawan

[2021-03-15 16:22] #3807 closed

[2021-03-17 13:36] fgalan commented on #3797
I have done some progress.

There were two problems:

* The password you are using is very long and the code was not prepared for that. I have modified the code to extend the supported length (from 63 to 255).
* Azure Cosmos DB is not compatible with retry writes (maybe the version is too old?). A new CLI flag has been created (`-dbDisableRetryWrites`) to set this.

Once done that (new `telefonica

[2021-03-17 22:12] krishnakant-mahamuni commented on #3797
Thank you. Great progress will await your next update.

[2021-03-18 09:40] fgalan opened #3814 "Attribute update operators (inc, push, etc.)"
This issue is about implementing advanced update operators for attributes, beyond the current "set value". For instance "increment attribute value by 1" or "remove the last element of an attribute array".

Taking into account we use MongoDB as DB, a good strategy will be to support all the update operators supported by MongoDB, described at https://docs.mongodb.com/manual/reference/operator/update

[2021-03-18 09:48] fgalan opened #3815 "Dynamic / high order attribute values (e.g. an attribute being a sum of two other attributes)"
The idea is to define somehow (an special operation on the entity?) virtual attributes that are the result of doing an operation over other attributes in the same entity.

Some examples:

* A and B being numeric attributes, we define S as the sum of A and B. If we do a GET on the entity we will get:

[code]

* A and B being arrays, we define S as the intersection of A and B. If we do a GET on the

[2021-03-18 09:56] fgalan opened #3816 "Aggregation operations API"
Implement an extension of the `GET /v2/entities` operation extending it with aggregation operations.

For instance, to aggregate by attribute `category`, getting how many entities are in each category:

[code]

Another example: get average `score` by `category`

[code]

(Query params and payloads are just an example, the final API should be analyzed)

Currently, the only way a client has to implem

[2021-03-18 16:13] fgalan commented on #3797
After some improvements in commit https://github.com/telefonicaid/fiware-orion/pull/3622/commits/dd35aa62382845c58a9bcdf636c9335c51494523 to provide error responses in situations like this, the response to

[code]

is

[code]

which decoded payload is:

[code]

The MongoDB driver truncates errors when they are too long. However, googling arround it seems the full error message is `"The index path

[2021-03-18 16:17] fgalan commented on #3797
Side note: `creDate` is used when no `orderBy` is used in the request, i.e. `GET /v2/entities`. However, if you use an explicit `orderBy` like `GET /v2/entities?orderBy=A` you would need an index for that or you will get a similar 500 Internal Server error. This [documentation](https://fiware-orion.readthedocs.io/en/master/admin/perf_tuning/index.html#database-indexes) explain the indexes needed f

[2021-03-18 16:19] fgalan commented on #3797
Side note2: you will see this trace on the logs:

[code]

Due to this limitation in CosmosDB the feature of [transient entities](https://fiware-orion.readthedocs.io/en/master/user/transient_entities/index.html) will not work.

[2021-03-18 16:33] fgalan commented on #3640
It would be great if you could include in the PR functional tests (i.e. .test files) to cover these behaviours. Thanks!

[2021-03-22 14:33] fgalan opened #3820 "direct_https_notifications_no_accept_selfsigned.test is not failing in Ubuntu 20.04"
According to https://github.com/telefonicaid/fiware-orion/pull/3819 the 0706_direct_https_notifications/direct_https_notifications_no_accept_selfsigned.test is not failing in Ubuntu 20.04:

This is the Orion trace in Ubuntu 20.04 (from above link):

[code]

This is the Orion trace in a system where the test works (Debian 9, `grep -v DEBUG`):

[code]

They are pretty similar. The main difference be

[2021-03-22 21:24] fisuda commented on #3820
The Orion version for amd64 and aarch64 in my Ubuntu 20.04 are followings:

- amd64

[code]

- aarch64

[code]

[2021-03-23 09:39] fgalan opened #3821 "Simulataneous entity creation in upsert mode doesn't work when reqMutextPolicy is none"
Starting with an empty `orion` database at MongoDB, using CB 2.6.0 version, running CB this way:

[code]

If we run two simulteneous `POST /v2/entities?options=upsert` on the same entity (example program in node [here](https://gist.github.com/fgalan/190c09843be26ddb8be5061c9d91bb10)) we get a 500 error in the second one:

[code]

If we run with `-reqMutextPolicy all` then the CB protects itself an

[2021-03-23 09:57] fgalan commented on #3821
It also happens with CB 861665d498ea106e8878545ec9887cd6ee25cc79 in the feature/3132_poc_isolating_driver_usage. It will be fixed on that code base, to be include in version 3.0.0.

[2021-03-23 15:46] fgalan commented on #3820
It seems hard to make the direct_https_notifications_no_accept_selfsigned.test test to work at the same time with CentOS (which works the same as Debian regarding this) and Ubuntu 20.04. However, would it be feasible to include as part of the Ubuntu building process a step about modifying the .test file the following way?

[code]

(Test if before, plase. I don't ha an Ubuntu 2020.04 environment so

[2021-03-23 16:08] kzangeli commented on #3820
Can't you do a REGEX with the two alternatives?

[2021-03-23 16:16] fgalan commented on #3820
The rationale of my proposal to do it as a separate patch to the procedure is to somehow "preserve" the .test file aligned with the official distribution (that, by the time being, is CentOS and not Ubuntu). In addition, the maintainability of the .test file could get worse if each time the OpenSSL library changes the way it reports invalid certification a new string has to be added to the REGEX.

[2021-03-23 16:26] kzangeli commented on #3820
There are two more options:

1. Grep on "notification failure for queue worker" (which is the text coming from the broker) and ignore the additional info
2. In the --SHELL- section, store the output in a variable instead of sending it to stdout, and compare it with the accepted alternatives. If none, echo "Error in ...":
[code]

In the --REGEXPECT-- section you would simply expect "OK"

[2021-03-23 17:31] fgalan commented on #3821
We get the same error if we run request without `?options=upsert`. In this case, the second operation should return 422 Unprocessable Entity "Already Exists" error.

Thus, in sum the following case should be tested (be request 1 the first one that is processed, without loss of generality):

* Case 1:
    * Request 1 w upsert: 204
    * Request 2 w upsert: 204
* Case 2:
    * Request 1 w/o upsert:

[2021-03-24 05:41] krishnakant-mahamuni commented on #3797
Apologies it took a little time to get back, I have tested the current solution using docker-compose and also with Kubernetes manifest. Initially, things are looking good. I will do few more tests before I can say everything is working fine, this should be done soon. Thanks again Fermin.

[2021-03-24 08:19] fgalan commented on #3782
@pinkerltm any news in the test I suggested you to do, please?

[2021-03-24 08:39] fisuda commented on #3820
Ubuntu is not currently the official distribution for Orion, so I think it's a good idea to add a documentation to patch the .test file.
If ok, I make a patch and test it.

@kzangeli Thank you for the suggestion.

[2021-03-24 12:51] fgalan commented on #3821
PR #3822

[2021-03-24 13:24] fgalan commented on #3797
Thanks for the feedback. Let's keep the issue openen until #3622 gets merged in master. I'll answer the question in SOF too when that happens.

[2021-03-24 13:29] fgalan commented on #3778
If you pass me the access information to your AWS DocumentDB database in the cloud (maybe using a private channel, if sensible information like passwords is involved) I can do the test (similar to what I dit at https://github.com/telefonicaid/fiware-orion/issues/3797)

[2021-03-24 19:00] fgalan commented on #3821
PR #3822

[2021-03-25 07:41] fgalan commented on #3821
@AlvaroVega did a test using IOTA and a CB build on this PR branch. The result was successfull.

[2021-03-25 13:12] fgalan commented on #3820
After merging PR https://github.com/telefonicaid/fiware-orion/pull/3823 maybe this issue should be closed?

[2021-03-25 20:11] fisuda commented on #3820
Yes. We can close this issue.

[2021-03-26 09:14] #3820 closed

[2021-03-29 07:27] #3640 closed

[2021-03-29 15:07] fgalan opened #3828 "more_than_one_bad_input.test may fail due to timming"
(Comes from https://github.com/telefonicaid/fiware-orion/pull/3825)

The more_than_one_bad_input.test sometime fails in some build systems (it has been detected in Raspberry) due to timming. Detail (from @fisuda feedback):

[2021-03-29 15:18] fgalan commented on #3828
Maybe we can avoid the noise caused by "spurious" summary traces taking just the last 4 ones.

Could you test the following patch in your system, please?

[code]

If it works I'll create a PR to improve that test.

[2021-03-30 03:17] fisuda commented on #3828
I have tested the patch in my Raspberry Pi. It works fine! I encountered no errors in the functional tests.

[code]

The following is the whole log:
https://github.com/fisuda/report/blob/master/orion/20210330_centos8_aarch64/test-log-20210330-0500.txt

[2021-03-30 11:53] fgalan commented on #3828
Having merged #3829 I understand this issue can be closed.

[2021-03-30 11:53] #3828 closed

[2021-04-09 05:01] rajeswar-NEC commented on #3439
Hi @fgalan
I am interested to work on this issue.

[2021-04-09 07:18] fgalan commented on #3439
@rajeswar-NEC thank you for your willingness to work on this! You have been assigned.

[2021-04-09 16:34] fgalan commented on #3797
PR #3622 has been merged into master. Thus, we can use `:latest` from now on. In fact, `:newdriver` label will be removed from dockerhub.

[2021-04-09 16:34] fgalan commented on #3782
PR #3622 has been merged into master. Thus, we can use `:latest` from now on. In fact, `:newdriver` label will be removed from dockerhub.

[2021-04-09 16:34] fgalan commented on #3778
PR #3622 has been merged into master. Thus, we can use `:latest` from now on. In fact, `:newdriver` label will be removed from dockerhub.

[2021-04-12 07:18] fgalan commented on #3764
Done in PR https://github.com/telefonicaid/fiware-orion/pull/3622

[2021-04-12 07:18] #3764 closed

[2021-04-12 07:20] fgalan commented on #3782
Fixed in PR https://github.com/telefonicaid/fiware-orion/pull/3622. Closing issue.

However, it will be great to have feedback from @pinkerltm to confirm it.

[2021-04-12 07:20] #3782 closed

[2021-04-12 07:22] #3797 closed

[2021-04-12 07:22] fgalan commented on #3132
PR #3622 has been finally merged. Closing issue.

[2021-04-12 07:22] #3132 closed

[2021-04-12 07:24] fgalan commented on #3717
MongoDB driver has been completely replaced in PR #3622. If this problem is still happening it will appear in a completely different form. Thus, I think is better to close this issue and open a new fresh one in the case that occurs.

[2021-04-12 07:24] #3717 closed

[2021-04-12 07:26] fgalan commented on #3778
Supposedly fixed in PR #3622, similar to #3797. Closing issue.

However, it will be great to have feedback from @avkash08 to confirm it.

[2021-04-12 07:26] #3778 closed

[2021-04-12 07:30] fgalan commented on #3326
MongoDB driver has been completely replaced in PR #3622. If this problem is still happening it will appear in a completely different form, given that the new driver doesn't have the capability of raising any exception (including mongo::UserException).

@cdupont I think is better to close this issue and, if it appears again, opening a new issue about it, please.

[2021-04-12 07:30] #3326 closed

[2021-04-12 07:54] #3821 closed

[2021-04-12 08:01] cdupont commented on #3326
Fermin, that's great. I'll open another issue if necessary.

[2021-04-12 08:09] fgalan commented on #3695
It is actually implemented, see https://github.com/telefonicaid/fiware-orion/pull/3806#issuecomment-817585683.

Missing entry added to CNR in PR https://github.com/telefonicaid/fiware-orion/pull/3833

[2021-04-12 08:09] #3695 closed

[2021-04-12 20:47] pinkerltm commented on #3782
@fgalan sorry, had no attention on this issue lately and was busy with many other things. I'll definitely test this as soon as possible...at the moment our workaround was deploying a single mongo pod and rely on with all the workload. That approach isn't production ready, so its on my task list anyway. Thanks and pls hold on...

[2021-04-13 07:48] fgalan commented on #3782
No problem!

Just a comment: if you can, it's better to use MongoDB 4.4 instead of MongoDB 4.2 (the references version used by Orion has moved to 4.4 in Orion 3.0.0).

[2021-04-13 13:39] ftgo commented on #3748
@fgalan using `?type` worked as a charm, thanks!

I think this should be described in [Core Context Management:
The NGSI-v2 Interface > CRUD OPERATIONS> UPDATE OPERATIONS](https://fiware-tutorials.readthedocs.io/en/latest/crud-operations/index.html#update-operations), what you think? That's where I was searching for solutions.

[2021-04-13 16:20] fgalan commented on #3748
@ftgo thanks for your feedback! Based on your positive report, this issue will be closed.

With regards to

The NGSI-v2 Interface > CRUD OPERATIONS> UPDATE OPERATIONS, what you think? That's where I was searching for solutions.

I think it could be a good idea. However, that documentation is out my scope. I'm CCing Jason Fox, from FIWARE Foundation (@jason-fox ) in the case he can help.

[2021-04-13 16:20] #3748 closed

[2021-04-14 04:58] avkash08 commented on #3778
Hi Fgalan,

Thanks for your throughout support.

In last quarter, we used pod based MondoDB due to this issue. Now, we will revisit this activity in this quarter again and will test this again. I will update you accordingly.

Thankyou..!!!

[2021-04-14 08:23] jason-fox commented on #3748
To update that document, just raise a PR on the [markdown file](https://github.com/FIWARE/tutorials.NGSI-v2/edit/master/docs/crud-operations.md) and it can be reviewed and merged.

[2021-04-14 11:05] fgalan commented on #3748
@ftgo could you manage to do that contribution, please? Given that you have faced this issue fromo user perfective I think you are the perfect one to provide hints to other users about this topic :)

[2021-04-15 12:45] JeffersonLupinacci opened #3840 "Allow Case-Insensitive Queries"
Allow Case Insensitive Queries

![image](https://user-images.githubusercontent.com/25394576/114871037-25b57a80-9df9-11eb-9da3-585c2a7a8449.png)

![image](https://user-images.githubusercontent.com/25394576/114871150-467dd000-9df9-11eb-8793-f029fb3b7a25.png)

![image](https://user-images.githubusercontent.com/25394576/114871419-8d6bc580-9df9-11eb-8373-b52e34f82e3b.png)

[2021-04-15 15:46] fgalan commented on #3840
Thanks for the feedback!

Could you tell the operation you are using? The Postman screenshot only shows part of the payload, but not the verb + URL...

[2021-04-15 15:48] fgalan commented on #3840
In addition, which version of Orion Context Broker are you using?

[2021-04-16 08:05] fgalan opened #3841 "Possible problem with attributes which name starts with $"
We see traces like this in Orion:

[code]

Need to be investigated but probably some cases of attributes starting with `$` could be problematic.

[2021-04-18 15:46] ftgo commented on #3748
Pull request created: https://github.com/FIWARE/tutorials.NGSI-v2/pull/1

[2021-04-20 07:00] ilarimikkonen commented on #3561
👍 from our side for the feature. We are developing a component that visualizes data. ATM it's not possible to use subscriptions, as if the entity is deleted / removed, it hangs on the map. we have then resorted to polling and that is not the most efficient way.

[2021-04-20 07:21] kzangeli commented on #3561
FYI, we're implementing a mechanism to get notifications on deletion of entities for the NGSI-LD API.
GEs that deal with historical data, like Cygnus, QL etc would really need this and I believe it would be a great addition to Orion as well.
Something we should have implemented from the very beginning if you ask me

[2021-04-21 11:08] mapedraza commented on #3561
I agree with @kzangeli this could be a great addition to Orion as well. As this feature is not semantic dependent, could be a good opportunity to have a contribution to Orion as well. Since this feature is being implemented in Orion-LD by the FIWARE Foundation, there are also plans to contribute it also in this Orion repo?

[2021-04-26 10:15] fgalan opened #3842 "Per sub/reg httpTimeout"
Currently, there is a global HTTP timeout used by subscriptions and registrations, defined with the `-httpTimeout` parameter. At the end, this setting is used at this point of code (httpRequestSend.cpp).

[code]

This feature is about implementing per-sub and per-reg httpTimeout, to be used instead of the global `-httpTimeout`. The rationale of this is to be more fine-grained in each sub/reg.

Thu

[2021-04-26 10:15] fgalan opened #3843 "Per-service notification worker pools (and service provisioning API)"
Currently, the notification worker pool used by Orion is shared among all the services. This feature is about implementing, per-service works, so:

* If a given service doesn't have an explicit pool defined, the general one (i.e. the one specified with `-notificationMode threadpool:n:m`) will be used
* If a given service has an explicit pool defined, that one is used
* There would be an API operat

[2021-04-26 14:22] fgalan commented on #3461
libcurl version was updated. In Orion 3.0.0 we are using libcurl 7.61.1

[2021-04-28 07:10] karikolehmainen commented on #3166
This seems to be an issue still. Is there are way to add rm command in docker compose  file in command: -section? It happens more than it should that either virtual machine or machine (raspberry) where container is running makes hard reset and recovering from that requires manual work. There should be at least environment switch that would either clean PID file before startup or disregard PID file

[2021-04-28 07:53] cdupont commented on #3166
@karikolehmainen I do remove the PID in the docker-compose:
[code]
See the entrypoint: `rm /tmp/contextBroker.pid;`.

@fgalan just a side note, maybe it would be nice to edit the title, I had to read it 3 times to understand it :)

[2021-04-28 07:57] fgalan commented on #3166
You mean the tittle of the issue? Which one do you suggest to make it clearer?

[2021-04-28 08:00] cdupont commented on #3166
Something like: "Orion docker container won't start because of existing PID"

[2021-04-28 08:30] fgalan commented on #3166
Changed!

[2021-04-28 09:31] fgalan commented on #3841
CI e2e has started to fail related to CB 3.0.0. It seems that with CB 2.6.0 the CI e2e doesn't fail.

It's a bit weird, as the limitation in MongoDB to use `$` should happend with any CB version... I'll look into it.

[2021-04-28 09:40] kzangeli commented on #3166
FYI, I completely removed the PID-file from Orion-LD.
It's not really necessary, as if a broker is already is running, the port is occupied and restStart will fail.

[ Not true if you start two different brokers on different ports ]

[2021-04-28 11:41] fgalan commented on #3166
If it happens that the virtual machine or machine (raspberry) where Orion runs is hard resetting the container, then the actual problem may be in the virtual machine or machine (raspberry). In this case, the PID checking is working nicely as a safety measure: it is telling you that something is not healthy in your environment.

...and if you want to intentionally disable that safety measure (the r

[2021-04-28 15:35] fgalan commented on #3841
This is due to MongoDB behavior. I have posted a question in SOF about it https://stackoverflow.com/questions/67303220/how-can-i-update-a-field-starting-with-dollar-in-an-embedded-document-in-mongodb

[2021-04-28 15:36] fgalan commented on #3841
I have tested with CB 2.6.0 and CB 2.5.0 and it behaves the same way.

Maybe it's due to the upgrade in MongoDB version that CB 3.0.0 also brings. It has started to happen with MongoDB 4.4, not sure if with 4.2 or 4.0 also appears.

[2021-04-28 16:15] fgalan commented on #3841
If at the end it is confirmed that `$` is a limitation in MongoDB, maybe we can use a similar approach with attributes with a dot (.) in the name, i.e. to replace by a char forbidden in the API (in the case of `.` we replace with `=`).

[2021-04-29 08:13] fgalan commented on #3841
The question at SOF has derived in an issue in MongoDB JIRA: https://jira.mongodb.org/browse/SERVER-56462

[2021-05-03 07:53] rajeswar-NEC commented on #3439
Hi @fgalan

As per #3439 issue, we have to change the notify configurations for below mentioned API’s,
In subscription payload if “needsActualChange” field is set with “true” then it will notify only when “actual update” happens,
If “needsActualChange” field is set with “false” then it will always notify independent of “actual update” happens or not.

Below requests need to be updated

POST /v2/op

[2021-05-03 09:10] jaimeventura commented on #3561
+1 for Orion (NGSI v2),
I'm in a similar situation as @ilarimikkonen.

[2021-05-03 09:14] jaimeventura commented on #3805
Hey @fgalan, sorry for bothering you.
Any news on this? Is there additional info you need?
Thank you,

[2021-05-04 06:48] fgalan commented on #3439
@rajeswar-NEC I think your description above is mostly correct. However, I have one doubt. What do you mean by "Below requests need to be updated" and the list of requests (all them with `forcedUpdate`)?

[2021-05-04 11:02] fgalan commented on #3841
Fixed by https://github.com/telefonicaid/fiware-orion/pull/3845

[2021-05-04 16:35] #3841 closed

[2021-05-05 06:09] daminichopra commented on #3726
Hi @fgalan , due to some reasons right now I do not have bandwidth to continue work on this issue so I have unassigned this issue. Thank you

[2021-05-07 05:39] Anjali-NEC commented on #1794
Hi @fgalan Sir,
I am putting this issue on hold as currently I am working on another issue.

[2021-05-07 05:42] Anjali-NEC commented on #3707
Hi @fgalan Sir,

I am not working on this issue as mention in comment https://github.com/telefonicaid/fiware-orion/issues/3707#issuecomment-740019821

[2021-05-07 05:45] Anjali-NEC commented on #3272
Hi @fgalan Sir,
Currently I have not found any solution to fix this issue PR #3683, So I am leaving this issue.

[2021-05-07 06:49] fgalan commented on #3272
I'll try to take your PR https://github.com/telefonicaid/fiware-orion/pull/3683 ("duplicating" it to a new PR so I can add new commits) and try to finish it, so your valuable work so far doesn't get wasted :)

[2021-05-07 06:51] fgalan commented on #1794
I'll try to take your PR https://github.com/telefonicaid/fiware-orion/pull/3749 ("duplicating" it to a new PR so I can add new commits) and try to finish it, so your valuable work so far doesn't get wasted :)

Btw, in which "another issue" are you working? Just to know...

[2021-05-07 07:29] Anjali-NEC commented on #1794
Currently I am working on issue #3638

[2021-05-10 12:01] fgalan commented on #3533
PR https://github.com/telefonicaid/fiware-orion/pull/3846

[2021-05-12 12:56] #3533 closed

[2021-05-13 12:11] Anjali-NEC commented on #1794
Hi @fgalan Sir,

I resume my work on this issue. I have found something suspicious in `src/lib/ngsiNotify/senderThread.cpp` line 70 in which you have declared `int r;` which is a local variable and by default it takes garbage value, then how could you assign its value in line 89 `if (r == 0)`. Please correct my understanding  if I am missing anything.

[2021-05-13 12:13] fgalan commented on #1794
Nice to see you are back :) Thus, I'm aborting my plan of "duplicating" your PR and continue with the work.

[2021-05-13 12:13] Anjali-NEC commented on #3638
Hi @fgalan Sir,

I tried to implement this feature. I have changed std:string type to std::vector<std::string> in entity.cpp/h and entityId.cpp/h. I have replaced it corresponding many files. I tried to make a string from vector elements internally to compare it with other types and query parameters in case of GET request. It require lot of changes in several files. I tried to modify many files bu

[2021-05-13 12:18] fgalan commented on #1794
I understand you refer to this fragment of code:

[code]

You are right is better to initialize variables with a given value. However, in this case I think is not problematic, as `r` is assigned with the returned value of httpRequestSend(). If you analyze carefully that function in `src/lib/rest/httpRequestSend.cpp` you will see that always an integer is returned.

Anyway, I think this is not rela

[2021-05-13 12:21] fgalan commented on #3638
Sad to know but no problem!

[2021-05-14 11:37] fgalan opened #3851 "Option to disable query forwarding at client side"
Implement an option so CB doesn't trigger CPr forwarding on queries. This will increase the flexibility and control for client in some scenarios.

Eg:

[code]

[2021-05-14 11:46] asainzp commented on #3851
I need that functionality for a project where we are using IOTA commands.

[2021-05-15 05:34] kzangeli commented on #3851
Would it not be more appropriate to use an HTTP header for this functionality?

[2021-05-17 07:14] fgalan commented on #3851
I tend to think that a URL query param is more handy for user, but if some HTTP exists (in the HTTP spec itself or side spec) with that semantic, it could be considered. Do you have a particular header in mind?

[2021-05-17 08:10] kzangeli commented on #3851
No particular header in mind (`FIWARE-Forwarding: off`?).
It's just not part of the query and IMO it would be cleaner to use an HTTP header instead.

[2021-05-18 15:01] fgalan commented on #3001
A long time has passed since last activity in this issue :)

I have to assume that @McMutton is missing in action :( so I'll take this issue myself.

After reviewing the original specification and some feedback provided by @kzangeli [here](https://github.com/telefonicaid/fiware-orion/pull/3194) what to be implemente will be the following:

* `mqtt` and `mqttCustom` in parallel to current `http` an

[2021-05-18 15:04] fgalan commented on #3001
I'll have a look to existing PR https://github.com/telefonicaid/fiware-orion/pull/3194 and also the telefonicaid:feature/mqtt_notifications_poc branch and probably reuse some pieces of work there.

[2021-05-18 15:11] fgalan commented on #3001
From [NGSIv2 spec](http://telefonicaid.github.io/fiware-orion/api/v2/stable/) "Custom notifications" section:

Looking https://fiware-orion.readthedocs.io/en/master/user/ngsiv2_implementation_notes/index.html is not adding any new `${...}` to that.

Thus, it seems that macro for service and subservice are not yet implemented.

[2021-05-18 16:10] fgalan commented on #3463
Related question: https://stackoverflow.com/questions/67520066/orion-context-provider-query-multiple-entities/67530891

[2021-05-19 06:50] fgalan commented on #3463
PR https://github.com/telefonicaid/fiware-orion/pull/3852 solves some of the cases included in this issue. In particular, it solves cases 2-4 (actually 4 is a duplicated of two).

This can be seen in cases/3463_regid_global_pattern_query_forwarding/regid_global_pattern_query_forwarding.test steps

[code]

In addition, the test included in https://github.com/telefonicaid/fiware-orion/issues/3463#is

[2021-05-19 06:50] fgalan commented on #3463
The issue will remain opened, as case 5 has not been yet covered:

[2021-05-19 07:54] fgalan commented on #3272
Implemented in PR #3850

[2021-05-19 07:54] #3272 closed

[2021-05-19 10:55] Anjali-NEC commented on #2895
Hi @fgalan Sir,

I am working on this issue. As per my understanding we need to add LmtNotificationRequestPayload and LmtNotificationResponsePayload in startSenderThread() function. However I have define LmtNotificationRequestPayload and LmtNotificationResponsePayload in tracelevels.h also added statement in startSenderThread()  as mention in issue.
But I am not able to print these LM_T logs. Can

[2021-05-19 11:20] fgalan commented on #3805
I have been having a look to this and the problem is that statistics logic (statisticsUpdate() and renderCounterStats() mainly). The original counters came from the times of NGSIv1 which is now deprecated and it seems that NGSIv2 support is pretty irregular.

Thus, I think this has to be reworked, in the following way:

* All NGSIv1 requests will be aggregated under the same counter no matter its

[2021-05-19 11:31] fgalan commented on #3805
Looking to the NGSIv2 spec we have the following:

* API entry point (/v2, suggested counter: "entryPoint")
* Entities (/v2/entities, suggested counter: "entities")
    * GET
    * POST
* Entity (/v2/entities/{id}, suggested counter: "entity")
    * GET
    * POST
    * DELETE
* Entity attributes (/v2/entities/{id}/attrs, suggested counter: "entityAttributes")
    * GET
    * POST
    * PATCH

[2021-05-19 11:44] fgalan commented on #2895
How contextBroker process is running? I mean, the output of `ps ax | grep contextBroker`

[2021-05-19 11:57] Anjali-NEC commented on #2895
I am running contextBroker using `./BUILD_RELEASE/src/app/contextBroker/contextBroker -port 1026`

PFB screenshot of output ` ps ax | grep contextBroker`

![cb](https://user-images.githubusercontent.com/52558146/118808718-6bb5a080-b8c7-11eb-8b33-75b4c69f36c8.PNG)

[2021-05-19 12:05] fgalan commented on #2895
You have to set DEBUG info level and the tracelevels you want to print. I mean, for instance, adding this to your the contextBroker command line:

[code]

0-255 can be pretty verbose. You can adjust to set only the numbers used by LmtNotificationRequestPayload and LmtNotificationResponsePayload  y tracelevels.h

[2021-05-19 17:09] Anjali-NEC commented on #2895
Hi @fgalan sir,

I have fixed this issue. Please check the PR #3854 if it is ok then please merge the PR into master branch.

[2021-05-19 23:47] jaimeventura commented on #3805
Seems great having detailed statistics.
Not sure about the impact on the performance. So maybe you could make this a config: to have counters 'per URL'(less detail) or 'per URL+VERB (more detail).
I would also suggest adding counters for failed requests.

[2021-05-20 07:06] fgalan commented on #3805
I think that's too much detail and the performance difference between two cases probably is very slow. The `-statCounters` flag will select if CB has to take counter as a whole (less performance) or not (more performance).

We will keep the current `""invalidRequests"` counter for that. In addition, probably we will add a new one for `"missedVerb"` (cases in which the URL is correct but the verb i

[2021-05-20 11:27] fgalan commented on #3805
PR #3855

(Reopened, as documentation modifications are yet pending)

[2021-05-20 11:42] fgalan commented on #1400
Fixed in PR https://github.com/telefonicaid/fiware-orion/pull/3855/

[2021-05-20 11:42] #1400 closed

[2021-05-20 11:58] fgalan commented on #3805
This is how it looks like now after the changes:

[code]

[2021-05-20 13:20] fgalan commented on #3805
PR with documentation fixes: https://github.com/telefonicaid/fiware-orion/pull/3856

@jaimeventura you can use `fiware/orion:latest` and test the new implementation, please. We will leave this issue opened for a while waiting for your feedback.

[2021-05-24 09:30] Anjali-NEC commented on #2883
Hi @kzangeli @fgalan Sir,

I would like to work on this issue. As per my understanding we need to rewrite the code of Entity::id in case of "empty entity id error" same as written for Entity::type for empty type case in https://github.com/telefonicaid/fiware-orion/blob/master/src/lib/jsonParseV2/parseEntity.cpp#L200

[2021-05-24 10:15] fgalan commented on #2883
I have looked for "set but as empty string" string on the code and I have not found any occurrence. This makes me think that maybe this issue is old and maybe the parsing logic was refactored after issue creation and now the code it's fine. Note the code at https://github.com/telefonicaid/fiware-orion/blob/master/src/lib/jsonParseV2/parseEntity.cpp#L261 is pretty similar to the one your are citing

[2021-05-24 11:59] fgalan opened #3860 "BadInput traces shown when alarm is already raised ("flapping" effect)"
Running test case

[code]

if we look to Context Broker traces looking for WARN level:

[code]

The first one (trans=...0009) is **OK**. An alarm is raised due to:

[code]

However, second one (trans=...0010) is **NOK**. It is caused by

[code]

However, given that the BadInput alarm for 0.0.0.0 is already raised we shouldn't see any new alarm-related trace. Instead of that we are getting a buggy

[2021-05-24 12:15] fgalan commented on #3860
Looking this in detail:

-------------------------------

The alarm is raised at this point:

![imagen](https://user-images.githubusercontent.com/1534240/119344966-95d8db00-bc98-11eb-9a4d-6488be81f455.png)

it is relevant level 8 in the call stack:

![imagen](https://user-images.githubusercontent.com/1534240/119345584-6080bd00-bc99-11eb-9b85-d65ec457ecc2.png)

The alarm is released at this point:

[2021-05-24 12:24] fgalan commented on #3860
Some other interesting facts:

* badInput() (the one use for raising): is invoked from ~270 places in the code
* badInputReset() (the one used for releaseing): is only invoked from 1 place: the one described above

[2021-05-24 13:57] fgalan commented on #3860
As alternative to signature modification, the ciP object (which is global) could be used to implement that "return parameter"

[2021-05-24 15:30] fgalan commented on #1794
PR https://github.com/telefonicaid/fiware-orion/pull/3749 has been merged. Closing issue.

[2021-05-24 15:30] #1794 closed

[2021-05-25 06:53] Anjali-NEC commented on #2883
@fgalan Sir, Yes you are right this issue was fixed. But I think some improvement is required in the code. like the code written for the checking of empty id in line 259 to 270 should be move to the line number 164 where checking of id was done just like similar to the type. It would be easier to understand.

I have raised PR for this, Please have a look, if its is ok then please merge into master

[2021-05-25 08:04] Anjali-NEC commented on #712
Hi @fgalan Sir,

I have fixed this. Please review my PR #3863 if it is ok then please merge it into master branch.

[2021-05-25 16:52] fgalan commented on #3851
Given that no standard HTTP header exists for that and taking into account we are using options for avoiding initial notifications in subs (which is somehow a similar case) I think is better using something like `?options=skipForwarding`.

[2021-05-26 09:58] #712 closed

[2021-05-26 09:58] fgalan commented on #192
Duplicates https://github.com/telefonicaid/fiware-orion/issues/712

[2021-05-26 09:58] #192 closed

[2021-05-26 11:03] fgalan commented on #3851
PR https://github.com/telefonicaid/fiware-orion/pull/3865 implementing `skipForwarding` option.

[2021-05-26 11:39] fgalan commented on #3851
Implemented now in `:latest`, it will be available in next CB version 3.1.0. Closing issue.

[2021-05-26 11:39] #3851 closed

[2021-05-27 07:05] Anjali-NEC commented on #1056
Hi @kzangeli @fgalan Sir,

I would like to work on this issue. Please assign this issue to me.
Thanks

[2021-05-27 08:22] fgalan commented on #1056
Thanks! Assigned :)

[2021-05-27 11:08] #2883 closed

[2021-05-27 12:36] fgalan opened #3867 "TextUnrestricted should be recursively applied to JSON objects and array"
ContextAttribute::check() implements a "skip condition" so if attribute type is "TextUnrestricted" then forbidden chars are not checked:

[code]

However, this only works when the value of the attribute is a plain string. If the value of the attribute is a JSON object or array that which strings within it, it doesn't work. For instance, this attribute:

[code]

will raise a "forbidden chars error"

[2021-05-27 12:55] fgalan commented on #3259
By the moment, you can use `?options=skipInitialNotification` to avoid initial notification. However, note this functionality is going to be deprecated (PR https://github.com/telefonicaid/fiware-orion/pull/3857) for Orion 3.1.0 (and eventually removed, probably in Orion 3.2.0).

[2021-05-27 12:55] #3259 closed

[2021-06-01 10:36] Anjali-NEC commented on #1056
Hi @fgalan Sir,

As per issue requirement I have created two files inside `src/lib/rest `named `curl.cpp` and `curl.h` and moved all the curl related functions from `src/lib/common/sem.cpp` and `src/lib/common/sem.h` to `src/lib/rest/curl.cpp` and `src/lib/rest/curl.h`

I have raised PR for the same. Please have a look, if it is ok then please merge into master.

[2021-06-01 15:33] fgalan commented on #2994
Initial notification functionality has been deprecated in Orion 3.1.0 (to be release soon). Thus, taking into account the rules at https://fiware-orion.readthedocs.io/en/master/deprecated/index.html

This issue is being closed.

[2021-06-01 15:33] #2994 closed

[2021-06-01 15:33] fgalan commented on #2437
Initial notification functionality has been deprecated in Orion 3.1.0 (to be release soon). Thus, taking into account the rules at https://fiware-orion.readthedocs.io/en/master/deprecated/index.html

This issue is being closed.

[2021-06-01 15:33] #2437 closed

[2021-06-01 15:34] fgalan commented on #591
Initial notification functionality has been deprecated in Orion 3.1.0 (to be release soon). Thus, taking into account the rules at https://fiware-orion.readthedocs.io/en/master/deprecated/index.html

This issue is being closed.

[2021-06-01 15:34] fgalan commented on #2447
Initial notification functionality has been deprecated in Orion 3.1.0 (to be release soon). Thus, taking into account the rules at https://fiware-orion.readthedocs.io/en/master/deprecated/index.html

This issue is being closed.

[2021-06-01 15:34] #2447 closed

[2021-06-01 15:34] #591 closed

[2021-06-01 20:03] #3843 closed

[2021-06-02 10:27] #1056 closed

[2021-06-07 16:38] Anjali-NEC commented on #3451
Hi @fgalan Sir,

I would like to work on this issue. Please assign this issue to me.

Thanks

[2021-06-07 19:54] fgalan commented on #3451
Not sure if this issue is longer interesting... long time has passed and maybe the use case that motivates has disappear.

@danielvillalbamota what do you think, please?

(In the meanwhile @Anjali-NEC maybe you could take another issue to work on it :)

[2021-06-08 10:58] profijoeln opened #3875 "Orion should return error and refuse to start when port is negative"
Hello,

Testing new Orion version 3.0.0, in Kubernetes environment, the container comes up but does not show service at port 1026.
Only after specifying `-port 1026` argument, the component was reachable on this port, even from inside the container.

Tested with
https://hub.docker.com/layers/fiware/orion/3.0.0/images/sha256-8c82ef33e15f97fa5c5947adebe7f727b6003a91f81e3f09d074c85ffb3ac1c6?context=e

[2021-06-08 11:10] fgalan commented on #3875
Looking to:

[code]

it seems that somebody (the kubernetes framework that start Orion?) is injecting a wrong variable value.

Although probably Orion should react to this giving an error and refusing to start.

[2021-06-08 11:14] danielvillalbamota commented on #3451
Not needed by now

[2021-06-08 11:16] fgalan commented on #3451
Thanks for the feedback!

Thus, I'm closing the issue.

[2021-06-08 11:16] #3451 closed

[2021-06-08 11:36] profijoeln commented on #3875
Good point.

Kubernetes indeed creates such environment variables according to service-resource.

And one of those ENV will be called _servicename_PORT_ . I had a Kubernetes service named `orion` in the environment, which coincidently creates ENV variable ORION_PORT.

_Note; this Kubernetes created ENV is not only the port number, but whole tcp-address with port._

Solutions include;
1. Not creati

[2021-06-08 11:38] fgalan commented on #3875
In Orion there is room to a little improvement, so I have re-scoped the issue to:

[2021-06-08 11:49] kzangeli commented on #3875
Well ...
Are we talking about a user setting the env var to -1 ?
[code]
Cause ... if the env var isn't set, then Orion will not use it.
Orion will instead look at the CLI param `-port` and if that is also not set, fall back to its default value, which is 1026.

Now, if this is malfunctioning (`getenv` returns -1 on error, such as env var not found), it would be a bug.

But, if a user has deliberat

[2021-06-08 11:53] fgalan commented on #3875
The user doesn't know anything about ours internals codifications ;). If he sets ORION_PORT to -1 and get Orion running in port 65535 that's weird. We should end with an error in that case.

Maybe a "layer" checking env vars values before injecting them to actual settings internally could be helpful.

Very minor issue, anyway.

[2021-06-08 12:12] kzangeli commented on #3875
Sure, we don't want to be nasty :)
The parsing library has limit checks ... perhaps only for the CLI params.
The values should be checked after getting the value from and env var as well.
[ Just went into the source code and found out that the limits aren't set for '-port':
[code]
Try changing `PaNL, PaNL`  to `1024, 65535`  (ports under 1024 can't be used unless you are root, so, let's avoid that

[2021-06-08 12:15] kzangeli commented on #3875
/usr/include/limits.h:  #define USHRT_MAX 65535

[2021-06-08 13:27] fgalan opened #3877 "Improve notification pool worker thread cancellation mechanism"
Currently the service queues releasing logic is based on pthread cancellation, this way:

[code]

Taking into account the following "initialization" in `workerFunc()`

[code]

Comments:

* With deferred cancel type some times the thread cancellation never occurs (we realize of that during valgrind testing). So we need to set PTHREAD_CANCEL_ASYNCHRONOUS. More info in [this post in SOF](https://stac

[2021-06-08 13:33] fgalan commented on #3877
As additional note, currently the cancellation process (i.e. `QueueWorkers::stop()`) is done only at Context Broker termination (e.g. after receiving a SIGINT signal) so leaking memory is not a problem. However, if someday we implement some kind of API to create/destroy service pools in a dynamic way, the current approach will be problematic.

[2021-06-08 14:52] fgalan commented on #3877
One important thing to take into account...

The worker processing loop is actually like this:

[code]

Thus, if there is no activity in the queue the thread could be stopped at `queue->pop()` and never reach `if (wokerEnds())`.

Thus the work done by should `endWorker()` actually should be:

* Send a kind of signal to the thread to terminate (i.e. so next call `workerEnds()` in receiving thread s

[2021-06-08 15:08] fgalan commented on #3877
Maybe we can use a kind of "timeout pop()"...

[2021-06-08 16:10] mapedraza commented on #3877
Another option is that QueueWorkers::stop() start filling the queue pSyncQ with fake elements to avoid waiting pop()

In this case, the worker should implement a check if the queue element is a fake element before processing the notification processing. If the element is a fake one, the thread should be closed, otherwise the element (notification) is processed as usual.

It is possible to have rea

[2021-06-08 16:19] kzangeli commented on #3875
So, I modified orion-ld:
[code]
And I get this:
[code]

[2021-06-08 19:10] fgalan commented on #3877
Very smart!

Doing so would simplify the need of using an additional mechanism (typically a mutex) to send the "terminate" signal to the thread. The queue itself can be used for that, using that "killing notification" to signal the receiving thread that must terminate.

Thus, from the point of view of QueueWorkers::stop(), the function only needs to push to the queue as many killing notifications

[2021-06-08 19:17] fgalan commented on #3875
I think it should be

[code]

instead of:

[code]

as Orion shouldn't limit itself the range of ports in which it can listen. In other words, users with enough privileges should be allowed to run Orion in privileged ports (i.e. ports <=1024).

[2021-06-08 20:45] kzangeli commented on #3875
Sure, if you wish :)
If you do that, you should *strongly recommend* somewhere that no one runs the broker as root.
Quite unnecessary and dangerous.

[2021-06-09 05:10] Anjali-NEC commented on #3541
Hi @fgalan @tomsluyts Sir,

I hope this is and old issue like  #3451 is it still need to be fixed ? if yes then I will try to analyze whether I could finish it under my bandwidth before start working on it.

[2021-06-09 09:01] fgalan commented on #3541
I think this would be an interesting feature, so the issue is still valid.

In a first iteration, I'd suggest you to focus on the simple case: just only one "inactive" status, without taken into account the cause of the fail. Probably with the existing `lastFailureReason` field is enough to know that was the cause of the problem.

[2021-06-09 09:11] tomsluyts commented on #3541
Thanks for picking this up. We've had a lot of issues with inactive subscriptions eating up system resources with retries, unless you have a closely managed system where people spend time to see if everything is still up and running on the subscriber side as expected, this quickly becomes a serious issue if you have a lot of subscribers and you lose track.

[2021-06-09 11:37] fgalan commented on #3805
Time enough has passed. Orion 3.1.0 has been released today, so we are going to close this issue.

However, if you have additional feedback @jaimeventura don't hesitate to post here, of course. The issue can be reopened or re-created if we need it.

[2021-06-09 11:37] #3805 closed

[2021-06-09 19:09] fgalan commented on #3877
A problem could happen if the queue is full when QueueWorkers::stop() start to push the killing messages. In this case, killing messaes

However, this probably could be solved with a modified version of SyncQOverflow<Data>::try_push() with doesn't check for max_size and always push the item into the queue.

[2021-06-10 10:39] pinkerltm commented on #3782
@fgalan Recently we upgraded to `fiware/orion:3.0.0` and I also migrated back to our mongodb Community Operator for Kubernetes. Unfortunately I was only able to deploy a mongo 4.2.6 Cluster with it, not 4.4.x.

It seems that there is still a problem to connect to the mongodb cluster as I get the error message

[code]

It´s possible that I misconfigured the orion container though, so that it wasn't

[2021-06-11 10:23] fgalan commented on #3877
Implemented in PR https://github.com/telefonicaid/fiware-orion/pull/3882

[2021-06-11 10:23] #3877 closed

[2021-06-11 10:32] fgalan opened #3883 "sigHandler implementation is not correct"
It seems the way have implemented `sigHandler()` is not correct. Maybe also impact the way we use `atexit()` and its registered functions.

Read https://stackoverflow.com/questions/67934725/are-atexit-registered-handlers-called-just-one-time?noredirect=1#67935315 carefully and fix according it.

[2021-06-11 11:36] fgalan commented on #3541
Related issue: https://github.com/telefonicaid/fiware-orion/issues/930

[2021-06-11 17:31] jason-fox opened #3884 "Orion 3.1.0 crashes with PEP-Proxy (Wilma) 8.0.0"
Consider a set-up with a [PEP Proxy](https://github.com/ging/fiware-pep-proxy) before an Orion Instance - e.g. this [docker-compose.yml](https://github.com/FIWARE/tutorials.PEP-Proxy/blob/master/docker-compose/orion.yml)

The PEP Proxy annotates the forwarded request with extra headers. With Orion 3.0.0 and earlier this is no problem, however the following request (either directly using Curl or in

[2021-06-14 06:47] ryo-ma opened #3885 "How to pass the authentication of http at the registrationsAPI"
What I set when the provider Orion is being authenticated?
Can I use `httpCustom` like the one below?

[code]

[2021-06-14 08:09] fgalan commented on #3885
Orion uses the same `x-auth-token` in the forwarded request than in the original client request (see for instance https://github.com/telefonicaid/fiware-orion/blob/master/test/functionalTest/cases/0715_forward_xauth_token_to_cprs/propagate_xauth_token_for_update_and_query_standard_ops.test).

That means that FIWARE-based authentication (based in Keystone IDM) can work with registrations/CPrs. Howe

[2021-06-14 09:09] ryo-ma commented on #3885
What are your thoughts on context data collaboration in multiple cities(multiple vendors)?
I thought it would be possible with the registration API. However, it was difficult to realize due to authentication problems.

Also, do you plan to implement `httpCustom` with the registration API in the future?

[2021-06-14 09:23] Anjali-NEC commented on #3541
Please assign this issue to me.

Thanks

[2021-06-14 15:07] fgalan commented on #3541
Thanks for your willingness to work on this! Assigned.

[2021-06-15 11:11] fgalan commented on #3782
In order to debug this, I'd need to know two things:

**One**: which mongoUri do you use to connect to your MongoDB instance. For instance, to connect from mongo shell.

I mean, the command you use similar to this one:

[code]

**Two**: the mongoUri Orion tries to use. To get so, modify you args to add:

[code]

Then, after starting Orion, looks for a trace like this one in the Orion logs:

[code]

[2021-06-15 11:31] fgalan commented on #3884
Thanks for the report! I'm trying to reproduce the case, but to do it precisely I'd need also the curl commands corresponding to:

* Create the "Bell:001" entity
* Create the registration for the ring command (hint: if the registration has been done by a IOTA, `GET /v2/registrations` will provide clues on how to reproduce the same using curl)

@jason-fox could you provide also that information, pl

[2021-06-15 11:41] jason-fox commented on #3884
You can provision the bell device with the following script: https://github.com/FIWARE/tutorials.PEP-Proxy/blob/master/provision-devices

You can reproduce the error by amending [this](https://github.com/FIWARE/tutorials.PEP-Proxy/blob/master/.env#L3) to `3.1.0` and running `./services start` followed by the curl statement defined above.

The `/version` is the heartbeat healthcheck - I don't think

[2021-06-15 12:13] fgalan commented on #3884
I'm trying to reproduce the bug using just Orion and curl, without PEP, IOTAs, docker, etc. That way is much easier to debug.

Could you provide at least the result of `GET /v2/registrations` in your running system? With that information, I think I could craft the equivalent curl for the registration.

Looking to log traces timestamp, around 4 seconds has passed between PATCH and GET /version resq

[2021-06-15 12:32] jason-fox commented on #3884
[code]

### Start up

[code]

### Registration

[code]

### Failed Command

[code]

There was no `/version` this time.

[2021-06-15 12:39] jason-fox commented on #3884
Next run:

[code]

There was no `/version` this time.

[2021-06-15 13:29] fgalan commented on #3884
Thank you for so detailed report!

I'll have a look and comment in this issue.

[2021-06-15 15:55] jaimeventura commented on #3805
Hey,
Sorry, i missed the latest reply. I'll check it anyway.
Thank you so much for the effort on this.

[2021-06-16 07:23] fgalan commented on #3885
I understand you are referring to a *context federation* scenario. Federation could be based in registrations/CPrs (we name it "pull" federation) or in subscriptions/notifications (we name it "push" federation). The former is described in this document https://fiware-orion.readthedocs.io/en/master/user/federation/index.html and maybe suffices your use case better than using registrations/CPrs.

It

[2021-06-16 12:32] fgalan commented on #3884
I have done the following test:

* Two Orion processes: one acting as CB, other acting as CPr (taking the role of the IOTA in your case)
* Database flushed before starting the tests:

[code]

I start the two CB processes, this way (in separate terminals). Note that CB runs the same way you show in your report (except `-dbhost` that in my case is localhost).

[code]

I check version, this way:

[co

[2021-06-16 12:34] fgalan commented on #3884
Another idea: get the `core` generated by CB upon crashing in your case, then using `gdb` to get the backtrace so we know the point in the code in which it's crashing.

[2021-06-16 13:38] wistefan commented on #3884
I was able to reproduce it exactly the same way as Jason did. I also used the docker-compose from the tutorials and the PATCH request, so its not a problem from Jasons machine.
I can not find a suspicious log inside the IoT-Agent.

[2021-06-16 13:47] jason-fox commented on #3884
@fgalan I'm not sure how you're testing this but  maybe you're **not** getting a crash because you're running Orion on bare metal and we **are** getting a crash when containerized. So it **may** be an issue within the dockerization of Orion 3.1.0 - has it changed since 3.0.0?

[2021-06-16 13:56] fgalan commented on #3884
Nothing relevant.

In https://github.com/telefonicaid/fiware-orion/compare/3.0.0...3.1.0, if you look for docker/Dockerfile y Files the only change between versions is to compile a different version of CMake due to build problems with the CentOS 8 new version with libmongoc library. But this should have any impact at all in Orion.

[2021-06-16 13:57] fgalan commented on #3884
Maybe you could do a test on bare metal to confirm this hypothesis?

[2021-06-16 14:01] fgalan commented on #3884
Can you get this in your docker setup?

[2021-06-16 14:57] fgalan commented on #3884
Could you do the test using using `x-dedwarfor-for` (a header that is not processed by Orion but which name have the same size than `x-forwarded-for`) instead of `x-forwarded-for`?

This would be the curl:

[code]

The result may bring new insights to the case.

[2021-06-16 15:24] jason-fox commented on #3884
-  `x-dedwarfor-for` rings the bell 🔔
-  `x-forwarded-for` crashes the 3.1.0 Broker  🔕

[2021-06-16 19:09] fgalan commented on #3884
I have seen something interesting, looking traces carefully.

In your report:

[code]

Taking apart time=, lvl=, coor= and trans=

[code]

We can see that:

* First trace doesn't follow the log format. It "truncates" after comp=. In addition, the from= field is weird, the token `<none>` should not be there
* We see also that unexpected `<none>` token in the GET /version request (5th trace)
* All t

[2021-06-16 19:35] kzangeli commented on #3884
I'll take a look

[2021-06-16 19:37] kzangeli commented on #3884
Running it under valgrind would give all the info, if it is a case of memory corruption, which is what I assume you are suspecting.

[2021-06-16 22:40] ryo-ma commented on #3885
OK. I got it!

[2021-06-16 22:40] #3885 closed

[2021-06-18 15:59] pinkerltm commented on #3782
@fgalan

ad **One**: I'm not sure how the mongoUri might be different, as I am not used to MongoDB in  my common Developer Tasks. The mongodb Community Operator for Kubernetes deploys three mongo 4.2.6 Pods which are accessible via a Service which runs in the same namespace as Orion. The three nodes share a ReplicaSet 'mongo' which should be used for orion. So if I log into the Orion Container/Pod

[2021-06-21 07:26] fgalan commented on #3782
Let's continue debugging...

1. I understand that the `"error": "Internal Server Error"` response you get is as a consequence of a request done in the CB API. Could you detail such request (verb + URL + headers + payload)?
2. Could you list the DBs you have in your MongoDB instance? I mean, the `show dbs` command after connection using `mongo mongodb://mongo-svc:27017/?replicaSet=mongo -u admin -p

[2021-06-21 08:26] pinkerltm commented on #3782
sure
1. GET http://localhost:1026/v2/entities/
2.
[code]

3. I get the same output as above, except....I get no prompt. Looks like mongo is in some kind of serving mode....after hitting any key, the process strops immediatly

[2021-06-21 08:34] fgalan commented on #3782
This may be caused by the `&` interpreted by the bash shell. Try this one (with single quotes around the mongo URI):

[code]

[2021-06-21 08:37] pinkerltm commented on #3782
ah, yes....went into background... returns a normal prompt as excepted when I put it in quotes

[2021-06-21 09:10] fgalan commented on #3782
Let's check if the problem is related with permissions in the DB. Please log into the mongo shell and do:

[code]

[2021-06-21 09:20] pinkerltm commented on #3782
this returns a proper NGSI Json (all entities which are currently stored in the database (not all that should be stored already, but nevertheless I find this quite interesting as I was not aware that this constellation worked at any time ... our stream is always posting entities to orion in the background, so some entities seem to got through in the past) ... Perhaps writing works but reading not?

[2021-06-21 09:28] fgalan commented on #3782
Howeve, the operation done by CB at MongoDB due to `GET /v2/entities` is read only. Weird...

May I have access to the cluster you are using to have a look? You can send me credentials information by some private channel.

[2021-06-21 11:00] pinkerltm commented on #3782
@fgalan I am sorry to tell you, I have absolutely no clue why, but now it works. Perhaps there were some timing or caching issues considering our kubernetes operator environment. If I call `GET /v2/entities` now I see the one User Entity we saw earlier in mongo. Now I was also able to POST and GET new Entities afterwards.

That really annoys me, that I consumed so much of your time and effort and

[2021-06-21 11:10] fgalan commented on #3782
Don't worry ;) You're welcome!

[2021-06-23 12:18] Anjali-NEC commented on #3541
Hi @fgalan Sir,

I have added A new optional field in the subscription payload just like other optional fields (throttling). Now I am applying the condition when the maximum limit number of failing notifications is reached, then the subscription passes automatically to inactive state. For this I am trying to add the code in `src/lib/rest/httpRequestSend.cpp` in function `httpRequestSendWithCurl`.

[2021-06-23 12:48] kzangeli commented on #3541
Not sure that `httpRequestSend()` is the best function for dealing with the DB.
Perhaps delay it to where the notification was requested?

[2021-06-24 10:30] fgalan commented on #3541
Rather than `httpRequestSendWithCurl` itself, maybe it's better to call the subscription de-activation logic in the places where `httpRequestSendWithCurl` is called, upon checking in the return value if the notification were fine or not. With regards to the de-activation logic itself, not sure right now what is the best place... put it by the moment in the place you consider better but be prepared

[2021-06-24 13:58] jason-fox commented on #3884
-  `x-forwarded-for: 172.18.1.7` - rings the bell 🔔
-  `x-forwarded-for: ffff:172.18.1.7` - rings the bell 🔔
-  `x-forwarded-for: ::ffff:172.18.1.7` - crashes the 3.1.0 Broker 🔕

I guess the broker doesn't like colons.

[2021-06-24 14:25] fgalan commented on #3884
Second case has a colon in the middle. Maybe colons *as prefix* are the ones it doesn't like...

[2021-07-08 16:34] Anjali-NEC commented on #3541
Hi @fgalan sir,

I have added the code changes to fix issue in my PR #3890 it is not complete fix as I have not found the subscription de-activation logic. I have tried to modify the `src/lib/mongoBackend/MongoCommonUpdate.cpp` in function `processSubscriptions` where the notificationSent logic is written. In line 1984 I have added the else block in case the notificationSent is false but I am not

[2021-07-09 05:13] ctc-enokida opened #3891 "How can I use the federation function?"
Hi

I am currently trying out the federation feature.
However, when I followed the steps described in this document, the data was also registered in the second Orion.

https://fiware-orion.letsfiware.jp/user/federation/

How can I achieve federation?
I have read about the PULL approach in the documentation, but do I need to set any parameters?

Thank you.

[2021-07-09 05:44] Anjali-NEC commented on #3268
Hi @fgalan Sir,

I would like to work on this issue. As per my understanding we need to write a script for upgrading version of all the dependencies in case of manual build installation of contextBroker. Please confirm my understanding and assign this issue to me.

Thanks

[2021-07-09 07:20] mapedraza commented on #3891
Hello.

First, I want to remark that the official channel for asking support is StackOverflow, using the tags fiware and [fiware-orion](https://stackoverflow.com/questions/tagged/fiware-orion) in this specific case.

If you followed the steps in the guide, you should have 3 different Orion Context Broker (A, B and C) running in your machine.
Then, the next step described is to create the subscript

[2021-07-09 07:30] fgalan commented on #3891
I'd say that the "rule" to use github issue or SOF question is as follows:

* If the question is about software functionality, then use StackOverflow
* If the question is about some issue in the software (bug, missbehaviour, etc.), then use issue
* In case of doubt use StackOverflow (we will move to github issues if at the end an issue in the software is identified during the discussion at SOF)

[2021-07-09 08:55] ctc-enokida commented on #3891
mapedraza
fgalan

Thanks for your answer.
And thanks for kindly telling me how to use github Issue and SOF.
I understand now.

In the documentation, I understood that Orion B does not contain any data,
but it is correct that A, B and C all contain data.

In that case, is there any special function as Federation?
Is it exactly the same as two subscriptions?

I'll ask at SOF! Thanks.

[2021-07-12 08:21] fgalan commented on #3891
It seems discussion has moved to SOF at https://stackoverflow.com/questions/68315407/i-want-to-know-what-orions-federation-feature-is

Thus, maybe this issue can be closed?

[2021-07-12 10:04] fgalan commented on #3268
Not sure if this issue is obsolete (note it was created almost 3 year ago). Let's wait for @cesarjorgemartinez (as original author of the issue) to confirm if it is still valid or not and, in the former case, which specific task has to be done.

[2021-07-12 10:31] fgalan commented on #3541
Please find my feedback in the PR itself.

[2021-07-13 00:28] ctc-enokida commented on #3891
Hi fgalan

You're right.
I will close this Issue.

Thanks.

[2021-07-13 00:28] #3891 closed

[2021-07-15 10:40] fgalan opened #3894 "Custom notification macro doesn't render correctly DateTimes atrributes"
We have this entity attribute:

* name: “dateObserved”
* type: “DateTime”
* value: “2021-07-15T11:40:00.000Z”

However, in the custom notification using `${dateObserved}` we get

[code]

instead of “2021-07-15T11:40:00.000Z”

[2021-07-15 10:57] kzangeli commented on #3894
Of course ... should have thought of that!

Look also at creDate/modDate - will probably "fail" the same way (and any other attribute of type DateTime).

[2021-07-16 11:36] Anjali-NEC commented on #3268
Hi @cesarjorgemartinez Please confirm this issue is still need to be fixed?

[2021-07-26 07:50] fgalan commented on #3347
Fixed by PR https://github.com/telefonicaid/fiware-orion/pull/3898

[2021-07-26 07:50] #3347 closed

[2021-07-26 11:45] fgalan commented on #3268
We have been discussing internally and this issue probably no longer makes sense. Thus, it is going to be closed.

Anyway thanks @Anjali-NEC for your willingness to work on this. Maybe you could look for another issue to work on it! :)

[2021-07-26 11:45] #3268 closed

[2021-07-28 06:40] ArqumFarooqui-NEC commented on #3439
Hi @fgalan sir,
Due to medical reason @rajeswar-NEC is not able to work on this issue, so I am working on this issue.
As per my investigation, In this issue I have to add the functionality of a new boolean field `needsActualChange` in subscription payload within subject.condition.
As per this issue, If `needsActualChange` field will be set to “true” then subscription will notify when only “actual

[2021-07-29 06:10] ArqumFarooqui-NEC commented on #3071
Hi @fgalan sir,

As this issue is an old issue, but as per my analysis this issue still need to be fix. So I want to work on this issue.

As per this issue `DELETE` operations with wildcard service path i.e. `#`  and with `comma separated SPs` should not be allowed, currently it is returning `204 No Content`, but it should return following error :
[code]

[code]

As per my analysis, this issue wil

[2021-07-29 11:12] fgalan commented on #3071
@ArqumFarooqui-NEC I agree this issue is still valid and with your analysis of it. Thanks for your willingness to work on this!

[2021-07-29 11:24] fgalan commented on #3439
@ArqumFarooqui-NEC thank for your willingness to work on this!

Your analysis is mostly correct. My only comment is that the new field will be stored not only in the DB but also in the csubs cache.

[2021-07-29 12:50] Anjali-NEC commented on #2933
Hi @fgalan sir,
Due to medical reason @rajeswar-NEC is not able to work on this issue, so I am working on this issue.
I have raised new PR for the same.
Please have a look PR https://github.com/telefonicaid/fiware-orion/pull/3900

https://github.com/telefonicaid/fiware-orion/pull/3686#discussion_r487855221
As per your comment we need to show more than one non existing attribute in the form of arra

[2021-08-02 06:16] fgalan commented on #3071
PR https://github.com/telefonicaid/fiware-orion/pull/3901

[2021-08-10 07:56] #3071 closed

[2021-08-10 11:01] Anjali-NEC commented on #3894
Hi @fgalan @kzangeli Sir,

I would like to work on this issue, Can you please suggest the API to reproduce this issue.

[2021-08-11 06:55] fgalan commented on #3894
@Anjali-NEC thanks for your willingness to work on this!

To reproduce the issue, create an entity using a DateTime attribute (let's say named `dateObserved`). Then, create a subscription using custom notifications (`httpCustom`) using `${dateObserved}` in some part. Then, stimulate the subscription updating the entity and check that the notification is using a numerical value instead of an actual

[2021-08-11 07:25] fgalan commented on #2933
Maybe you should use an approach similar to the one used for detecting existing attribute in strict append cases (e.g. `POST /v2/entities/E/attrs?options=append`). The call to `updateEntity()` (in `processContextElement()` at MongoCommonUpdate.cpp) is this way:

[code]

Note the `attributeAlreadyExistsError` and `attributeAlreadyExistsList` parameters. They are later used (in `processContextElemen

[2021-08-13 11:03] fgalan opened #3906 "onlyChangedAttrs: true doesn't work when csubs cache is used"
Startup with empty database and:

[code]

Create an entity and subscripition with `"onlyChangedAttrs":true`:

[code]

Then stimulate the subscription with:

[code]

In the accumulator-server.py terminal we see both A and B, but only A should appear, due to hte `"onlyChangedAttrs":true` configuration.

If we run contextBroker using `-noCache` then it works.

[2021-08-13 11:03] fgalan commented on #3906
This comes from https://stackoverflow.com/questions/61591877/onlychangedattrs-boolean-flag-in-fiware-draco-subscription-not-working

[2021-08-13 16:14] fgalan commented on #3906
PR https://github.com/telefonicaid/fiware-orion/pull/3907

[2021-08-17 08:18] jason-fox commented on #3884
With more investigation, this appears to be an [Express IP4/IP6 issue](https://stackoverflow.com/questions/29411551/express-js-req-ip-is-returning-ffff127-0-0-1). I've just raised a PR to fix this specific issue in the code of the Wilma PEP-Proxy - https://github.com/ging/fiware-pep-proxy/pull/132 - however it still remains an issue for Orion because you should still put some defensive code in pla

[2021-08-19 02:05] rajeswar-NEC commented on #3693
Hi @fgalan Sir,

I would like to work on this issue. Please assign this issue to me.

[2021-08-20 10:42] Anjali-NEC commented on #2933
Hi @fgalan Sir,

As per your suggestion I have added two new parameters attributeNotExistingList and attributeNotExistingError smiliar to attributeAlreadyExistsError and attributeAlreadyExistsList parameters and used these new parameters for getting not existing attribute list and error for the same.

I have also add modified updateEntity() function at MongoCommonUpdate.cpp and added logic for Act

[2021-08-23 05:15] rajeswar-NEC commented on #3693
Hi @fgalan  Sir,

As per my investigation, in this issue I’ve to add a new parameter field “covered” in subscription payload within notification as mentioned below with bolean type.
As per this issue, if "notification.covered" field will be set to “true” then Orion will complete the notification with any missing attribute in the notification, These attributes will have value “null” and type "None"

[2021-08-24 16:39] rajeswar-NEC commented on #3054
Hi @jmcanterafonseca & @fgalan  Sir
I would like to work on this issue. Please assign this issue to me if it still needs to be fixed.

[2021-08-31 07:30] fgalan opened #3913 "MQTT notifications improvements: support service and subservice fields"
Follow up from issue #3001

In MQTT notifications we don't have headers (as we have in HTTP notifications), so we are losing the service and subservice information.

They could be introduced in the payload itself so it would be like this:

[code]

Open question: should the HTTP notifications payload modified in a similar way? For the sake of the homogeneity maybe it's a good idea (although as draw

[2021-08-31 07:30] fgalan opened #3914 "MQTT notifications improvements: user and password"
Follow up from issue #3001

Support username and password field in MQTT.

They should be new field part of the `mqtt`/`mqttCustom` element. The password would be stored in the DB but never published in the API, it would be ofuscated, eg.:

[code]

Equivalent mosquitto_pub:

[code]

[2021-08-31 07:31] fgalan opened #3915 "MQTT notifications improvements: TLS support"
Follow up from issue #3001

Support TLS. It needs to be analysed, but some early thoughts follow:

* `mqtts://` should be supported as schema for `url` field
* We could reuse the same `-key`, `-cert` and `-insecureNotif` fields we currently use for HTTPS notifications

Equivalent mosquitto_pub:

[code]

[2021-09-01 12:18] fgalan commented on #3884
Proposed fix in PR https://github.com/telefonicaid/fiware-orion/pull/3917 (but probably it's not the smarter solution).

[2021-09-01 19:17] fgalan commented on #3809
It seems this problem also happens in Debian 11, with the following characteristics:

* Debian release: 11.0
* Valgrind version: 3.16.1
* glibc version (`ldd --version`): (Debian GLIBC 2.31-13) 2.31

[2021-09-02 08:29] fgalan commented on #3809
PR https://github.com/telefonicaid/fiware-orion/pull/3920 fixes changing the way used by valgrind to stop Context Broker to SIGTERM. This is the output (in Debian 11):

[code]

The pass is still running. Let's see how it ends before merging the PR and closing the issue.

This change probably makes the harakiri code useless, but we can leave it from a while (a FIXME mark has been added)

[2021-09-02 10:30] fgalan commented on #3867
Fixed by PR https://github.com/telefonicaid/fiware-orion/pull/3919

[2021-09-02 10:30] #3867 closed

[2021-09-03 10:13] fgalan opened #3924 "Valgrind: false positive in HTTPS notification tests"
The following is got in valgrind report:

[code]

Report (relevant part)

[code]

However, if I add a small delay at the beginning of the exit function in ContextBroker, it works:

[code]

[code]

Surprisingly, if instead of adding the sleep in the ContextBroker code I add at the end of the .test script (even a larger amount, eg. 60) the problem is not solved.

[code]

This doesn't seem to be a bi

[2021-09-03 10:14] fgalan commented on #3924
(I have focused in direct_https_notifications.test in my tests but I guess that the situation in direct_https_notifications_no_accept_selfsigned.test is pretty similar)

[2021-09-03 12:20] fgalan opened #3925 "Valgrind: weird error related with HTTPS functionality"
Running pass shows this error:

[code]

In the valgrind log we have:

[code]

Being the fragment of code at rest.cpp:1717:

[code]

It seems the log is pointing out to the problem. In contextBroker.cpp:1233-1234 we have:

[code]

followed by:

[code]

Maybe there is a bug in loadFile()? Not sure how it works, but maybe is not setting the `\0` ending so causing the problem...

[2021-09-03 12:41] fgalan commented on #3925
Possible fix in PR #3926

[2021-09-03 12:49] fgalan commented on #3809
In CentOS 8 using branch hardening/3809-avoid-valgrind-false-positives:

[code]

So it seems it also works there

[2021-09-03 12:52] #3809 closed

[2021-09-05 12:46] kzangeli commented on #3924
Small delay?  10 secs seems a lot to me :)

I imagine the request **before** the harakiri request isn't 100% done when the cleanup is done, provoked by the harakiri request.
The leaks reported by valgrind should be a great help to understand which part is "delayed".

[2021-09-05 12:47] kzangeli commented on #3924
About
[code]

You need to be in the repo root to call the script - try again ;-)

[2021-09-06 09:06] fgalan commented on #3001
Done in PR https://github.com/telefonicaid/fiware-orion/pull/3888

Follow up issues with MQTT improvements:

* #3913
* #3914
* #3915

[2021-09-06 09:06] #3001 closed

[2021-09-06 09:17] fgalan commented on #3924
Probably it would work also with a smaller amount, although I haven't tested.

Note that since PR https://github.com/telefonicaid/fiware-orion/pull/3920 contextBroker is no longer stopped using harakiri request, but SIGTERM (indeed, that PR solve a problem similar to the one you described, issue https://github.com/telefonicaid/fiware-orion/issues/3809).

What is surprising is that if the sleep is

[2021-09-06 09:18] fgalan commented on #3924
In fact, the test are executed even in the case valgrindTestSuite.sh is run in the same directory where the file is located. The error message is a bit annoying, but harmless.

[2021-09-06 10:44] #3925 closed

[2021-09-07 11:40] fgalan commented on #2933
Fixed by PR https://github.com/telefonicaid/fiware-orion/pull/3900

[2021-09-07 11:40] #2933 closed

[2021-09-07 13:00] fgalan commented on #3924
Up to know, I have observed this problem in Debian 11. In CentOS 8 also happens, but the values reported by valgrind are different:

[code]

[2021-09-08 07:48] fgalan commented on #3884
Unfortunately, I didn't get feeback on this before closing release 3.2.0, so this issue is postponed to the next release (3.3.0).

[2021-09-08 07:48] #3906 closed

[2021-09-08 11:04] fgalan commented on #3924
Some additional facts:

* Move the `valgrindSleep 60` to TEARDOWN section -> Doesn't work
* Move the `sleep(10)` from the beginning of `exitFunc()` to the end, i.e. just before `LM_I(("Orion shutdown completed"))` -> Does work

[2021-09-08 11:45] fgalan commented on #3814
The following operators will be taken into account:

* `$inc`: increase numeric atrribute
* `$max`: max between the current value and the intended update for numeric attributes
* `$min`: min between the current value and the intended update for numeric attributes
* `$mul`: multiplies by number attribute
* `$push`: add item to array attribute
* `$addToSet`: add item to array attribute if not alread

[2021-09-08 13:53] fgalan commented on #3814
_Implementation notes:_

From the point of view of the update, it seems pretty simple: just to "pass through" the operation to the corresponding MongoDB operator at update() time.

Things get tricky when notification enter into play, as with the current approach we would need to do the operation in memory in parallel to the modification done at MongoDB. This is easy for some operations (eg. `$inc`

[2021-09-08 13:54] fgalan commented on #3814
Implementation would be split in (at least) two PRs:

* First PR without taking into account notifications
* Second PR with the notifications part

[2021-09-08 14:32] fgalan commented on #3924
This makes me think in which point from the beginning to the end of `exitFunct()` the sleep strategy starts to fail.

Interestingly, at the point it works

[code]

but at this point it doesn't work (leak):

[code]

(Run each test three times in a row)

Crazy... :)

[2021-09-09 08:49] fgalan commented on #3924
More facts:

Comparing the CB logs in the "sleep at the very beginning" (left) and "sleep just after the if clause" (right) situation, we can see that in the former case CB doesn't stop properly. Note the duplicated "Orion exiting due to receiving a signal" in the left case.

![imagen](https://user-images.githubusercontent.com/1534240/132536849-49ac6318-e359-44db-a57d-fa1deadab5f3.png)

In additio

[2021-09-09 08:59] fgalan commented on #3924
An additional test confirm what I say in the previous comment. If I run valgrindTestSuite.sh with the sleep at the beginning of exitFunc() I get the usual:

[code]

However, the contextBroker is still there:

[code]

I run in a terminal `tail -f test/functionalTest/cases/0706_direct_https_notifications/direct_https_notifications.valgrind.out` and see:

[code]

Note that 1260920 is not the PID of t

[2021-09-09 09:03] fgalan commented on #3924
I'm running out of ideas :)

I suspects that the leak is somehow related with libcurl when CURL_GLOBAL_SSL is used to initialize the library and some notification using https is sent. Testing this with valgringTestSuite.sh has been found problematic (seem the comments above) so maybe is cleaner to test using valgrind directly (`valgrind contextBroker -fg ...`).

By the moment, I'll mark these test

[2021-09-13 07:17] fgalan commented on #3785
An additional quesetion...

Makes sense to keep seprated BSONObject and BSONArray classes? They are at the end based in the same internal time (bson_t) and unifying them could ease direct parsing in the context of issue #1070

[2021-09-13 07:45] Anjali-NEC commented on #3535
Hi @fgalan Sir,

I would like to work on this issue. Please assign this issue to me.

As per my understanding  we need to add CLI `-noCacheLog` which is used to disable the INFO level traces. Currently each subscription generate four traces of INFO. These traces are generated from https://github.com/telefonicaid/fiware-orion/blob/master/src/lib/mongoDriver/connectionOperations.cpp So, we need to a

[2021-09-13 09:33] fgalan commented on #3535
I think that after the changes in PR https://github.com/telefonicaid/fiware-orion/pull/3696 this is no longer an issue. Now there is a specific tracelavel (LmtOldInfo) in DEBUG mode to show these traces, which no longer are shown in INFO log level.

Thus, this is is going to be closed. Thanks for raising this!

[2021-09-13 09:33] #3535 closed

[2021-09-13 11:14] fgalan commented on #3814
First PR https://github.com/telefonicaid/fiware-orion/issues/3814

[2021-09-14 10:15] fgalan opened #3938 "Attribute operator: $bit"
(It comes from #3814

Example:

[code]

TO BE COMPLETED

[2021-09-14 10:15] fgalan commented on #3814
The `$bit` operator is not going to be implemented in the context of this issue due to it would be hard with the current implementation. A new specific issue has been created about it: https://github.com/telefonicaid/fiware-orion/issues/3938, providing specific details.

[2021-09-15 07:52] Anjali-NEC commented on #3727
Hi @fgalan Sir,

Please confirm this issue need to be fixed? if yes then I will try to analyze and start working on it.

[2021-09-15 14:10] jason-fox commented on #3884
Still an issue with 3.2.0

### Orion 3.0.0 and Wilma 8.1.0 - works

[code]

### Orion 3.2.0 and Wilma 8.1.0 - crashes

[code]

[2021-09-15 14:11] fgalan commented on #3884
Makes sense. As I told above:

[2021-09-15 14:59] fgalan commented on #3884
I have built an image in dockerhub with the fix in PR https://github.com/telefonicaid/fiware-orion/pull/3917. This one: **telefonicaiot/fiware-orion:issue3884**

[2021-09-15 15:12] jason-fox commented on #3884
That build works fine - log below:

[code]

[2021-09-16 06:37] ArqamFarooqui110719 commented on #3439
Hi @fgalan sir, I have started the fixing this issue and about ~30-40% code had been fixed. But currently I am busy in some other priority tasks since last 1 month approx., Due to which I have put this issue on-hold for sometime and I will resume work on this issue as soon as another task get completed.

[2021-09-16 06:38] ArqamFarooqui110719 commented on #2027
Hi @fgalan sir, As PR for this issue i.e. #3576 has been merged. So kindly close this issue.
Thank you:)

[2021-09-16 06:42] ArqamFarooqui110719 commented on #3460
Hi @fgalan sir,
As I have commented on [PR](https://github.com/telefonicaid/fiware-orion/pull/3616#issuecomment-920617623) of this issue, that this issue has been fixed by other PR and currently `GET v2/entities` API is returning `500 Internal Server Error` when DB fails.
So this issue should be closed.

[2021-09-16 08:06] kzangeli commented on #3439
FYI, NGSI-LD has always-notify as default (and only) behavior.
So, I had to modify the behavior of not notifying when no real change.

Then an issue arrived:
A client that has two brokers, both subscribing to all of the other broker, needed an option to turn off this behaviour.
If always notifying, any change will provoke an infinite loop of notifications between the two brokers.

So, I implemente

[2021-09-16 08:14] kzangeli commented on #3727
"notifyOnMetadataChange" might be a better name.
And, seems like a good idea, if you ask me :)

[2021-09-16 08:28] fgalan commented on #3727
Yes, as far as I understand, this issue is still valid. Thanks for your willingness to work on it!

With regards to the name of the field, `notifyOnMetadataChange` sounds better than my original proposal, although by the moment the actual name it's not important (we can change it easily during the PR process with a search-and-replace on the code if we find a better one).

[2021-09-16 08:46] fgalan commented on #3460
I agree. Closing.

Thanks!

[2021-09-16 08:46] #3460 closed

[2021-09-16 08:56] fgalan commented on #3884
Thanks for the report!

However, not sure if the proposed fix is enough. I have just extended the length from 15 to 45 to cope with IPv6 addresses in "numeric" format. However, I guess that something like:

[code]

is still problematic.

It would be great if the author of the log library @kzangeli could have a look to this and provide a fix to cover also that situations.

[2021-09-16 09:06] fgalan commented on #2027
Thanks for noticing! Closing.

[2021-09-16 09:06] #2027 closed

[2021-09-16 09:43] ilarimikkonen opened #3940 "-relogAlarms inconsistent behaviour"
Version(s) tested: 2.4,2, 3.2.0
on Kuberdroid Kubernetes platform and another customer platform.

Description:
When setting -relogAlarms, the alarms are not always relogged. [Documentation](https://fiware-orion.readthedocs.io/en/master/admin/logs/index.html) we have referenced.

Expected:
Alarms are relogged every time.

Observed:
Alarms are relogged sometimes, mostly not. Consistent pattern not f

[2021-09-30 08:05] fgalan opened #3944 ""legacyForwarding": true is shown in GET registrations for not-legacy cases"
We have in DB one registration using legacyForwarding and other not using it (pay attention to "format" field):

[code]

If we do GET /v2/registrations we see:

[code]

We see `"legacyForwarding": true` in 61556a428015fb36194d4f2e registration, which is not correct.

[2021-09-30 08:20] fgalan opened #3945 "GET /v2/registrations/regId ignored subservice header"
We have two registrations in DB, one in subservice "/foo" and other in subservice "/bar":

[code]

It seems the service path header is ignored when registration is retrieved. For instance: `curl -vvvv -H 'fiware-servicepath: /bar' localhost:1026/v2/registrations/61556a428015fb36194d4f2e | python -mjson.tool` retrieves the registration in the "/foo" subservice (although the fiware-service header in

[2021-09-30 08:51] Anjali-NEC commented on #3727
@fgalan @kzangeli,

As per my understanding we need to add an optional bool field `notifyOnMetadataChange` in the subscription payload. when  `"notifyOnMetadataChange": false` no notifications are sent if the value of metadata changes, notifications are sent only if the value of the attribute itself changes. similarly in case of `"notifyOnMetadataChange": true` notifications are sent in both the c

[2021-09-30 09:57] fgalan commented on #3945
Check if a similar situation is happening with subscriptions.

[2021-09-30 11:00] fgalan commented on #3945
It also happens. The PR will fix both regs and subs.

[2021-09-30 11:00] fgalan commented on #3945
PR https://github.com/telefonicaid/fiware-orion/pull/3947

[2021-09-30 11:00] #3945 closed

[2021-09-30 11:01] fgalan commented on #3944
PR #3946

[2021-09-30 11:01] #3944 closed

[2021-10-01 09:15] fgalan opened #3949 "Return 400 instead of 500 when GeoJSON syntax error occur (new case)"
[code]

Response error is 500:

[code]

Should be 400.

Key part in MongoDB error message: "Can't extract geo keys"

Seems to be similar to https://github.com/telefonicaid/fiware-orion/issues/3347 (fixed in Orion 3.2.0). Maybe only some cases get covered that time.

[2021-10-01 09:46] kzangeli commented on #3727
Sounds good to me.

What should be the default value for "notifyOnMetadataChange" ?
Preferably what's done right now, which I guess is to not notify (@fgalan knows) ?

[2021-10-01 10:53] fgalan commented on #3940
Thanks you for the feedback! Great for the video-report :)

We'll have a look and try to reproduce it using your same procedure.

[2021-10-01 11:38] fgalan commented on #3949
Fixed in PR https://github.com/telefonicaid/fiware-orion/pull/3950

[2021-10-01 11:38] #3949 closed

[2021-10-04 10:56] Aniket-NEC commented on #1978
Hello @fgalan sir,
I would like to contribute on this issue. Please confirm if this issue needs to be fixed?

[2021-10-04 12:08] Anjali-NEC commented on #3054
Hi @fgalan sir,
Due to medical reason @rajeswar-NEC is not able to work on this issue. I will work on this issue in future and will try to analyzing this issue.

[2021-10-04 12:13] Anjali-NEC commented on #3693
Hi @fgalan sir,

Due to medical reason @rajeswar-NEC is not able to work on this issue.

[2021-10-04 12:51] fgalan commented on #1978
@Aniket-NEC thank you for your willingness to work in this issue!

First should be to check if the issue is still happening. From existing comments:

I'd suggest to test it as described above in order to check if the issue is still there or not.

[2021-10-04 12:53] fgalan commented on #3727
@Anjali-NEC analysis sounds also good to me.

Regarding the default for notifyOnMetadataChange I agree it should the one that match with current behaviour to avoid backward compatibility problems.

[2021-10-04 14:22] fgalan commented on #3814
Second PR #3954

[2021-10-05 10:26] fgalan opened #3956 "Delete attribute is still sent in associated notification"
With this script:

[code]

We have this result:

[code]

Note step 5 is incorrect, as C is there and it must not be. Note that in step 4 the response is correct (as C is not there).

It happens with CB 3.2.0 (thus the problem is previous to the modifications done for update operators done for 3.3.0 in issue #3814) and master at the present moment (be262184f32d78d8acf293e47e2111006ed51034).

[2021-10-05 10:29] kzangeli commented on #3956
I believe I saw something similar (but patching the value of an attribute, not deleting) in Orion-LD, and that's from Orion code prior to Aug 2019 ...

[2021-10-05 10:57] fgalan commented on #3956
Patch entity to update an attribute seems to work fine currently in master.

Script:

[code]

Result:

[code]

[2021-10-05 11:40] fgalan commented on #3956
Fixed in PR https://github.com/telefonicaid/fiware-orion/pull/3957

[2021-10-05 12:26] #3956 closed

[2021-10-05 14:03] #3814 closed

[2021-10-05 14:39] fgalan commented on #3726
orion::findAndModify() added in PR https://github.com/telefonicaid/fiware-orion/pull/3954 for issue https://github.com/telefonicaid/fiware-orion/issues/3814 for Orion 3.3.0. It can be useful in the context of this issue

[2021-10-11 17:31] fgalan commented on #3842
Implemented by PR https://github.com/telefonicaid/fiware-orion/pull/3948

[2021-10-19 07:31] Anjali-NEC commented on #3054
Hi @fgalan  Sir,

Please confirm which HTTP code should be used instead of 422. So that I will try to fix this issue

[2021-10-19 11:07] fgalan commented on #3550
@pcanoesp could you provide the request you are sending to the CB, pls? verb + url + payload

[2021-10-19 11:25] pcanoesp commented on #3550
In our real case of use, payload filed is the one including forbiden characters (base64 coding)

[2021-10-19 12:28] fgalan commented on #3727
In my opinion, in that part of the code you could detect if the entity has changed its attributes or only has changed metadata. Maybe you could transform actualUpdate in an enum with three values: None, onlyMetadata, value.

Next, you should manage to pass back that information and use it to filter out subscriptions that doesn't match the criteria. You can do it in one of these two points:

* At t

[2021-10-19 12:30] fgalan commented on #3054
Do you have any proposal for the new code to be used?

[2021-10-21 09:02] fgalan commented on #3940
I have tried to reproduce the problem with Orion 3.2.0.

Running Orion this way:

[code]

Using these two requests:

OK-REQ:

[code]

NOK-REQ:

[code]

I have run the following sequence: NOK-NOK-NOK-OK I get this logs traces:

[code]

So I'm afraid I cannot reproduce your problem...

A difference is that I run Orion directly in my system (i.e. I'm not using docker or kubernetes), but that shouldn'

[2021-10-21 15:29] fgalan opened #3971 "Alarm and logs are not correctly managed when MQTT broker is disconnected after first connection"
When there is a connection error with a MQTT broker, but the connection has been already created, Orion is able to manage alarm and logs properly. In particular the alarm is not raised and a the "MQTT Notif delivered" log message is printed.

Cases when the problem occurs *at connection creation time*:

[code]

So far, so good.

However, if the MQTT starts up but gets disconnected *once the connec

[2021-10-27 07:25] ishidakei opened #3979 "subscripted notification is not sent with azure cosmos db"
The Orion's subscriptions work quite well with MongoDB but it don't with Cosmos DB.

A web frontend application runs at http://xxx.xxx.xxx.xxx:yyyy.

The following `docker-compose.yaml` is for Orion + MongoDB:
[code]

I executed below commands from a shell:
[code]

The web frontend recorded the received POST request in its log file and the console said:
[code]
This shows the notification succeeded

[2021-10-28 10:19] fgalan opened #3981 "Throttling is not working properly upon subscription updates when cache is used"
It seem throttling is not evaluated correctly in this case. Notificaitons that are correctly blocked when `-noCache` is in use, are not blocked in this case.

[2021-10-28 16:03] #3981 closed, assigned to nobody

[2021-11-03 08:41] Arefina-NEC opened #3988 "if orion sends back "Entities not found" message to iotagent it should not update Entity value"
**Problem**: Orion sends to"Entities not Found" on IoTAgent  logs during "404 DECVICENOTFOUND" but in Orion Context Broker data is updated for same measure in the entity database.

**Description**: We have registered device on IoT Agent(port 4041) successfully. When we sent alert to that device through IoT Agent(port 7896) it was sent successfully but if we are sending extra attribute in the data-

[2021-11-04 08:57] fgalan opened #3989 "Subscripton status "failed" is a crafted (not real in DB/cache) status"
Currently we have this in Subscrpition::toJson() rendering logic:

[code]

Thus, `failed` is not a real status coming from csubs document/cache.

This is a bit weird, but I'm not sure which should be do. Some alternatives:

1. Store `failed` in DB/cache as any other status (`active`, `inactive`, etc.). That would simplify the rendering logic in Subscription::toJson() but involve dealing with setin

[2021-11-04 09:09] fgalan commented on #3989
Moreover, the `this->notification.lastFailure > this->notification.lastSuccess` condition is weak as two notifications coud be sent in the same second (first one successfu, second one failing) and the status will end in "active" instead of "failed"

[2021-11-04 10:04] mapedraza commented on #3989
IMHO failed/ok condition is totally orthogonal to active/inactive condition. For example, if notification pass to inactive after several times trying to send the notification as proposed in #3962, It is needed to know about the status of the subscription (inactive) and also about the status of the notification (failed), to identify the real situation.

If the condition `this->notification.lastFail

[2021-11-04 11:47] fgalan commented on #3989
Using milliseconds for lastNotification/lastFailure/lastSuccess has been considered in issue https://github.com/telefonicaid/fiware-orion/issues/3671

[2021-11-04 11:48] fgalan commented on #3989
So +1 to option 2 I guess :)

[2021-11-04 11:48] fgalan commented on #3671
Maybe https://github.com/telefonicaid/fiware-orion/issues/3989#issuecomment-960574250 supports the need of using milliseconds...

[2021-11-04 15:35] fgalan commented on #3988
Not sure if I understand the problem, sorry... Reading you report, it seems the issue is in IOTAs not in Orion.

Could you reformulate the problem in terms of Orion only, please? For instance, which NGSIv2 API operations would need to be run (preferable in curl command format) in order to reproduce the problem.

[2021-11-05 09:33] ianp1 commented on #3078
Are there any plans on implementing this kind of behavior in the future? For me this seems like a common usecase.

[2021-11-07 15:28] Anjali-NEC commented on #2879
Hi @fgalan Sir,

I would like to work on this issue. Please confirm if this issue still need to be fix?

[2021-11-07 16:55] Anjali-NEC commented on #3671
As per my understanding of this issue we need to change `.00Z` to `.000Z` in the document. Please confirm my understanding and assign this issue to me.
Thanks

[2021-11-07 19:10] Anjali-NEC commented on #1492
Hi @fgalan Sir,

I would like to work on this issue. please let me know if this issue still need to be fix?

[2021-11-07 19:46] Anjali-NEC commented on #3054
As per my understanding we should use HTTP 207 Multi-Status.

[2021-11-08 10:55] fgalan commented on #1492
Thanks for your willingness to work on this issue!

As far as I understand, the issue is still valid. This comment contains and specification of what needs to be implemented: https://github.com/telefonicaid/fiware-orion/issues/1492#issuecomment-384898462

[2021-11-08 10:59] fgalan commented on #3671
Changes in the documentation are the final part of this issue. The first part is to implement milliseconds support for lastNotification, lastFailure and lastSuccess.

[2021-11-08 11:05] fgalan commented on #3078
As far as I know, there aren't plans in the short future to address this.

However, the issues discussion above contains useful information (code hints, functional test to be used to assure the functionality, etc.) so if somebody volunteers to implement this, we would be happy to review the PR and eventually merge the contribution :)

[2021-11-08 11:57] fgalan commented on #3054
Not sure if 207 is the proper one...

As far as I have checked, 207 belong to the WebDAV extension to HTTP and involves a specific response payload in XML, described at https://datatracker.ietf.org/doc/html/rfc4918#section-13

That's not compatible with the responses generated by Orion.

Anyway, if choosing the right HTTP code is taking time and blocking this issue, maybe what we can do is to use

[2021-11-08 12:36] Arefina-NEC commented on #3988
It is combined issue of IoTA and Orion. We are using NGSI v2.
Please find below curls commands to reproduce the problem:

- Device Provision:

curl --location --request POST 'http://localhost:4041/iot/devices' \
--header 'cache-control: no-cache' \
--header 'content-type: application/json' \
--header 'fiware-service: fservice' \
--header 'fiware-servicepath: /fservicepath' \
--data-raw '{
"devices

[2021-11-10 08:32] Anjali-NEC commented on #1492
I have fixed this issue. Please review my PR #3994 if it is ok then please merge it into master.

[2021-11-10 08:33] Anjali-NEC commented on #2879
I have fixed this issue. Please review my PR #3993if it is ok then please merge it into master.

[2021-11-10 11:19] fgalan commented on #3989
Note that `failed` is one of the status defined in the NGSIv2 specification (http://telefonicaid.github.io/fiware-orion/api/v2/stable/)

![imagen](https://user-images.githubusercontent.com/1534240/141103927-099bf4c4-efa5-4a6c-be95-b06fcaef6f6e.png)

So if we go for option 2 or 3 we have to take this into consideration (eg. documenting this deviation from the spec)

[2021-11-10 11:21] fgalan commented on #3989
The description of status in doc/manuals/admin/database_model.md could need to be fixed depending on how this issue gets solved:

    `oneshot` (for [oneshot subscriptions](../user/oneshot_subscription.md)). Note that NGSIv2 API consider additional states (e.g. `failed` or `expired`)
    but they never hit the DB (they are managed by Orion).

[2021-11-10 13:09] fgalan opened #3995 "Crash when updating attribute with empty JSON Object"
Doing an update in existing entity like this:

[code]

Makes de broker to crash.

I think this bug was introduced in Orion 3.3.0 version. Previous versions are not affected.

[2021-11-10 13:13] fgalan commented on #3995
Probably also happens with `"value": []`

[2021-11-10 13:26] fgalan commented on #3995
Fixed in PR #3996 (master) and #3997 (release/3.3.0)

[2021-11-10 18:52] fgalan commented on #3541
Implemented in PR https://github.com/telefonicaid/fiware-orion/pull/3962 (continuation of PR #3890)

[2021-11-10 18:52] #3541 closed

[2021-11-11 13:00] ianp1 commented on #3078
Hey, thanks for your reply. I might take a look into the issue, but could not have the time to do so, will see.
But first of all i am wondering if the discussion above about overlapping context provider registrations was resolved in the meantime? I think this should be adressed first, since an implementation of wildcard registrations would need to adress this, right?

I understand the problem with

[2021-11-12 14:42] #3995 closed

[2021-11-12 14:49] fgalan commented on #3794
This SOF question would need modification upon completion of this issue: https://stackoverflow.com/questions/69932011/orion-contextbroker-allows-set-read-preference-to-mongodb-replicaset/69944749#69944749

[2021-11-15 09:10] #2879 closed

[2021-11-15 10:21] Anjali-NEC commented on #3054
I have fixed this issue by picking  HTTP code 207 and raise PR for the same. Please review my PR #4003 if it is Ok then please merge it into master

[2021-11-16 15:43] fgalan commented on #3078
I think the discussion was already solved and the conclusions posted in this specific comment: https://github.com/telefonicaid/fiware-orion/issues/3078#issuecomment-361240213, remarking:

So the same behaviour we have now (whatever it is :), I mean pick the first one, a random one, etc.) should be applied to a new scenario implementing also wildcards.

[2021-11-17 12:59] fgalan opened #4004 "Expressions Language support"
Allow calculated expressions in Orion would be a very useful feature. For instance, notify an attribute which is the sum of another two (of numeric type) or the concatenation of another two (of string type).

Ideally, a language like the [JEXL](https://github.com/TomFrost/jexl) (used by IOTAs) would be desirable. Alternatives in C/C++ need to be analized. The following table include several altern

[2021-11-18 00:59] ishidakei commented on #3979
I appreciate your kind response.

It seems difficult for me to pass the credentials to you. So I did other tests, but unfortunately I have yet solved the problem. I get giving up using the Orion with the Cosmos DB of the current versions. I know the Orion with Mongo DB will help me. Thank you for the awesome product.

May I close this issue? Or you can close it.

[2021-11-18 09:17] mapedraza commented on #4004
Another alternative is achieve this is to use [Common Expression Language](https://github.com/google/cel-spec)

It is available a [C++ library](https://github.com/google/cel-cpp) implementing the language

**Pros**: Maintained by Google, available in different languages
**Cons**: Different language compared to IoTA

[2021-11-22 10:29] fgalan commented on #3989
At the end we are going to implement option 3:

At the same can be achieved just checking new field `failsCounter` is greater than 0

[2021-11-23 09:25] fgalan commented on #3979
It's a pity... probably it is something easy to solve (at it was last time and we wrote the recommendations at [this post](https://stackoverflow.com/a/67060408/1485926)) but I'd need direct access to a CosmosDB instance to debug it.

Having said that and if there it is not possible provide me that CosmosDB instance, yes, you can close the issue.

[2021-11-23 09:52] fgalan commented on #3989
PR https://github.com/telefonicaid/fiware-orion/pull/4006

[2021-11-23 09:52] #3989 closed

[2021-11-23 09:56] fgalan commented on #3989
@fisuda this PR does some small modifications to the Orion documentation. It would be great if you could modify also the Japanese translation, please (maybe in a same PR for the changes here and the ones in PR https://github.com/telefonicaid/fiware-orion/pull/3987). Thanks!

[2021-11-24 13:15] #3979 closed

[2021-11-29 05:25] Anjali-NEC commented on #3727
Hi @fgalan sir,
Currently I am working on another issues So, I am putting this issue on hold. I will work on this issue in future and will try to analyzing this issue.

[2021-11-29 05:25] Anjali-NEC commented on #3054
@fgalan Gentle reminder !!

[2021-12-01 19:56] ddigodavid opened #4012 "Orion HTTPS with Cert and Priv Key from GoDaddy"
Hi @fgalan !

I’m Rodrigo, CTO at [The Helix Platform](gethelix.com.br), I work with Fabio Cabrini. He told me you know each other!
We are currently entering in production with a new customer, but I headed up into a problem with Orion Context Broker.

We have a wildcard cert from GoDaddy but the cert exported has exactly 2350 bytes. The problem is that in Orion has limited the cert and priv key si

[2021-12-02 11:04] fgalan opened #4013 "Add subId to "Notification response NOT OK WARN" traces"
WARN notification traces are as these ones:

[code]

They don't include the subscription id, and that could be an useful information. Thus, we could use:

[code]

logs.md documentation needs to be changed (not sure if other .md also)

[2021-12-02 11:31] mapedraza commented on #4012
Hi @ddigodavid, thanks for reporting the Issue.

@kzangeli from FIWARE foundation sent me via Skype a possible fix. I just uploaded the changes in a new branch and created a new PR #4014. How ever, It needs to be reviewed, tested, documented and so on.

Since it is an urgent topic I would suggest you to check if using a reverse proxy (like NGINX, check [this link](https://docs.nginx.com/nginx/admi

[2021-12-02 11:33] fgalan commented on #4012
What about asking for a shorter certificate? If you are a paying customer of GoDaddy they should support your request of shorter certs ;)

[2021-12-02 11:41] kzangeli commented on #4012
This was a mistake in the initial implementation (**my mistake**). Let's just fix it. It's easy enough

[2021-12-02 12:53] ddigodavid commented on #4012
@fgalan I cant, every options in their platform gives me this certificate with 2350 bytes.

Thanks, @kzangeli !! 🙏

[2021-12-02 12:54] ddigodavid commented on #4012
Thanks @mapedraza !! I'll try it! ;))

[2021-12-02 16:08] fgalan commented on #3814
Also related PR https://github.com/telefonicaid/fiware-orion/pull/4009 with two new operators (`$set` and `$unset`)

[2021-12-03 06:43] Anjali-NEC commented on #4013
Hi @fgalan Sir,

I would like to work on this issue. As per my understanding in this issue we need to include subscription id in the WARN notification traces.

For this we need to add `subscription id` in httpRequestSend function in `src/lib/rest/httpRequestSend.cpp`  and use it in trace in Line no 651.
https://github.com/telefonicaid/fiware-orion/blob/master/src/lib/rest/httpRequestSend.cpp#L651

[2021-12-03 08:48] fgalan commented on #4013
I'm already working on it. PR with the fix would published soon.

Anyway, thanks your interest!

[2021-12-03 11:00] fgalan commented on #4013
PR #4016

[2021-12-03 11:10] fgalan opened #4017 "Configure error-level in subscription"
**Is your feature request related to a problem / use case? Please describe.**

The feature is an improvement of the subscription functionality and it can be very useful for operations.

**Describe the solution you'd like**

Currently what error means for a subscription (from the point of view of lastFailure/lastFailureReason and lastSuccess/lastSuccessCode) is hardwired, this way:

* If the endpoi

[2021-12-03 13:25] fgalan commented on #4013
Tested for real in master after merging PR #4016

[code]

[2021-12-06 15:51] Anjali-NEC commented on #2101
Hi @fgalan sir,

I would like to know this issue is still valid or not, so that I will start working on it.

[2021-12-09 08:21] fgalan commented on #2101
Yes, the issue is still valid. It should be easy to solve: just checking for duplication at parsing stage (using std::map, for instance).

Thanks for your willingness to work on it! :)

[2021-12-14 04:49] Anjali-NEC commented on #2101
I have started working on it. please assign this issue to me.

[2021-12-14 05:09] naveennec commented on #2933
@fgalan @kzangeli  I hope this issue is closed but as per yesterday TSC meeting Status I got confused

"ONGOING - PATCH request fixes (fix for issue #2933) #3686 @ rajeswar-NEC  [NEC] (X) - stalled? (+1 Year)"

I hope PR 3686 is no more relevant right when another PR(3900) is merged and issue is closed.
 Can you please cancel/close the pull request(3686) because as per comment number
[Rajeswara is

[2021-12-14 08:52] fgalan commented on #2101
Assigned. Thanks!

[2021-12-14 08:59] fgalan commented on #2933
You are right. PR #3900 (which seems to be an evolved version of PR #3686) solves issue #2933. It seems that we forgot to close PR #3686 when we merged PR #3900. I have closed it now.

Thanks for the clarifications and sorry for the confusion!

[2021-12-14 10:57] kzangeli commented on #3884
Sorry, I promised to have a look. Been out for parental leave (16 weeks) and I forgot about the whole thing.
I'll try to look at this *this* week.

Do we have an easy way to reproduce the issue?

[2021-12-14 11:16] mapedraza commented on #3884
Thank for your willingness to solve this bug

When Orion receive a message with the `x-forwarded-for` header longer than expected, it crashes, as described by @jason-fox

As @fgalan analyzed in the code, it comes from `logMsq.cpp`

Changing `IP_LENGTH_MAX` make it works but It would still problematic when making a request longer than spected

[2021-12-14 12:03] fgalan commented on #4004
Possible alternatives:

1. Implement an expression language inside CB (as this issue originally proposes)
2. Implement a side proxy (eg. nodejs with JEXL) that will do the calculations. That proxy will be included within the CB container, so from a "black box" perspective, it would be as if the functionality has been included in CB itself.
3. Use IOTA to do the calculations, using a feedback loop

[2021-12-15 12:55] fgalan opened #4024 "curl >= 7.80.0 in Dockerfile"
**Is your feature request related to a problem / use case? Please describe.**

The feature is about being able to publish MQTT notifications from the Orion docker container using a "neutral" tool. That way some operational procedures (i.e. connection checking to the MQTT broker) would be easier.

**Describe the solution you'd like**

curl is a very known tool that from version that in current vers

[2021-12-15 12:55] fgalan commented on #4024
CC: @cesarjorgemartinez

[2021-12-15 15:30] Anjali-NEC commented on #2101
@fgalan sir,

I have fixed this issue in PR #4025. Please review my PR, if it is ok then please merge it into master.

[2021-12-16 10:47] cesarjorgemartinez commented on #4024
More information here:

"curl with MQTT publish-subscribe / curlMqttPublish.sh"

https://gist.github.com/jforge/c783e47c430a897a7bddb95b64f8fcc0

[2021-12-17 12:02] fgalan opened #4028 "fiware/orion:latest points to an old version (3.1.0-next)"
(Comes from https://github.com/telefonicaid/fiware-orion/issues/744)

At the present moment, being 525e91568a15e3864a7401ead1f23d0ca2ffaa29 the last commit at master (3.4.0-next version), I have done a quick test, with this docker-compose.yml, started with `docker-compose up`:

[code]

Then I get version on it:

[code]

Which doesn't correspond to 3.4.0-next 525e91568a15e3864a7401ead1f23d0ca2ffaa2

[2021-12-17 12:07] fgalan commented on #4028
Same test using `telefonicaiot/fiware-orion:latest` works as expected.

Maybe is there something wrong in the connection to fiware/orion dockerhub repository? This repository is managed by FIWARE Foundation. Please @jason-fox @flopezag @wistefan tell is something needs to be done in our side (github) to fix it.

[2021-12-17 12:09] fgalan commented on #744
I've done the test myself and you are right: there is some problem with fiware/orion:latest image. I have opened an issue here: https://github.com/telefonicaid/fiware-orion/issues/4028

In the meanwhile, you can use telefonicaiot/fiware-orion:latest, that it works correctly

[2021-12-17 12:23] fgalan commented on #4028
I have tried also with fiware/orion:3.4.0 and it seems that tag doesn't exist:

[code]

But with fiware/orion:3.3.0 it works and I get:

[code]

Weird... I have expected 3.1.0 to work, but 3.2.0, 3.3.0 an 3.4.0 to fail, but not this result :)

[2021-12-17 12:57] fgalan commented on #4012
Fixed in PR https://github.com/telefonicaid/fiware-orion/pull/4014

@ddigodavid the fix will be included in the next Orion release (3.5.0) but it the meanwhile you can get if from dockerhub build from master branch. In theory that should be `fiware/orion:latest` but it seems there is some problem with that image (see https://github.com/telefonicaid/fiware-orion/issues/4028). FIWARE Foundation (the

[2021-12-17 12:57] #4012 closed

[2021-12-17 13:19] wistefan commented on #4028
@fgalan This is a problem due to the changes in dockerhubs license model. Automatic builds are not longer supported on non-payed accounts, so that we have to create a new solution. I will come back to you after we talked about that.

[2021-12-17 13:30] ddigodavid commented on #4012
Thanks!! @fgalan @mapedraza

[2021-12-17 14:12] fgalan commented on #744
I have tested

[code]

but it is not working as expected, as the CB replacing logic in dbEncode() is changing `$each` to `>each` before doing the findAndModify in DB.

I'll try to fix.

[2021-12-17 14:29] fgalan commented on #4012
Thanks also to @kzangeli that did the fix ;)

[2021-12-17 14:43] fgalan commented on #744
PR https://github.com/telefonicaid/fiware-orion/pull/4029

[2021-12-17 14:49] fgalan commented on #4028
Ok, but maybe the community should be warmed about this in the meanwhile.

If there is no effective way of warning about this to the whole community, maybe an alternative is to remove `latest` tag in every dockerhub fiware org repository. I think is better to get an error about "latest tag was not found" than deploying a image that you think is the newest and it isn't.

[2021-12-17 15:15] #744 closed

[2021-12-21 10:30] #2101 closed

[2021-12-22 10:58] jason-fox commented on #4028
The FIWAREbot has now caught up with `latest` - the hash aligns with `3.4.0`

![Screenshot 2021-12-22 at 11 56 13](https://user-images.githubusercontent.com/3439249/147082223-62c8b64c-065f-4414-9780-485e6fb6225e.png)

[2021-12-23 11:20] fgalan opened #4032 "ignoreType metadata to support extra "informative" geo:json locations"
**Is your feature request related to a problem / use case? Please describe.**

In some cases we need that an entity have several attributes meaning location:

* The one meaning the actual location of the entity (from the point of view of geoqueries)
* Additional fields which also define "informative" locations (i.e. influence area, etc.)

However, Orion doesn't allow more than one location. We hav

[2021-12-23 11:21] fgalan commented on #4032
Suggestions regarding the name of the metadata (`extraLoc` above) or the new `description` text for the error are welcome :)

[2021-12-23 12:00] fgalan opened #4033 "Attribute update without losing existing metadata"
**Is your feature request related to a problem / use case? Please describe.**

Some metadata are "sticky" to the attribute. For instance, a metadata meaning the units/format of the attribute value or the proposed `extraLoc` metadata in issue https://github.com/telefonicaid/fiware-orion/issues/4032

However, the current semantics for attribute update is that *the metadata is part of the value*. So,

[2021-12-23 14:51] mrutid commented on #4033
B option is the desired behavior from my point of view

[2021-12-23 19:03] fgalan commented on #4028
I have repeated the test with the above docker-compose.yml file using `fiware/orion:latest` and now I get:

[code]

Which corresponds to 3.4.0, as you said.

However, note that `:latest` has a different semantics in `telefonicaiot/fiware-orion`.

* In `fiware` dockerhub organization, I guess ":latest" means *the latest frozen release*
* In `telefonicaiot` dockerhub organization, ":latest" means *t

[2021-12-23 19:03] fgalan commented on #4028
Btw, which label is used in `fiware` to mean *the latest version available at master branch* ?

[2021-12-26 16:54] Anjali-NEC commented on #2189
Hi @fgalan Sir,
I would like to know this issue is still valid or not, so that I will start working on it.

[2022-01-08 11:35] vijapandey commented on #3570
Issue is still persist . The Server accumulator-server.py is not showing message as per documentation , if any one has resolved the issue ,then pls share the improvement or solution

[2022-01-08 12:20] jfernandz commented on #3570
@vijapandey lemme check it :wink: I think I finally found a break to work on it :blush:

[2022-01-08 12:26] vijapandey commented on #3570
Issue has been resolved now . please see above solution

[2022-01-08 13:04] jfernandz commented on #3570
@vijapandey sure, anyway I was trying to port the script to python3 :relaxed:

https://github.com/jfernandz/fiware-orion/blob/port/3570_accumulator/scripts/accumulator-server3.py

[2022-01-10 10:36] fgalan commented on #2189
I think this issue needs to be re-analized.

We already have a Dockerfile for Orion and another Dockefiles (+ build-dep.sh) for CI. Ading a third one could be somehow confusing.

Maybe a better approach is to solve this through documentation, including in some .md file the procedure to build de docker container locally, in this part: https://github.com/telefonicaid/fiware-orion/tree/master/test/fu

[2022-01-15 14:06] Anjali-NEC commented on #2763
Hi @fgalan @kzangeli
I would like to work on this issue, please let me know this issue is still valid or not.

[2022-01-17 08:55] fgalan commented on #2763
The issue is still valid but before starting to implement it I think it needs a analysis phase to identify what to be exactly done. Thus maybe its better you choose another issue with a more straightforward task to do.

[2022-01-17 11:56] Anjali-NEC opened #4038 "How to check the common vulnerabilities in Fiware orion?"
@fgalan

I want to check the common vulnerabilities in fiware orion on weekly basis. Is there is any way to check common vulnerabilities of orion or other fiware components?

Please provide some information about how to check the common vulnerabilities in fiware orion.
Thanks.

[2022-01-17 12:04] fgalan commented on #4038
FIWARE Foundation staff  (@flopezag or @wistefan ) may provide information on this.

[2022-01-17 12:23] Chandradeep-NEC commented on #4038
@fgalan @flopezag @wistefan
Not only Fiware-Orion but also how can we check the CVE in all FIWARE GEs like IoT agent, Cygnus, Quantumleap, STH-Comet, Cepheus

[2022-01-18 17:39] fgalan commented on #3884
Finally fixed by PR #4039 (== PR #4026)

[2022-01-18 18:12] #3884 closed

[2022-01-19 09:40] Anjali-NEC opened #4041 "Is Orion officially permits the use of https in the provider url setting of the registration API (test case should be added to cover this)"
Hi @fgalan

We would like to know if Orion officially permits the use of https in the provider url setting of the registration API.

We found in the document below that https can be used in the notification url setting of the subscription.
https://fiware-orion.readthedocs.io/en/master/user/security/index.html#https-notifications
However, we couldn't find in the documentation if https can be used i

[2022-01-19 10:31] fgalan commented on #4041
I think this is more a question on functionality than an actual issue in the software, so I'd suggest to open a question about this in SOF (https://stackoverflow.com/) using "fiware-orion" label. Then, include the link to the question as comment in this issue, then close the issue.

Thanks!

[2022-01-19 10:36] Anjali-NEC commented on #4041
Already open a question about this in SOF
link https://stackoverflow.com/questions/70765732/orion-use-https-in-the-provider-url-setting-of-the-registration-api

[2022-01-19 10:50] fgalan commented on #4041
At the end, maybe this issue makes sense, re-scoping it about creating a basic test with CP using http to ensure this.

[2022-01-19 11:23] fgalan commented on #4041
PR with the new cases https://github.com/telefonicaid/fiware-orion/pull/4042

[2022-01-19 12:45] #4041 closed

[2022-01-20 12:08] fgalan commented on #3794
This another SOF question would need modification upon completion of this issue: https://stackoverflow.com/questions/70186342/fiware-orion-with-atlas-mongodb

[2022-01-25 09:42] wistefan commented on #4038
@Anjali-NEC @Chandradeep-NEC
Hi, we now do run nightly scans on released containers for GEs in the catalogue: https://github.com/FIWARE/catalogue/actions/workflows/container-scan.yml
The results are published here: https://github.com/FIWARE/catalogue/tree/container-scan-results/reports

The job relies on a proper config.json, as mandated by the FIWARE GE contribution requirements: https://fiware-r

[2022-01-25 12:54] Anjali-NEC commented on #4038
Hi @wistefan

Please add the below GEs in the container-scan-results:
Orion, Cygnus, STH-Comet and Cepheus.

[2022-01-25 12:59] wistefan commented on #4038
Hi @Anjali-NEC
as mentioned, the report is automatically created based on the config.json, wich is in the responsibiltiy of the ge-maintainers.
There are open PRs for them:
- https://github.com/telefonicaid/fiware-orion/pull/3976
- https://github.com/telefonicaid/fiware-cygnus/pull/2100
- https://github.com/telefonicaid/fiware-sth-comet/pull/561

I dont know Cepheus, its not part of the catalogue

[2022-01-27 12:38] fgalan commented on #3894
@Anjali-NEC this issue has become somehow urgent, so I'm taking care of it to provide a quick fix. Thanks anyway for your interested on it!

[2022-01-27 12:50] fgalan commented on #3894
Fixed in PR https://github.com/telefonicaid/fiware-orion/pull/4043

[2022-01-27 14:39] #3894 closed

[2022-01-27 20:45] SBlechmann opened #4045 "Error while updating attribute (command)"
Hey there,
I am running an orion instance for quite some time
	"orion": {
		"version": "3.2.0",
		"uptime": "21 d, 2 h, 19 m, 16 s",
...}
together with (not limited to) mongo 4.2.2,, iota-json 1.19.0 and some mosquitto broker (based on 2.11).
I have connected some devices to the platform and measurement data and commands were working well for me.
I believe it was yesterday when the update of attri

[2022-01-28 08:10] fgalan commented on #4045
This doesn't seem to be an issue in Orion but in another place (deployment, operating system, etc.). Thus, I'd suggest move this question to StackOverflow (https://stackoverflow.com), closing this issue once the corresponding question gets published there. You would probably get a wider audience there.

Thanks!

[2022-01-28 08:58] SBlechmann commented on #4045
Thanks for your response. I hope you are right.
https://stackoverflow.com/questions/70891035/fiware-orion-command-messages-to-devices-are-dropped

[2022-01-28 08:58] #4045 closed

[2022-01-28 17:38] Anjali-NEC commented on #1256
Fixed issue in PR#4049

[2022-01-28 17:47] kzangeli commented on #1256
Wait ...
Parse Error?
No, an unexpected item in a correctly parsed JSON payioad should **not ever** give a parse error!
Parse Errors should give parse errors, nothing else.

Quite straightforward, don't you think? ;-)

A "strange" item in a payload should complain about **unexpected item** or something similar

[2022-01-28 18:03] Anjali-NEC commented on #1256
I think you are correct.  I have fixed this issue according to the comment in https://github.com/telefonicaid/fiware-orion/issues/1256#issue-107490829 But it shouldn't raise parse error so I reverted my changes.

Thanks

[2022-01-28 18:08] kzangeli commented on #1256
Ok! Good!
Not your fault.
Fermin's initial comment about "The existence of should_not_be_here should raise a parse error" is misleading.

[2022-01-28 18:10] kzangeli commented on #1256
Old, old issue! (2015) ... :)
At that time, we still didn't know very well what we were doing, Fermin and I  :)

[2022-01-31 08:07] Anjali-NEC commented on #3780
Hi @fgalan sir,

I think this issue is already fixed. So I would suggest, please close this issue.

[2022-01-31 08:18] fgalan commented on #3780
I don't think so...

Why do you think this is already fixed? Do we have some existing .test covering this case?

[2022-01-31 08:27] fgalan commented on #1256
I have had a look to #1256. It seems you are covering only a very specific case (in the attribute parsing logic) but this issue is more general. Is about detecting unknown fields in **every possible** JSON object in **every possible** JSON request.

If a general solution is not possible, you should add a similar code in too many places. And .test cases to covering all them. It seems to be be a lot

[2022-01-31 08:37] Anjali-NEC commented on #3780
As per my understanding of this issue `Get /v2/entities?attrs=!` and  `Get /v2/entities?attrs=__NONE`  is used for getting only entity ids and types in the response.

I'm getting entity ids and types in the response using both the API `Get /v2/entities?attrs=!` and  `Get /v2/entities?attrs=__NONE`. Below is the output for same. So what we need fix in this issue? can you please confirm?

![att](htt

[2022-01-31 09:24] kzangeli commented on #1256
Last thought on
[code]

That would work just fine is key-values is turned on.
And if not, the value of "should_not_be_here" would need to be a JSON object, which it isn't.

Hopefully, Orion has this "Object check" already covered and giving an error of "Not a JSON Object".

I'm starting to doubt this entire issue ...

In short:
* If key-values, all OK
* If no key-values: invalid JSON type of the v

[2022-01-31 09:48] fgalan commented on #1256
Note the request:

[code]

Thus, it is an attribute update (not an entity update) so keyValues mode doesn't make sense there.

However, it's just an example. The whole point is to avoid elements in the JSON payloads that are not part of the API. Each request type would have different cases. But I'm unsure of the usefulness of this issue if covering each case would involve a lot of effort.

[2022-01-31 10:04] kzangeli commented on #1256
Sure, key-values or not, the error is not that "it doesn't belong", the error is that it's not a JSON object (for PUT /v2/entities/e1/attrs/a).

Checking for "should not be there" makes a lot of sense for creating/updating registrations and subscriptions.
Not so much for entity operations, as there, the error is another one, and it should really be covered already.

I'm also surprised to hear that

[2022-01-31 10:12] fgalan commented on #1256
I think I don't get your point... Under my understading both when it's not a JSON object

[code]

and when it is a JSON object

[code]

are wrong are none of them complies with the NGSIv2 API.

[2022-01-31 10:20] kzangeli commented on #1256
Ehh ... yes, if you insist on having an erroneous value :)
BUT, the error is NOT that is "doesn't belong".
The error is that "there's no type for the attribute" and, "there's no value for the attribute.
It's perfectly OK to be there, but the JSON content has some constaraints. If not fulfilled, them THAT is the error to report.

To make it clearer, imagine the following payload body:
[code]

Shoul

[2022-01-31 10:27] fgalan commented on #1256
This should response with 400 Bad Request error, as the only allowed first-level keys in this kind of payload are `value`, `type` and `metadata` and the string `should_not_be_here` don't belong to these three allowed cases.

[2022-01-31 10:42] kzangeli commented on #1256
Ah, so that's the confusion then. I was sure there was something ... :)

You group the metadata inside a "metadata" object in V2 ... ?
NGSI-LD doesn't work that way.

Sorry, my bad. Short memory.

[2022-01-31 15:22] Anjali-NEC commented on #2784
Hi @fgalan sir,

I would like to work on this issue, As per my understanding we need to remove paused subscription from csub cache and when paused subscription put in Active state again it is reinserted in the cache. One thing I want to clear, is paused subscription are inactive subscriptions or expired subscriptions? Please confirm.

Please ,confirm my understanding and Let me know this issue is

[2022-01-31 16:11] fgalan commented on #2784
This issue was opened time ago (year 2016). Since them, experience has shown that paused subscription are rarely used (less than 1% of subscriptions) so implementing pause subscription exclusion from cscub probably doesn't worth the effort (the cache is a difficult part of the code).

I'd close the issue. Thanks for spotting it!

[2022-01-31 16:11] #2784 closed

[2022-01-31 16:41] fgalan commented on #3044
NGSIv1 is deprecated at all, including any registration done using with that API. Thus, this issue doesn't has sense now and will be closed.

[2022-01-31 16:41] #3044 closed

[2022-01-31 16:53] fgalan commented on #745
I have changed title to what I think is a more meaningful one. Some thoughts on this follow...

The overlap between local entities and registrations is not desirable, so it should be avoided. We can do this at two point:

1. At registration time
2. At update time

The problem is that we need both to fully solve this problem. If we only check at registration time (case 1) but an update creates a ne

[2022-01-31 16:55] fgalan commented on #916
Not sure if this issue still having sense...

Overlap situations (i.e. same entity/attribute locally and registered in Context Provider) are usually not desirable (e.g. they are very problematic in IOTA command scenarios). Thus, using local entities "as backup" of remote entities is not a use case we are pushing.

[2022-01-31 17:01] #916 closed

[2022-02-01 03:59] fisuda commented on #3780
@Anjali-NEC

Whether it is suitable to use `!` is under discussion.

Really? The output is different in the following case.

[code]

[code]

[code]

[code]

[2022-02-01 07:49] fgalan commented on #745
By the moment we have decided leave this issue on hold. Registrations probably get deprecated soon, so it is not a good a idea to invest effort on registration-related features now.

[2022-02-01 08:06] fgalan commented on #3780
@fisuda is right (thanks for the example!). The feature has not been yet implemented. @Anjali-NEC your case is apparently working because `!` is interpreted as an actual attribute name and you don't have it in any entity. Note that `GET /v2/entities?attrs=fooobaaar` would have the same effect, and doesn't means the feature it's working ;)

Note that, according with the rules in "Field Syntax Restr

[2022-02-01 09:50] fgalan commented on #4032
At the end we are going to use `ignoreType` for the metadata name, which is more extensible (e.g. for `DateTime` in the future)

[2022-02-01 09:50] fgalan commented on #4032
PR #4051

[2022-02-01 12:29] fgalan commented on #3094
NGSIv1 is fully deprecated now, so this issue is going to be closed.

[2022-02-01 12:29] #3094 closed

[2022-02-01 13:04] #4032 closed

[2022-02-01 15:29] Anjali-NEC commented on #3768
Hi @fgalan Sir,

I would like to work on this issue, Please let me know this issue still need a fix or not?

[2022-02-01 17:03] fgalan commented on #3768
@Anjali-NEC the issue is still valid. Thanks for your willingness to work on it!

The difficult thing here is maybe to create the .test to assess the fix, as you need to inspect the URL to which the request is forwarded in order to check that it's working as expected. Not sure right now if accumulator-server.py could be used in that way (maybe need to be extended with an ad hoc route).

[2022-02-02 07:48] Anjali-NEC commented on #3768
Due to complexity for creating the .test for this issue, I looking for another issue.

[2022-02-02 07:49] Anjali-NEC commented on #3108
Hi @fgalan Sir,

I would like to work on this issue, Please let me know this issue still need a fix or not?

[2022-02-02 07:57] fgalan commented on #3108
Registrations and Context Providers are a problematic feature that probably will be deprecated soon (in favour of a better system based in subscriptions, which have proven to be more reliable after years of experience). Thus, I'd suggest you to choose another issue.

[2022-02-02 08:00] Anjali-NEC commented on #3108
Thank you for quick reply and suggestion, I will choose another issue :)

[2022-02-09 09:36] Anjali-NEC commented on #3693
Hi @fgalan sir,

I would like to work on this issue, please assign this issue to me.

Thanks

[2022-02-09 09:57] fgalan commented on #3693
Thank you for your willingness to work on this issue! You have been assigned :)

[2022-02-09 12:10] fgalan commented on #4033
At the end the name of the option will be: `overrideMetadata`

[2022-02-09 13:02] fgalan commented on #4033
Fixed by PR https://github.com/telefonicaid/fiware-orion/issues/4033

[2022-02-09 13:02] #4033 closed

[2022-02-14 08:56] fgalan opened #4063 "Over-updating csubs cache in services without activity"
We have a orion-aaa tentant databse with arround 614 subscriptions. The CB runs this way:

[code]

The service doesn't have any activity (i.e. not update request is done on it).

At cache refresh time (each 20 seconds, omitting irrelevant fields):

[code]

Most of the time there is only one entry per-subscription:

[code]

but for some subscriptions there are two entries:

[code]

and in some subs

[2022-02-14 09:46] fgalan commented on #4063
Same situation with old version 2.6.0:

[code]

The number of much lesser. It seems that only for subscription that in the current case (>2.6.0) have more than one traces.

[2022-02-15 14:18] ArqamFarooqui110719 opened #4064 "When Installing latest Orion by following BUILDING FROM SOURCES, getting error "CMake 3.1 or higher is required.""
- Orion version: Latest (3.5.1)

**Bug description**
While doing source Installation of the latest Orion by following [BUILDING FROM SOURCES](https://fiware-orion.readthedocs.io/en/master/admin/build_source/index.html), I'm getting below error on running "cmake" command during installation of  the Mongo-Driver:

[code]

![Orion installation error](https://user-images.githubusercontent.com/55977298

[2022-02-15 14:21] ArqamFarooqui110719 commented on #4064
I think installation steps in "BUILDING FROM SOURCES" should be updated for cmake as it should install cmake version 3.1 or higher. I would be happy to raise a PR for fix the error.

Hi @fgalan sir, please let me know your opinion.

[2022-02-15 16:12] fgalan commented on #4064
I'm afraid your CentOS installation is pretty old and outside the official procedure. From https://fiware-orion.readthedocs.io/en/master/admin/build_source/index.html:

So my recommendation is to use the newest CetnOS 8.x version (i.e. CentOS 8.4) to install Orion.

[2022-02-16 06:25] Anjali-NEC commented on #3335
Hi @fgalan Sir,

I am not able to reproduce this issue. Could you please confirm this issue is still valid or not? if valid please provide some more information to reproduce this issue. Thanks

[2022-02-16 10:49] fgalan commented on #3335
It could be valid or it could have been solved... Since 2018 the logs subsystem was refactored and maybe the problem has hopefully disappeared.

It needs more research. I'd recommend you to look for a more straightforward issue if this is hard to research/reproduce.

[2022-02-16 14:29] ArqamFarooqui110719 commented on #4064
Yes, I have confirmed with CentOS-8 that 'cmake' error not occurred during installation on centOS-8.
By default cmake-3.20.2 has been installed this time.
I think, this issue should be closed.

[2022-02-16 15:08] fgalan commented on #4064
@ArqamFarooqui110719 thanks for the report! Closing.

[2022-02-16 15:08] #4064 closed

[2022-02-17 13:17] fgalan opened #4066 "Cache management operations"
**Is your feature request related to a use case?**

In some situations we need more flexibility in cache management. In particular:

* To check the contents of the cache
* To remove cache content (completely or selectively for a particular subscription)
* To change the working mode from cache to no-cache or the other way around (without restarting Orion)
* To change the cache refresh time (without

[2022-02-18 20:12] Anjali-NEC commented on #3693
Hi @fgalan Sir,

I have divided this issue into three parts:
1. Add new bool filed `covered` in subscription and parse the new filed in JSON request/response for subscription. Define the new filed in dbConstants. Store and get the value of new filed `covered` from Database. set the default value of `covered : false`

2. Add check for if `(covered == true)` then, the notification includes all the a

[2022-02-21 12:20] fgalan commented on #3693
During the update logic at some point the code grabs matching subscriptions in either addTriggeredSubscriptions_withCache() or addTriggeredSubscriptions_noCache() depending the CB working mode. The grabbed subscriptions are stored in a map structure using TriggeredSubscription objects.

Check if TriggeredSubscription already has the information you need about the notification attributes (maybe the

[2022-02-22 09:19] fgalan opened #4069 "Cache status not correctly updated when several CBs are working in parallel"
Let's consider two CBs using the same DB (typical scenario in HA configurations):

1. One active csub in DB
2. Start CB1
3. Start CB2
4. Update entity in CB1 -> notif is sent (OK)
5. Update entity in CB2 -> notif is sent (OK)
6. csub updated to inactive in CB1
7. Wait for a csub cache cycle
8. Update entity in CB1 -> notif is not sent (OK)
9. Update entity in CB2 -> notif is sent **(NOK)**

Additi

[2022-02-22 09:21] fgalan commented on #4069
Moreover if we continue the sequence:

10. csubs updated to inactive in CB2
11. Wait for a csubs cache cycle
12. Update entity in CB2 -> notif is not sent [i.e. CB2 is back to the right behaviour]
13. Update entity in CB1 -> notif is sent **(NOK)** [i.e. CB1 previously working right now works wrong]

[2022-02-24 05:24] ArqamFarooqui110719 commented on #3429
Hi @fgalan sir, Whether this issue is still valid?

[2022-02-24 05:35] ArqamFarooqui110719 commented on #3429
As per my investigation, When running the Orion in `-nocache`  mode as below:
[code]

I'm getting below response after updating the subscription status from inactive to oneshot:

Updated the subscription:
[code]

Get the subscription:
<pre>
[root@localhost fiware-orion]# curl -v localhost:1026/v2/subscriptions/62167ea63b22d4616a58896b -s -S  -H 'Accept: application/json' | python3 -mjson.tool
*

[2022-02-24 11:57] fgalan commented on #3429
The https://github.com/telefonicaid/fiware-orion/blob/master/test/functionalTest/cases/3189_oneshot_subscription/3189_oneshot_subscription_noCache.test test was recently modified at commits:

* https://github.com/telefonicaid/fiware-orion/commit/831ff8e43b8a3e48165661c73c7e2c638d739f34, belonging to PR #3983
* https://github.com/telefonicaid/fiware-orion/commit/4a7d490cfceafbea13ecabd3ed74d89bd9f5

[2022-02-24 11:57] #3429 closed

[2022-02-25 10:05] fgalan commented on #4063
Testing with the code in PR https://github.com/telefonicaid/fiware-orion/pull/4070 we get this trace each 20 seconds at cache refresh time:

[code]

So no unnecessary update is done in csubs collection during cache refresh in services without any activity. That PR is fixing this issue.

[2022-02-25 11:26] Anjali-NEC commented on #3693
Hi @fgalan sir,

Fixed issue in my latest commit. Please review my PR and if it is ok then please merge it into master. Thanks

[2022-02-25 13:39] danielvillalbamota opened #4071 "Headers urlencoded are not decoded in custom notifs"
**Bug description**
In custom notifications, characters ulrencoded in headers are not decoded when sends the notif

- Orion version: 3.5.1

**How to reproduce it**

1. Create an entity this way:
[code]
2. Create subs
[code]

3. Update temperature attrs

4. Notifications are sent with headers encoded

`"Authorization": "Basic ABC...ABC%3D%3D"`

**Expected behavior**
Expected the notification header

[2022-02-25 15:43] fgalan commented on #4071
Relevant code to modify in Notifier.cpp function buildSenderParamsCustom() step 5. Function curl_unescape() should be also there.

[2022-02-25 16:27] fgalan commented on #4069
[PR ](https://github.com/telefonicaid/fiware-orion/pull/4070)

[2022-02-28 12:32] #4069 closed

[2022-02-28 12:32] #4063 closed

[2022-02-28 13:11] fgalan commented on #4071
PR https://github.com/telefonicaid/fiware-orion/pull/4072

[2022-02-28 13:37] Yufei-Yufei opened #4073 "411 error ContentLengthRequired when sending request to orion from perseo"
Hi, team. I am trying to PATCH entities of orion from perseo using its rules but always get 411 error "ContentLengthRequired". Postman and curl both work fine with sending HTTP requests to orion because these two tools automatically generate Content-Length header, but perseo does not. Is there a way to send HTTP request to orion from perseo with its rules?

Additionally, I also tried to add Conten

[2022-02-28 14:30] AlvaroVega commented on #4073
It seems this issue should be transfer to perseo-fe

[2022-03-01 08:58] danielvillalbamota commented on #4071
It works. Close the issue

[2022-03-01 08:58] #4071 closed

[2022-03-01 11:42] SBlechmann commented on #3794
Hey there,
I just wanted to check if you guys plan on working on this soon :) I'm also interested in setting the read preference.

[2022-03-01 13:00] fgalan commented on #3794
Not at the present moment, but maybe you (or any other in the community with this need) want to work on it. It is not a difficult implementation and we could provide some feedback on it, along with pull request review, of course.

Thanks in advance to any brave volunteer! :)

[2022-03-03 10:48] fgalan commented on #2189
At the end we have opted for this solution. PR https://github.com/telefonicaid/fiware-orion/pull/4081

[2022-03-03 10:48] #2189 closed

[2022-03-03 11:11] fgalan commented on #3860
PR https://github.com/telefonicaid/fiware-orion/pull/3908 (although probably we are not going to uses it at the end)

[2022-03-03 16:20] fgalan commented on #1256
Thinking on this 6 years after :)...

Implementing this issue could take a significative effort and even it could not be a good idea... Some existing integrations using waterfall patterns may be adding extra fields (a typical situation in which the JSON object used in the API is used also in other places by the client system) and could break if we are too strict.

[2022-03-03 16:20] #1256 closed

[2022-03-07 14:50] mapedraza commented on #3988
There are a couple of things that are strange on this information:
1. It seems you are mixing the concept of devices and groups. You need to provision a group, with a valid `apikey`. I do not see in your actions where you create the group.
2. You are using a different `Fiware-Servicepath` header in the 3 request you mention above. Could you confirm this is a typo or they are your actual request?

[2022-03-11 08:32] fgalan commented on #1494
New functional specification:

- New field `changeType` that would be part of `subject.condition`
- `changeType` would be a list, specifying which events trigger the notification. The different elements in the list are interpretead in OR way.
  - `entityUpdate`: notification is triggered whenever a entity covered by the subscription is updated (no matter if the entity actually changed or not)
  -

[2022-03-11 09:41] fgalan commented on #1494
Agreed. We will use `entityStatus` (right camelCase ;) virtual attribute for this. It will behave as `dateModified`, etc.: by default hidden, but included if explicitly included in `notification.attrs`.

[2022-03-11 09:43] fgalan commented on #1494
With regards to `entityDelete` notifications, there are two options:

1. Send an empty notification, i.e. just `id` and `type`  (and eventually `entityStatus`) but no attribute
2. Send a notification including the entity content just before being deleted

In principle we are going to take option 2

[2022-03-11 10:47] fgalan commented on #1494
`changeType` -> `operations` (better name)

[2022-03-11 10:48] fgalan commented on #1494
PR https://github.com/telefonicaid/fiware-orion/pull/4084

[2022-03-11 11:27] mapedraza commented on #1494
@kzangeli As discussed in the previous TSC, this is the Issue for implementing subscriptions notifications. It would be interesting to be aligned with further implementations in NGSI-LD. Take into account that this new parameter is going to be included under `subject.condition`. Since NGSI-LD renamed and moved to an upper level on the JSON object, the field included in  `subject.condition`, you pr

[2022-03-11 16:53] kzangeli commented on #1494
Yes!
We haven't discussed this in ETSI ISG CIM yet, but this here would be my personal initial proposal:
[code]

[2022-03-14 14:27] fgalan opened #4085 "Suscripciones Custom for New Type/New Id"
Implement flexibility in custom notifications, so the id and type of the notified entity can be changed.

To be detailed.

[2022-03-15 08:19] Anjali-NEC commented on #3263
Hi @fgalan Sir,

I would like to work on this issue. Please let me know this issue is still valid or not.

[2022-03-15 15:40] fgalan commented on #3263
Thanks for your willingness to work on this issue!

However, the registrations/CPr functionality is at the present moment a secondary functionality in CB. Maybe even it would be deprecated in a near future.

Thus, I'd recommend you to look for another and more profitable issue :)

[2022-03-15 18:26] Anjali-NEC commented on #2780
Hi @fgalan @kzangeli Sir,

I would like to work on this issue. Please let me know this issue still need to be fix?

[2022-03-21 13:05] fgalan commented on #2780
That would correspond with the simpler case (i.e. based in a fixed value). The other case (make it adaptative) is much complex.

However, although somehow valid, this issue is not a very interesting to implement. The cache size doesn't use to be a problem and, when it is, it's better to increase the CB memory than switch to no-cache mode (performance difference can be high, taking into account tha

[2022-03-21 17:25] fgalan commented on #941
notifyConditions was used in NGSIv1. In NGSIv2 the equivalent is creating a subscription without `conditions` field, which is perfectly legal (meaning that the subscription is triggered by any attribute modification).

Thus, this issue is no longer valid and it's going to be closed. Thanks for raising it!

[2022-03-21 17:25] #941 closed

[2022-03-21 17:35] fgalan commented on #3693
PR https://github.com/telefonicaid/fiware-orion/pull/4068 (to prelanding branch) and https://github.com/telefonicaid/fiware-orion/pull/4087 (finishing the former one after completing some pending items)

[2022-03-22 18:17] Anjali-NEC commented on #3100
Hi @fgalan, @kzangeli sir,

I would like to work on this issue. please let me know this issue is still valid or not.
Thanks

[2022-03-23 11:01] fgalan commented on #1494
`alterationType` sounds good. We are going to use that at the end instead of `operations`

[2022-03-23 11:01] fgalan commented on #1494
We are going to split the implementation in two PRs:

1. PR https://github.com/telefonicaid/fiware-orion/pull/4084 with alterationType basic functionality
2. A second PR, with entityStatus/triggeredBy/notifTriggeredBy/etc. built-in attribute implementation

Note however that the tests included in PR #4084 already include entityStatus in subscription creation, so they will be reused for step 2.

[2022-03-23 16:36] fgalan commented on #1494
Taking into account [this rename](https://github.com/telefonicaid/fiware-orion/issues/1494#issuecomment-1076234645) maybe the best name for the new built-in attribute would be `alterationType`.

[2022-03-23 17:20] Anjali-NEC commented on #3499
Hi @fgalan  Sir,

As per my understanding this issue is fixed. Please close this issue.

[2022-03-23 17:24] Anjali-NEC commented on #3431
Hi @fgalan Sir,

I would like to work on this issue, Please let me know this issue is still need to fix or not

[2022-03-24 11:50] fgalan commented on #3100
The issue is still valid, but it lacks of a relevant use case. So probably it's better to devote effort to another one. I'd suggest to skip this issue by the moment and pick another.

[2022-03-24 12:12] fgalan commented on #3499
I'm not sure about...

Could you elaborate on it? Why do you say it is fixed? Or, even better, describe the test case that show it.

Thanks in advance!

[2022-03-24 12:14] fgalan commented on #3431
This issue is valid and it would a very useful feature. Please go ahead. Thanks for your willingness to work on it!

[2022-04-01 10:37] fgalan commented on #1494
PR https://github.com/telefonicaid/fiware-orion/pull/4091 completes this feature

[2022-04-01 10:37] #1494 closed

[2022-04-04 05:20] Anjali-NEC commented on #3499
Yes you are correct this issue is not fix yet. I would like to work on this please assign this issue to me.
As per my understanding we need to add the "description" string for that in a similar way "PartialUpdates" does In case of attribute  doesn't exist in the entity.
For example : Update entity E1 with attribute A and B, but B doesn't exist in the entity, A is updated and response is like this:

[2022-04-07 07:40] fgalan commented on #3499
Thanks for your willingness to work on this issue! You have been assigned

I think your understanding is correct, although I could provide more precise feedback when first version of the PR with the implementation comes.

[2022-04-13 08:56] fgalan opened #4094 "Support parenthesis in idPattern in subscriptions"
**Is your feature request related to a problem / use case? Please describe.**
Forbidden chars in subscription `idPattern` is limiting the subset of regex that can be used, e.g. `^(?!entityType).*` cannot be used, due to `(`

**Describe the solution you'd like**
Relax forbidden char checking in subscription `idPattern` to support `(` and `)`, as we have done in some other cases, see https://fiware-

[2022-04-13 12:10] #3693 closed

[2022-04-18 10:22] Anjali-NEC commented on #3499
Hi @fgalan Sir,

I have fixed this issue in PR https://github.com/telefonicaid/fiware-orion/pull/4096/ Please review my PR and if it is ok then please merge it into master. Thanks

[2022-04-18 14:10] fgalan commented on #4094
After careful examination, parenthesis are actually supported, so this is a non-issue at will be closed.

[2022-04-18 14:10] #4094 closed

[2022-04-19 08:10] danielvillalbamota opened #4098 "Support question mark in idPattern in subscriptions"
**Is your feature request related to a problem / use case? Please describe.**
Question mark `?` is not allowed in subscription `idPattern`, e.g. `^(?!avoid).*`, which means deny entityId which starts with `avoid`.

Following request gets a 400 error.

[code]

Error message: 400 Bad Request
[code]

The regex without question mark works.

**Describe the solution you'd like**
Allow this character to

[2022-04-19 14:47] fgalan commented on #4098
That error message is generated at parsing stage at parseEntitiesVector() function (in parseEntitiesVector.cpp):

[code]

Thus, it is due to regcomp() function, which belongs to [regex library](https://man7.org/linux/man-pages/man3/regcomp.3.html)

[2022-04-19 15:21] fgalan commented on #4098
Using regerror() we could probably get more information about the error.

Moreover, we should use regerror() in everyplace we are currently using regcomp()

[2022-04-20 14:26] fgalan commented on #4098
After implementing that in PR #4100 we get the following error in CB logs:

[code]

The message "Invalid preceding regular expression" is generated by regex library.

[2022-04-20 14:53] fgalan commented on #4098
From https://stackoverflow.com/questions/71941687/regcomp-error-in-apparently-valid-regular-expression, in question comments:

Looking in that post:

![imagen](https://user-images.githubusercontent.com/1534240/164258599-0e8cbc11-ec94-4af2-90a8-30e76775b7b4.png)

Another interesting piece of feedback in the comments:

But the cost of changing from regex.h to boost::regex needs to be evaluated.

[2022-04-20 14:57] fgalan commented on #4098
Maybe an useful performance comparison (although pretty old): https://www.boost.org/doc/libs/1_46_1/libs/regex/doc/gcc-performance.html

[2022-04-25 04:22] Anjali-NEC commented on #3431
As per my understanding currently the `expDate` field have a fixed date of expire (and delete) the entity if no update on it has been received within a given date. We need to make `expDate`  field dynamically changing in the DB document each time the entity is updated. Please confirm my understanding.

[2022-04-26 05:26] anupamme commented on #3797
Hello

I tried using azure cosmos db and I am running into some issues so I am re-opening this issue. If I need to open a separate issue then please let me know.

I'm using the following docker-compose.yml:

` version: "3"

 services:
   orion:
     image: fiware/orion
     ports:
       - "1026:1026"
     command: -dbhost "mongo-perf-testing.mongo.cosmos.azure.com:10255" -db "fiver_db" -dbuser "m

[2022-04-27 13:36] fgalan commented on #1492
Merged in prelanding branch, the work continues in PR #4104

[2022-04-28 15:16] fgalan commented on #3797
@anupamme I'd suggest to post your question at StackOverflow (https://stackoverflow.com, using "fiware-orion" label). Note the issue is closed and your question seems to be more related with a support case than with an actual issue in the software (of course if after discussing your question at SOF some issue is detected in Orion, we'll create the proper issue in this repository).

Once you have c

[2022-04-28 15:40] mapedraza commented on #3431
IMHO *Alternative 2* makes more sense since it does not take another attribute name for an special functionality, even if `dateExpired` is not so aligned with the concept of "time (or seconds) to expire". On the other hand, overloading depending on the attribute type is a really good idea.

[2022-04-29 05:38] anupamme commented on #3797
@fgalan here is the question at SOF:

https://stackoverflow.com/questions/72053276/connecting-fiware-orion-with-azure-cosmos-db

[2022-04-29 06:34] fgalan commented on #3431
Let's try alternative 2 :)

@Anjali-NEC please consider alternative 2 and evaluate the complexity of implementing it

[2022-05-02 07:47] Neeraj-Nec opened #4110 "Performance Query"
I would like to know the maximum data ingress/egress(packet per sec) limit in orion broker for both northbound and southbound.

suppose orion broker is integrated with json IoT agent. now what would be the data ingress/egress limit

[2022-05-03 11:10] mapedraza commented on #4110
This question is not an actual issue in the software, so I'd suggest to open a question about this in SOF (https://stackoverflow.com/) using "fiware-orion" label, which is the actual support channel. Then, include the link to the question as comment in this issue and close this issue.

Thanks!

[2022-05-05 04:49] anupamme commented on #3797
@fgalan I can privately send you credentials for the Cosmos DB Mongo API so that you can test it for yourself as well, if it helps in your understanding.

[2022-05-05 08:02] fgalan commented on #3797
Sure? As far as I read in https://stackoverflow.com/questions/72053276/connecting-fiware-orion-with-azure-cosmos-db you finally solved the problem...

[2022-05-05 08:39] anupamme commented on #3797
Yes, I did. I wrote this comment before I read your message at SOF.

[2022-05-05 16:56] fgalan opened #4113 "Alarm for notification queue overpassing a given threshold"
**Is your feature request related to a problem / use case? Please describe.**

Orion is able to log in the case of notification queue is full (in threadpool notification model), either for the general queue:

[code]

or for per-service queues, if that functionality is in use:

[code]

Thus, operation teams know about the queue is getting saturated when is already to late and notifications are bein

[2022-05-09 09:23] fgalan opened #4114 "GeoJSON Feature support"
**Is your feature request related to a problem / use case? Please describe.**

Orion doesn't support valid GeoJSON as this one (can be checked [here](https://geojsonlint.com/):

[code]

given that is a `Feature` and MongoDB [doesn't support that type](https://www.mongodb.com/docs/manual/reference/geojson/) and a 500 Internal Error response results in that case.

**Describe the solution you'd like*

[2022-05-09 10:15] fgalan commented on #4110
SOF was created at the end at https://stackoverflow.com/questions/72167782/performance-query/72168074#72168074 and it has been answered there.

Thus, I understand this issue can be closed.

[2022-05-09 10:15] #4110 closed

[2022-05-09 10:38] fgalan opened #4115 "GeoJSON support in geo queries"
**Is your feature request related to a problem / use case? Please describe.**

NGSIv2 supportS geo-queries based in the following

* `georel` (disjoint, etc.)
* `geometry` (point, line, etc.)
* `coordinates` (coordinates of the geometry)

However, it doesn't allow to query by GeoJSON

**Describe the solution you'd like**

It would be great to use GeoJSON directly in the geo query. It would be equi

[2022-05-09 12:27] fgalan commented on #4114
FeaturesCollection type should be also supported:

* If only has one element, takes the `geometry` of such first element
* If has more than one element, return error

[2022-05-11 16:22] tzzed opened #4119 "add health route api"
**Is your feature request related to a problem / use case? Please describe.**
It will be great to add a `/health` route api for orion broker.

**Describe the solution you'd like**
Get the status of the broker can be very usefull.

**Describe alternatives you've considered**
Instead of health route I use the `/version` to know it orion broker is started.

**Describe why you need this feature**
A si

[2022-05-12 07:35] danielvillalbamota opened #4120 "Fail when null is in a list of values in a query by attribute values"
**Bug description**
A clear and concise description of what the bug is. Please do not forget to add:

Having entities where for some of them have a specific attr, e.g. municipality with value `null`, a query by a list of values of this attributes gets an error.

**How to reproduce it**
Steps to reproduce the behavior (as an example)

1. Create an entity this way:
[code]

2. When make the following

[2022-05-12 08:43] fgalan opened #4121 "Include offending id in "Invalid characters in entity id" logs"
Currently we have traces likes this one:

[code]

It would be great to include information about the offending id, eg:

[code]

Only for logs. In the responses we will not modify current behaviour. It's not a good idea to pass-through request strings to responses in order to avoid injection attacks.

If similar cases are spotted while working on this issue, improve them also.

[2022-05-12 09:43] fgalan opened #4122 "Attribute value update (PUT ../value) breaks geo location field"
Creating entity this way:

[code]

In the DB we have:

[code]

The `location` field is fine. So far, so good.

However, if we update attribute value:

[code]

Now in the DB the `location` field is lost:

[code]

This maybe is due Orion process the update without taking into account the existing geo:json type.

[2022-05-12 09:47] fgalan commented on #4122
Similar to https://github.com/telefonicaid/fiware-orion/issues/3750. Although in that issue the semantics are clear so in my opinion is not an actual bug (in other words, if you want special types don't use keyValue :) while in this case I think is an issue and Orion should take into account the attribute has geo:json type.

[2022-05-12 11:27] fgalan commented on #4119
It is an interesting idea!

Just to know what you have in mind... which information do you would include in the health response? Could you even draft an example JSON on how it would look like?

Thanks for the feedback!

[2022-05-12 11:27] fgalan commented on #4119
As minor side note:

Note that the use case you describe:

Can be solved with `/version` operations, that not only check that Orion is started but also how long it has been (in the `uptime`) field ;)

[2022-05-12 11:31] fgalan commented on #4114
PR https://github.com/telefonicaid/fiware-orion/pull/4116

[2022-05-12 11:31] #4114 closed

[2022-05-12 13:28] tzzed commented on #4119
It depends. But we can include some informations that are in `docker inspect`.
something like this can be a motivation.
[code]

[2022-05-13 08:11] fgalan commented on #4122
Some steps in test/functionalTest/cases/4114_geojson_feature_support/geojson_feature_errors.test has to be enabled if this issue is fixed.

[2022-05-17 10:32] fgalan commented on #4120
Looking in StringFilter.h:

[code]

So it seems our internal data structures are not though for mixing different types (string and null in this case) but let me think if I can come with some creative solution for this :)

[2022-05-17 11:07] fgalan commented on #4120
We will use a new bool flag named `nullInList` to mark the existence of  `null` within a list. Not a very smart solution, but it'll work.

[2022-05-17 15:18] fgalan commented on #4120
PR https://github.com/telefonicaid/fiware-orion/pull/4123

[2022-05-18 07:39] danielvillalbamota commented on #4120
It seems when `null` is in the list of values, the CB retrieve entities without the filtered attribute (`municipality`), but what is expected are the entities with explicit `null` in the value as when just one value `null` is used (not a list).

[2022-05-18 09:53] fgalan opened #4125 "fullGeoJson flag for Feature and FeatureCollection attributes"
After some internal discussion, we have decided that the processing of Feature and FeatureCollection geo:json attributes (issue #4114) will involve a normalization in GET/notification stage. That is, CB will accept the Feature and FeatureCollection format in attribute creating/update but in attribute GET/notification only the geometry will be returned.

This involves a lost of information in the a

[2022-05-18 09:56] fgalan commented on #4125
The following .test files (pay attention at commit hash) can be useful when implementing that:

https://github.com/telefonicaid/fiware-orion/tree/3cc7ff753c0b24a953e79b22ff57032b960f579e/test/functionalTest/cases/4114_geojson_feature_support

(The correspond to a version of the code when we think that the "full GeoJSON mode" were what we need)

[2022-05-18 12:29] fgalan commented on #4114
Extra PR https://github.com/telefonicaid/fiware-orion/pull/4126, changing the retrieval logic, based in internal discussions.

[2022-05-18 12:33] fgalan commented on #4125
Implementation notes:

In ContextAttribute::toJson() this is the key part:

[code]

The new flag has to be taken into account in `if (type == GEO_JSON)` so getGeometry() doesn't get invoked if full GeoJSON is requested.

[2022-05-18 15:28] danielvillalbamota commented on #4120
It works

[2022-05-18 15:28] #4120 closed

[2022-05-19 08:15] fgalan commented on #4114
Extra PR #4129 to support ignoreType in the new geo:json types

[2022-05-19 09:35] fgalan commented on #4121
PR #4130

[2022-05-20 11:10] fgalan commented on #4098
curl using that expression:

curl --location --request POST 'http://host:1026/v2/subscriptions' \
--header 'Fiware-Service: jcyl' \
--header 'Fiware-ServicePath: /servicepath' \
--header 'X-Auth-Token: ...' \
--header 'Content-Type: application/json' \
--data-raw '{
  "description": "A subscription to get info about myEntity",
  "subject": {
    "entities": [
      {
        "idPattern": "^(([^\nW

[2022-05-23 12:03] #4098 closed

[2022-05-23 13:23] Anjali-NEC opened #4134 "Pagination support in request forwarding"
Hi @fgalan sir,

As per my understanding pagination is not supported in case of request forwarding.
Please confirm my understanding.

[2022-05-25 11:17] fgalan commented on #4114
Extra PR https://github.com/telefonicaid/fiware-orion/pull/4139 fixing some ignoreType support gaps

[2022-05-27 06:10] anupamme commented on #3797
Hello @fgalan

We would like to add to the documentation on how to integrate Cosmos DB with Fiware Orion. So that anyone (who wants to use Cosmos DB) can read the documentation rather than follow along this issue or the SOF issue.

So which places at the repository would be the correct place for making these changes?

One place I found is this: https://github.com/telefonicaid/fiware-orion/blob/mas

[2022-05-27 09:36] mapedraza commented on #3797
Good idea @anupamme

The best path to place the document is onto [`doc/manuals/admin/extra`](https://github.com/telefonicaid/fiware-orion/tree/master/doc/manuals/admin/extra) folder.

[2022-06-03 07:51] anupamme opened #4148 "Replacing the operator $where with aggregation pipeline"
**Is your feature request related to a problem / use case? Please describe.**
I'm part of Azure Cosmos DB team and we are working to make our Mongo API work with Fiware-Orion without any issues. One of these issues is: the use of Mongo DB operator $where [1] in the codebase [2]. Since $where has been deprecated by Mongo DB and would not be supported in future releases (it is presently supported th

[2022-06-03 08:17] fgalan commented on #4148
Thank you very much for your feedback! We started to use $where operation in a far away past (when MongoDB 2.4/2.6 was the newest MongoDB version :) and it was not possible to solve the problem with the aggregation pipeline stages at that moment. Now that proper aggregation stages exists for that, so I think is a good idea what you propose.

Please, go ahead with the pull request fixing this. I ca

[2022-06-07 13:41] Anjali-NEC opened #4149 "Request to implement pagination for request forwarding."
We know that the community has the following deprecated and to be discontinued the opinion regarding request forwarding (and pagination at the time of request forwarding) using the registrations/context providers functionality.
https://github.com/telefonicaid/fiware-orion/issues/3108#issuecomment-1027672998
![2501](https://user-images.githubusercontent.com/52558146/172393421-13e3d53e-0ff1-4334-ae2

[2022-06-09 14:16] mapedraza commented on #4149
After some internal discussion of the Orion development team, we arrive that there it makes no sense to implements those features inside the Broker. Context registrations codebase present in Orion would need a lot of work to solve all the pending issues and to have this functionalities. Not only pagination, filtering is also a known problem
Instead, we thought that the best way to implement the fu

[2022-06-20 04:34] anupamme commented on #4148
Here are some of the links which mention that $where is either deprecated, not usable or poses security threat:

1. "Starting in MongoDB 4.4, [$where](https://www.mongodb.com/docs/manual/reference/operator/query/where/#mongodb-query-op.-where) no longer supports the deprecated BSON type JavaScript code with scope ([BSON type 15](https://www.mongodb.com/docs/manual/reference/bson-types/)). The [$wh

[2022-06-20 05:30] anupamme commented on #4148
Here are the list of points which either mention that $where has a deprecated feature, or not supported or a security threat:

1. Starting in MongoDB 4.4, [$where](https://www.mongodb.com/docs/manual/reference/operator/query/where/#mongodb-query-op.-where) no longer supports the deprecated BSON type JavaScript code with scope ([BSON type 15](https://www.mongodb.com/docs/manual/reference/bson-types

[2022-06-22 15:27] danielvillalbamota commented on #2560
This should consider the possibility of "null" values which should not include double quotes. As @fgalan says following the approach of casting in Perseo:

```When using NGSI-v2 in the update actions, the value field perform [string substitution](https://github.com/telefonicaid/perseo-fe/blob/master/docs/API/plain_rules.md#string-substitution-syntax). If value is a String, Perseo will try cast val