[2018-05-18 09:11] #1459 closed

[2018-05-21 13:57] jmcanterafonseca opened #3176 "Entity with no attributes is no longer listed"
Test Case failing attached.

MongoDB associated document corresponding to the entity is created under the entities collection. Test case attached.

[no_attributes.txt](https://github.com/telefonicaid/fiware-orion/files/2022779/no_attributes.txt)

[2018-05-21 15:41] kzangeli commented on #3176
Just tested in in master. Works just fine ...
@jmcanterafonseca, any clue?

[2018-05-21 16:30] jmcanterafonseca commented on #3176
updating the test case, now much more accurate

[no_attributes_registration.txt](https://github.com/telefonicaid/fiware-orion/files/2023320/no_attributes_registration.txt)

[2018-05-21 16:46] jmcanterafonseca commented on #3176
final version of the test
[entity_without_attributes_not_listed_vfinal.test.txt](https://github.com/telefonicaid/fiware-orion/files/2023378/entity_without_attributes_not_listed_vfinal.test.txt)

[2018-05-22 07:27] preetha2711 commented on #3127
I can't install Orion at all since I am using Homebrew instead of yum and it does not recognise the package name for the context broker.

[2018-05-22 07:44] kzangeli commented on #3127
Homebrew ... that sounds like Mac to me ...
The broker doesn't work on Mac.

[2018-05-22 08:54] fgalan commented on #2874
Fixed (code) in PR https://github.com/telefonicaid/fiware-orion/pull/3177

[2018-05-22 08:58] preetha2711 commented on #3127
Why though, that seems strange to me. I am new to the Fiware platform, might not know the ropes yet.

[2018-05-22 09:02] fgalan commented on #3176
(Hint:  maybe http://gist.github.com/ is a better alternative than .txt for these fragments)

[2018-05-22 09:06] fgalan commented on #3127
Development resources are limited so from the very begining they have been focused in one OS (which happens to be GNU/Linux) and, within that OS, CentOS/RHEL 7 distribution (although Orion works in other distros, e.g. personally I use it with Debian).

Of course, we would be more than happy to extend Orion to any other operating system. It is written in C++, so it should be (I guess) relatively po

[2018-05-22 14:35] caa06d9c commented on #3127
@preetha2711, as i mention in message from Fiware Jira (i hope you received it), you should try the docker version, please look here: https://hub.docker.com/r/fiware/orion/

[2018-05-23 12:12] fgalan opened #3179 "Avoid creating orion database in -multiservice mode"
No existing Orion databases at starting point:

[code]

Then, start Orion in multiservice mode:

[code]

After that, `orion` database has been created:

[code]

It seems this is due to the boostraping logic, which doesn't take multiservice into account and crate the geo-index in `orion`. However, this database is not used in `-multiservice` mode and, for the sake of cleaness, this should be avoide

[2018-05-25 14:24] fgalan opened #3182 "dateModified/dateCreated not included in initial notifications"
Not a very important bug (as initial notifications are not very important)... but a bug after all :)

This is the .test script that raises the problem:

[code]

The output of the .test in something like this:

[code]

[2018-05-28 05:03] preetha2711 opened #3183 "Installation issue using RHEL 7.2 and YUM"
Hi I am unable to install the Orion Context Broker. I am using RHEL 7.2 and am following the instructions in this manual : https://fiware-orion.readthedocs.io/en/master/admin/yum/index.html

However, after successfully downloading it from the Fiware repository, RHEL shows me "No package contextBroker available. Error: Nothing to do"

[2018-05-28 08:17] fgalan commented on #3183
Thanks for the report! @Dmitrii, could you have a look?

[2018-05-28 09:37] caa06d9c commented on #3183
PR with fix provided: https://github.com/telefonicaid/fiware-orion/pull/3184
@preetha2711, thanks for the repo.

[2018-05-28 10:59] fgalan commented on #3183
Fixed by PR https://github.com/telefonicaid/fiware-orion/pull/3184

[2018-05-28 10:59] #3183 closed

[2018-05-28 11:34] fgalan commented on #2986
Documentation in NGSIv2 spec done in PR https://github.com/telefonicaid/fiware-orion/pull/3185

[2018-05-28 12:12] fgalan opened #3187 "Compare attribute with previous value in subscriptions filters"
Currently we can set a subscription filter like this one:

[code]

It would be great to allow use the previous value in the filter. Eg: "notificy if the value increases":

[code]

The details on how to represent previous value in the filter (either `${previousValue}` or other) will be part of the work on this issue.

Note that currently we have a system/builting metadata for `previousValue` which

[2018-05-28 12:13] fgalan opened #3188 "NGSIv2 JSON Schema"
It would be great to have a JSON Schema for NGSIv2 requests/responses payloads. Maybe it could be even someone out there, provided by the community.

[2018-05-28 12:16] fgalan opened #3189 ""One shot" subscription"
It would be great to have some "one shot" subscription mechanism. For instance, the subscription is created with status "oneshot":

[code]

Once a notification is trigger, the subscription transitions to `"status": "inactive"`. Once in this status, the user may update it with `"oneshot"` (to repeat the same behaviour).

[2018-05-28 13:38] fgalan opened #3190 "Notify only attributes that change"
We can define the list of attributes to include in the notification using the notification.attrs field or use `[ ]` to mean "any attribute". We can also use notification.exceptAttr to do it in the oposite way: notifica all except a subset of attributes.

It would be great to have a way to notify not the full set specified by notification.attrs or notification.exceptAttrs but only the one that has

[2018-05-30 16:23] fgalan commented on #3001
Step 1 done in PR https://github.com/telefonicaid/fiware-orion/pull/3194

[2018-05-31 10:13] McMutton commented on #3035
Hi @fgalan, sorry for the delay, I have just sent the PR for this.

[2018-05-31 18:38] fgalan commented on #2721
Implemented by PR https://github.com/telefonicaid/fiware-orion/pull/3197

[2018-05-31 18:38] #2721 closed

[2018-06-03 06:18] jason-fox commented on #3038
@fgalan - The [Developer Guidelines](https://forge.fiware.org/plugins/mediawiki/wiki/fiware/index.php/Developer_Guidelines) you quoted continue:

I  therefore assume that the official **Open API specification** is now the auto-generated one at:

* https://github.com/Fiware/specifications

If this is the correct, does this mean that this issue now obsolete?

[2018-06-04 11:58] fgalan commented on #2874
No, don't worry. I'll deal with modifications on MB-03 and MB-05. You can skip to the  next item to contribute, if you want to continue ;)

[2018-06-04 14:03] fgalan opened #3199 "Are present() methods dead code and should be removed?"
Raised at https://github.com/telefonicaid/fiware-orion/pull/3197#discussion_r192198098

Thus, we should check if present() methods are actually used (i.e. are they invoked from some point in the parsing logic or any other inner layer?). In negative case, they are "dead code" and should be removed, along with other related stuff (e.g. `LmtPresent` tracelevel).

[2018-06-04 15:55] kzangeli commented on #3199
They might be called, but even though, let's remove all calls and all methods.
It's easy. Remove all of them and compile. If the compilation fails, remove the calls.
It's so easy I could even do it myself :)

[2018-06-05 07:30] fgalan commented on #3199
If I remember correctly, present*() methods were used to debug request/response payload in log traces. But if we are getting traces with the same information using another mechanism (probably another tracelevel lo log requests/responses?), then they can be deleted. But I'd suggest to check that other mechanism, just to be sure we are not "decapitalizing" the code.

Regarding who should do the chan

[2018-06-05 08:02] kzangeli commented on #3199
The thing is, the only one who was using those 'present()` methods is
myself, and I no longer use them.
Let's remove this old debugging help, it is no longer used, nor is it
needed.
I should have removed them years ago ...

And yes, a good issue for orion beginners.
Edit a little, and learn how to compile and test.

On Tue, Jun 5, 2018 at 9:30 AM, Fermín Galán Márquez <
notifications@github.com> w

[2018-06-06 06:05] SourabhChourasiya-NEC commented on #3199
Hi @fgalan Sir and @kzangeli  Sir

I can work on this issue, and update you in some time. Just for information, I'd like to confirm that does this removal of all the "*present*()" methods calls, have impact on all the present FT test suite?

If you want to add something more in it, please guide me for that.

Thank you

[2018-06-06 08:37] kzangeli commented on #3199
No functests use the output from the present methods, afaik.
It would surprise me a lot if you found a case of "present dependency"

[2018-06-06 09:11] fgalan commented on #3199
I agree with @kzangeli

However, maybe there are some unit test covering present() methods. In that case, the solution is just removing these test cases.

[2018-06-07 16:35] fgalan opened #3201 "Use nc instead of GET /version in valgrind-broker-start"
Raised at https://github.com/apinf/fiware-orion/pull/30#discussion_r193110610:

.test should be adjusted, removing all the "orionCurl --url /version" that were added (in that PR and others before)  just to make statistics work also when under valgrind.

[2018-06-07 16:50] fgalan commented on #3201
The touched tests should be checked for thinks like this:

[code]

removing the REGEX() in Content-Length and make it more deterministic

[2018-06-07 16:51] fgalan commented on #3201
... along with other REGEX() in the "orionCurl --url /admin/metrics" steps.

[2018-06-08 06:31] SourabhChourasiya-NEC commented on #3199
fixed in #3202

[2018-06-08 07:37] #3035 closed

[2018-06-08 12:41] fgalan commented on #2874
MB-03 and MB-05 fixed in PR https://github.com/telefonicaid/fiware-orion/pull/3203

[2018-06-08 12:41] #2874 closed

[2018-06-09 11:01] kzangeli opened #3205 "No parameters nor return values as objects"
In many many places we return objects on the stack, especially std::string.

This is slowing the broker down and pointers should be used instead, just like our style guide
and pretty much all style guides recommend.

About sending parameters as objects I believe we have removed pretty much all of them

[2018-06-09 11:14] kzangeli opened #3206 "More 'present' functions"
In total we have 18 **present functions** for V1 json parse, all called `jsonXxxxPresent`, e.g.:
`src/lib/jsonParse/jsonUpdateContextResponse.cpp:void jsonUpcrsPresent(ParseData* reqDataP)`

 In `src/lib/subCache` we also find present functions:

* `subCacheEntryPresent`
* `subCachePresent`

If no longer used, we should remove all of them

[2018-06-11 11:14] fgalan commented on #2871
Info to debug: capture of the CB->IOTA forwarding:

[code]

[code]

[2018-06-11 11:44] fgalan commented on #2871
nc server used to try to reproduce the problem (no luck yet):

[code]

[2018-06-12 07:04] SourabhChourasiya-NEC commented on #3206
fixed in #3202

[2018-06-12 07:14] #3206 closed

[2018-06-12 07:14] #3199 closed

[2018-06-12 08:45] fgalan commented on #2603
Looking into this, it seems it is that the current rendering strategy is able to print integeres correctly. For instance, if we hack this way:

[code]

and we have at MongoDB:

[code]

then we get in the API the number correctly:

[code]

I think the root of this problem is that we use `double numberValue` in ContextAttribute class and we lost in the cast when the original number (in DB) is inteng

[2018-06-12 08:51] fgalan commented on #2603
Related with this, I have found something a bit surprising. In our NGSIv2 parsing logic (parseContextAttribute.cpp) we have:

[code]

So a casting is also done here (internally, by the GetDouble() function)... with the diference that in this place it works and ends with a true integer in the DB. Looking into the details of GetDouble:

[code]

Maybe the key is that the `data_.n` object has all the

[2018-06-12 08:57] fgalan opened #3209 "Valgrind job glitches?"
Jun 12th, 2018:

[code]

[2018-06-12 11:01] fgalan commented on #2871
This is the line which is generating the error:

[code]

within the updateContextAttributeItem() function.

[2018-06-12 13:24] fgalan commented on #3209
Another one in June 12, 2018:

[code]

[2018-06-12 16:10] fgalan commented on #3162
Description of the current behaviour included in documentation in PR https://github.com/telefonicaid/fiware-orion/pull/3210

[2018-06-12 16:10] fgalan commented on #3162
Once this issue gets fixed and before closing it, remember to remove the following paragraph in doc/manuals/user/context_providers.md:

[2018-06-12 16:57] fgalan commented on #2871
At the end it seems I have been able to reproduce it :)

Starting with an empty database orion-serv at MongoDB, insert the following entity and the following registration:

[code]

[code]

Then run the netcat-based dummy provider using the following:

[code]

Then start CB using:

[code]

The send the following request to Orion:

[code]

You will see the forwarded updated with "lalala" text in the

[2018-06-13 07:22] fgalan commented on #3209
June 13rd, 2018:

[code]

[2018-06-13 07:22] fgalan commented on #3209
June 13th, 2018:

[code]

[2018-06-13 08:05] fgalan commented on #2662
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:05] #2662 closed

[2018-06-13 08:05] fgalan commented on #2444
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:05] #2444 closed

[2018-06-13 08:06] fgalan commented on #2388
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:06] #2388 closed

[2018-06-13 08:07] fgalan commented on #2230
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:07] #2230 closed

[2018-06-13 08:08] fgalan commented on #2210
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:08] #2210 closed

[2018-06-13 08:08] fgalan commented on #2110
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:08] #2110 closed

[2018-06-13 08:09] fgalan commented on #1958
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:09] #1958 closed

[2018-06-13 08:09] fgalan commented on #1655
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:09] #1655 closed

[2018-06-13 08:10] fgalan commented on #1632
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:10] #1632 closed

[2018-06-13 08:10] fgalan commented on #1618
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:10] #1618 closed

[2018-06-13 08:10] fgalan commented on #1604
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:10] #1604 closed

[2018-06-13 08:10] fgalan commented on #1121
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:10] #1121 closed

[2018-06-13 08:11] fgalan commented on #1120
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:11] #1120 closed

[2018-06-13 08:11] fgalan commented on #1119
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:11] #1119 closed

[2018-06-13 08:11] fgalan commented on #1118
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:11] #1118 closed

[2018-06-13 08:11] fgalan commented on #1052
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:11] #1052 closed

[2018-06-13 08:11] fgalan commented on #1035
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:11] #1035 closed

[2018-06-13 08:12] fgalan commented on #1034
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:12] #1034 closed

[2018-06-13 08:12] fgalan commented on #1022
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:12] #1022 closed

[2018-06-13 08:12] fgalan commented on #1002
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:12] #1002 closed

[2018-06-13 08:12] fgalan commented on #1001
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:12] #1001 closed

[2018-06-13 08:13] fgalan commented on #768
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:13] #768 closed

[2018-06-13 08:13] fgalan commented on #692
This issue has been considered not essential to be included in final version of NGSIv2, so it will be closed.

CC: @jmcanterafonseca

[2018-06-13 08:13] #692 closed

[2018-06-13 14:42] fgalan commented on #2871
Fixed in PR https://github.com/telefonicaid/fiware-orion/pull/3211

Note the test included there is not including updating the command through PUT to attribute value. This seems to have also some problem, but related with not founded entity more than not founded attribute. It would analyzed and (if confirmed) and issue will be created.

[2018-06-13 14:42] #2871 closed

[2018-06-13 18:53] kzangeli commented on #3201
When the *version request* is removed from 'valgrind startup', all affected tests will fail under valgrind, so it will be easy to find them.

[2018-06-14 06:04] kzangeli commented on #3209
June 14th (in my local machine):
[code]

[2018-06-14 10:55] fgalan commented on #3209
June 14th, 2018:

[code]

[2018-06-14 15:04] fgalan commented on #2663
This issue is not especifically related with NGISv2, so APIv2 label is removed. The issue keeps opened.

CC: @jmcanterafonseca

[2018-06-14 15:04] fgalan commented on #2473
This issue is not especifically related with NGISv2, so APIv2 label is removed. The issue keeps opened.

CC: @jmcanterafonseca

[2018-06-14 15:05] fgalan commented on #2231
This issue is not especifically related with NGISv2, so APIv2 label is removed. The issue keeps opened.

CC: @jmcanterafonseca

[2018-06-14 15:06] fgalan commented on #2141
This issue is not especifically related with NGISv2, so APIv2 label is removed. The issue keeps opened.

CC: @jmcanterafonseca

[2018-06-14 15:07] fgalan commented on #1053
This issue is not especifically related with NGISv2, so APIv2 label is removed. The issue keeps opened.

CC: @jmcanterafonseca

[2018-06-14 15:07] fgalan commented on #974
This issue is not especifically related with NGISv2, so APIv2 label is removed. The issue keeps opened.

CC: @jmcanterafonseca

[2018-06-14 15:07] fgalan commented on #973
This issue is not especifically related with NGISv2, so APIv2 label is removed. The issue keeps opened.

CC: @jmcanterafonseca

[2018-06-14 15:08] fgalan commented on #598
This issue is not especifically related with NGISv2, so APIv2 label is removed. The issue keeps opened.

CC: @jmcanterafonseca

[2018-06-14 15:22] fgalan commented on #3209
Another one in June 14th, 2018:

[code]

[2018-06-15 14:34] fgalan opened #3215 "Upsert operation"
An upsert variant of the entity creation operation should be included using `?options=upsert`. For instance:

[code]

will create the entity *or* update it if already exists.

Note that currently the same can be done using:

[code]

However it involves more syntactical complexity (i.e. `actionType` and `entities` elements) as that operation is designed to a bulk update on entity (and a bulk of 1 i

[2018-06-15 14:55] fgalan commented on #3215
Implemented by PR https://github.com/telefonicaid/fiware-orion/pull/3217

[2018-06-15 14:55] #3215 closed

[2018-06-18 10:19] fgalan opened #3218 "Avoid bool& usage in mongoBackend"
(I have spotted this while I reviewed PR #3173)

We have serveral occurrences (seven) of `bool&` in function parameters in mongoBackend library. This goes againts code style and there usages should either `bool` (for read-only parameters) or `bool*` (for parameters used as output).

This has to be reviewed and solved.

[2018-06-19 05:45] SourabhChourasiya-NEC commented on #3218
Hi @fgalan Sir,
I can work on this issue, and update you in some time.
Thanks

[2018-06-19 07:16] fgalan commented on #3218
@SourabhChourasiya-NEC great! Thanks!

[2018-06-19 09:39] fgalan commented on #3000
Documentation regarding this feature in PR https://github.com/telefonicaid/fiware-orion/pull/3220

[2018-06-19 12:15] fgalan commented on #3098
Looking to current spec I see thinks like this:

![imagen](https://user-images.githubusercontent.com/1534240/41596483-cacc2138-73ca-11e8-9013-da999ba87d1b.png)

So I understand the issue is covered. Closing.

Maybe some operation is missing but in that case, we would manage it as "documentation bug", to be fixed as we spot the potential omission.

[2018-06-19 12:15] #3098 closed

[2018-06-20 07:18] fgalan commented on #2871
.test adjusted (adding a missing case) in PR https://github.com/telefonicaid/fiware-orion/pull/3221

[2018-06-21 05:50] SourabhChourasiya-NEC commented on #3218
fixed in #3222

[2018-06-21 09:09] fgalan commented on #3000
Implementation in PR #3173

[2018-06-21 09:14] #3218 closed

[2018-06-21 09:46] fgalan commented on #2706
Implemented in PR https://github.com/telefonicaid/fiware-orion/pull/3223

[2018-06-21 09:46] #2706 closed

[2018-06-21 09:46] fgalan commented on #2604
Implemented in PR https://github.com/telefonicaid/fiware-orion/pull/3223

[2018-06-21 09:46] #2604 closed

[2018-06-21 11:43] jmcanterafonseca commented on #3188
https://swagger.lab.fiware.org/?url=https://raw.githubusercontent.com/Fiware/specifications/master/OpenAPI/ngsiv2/ngsiv2-openapi.json

[2018-06-21 11:51] fgalan commented on #3188
That's is a "Swagger schema" or a JSON Schema? (seems to be the former...)

[2018-06-21 14:14] fgalan commented on #2535
+1

Used at the end in PR #3225, which closes the issue.

[2018-06-21 14:14] #2535 closed

[2018-06-21 14:20] fgalan commented on #2454
Currently in https://fiware.github.io/specifications/ngsiv2/latest/ se have:

![imagen](https://user-images.githubusercontent.com/1534240/41724823-b5d00d58-756e-11e8-8894-0b3b510be9cb.png)

Which I understand covers this issue. @jmcanterafonseca what do you think? Could it be closes or you miss something?

[2018-06-21 15:02] fgalan commented on #1286
The description in the issue body has been adapted and include in NGSIv2 specification in PR https://github.com/telefonicaid/fiware-orion/pull/3226

[2018-06-21 15:02] #1286 closed

[2018-06-21 15:04] fgalan commented on #2316
"Error Response" section has been re-written in PR https://github.com/telefonicaid/fiware-orion/pull/3226, providing more detail. At the end, it seems to be simlper to include the detail in a general section instead that operation by operation.

CC: @jmcanterafonseca

[2018-06-21 15:04] #2316 closed

[2018-06-21 15:12] fgalan commented on #2181
I'd suggest to keep the NGSIv2 spec as it is now, given the complexity in solving this issue and the potential homogeneity break in responses it may bring. Thus, I'd suggest to close this issue

@jmcanterafonseca do you agree?

[2018-06-25 07:21] jmcanterafonseca commented on #2454
we can close

[2018-06-25 08:04] #2454 closed

[2018-06-25 08:28] tmontanaro opened #3228 "Orion on Ubuntu 18.04"
Hello, I'm again here.
After installing Orion on Ubuntu 14.04 (through the instructions I reported here [Stackoverflow post](https://stackoverflow.com/questions/28463012/fiware-orion-context-broker-on-ubuntu/47791029#47791029)
Now I'm trying to install it on Ubuntu 18.04!
As expected it is becoming, again, a nightmare.
The problems born from the dependency on mongo-cxx-driver.

I tried with 2 diff

[2018-06-25 16:17] fgalan commented on #3228
At the present moment Orion depends on legacy-1.1.2 (see https://fiware-orion.readthedocs.io/en/master/admin/build_source/index.html). It may happen that trying to build it in modern OS fails. In that case, note that the official distribution for Orion is, by the time being, CentOS/RHEL 7.

At the present moment Orion is not going to work with driver version 3.3.3. There is an issue about driver m

[2018-06-25 16:18] fgalan commented on #3228
(I'd suggest to close this issue, as it is already covered by #3132, from my point of view)

[2018-06-27 17:08] fgalan commented on #2603
Quick fix in PR https://github.com/telefonicaid/fiware-orion/pull/3229.

[2018-06-28 07:29] fgalan commented on #3000
Additional .test in PR https://github.com/telefonicaid/fiware-orion/pull/3230

[2018-06-28 08:34] fgalan commented on #2986
PR https://github.com/telefonicaid/fiware-orion/pull/3232 covers documentation mentionced above:

* modification in user manual (I think there is a federation.md document or similar name that needs to be adjusted)

In addition, it adds an implemetnation note about lack of keyValues support.

With regards to:

* modifications in devel manual ("duplicate" what is already done for NGSIv1 notifs)

I t

[2018-06-28 09:20] fgalan commented on #1298
With regards to payload rendering two actions needs to be done.

A first action is related with _unification and simplification_. Due to the organic evolution of the code during years, we have ended with several ways of rendering payloads. We should have ONLY ONE pattern along all code. Having only one pattern will be a big gain in simplification and homogeneity and will allow to focus optimizatio

[2018-06-28 09:20] fgalan commented on #1298
Note that both actions are independent. I mean, the work can start extending the JsonHelper.h usage to all renders which are not currently using it. Or, on the contrary, the JsonHelper.cpp implementation can be optimized based on testing the payloads that currently are using it (registrations, for instance).

[2018-06-28 09:21] fgalan commented on #1298
With regards to unification and simplification action, NGSIv1 renders may be left apart and stay as they are now. NGSIv1 is semi-deprecated code, so effort invested on it is semi-wasted.

[2018-06-29 07:59] arigliano commented on #3167
Hello, I would like to work on this issue. Can you assign it to me?

[2018-06-29 08:00] arigliano commented on #1142
Hello, I would like to work on this issue. Can you assign it to me? (due to possible relationship with #3167 )

[2018-06-29 08:11] fgalan commented on #1142
Done. Thanks!

[2018-06-29 08:12] fgalan commented on #3167
Done. Thanks!

[2018-07-02 15:54] mathi123 opened #3234 "length of dbName is max 10"
Why is there a such a short maximum length for the used database?
I'm considering a pull request to make it larger, but I would like to know the reason for this.

[2018-07-02 16:20] fgalan commented on #3234
Would you mind to use [StackOverflow](https://www.stackoverflow.com) to ask this question, please? Use the "fiware-orion" label.

Once you publish the question there, please add the link as comment in this issue, then close the issue. Thanks!

[2018-07-02 16:22] mathi123 commented on #3234
[Link](https://stackoverflow.com/questions/51140211/length-of-dbname-is-max-10)

[2018-07-02 16:22] #3234 closed

[2018-07-02 16:56] mathi123 opened #3235 "extract tenant seperator as startup parameter"
**Current behaviour**

In a multi tenant setup, the database name is formed as _dbName_-_tenant_

This requires the database name to contain a dash, which might break company policy.

**Proposal**

New startup flag:

_-tenantSeperator_ : seperator used to form the mongo database name from the Fiware-Service header. The max length for this argument is 1. (e.g. '-' or '_')

[2018-07-02 17:00] fgalan commented on #3235
In order to understand the use case behind this proposal of change... could you elaborate on this or provide some examples in which haing a dash could be a problem, please? Thanks!

[2018-07-02 17:42] mathi123 commented on #3235
Currently, all company databases use underscores. We will have to break our (internal) standard for database naming, in order to use Orion.

I realize thats not a big problem, but it is a bit strange that you can not fully customize your database name, no?

[2018-07-02 18:38] fgalan commented on #3235
Just to comment that the "ambiguety" previously mentioned is from the point of view of the DBA or DB operator. I mean, from a Orion point of view, there is no ambiguety as Orion knows the `-db` prefix so it is able to know how to solve it (at least in theory... code should be checked in order to see if my guessing is correct).

[2018-07-03 05:33] mathi123 commented on #3235
I think a DBA generally doesn't care as much about that ambiguity,  he cares that:

- Orion doesn't automatically make databases, he sets them up for us
- All databases follow the same naming protocol

Although I find the current setup a bit constraining (I would just drop the constraints for -db and seperator, and leave it to the user to configure that (possibly with errors and/or ambiguity)), I

[2018-07-03 05:33] #3235 closed

[2018-07-03 11:37] fgalan commented on #3190
The following question in SOF should be edited once this issue gets implemented:

https://stackoverflow.com/questions/51144046/can-i-create-a-subscription-that-notifies-only-those-context-attributes-that-has/51153650#51153650

[2018-07-03 16:00] fgalan commented on #3190
Thanks for the feedback @efviodo !

Depending on your interest in the feature and your development skills (Orion is written in C/C++)it would be possible to include your contribution to implement this feature as pull request. In this case, please tell me and I'll add some implementation hints to this issue to provide some guidance.

[2018-07-03 16:30] jmcanterafonseca commented on #3190
definitely something to be included on the ETSI Standard

[2018-07-03 16:32] fgalan opened #3236 "Cache-control: no-store & Pragma: no-cache"
Unless directed otherwise, browsers may store a local cached copy of content received from web servers. Some browsers, including Internet Explorer, cache content accessed via HTTPS. If sensitive information in application responses is stored in the local cache, then this may be retrieved by other users who have access to the same computer at a future time.

In this case, the sensitive information

[2018-07-03 16:34] fgalan commented on #3236
In the case of Orion, that would be the response to any GET request.

In order not breaking backward compatibility, such feature would be implemented based in a CLI, for instance: `-avoidBrowserCache`.

[2018-07-04 12:45] mathi123 commented on #2962
+1 same error here.

[2018-07-04 18:47] efviodo commented on #3190
I accept the challenge @fgalan. Drop me some lines with implementation hints and I'll see if I can handle it.

[2018-07-05 14:09] taliaga opened #3237 "Create subscription should return the id (NGSIv2)"
It would be very useful if, in response of a subscription creation with `v2`, Orion returned at least the id of the created subscription. This simplifies tracking of such subscription by the client.

For example, NGSIv1 returns
[code]
However, NGSIv2 returns an empty body.

Tested with orion version...
[code]

[2018-07-06 12:40] dcalvoalonso opened #3238 "Inconsistency considering percent encoding for attributes' names"
In NGSIv2, spaces cannot be used in attribute's names. Nevertheless, it should be possible to encode spaces using %20. This works correctly as part of entity creations:
[code]

Returns `201`.

If I try to query the entity with:

[code]

The result is correct:

[code]

However, using a request to get the single attribute:

[code]

The result is: `400 Bad request`
[code]

Another problem happens usi

[2018-07-06 12:48] fgalan commented on #3238
Maybe libcurl (the HTTP server libreary used by Orion) is translaing the %20 into space in the URL before passing it to the CB code...

Could you run Orion in INFO mode (i.e. `-logLevel INFO`) and check the traces for `temperature att` and `temperature%20att` ocurrences, please?

[2018-07-06 13:06] fgalan commented on #3238
[code]

That's confirm my theory...

Let me think some time to think about this. I'll come back with additional commetns in this issue.

[2018-07-10 13:28] szymonCaban opened #3239 "Accumulator Server - adding proxy functionality"
Is there a possibility of adding proxy functionality to accumulation server? Or just adding simple proxy server to scripts? Proxy server which can be run on whatever ip addr we want matters great deal, because it resolves issues that are described [here](https://stackoverflow.com/questions/49458811/accumulation-server-no-action/51266109#51266109) and [here](https://stackoverflow.com/questions/5102

[2018-07-10 13:41] fgalan commented on #2986
After merging PRs #3185 and https://github.com/telefonicaid/fiware-orion/pull/3232 the only pending think in this issue is to implement opations=keyValues in notification. Once done, the note about the gap included in https://github.com/telefonicaid/fiware-orion/blob/master/doc/manuals/user/ngsiv2_implementation_notes.md must be removed.

[2018-07-10 13:49] fgalan commented on #3239
accumulstor-server.py is mainly thougth as a functional test helper (acting as mock in some of the use cases covered by these tests) and for tutorials (the API walkthrough in documentation). No sure if it should grow in that direction... maybe there are out-of-box software pieces out there implement what you want (transparent proxy, I guess).

However, in order to get a more precise idea of what y

[2018-07-10 15:29] szymonCaban commented on #3239
The overview for now is looking like this and is described in links attached in previous comment. To put it simply, Freeboard can not access OCB from the Browser. It's not the Browser fault, because I can simply put

        http://orionHost:port/v2/entities/entityId

in url-bar and will receive JSON payload that I want to get. I reported the issue with Freeboard, but on their side there is no sup

[2018-07-11 09:16] fgalan commented on #3000
Some modification on the original implementation (in order to have `dateExpires` as NGSIv2 builtin attribute) in PR https://github.com/telefonicaid/fiware-orion/pull/3240

That's should conclude the implementation of this issue, so I'll close it.

[2018-07-11 09:16] #3000 closed

[2018-07-11 09:40] fgalan commented on #3238
I have checked that the following works:

[code]

`%25` is the URL encode for `%` so what it happening here is that `http://localhost:1026/v2/entities/Room1/attrs/temperature%2520att` URL is tranlated to `http://localhost:1026/v2/entities/Room1/attrs/temperature%20att` by libmicrohttpd and offered that way to the Orion logic.

Thus, this is not an actual bug, but a tricky situation that happens wh

[2018-07-11 09:49] fgalan commented on #3239
Thank you for so detailed explanation.

In general lines (and taking into account that I may be wrong, because I'm not on it as you are :), I think your approach to use a proxy in the middle of Freeboard and Orion is a good idea. However, I don't get the point about modifying accumulator-server.py in order to play the role of a proxy. From my point of view, you should use a separate piece of sofwa

[2018-07-11 11:05] dcalvoalonso commented on #3238
I agree with both points @fgalan :)

[2018-07-12 15:52] fgalan commented on #2567
Out of the scope of NGSIv2, althouth it is a good idea that could (potentially) be included in a later version of the API (v2.1) in a backward compatible way.

CC: @jmcanterafonseca

[2018-07-12 15:53] fgalan commented on #2560
Out of the scope of NGSIv2, althouth it is a good idea that could (potentially) be included in a later version of the API (v2.1) in a backward compatible way.

CC: @jmcanterafonseca

[2018-07-12 15:54] fgalan commented on #2481
Out of the scope of NGSIv2, althouth it is a good idea that could (potentially) be included in a later version of the API (v2.1) in a backward compatible way.

CC: @jmcanterafonseca

[2018-07-12 15:56] fgalan commented on #2389
In particular, NGSIv2 specs says:

and "JSON Entity Representation" is based in id/type.

[2018-07-12 15:56] fgalan commented on #2389
Out of the scope of NGSIv2, althouth it is a good idea that could (potentially) be included in a later version of the API (v2.1) in a backward compatible way.

CC: @jmcanterafonseca

[2018-07-12 15:57] fgalan commented on #1827
Out of the scope of NGSIv2, althouth it is a good idea that could (potentially) be included in a later version of the API (v2.1) in a backward compatible way.

CC: @jmcanterafonseca

[2018-07-12 15:57] fgalan commented on #1494
Out of the scope of NGSIv2, althouth it is a good idea that could (potentially) be included in a later version of the API (v2.1) in a backward compatible way.

CC: @jmcanterafonseca

[2018-07-12 15:58] fgalan commented on #1492
Out of the scope of NGSIv2, althouth it is a good idea that could (potentially) be included in a later version of the API (v2.1) in a backward compatible way.

CC: @jmcanterafonseca

[2018-07-12 15:58] fgalan commented on #1258
Out of the scope of NGSIv2, althouth it is a good idea that could (potentially) be included in a later version of the API (v2.1) in a backward compatible way.

CC: @jmcanterafonseca

[2018-07-12 16:00] fgalan commented on #1256
This issue is not especifically related with NGISv2, so APIv2 label is removed. The issue keeps opened.

CC: @jmcanterafonseca

[2018-07-12 16:00] fgalan commented on #1146
Out of the scope of NGSIv2, althouth it is a good idea that could (potentially) be included in a later version of the API (v2.1) in a backward compatible way.

CC: @jmcanterafonseca

[2018-07-12 16:01] fgalan commented on #1145
Out of the scope of NGSIv2, althouth it is a good idea that could (potentially) be included in a later version of the API (v2.1) in a backward compatible way.

CC: @jmcanterafonseca

[2018-07-12 16:01] fgalan commented on #1051
Out of the scope of NGSIv2, althouth it is a good idea that could (potentially) be included in a later version of the API (v2.1) in a backward compatible way.

CC: @jmcanterafonseca

[2018-07-12 16:02] fgalan commented on #3190
@efviodo I haven't forgot about this... ;) I'm afraid is taking some time to answer, sorry...

[2018-07-12 16:03] fgalan commented on #3190
Out of the scope of NGSIv2, althouth it is a good idea that could (potentially) be included in a later version of the API (v2.1) in a backward compatible way.

CC: @jmcanterafonseca

[2018-07-12 16:03] fgalan commented on #744
Out of the scope of NGSIv2, althouth it is a good idea that could (potentially) be included in a later version of the API (v2.1) in a backward compatible way.

CC: @jmcanterafonseca

[2018-07-12 16:06] fgalan commented on #3108
Relabeling from APIv2 to APIv2-debt, to mean an issue that is part of the NGSIv2 specification but not yet implemented in Orion.

CC: @jmcanterafonseca

[2018-07-12 16:06] fgalan commented on #3107
Relabeling from APIv2 to APIv2-debt, to mean an issue that is part of the NGSIv2 specification but not yet implemented in Orion.

CC: @jmcanterafonseca

[2018-07-12 16:07] fgalan commented on #3106
Relabeling from APIv2 to APIv2-debt, to mean an issue that is part of the NGSIv2 specification but not yet implemented in Orion.

CC: @jmcanterafonseca

[2018-07-12 16:08] fgalan commented on #3044
Relabeling from APIv2 to APIv2-debt, to mean an issue that is part of the NGSIv2 specification but not yet implemented in Orion.

CC: @jmcanterafonseca

[2018-07-12 16:10] fgalan commented on #2506
This issue is not especifically related with NGISv2, so APIv2 label is removed. The issue keeps opened.

CC: @jmcanterafonseca

[2018-07-12 16:12] fgalan commented on #2442
Out of the scope of NGSIv2, althouth it is a good idea that could (potentially) be included in a later version of the API (v2.1) in a backward compatible way.

CC: @jmcanterafonseca

[2018-07-12 16:14] fgalan commented on #2364
This issue is not especifically related with NGISv2, so APIv2 label is removed. The issue keeps opened.

CC: @jmcanterafonseca

[2018-07-12 16:15] fgalan commented on #2223
Relabeling from APIv2 to APIv2-debt, to mean an issue that is part of the NGSIv2 specification but not yet implemented in Orion.

CC: @jmcanterafonseca

[2018-07-12 16:16] fgalan commented on #3188
Out of the scope of NGSIv2, althouth it is a good idea that could (potentially) be included in a later version of the API (v2.1) in a backward compatible way.

CC: @jmcanterafonseca

[2018-07-13 09:11] mathi123 commented on #2962
Would it be possible to provide a docker file for a compilation with SSL flag?

[2018-07-13 10:42] fgalan commented on #2962
It would be great! Any volunteer out there? :)

[2018-07-13 12:43] mathi123 opened #3243 "Compiling with SSL flag does not work"
Based on the following docker file: https://github.com/telefonicaid/fiware-orion/blob/master/docker/Dockerfile

And the SLL instructions (bottom of the page): https://github.com/telefonicaid/fiware-orion/blob/master/doc/manuals/admin/build_source.md

I have built following docker file: https://github.com/mathi123/fiware-orion/blob/sasl/docker/Dockerfile

Building the docker image throws the follow

[2018-07-13 13:09] arigliano commented on #2962
I'm here :) I could work both on this and #3243, since both are almost related to the same thing.

[2018-07-13 13:12] mathi123 commented on #2962
Yes, the only difference is that this issue talks about mongo 3.2,
I would prefer mongo 3.4 😄

But I'm guessing a fix will work for both!

[2018-07-14 15:15] mathi123 commented on #3243
I have been able to fix the CMake file and run the compilation.

A pull request has been created here: #3244.
A mongo 3.4 authenticated image is available here: https://hub.docker.com/r/mathiascolpaertsirus/orion/.

[2018-07-14 15:15] #3243 closed

[2018-07-14 15:16] mathi123 commented on #2962
You can fix this by modifying the CMake file, see: https://github.com/telefonicaid/fiware-orion/pull/3244/commits/39dc2aaded07556f3a26766a7332fbfd8095cb7d.

[2018-07-15 08:11] mathi123 commented on #3179
@fgalan How would you handle this conceptually?

Proposal:

- Add a startup flag 'autocreatedb' (default = true)
- If this flag is false: dont execute any code to create a database.
- If the flag is true: same path as before

Program execution might fail because a database does not exist. However I see this as expected behavious when the flag is set to _false_? (Db creation is the job for DB admin

[2018-07-16 09:04] fgalan commented on #2962
Thanks @mathi123 for your answer!

I understand that such modification solvese the issue and it could be closed. @beho1der could you confirm, pls? Thanks!

[2018-07-16 16:33] mathi123 commented on #3070
From the documentation: https://docs.mongodb.com/manual/reference/command/aggregate/#dbcmd.aggregate it seems you need to add an extra parameter (cursor: {}) to the aggregation operation.

[2018-07-16 16:50] fgalan commented on #3070
Thanks for the feedback!

Aggretation operation is used in only 3 places of the code (all them within src/lib/mongoBackend/mongoQueryTypes.cpp, look for `BSON("aggregate"` string). Thus, maybe is a matter of adjusting only that three points adding the `cursor: {}` part.

Somebody should look into this. @arigliano could you have a look to this, pls? No need of new .test this time ;), only to check

[2018-07-16 17:24] mathi123 commented on #3070
Yes, I have modified it here: #3248.

[2018-07-17 15:42] fgalan commented on #3179
Actually, Orion doesn't use any *explicit* operation to create database. As far as I know (although my knowledge could be obsolete, as the las time I reviewed database creation aspects was in MongoDB 2.4 :), there isn't any operation to explicitly create databases in mongo: databases are created first time it is used.

However, Orion does an *implicit* creation of database, as it is creates some i

[2018-07-17 16:05] fgalan commented on #3190
The implementation can be split in two stages:

1. A first stage is to correctly parse/render the new field in JSON request/reponse for subscription management operations of the REST API. In order to do so, a new field should be added to the Notification class (in Subscription.h) to hold this aspec, eg:
2. A second stage, once the above gets completed, is to effectively use the new attribute in or

[2018-07-17 16:06] fgalan commented on #3190
*Implementation Notes (Stage 1)*

[code]

The new parameter at JSON API level should be parsed correctly (parseSubscription.cpp/h) and stored correctly in the DB (a new field name should be defined for that in dbConstants, e.g. CSUB_ONLYCHANGED) in subscription creation/update operations (POST /v2/subscription or PATCH /v2/subscription/{subId}). Similarly, if the new field is found in DB when rend

[2018-07-17 16:14] fgalan commented on #3190
@efviodo I have include some implementations notes for the stage 1 of the functionality. Once stage 1 gets completed, I can continue with notes about the stage 2, but by the moment I think is enough. Let's go step by step (however, tell me if I'm wrong and you prefer to procced in a different way).

Before starting to touch Orion code, I'd strongly recommend you to have a look to the [Developers M

[2018-07-18 15:48] fgalan commented on #3070
I have looked to the changes proposed in #3248 and, although maybe they are not enough to support MongoDB 3.6, I think the addition of cursor to aggregation commands is a good idea. This is based on the  documentation for 3.4 (https://docs.mongodb.com/v3.4/reference/command/aggregate) which deprecates the usage of aggregation without cursor field.

(It seems that 3.6 documentation goes a step furt

[2018-07-18 15:56] fgalan commented on #3070
White regards to comment from #32348

Initially I also thougth that way. Looking to the compatibility matrix at https://github.com/mongodb/mongo-cxx-driver/tree/legacy-1.1.3, MongoDB 3.6 lies out legacy driver reach.

However, I have doubts due to two facts:

1. Of the around ~1020 regression test only around 20 are failing. Curioslty, all them related with aggregation queries. If MongoDB 3.6 is n

[2018-07-18 16:04] mathi123 commented on #3070
If only 1 regression test fails, due to a problem in the driver, that is enough to be a blocking factor. No change in Orion can ever fix that, and no new legacy driver is available that is 3.6 compatible.

[2018-07-18 16:10] fgalan commented on #3070
That would depend on whether addapting the queries which make that regression to fail solve the failing regression cases or not. I haven't checked yet that evidence.

[2018-07-18 16:20] mathi123 commented on #3070
You can derive this from the last test run of #3248 on travis (raw logs):

[code]

Meaning: mongo is now correctly called (with cursor), but the result cannot be parsed by the drive.

Do you agree on that conclusion? I'm always open to help getting it fixed, if its not to hard ;)

[2018-07-19 04:09] beho1der commented on #2962
I confimed

[2018-07-19 14:46] #2962 closed

[2018-07-19 15:33] fgalan commented on #3070
As far as I understand, that "Runtime Error" message is not provided by the driver itself, but the Orion code interpreting the results of the query.

Based on your first attemp on PR #3248 I have tried this new PR https://github.com/telefonicaid/fiware-orion/pull/3251 which, in addition to adapting the call also adapt the way results are processed. I  have checked this PR works for MongoDB 3.4 (tr

[2018-07-20 08:34] mathi123 commented on #3070
That looks promising :)

[2018-07-20 09:20] SourabhChourasiya-NEC commented on #3058
fixed in #3252

[2018-07-20 10:55] fgalan opened #3253 "Notification to Kafka systems"
In addition to other lighweigth MQTT mechanisms that has been proposed (#3001), this issue is about implementing native notifications to Kafka endpoints.

The details will be defined in the discussion phase of this issue.

[2018-07-20 12:31] #3058 closed

[2018-07-21 20:11] kzangeli opened #3254 "A list of idea to improve the efficiency of the broker"
It seems we have received some complaints about the efficiency of the broker.
And yes, we could make it a lot faster, no doubt about that.
The question is, the broker is just a part of the entire platform; making the broker faster,
will we really see any significant change in tput end-to-end?

However, here are some ideas to make the **broker** faster:

0. mongo indexes
    When the database conta

[2018-07-23 10:40] fgalan commented on #3254
will we really see any significant change in tput end-to-end?

This is the key question. As far as I understand, the complaints about the efficiency of the broker are actually a complaint about its usage in e2e scenarios.

In this sense (i.e. e2e performance) the following issues should be taken into account.

* Lightweight ingestion (updates). https://github.com/telefonicaid/fiware-orion/issues/3

[2018-07-23 10:40] fgalan commented on #3254
By the way, it would be great if somebody could provide more information about "the complaints" given that from my point of view and based in the information I have, Orion doesn't have any performance problem and it is not the botleneck in any e2e (the bootleneck use to be in other places, i.e. authentication layer).

I'll be more than happy to have feedback for the people which uses cases has rai

[2018-07-23 10:45] fgalan commented on #3201
Fixed by PR https://github.com/telefonicaid/fiware-orion/pull/3255

[2018-07-23 10:45] #3201 closed

[2018-08-01 09:28] fgalan opened #3256 "Crash when getting permanent subscriptions created with old Orion versions"
A bug was introduced by https://github.com/telefonicaid/fiware-orion/commit/1a49367ca34ddb6de82b58ffb3c3b3b917c7c2b6 in PR https://github.com/telefonicaid/fiware-orion/pull/3084 around January 22nd, 2018 as part of issue https://github.com/telefonicaid/fiware-orion/issues/3004 implementation, in the 1.13.0 development cycle.

In particular the bug is due to this change:

[code]

where:

[code]

Wh

[2018-08-01 09:51] fgalan commented on #3256
Fixed by PR https://github.com/telefonicaid/fiware-orion/pull/3257

[2018-08-01 09:51] #3256 closed

[2018-08-01 16:46] kzangeli opened #3258 "Strange payloads in notifications"
We have detected a few pretty strange notification payloads, for example in:
`test/functionalTest/cases/0876_attribute_dates/attrs_dates_overridden_by_user_subs.test`
... where identical payloads in notifications have different `Content-Length`.
The entire difference is probably whitespace, but we need to look into this.

[2018-08-03 06:19] Repsakk opened #3259 "How to disable initial notification"
Hello,
I've read documentation and found out that it is possible to disable initial notification, but i couldn't find out how to do that.
I'm assuming this is possible relaying on this sentence form [here](https://fiware-orion.readthedocs.io/en/master/user/initial_notification/index.html#initial-notification)

regardless quiet strange (if not wrong) grammar of this sentence i believe that it is po

[2018-08-03 11:22] fgalan commented on #3259
Current Orion version doesn't allow to disable initial notification. That is a pending issue to implement: https://github.com/telefonicaid/fiware-orion/issues/920. You can add your +1 to that issue  if you think its implementation would be needed.

I understand that the sentence could be missleading. In that part of the documentation we are trying to explain why between the option of sending an in

[2018-08-03 12:34] fgalan commented on #3258
The change we need to do in that file was:

[code]

[2018-08-03 12:39] fgalan commented on #3258
Additionally in  test/functionalTest/cases/1048_subscription_cache/three_subscriptions.test we need to change:

[code]

although the one we intially used, `22REGEX(\d)`, was also pretty weird...

[2018-08-03 12:40] fgalan commented on #3258
The PR from which the modifications come from, for reference: https://github.com/apinf/fiware-orion/pull/34

[2018-08-07 16:49] szymonCaban commented on #3239
After studying delivered sourced I decided on writing proxy myself. It was a python proxy server using Flask, if someone would be interested, there is the code of it:

[code]

After running it in same environment as Orion Context Broker and Freeboard, it works like a charm.

However! I've been looking for some materials on Context Management Architecture in FIWARE GEs, and came across article show

[2018-08-07 19:31] fgalan opened #3263 "Overoffset doesn't work correctly when CPr is involved"
Given the following situation:

* Orion acting as CB at port 1026:

[code]

* Orion acting as CPr at port 1027:

[code]

The following entity at CB:

[code]

The following registration at CB for the same entity with some extra attributes managed by the CPr (C1 and C2):

[code]

The following entity at CPr (same entity, with attributes C1 and C2):

[code]

Get all entity (implicit limit=20), goes o

[2018-08-08 15:30] caa06d9c opened #3265 "federation mode, geo:json format fails"
Orion (1.15.1) doesn't propagate geo:json Point in federation mode, here is the [test](https://nexus.lab.fiware.org/repository/raw/public/storage/test.json)

[2018-08-09 16:51] kzangeli commented on #3258
One more of these strange content-Lengths of payloads:
0876_entity_dates/entity_dates_overridden_by_user_subs.test, PR apinf#35

[2018-08-13 08:13] SourabhChourasiya-NEC commented on #3121
fixed in #3266

[2018-08-25 22:53] aaagarcia432 opened #3267 "The repository server is offline."
Hi,  I'm not sure this is the place but the repository server is offline:

https://nexus.lab.fiware.org/service/rest/repository/browse/el/7/x86_64/

Thanks.

[2018-08-26 21:01] caa06d9c commented on #3267
Already online.

[2018-08-27 08:09] fgalan commented on #3267
Actually, this is the place for issues about Orion context broker (bugs, new features, enhancements, etc.), not about the status of FIWARE servers. Having said that, happy to see that the server got back online :)

[2018-08-27 08:09] #3267 closed

[2018-08-27 12:23] cesarjorgemartinez opened #3268 "Add script to build the Context Broker Driver updated in scripts/build"
Add script to build the Context Broker Driver updated in scripts/build

Separate script to only manual build
And/or call to this script from "timestampVersion.sh"

[2018-08-27 18:42] mathi123 commented on #3070
Modifications are OK and backwards compatible.

PR to upgrade test framework: #3269

After that I will modify the documentation.

[2018-08-28 11:39] fgalan commented on #3268
The idea could make sense. However, note that Orion depends of several third party software appart from the mongodb driver (see https://fiware-orion.readthedocs.io/en/master/admin/build_source/index.html). Thus, why limit the script to mongo driver instead of taking into account all the dependencies?

Moreover, the script is already done. In some way, "embedded" insisde the Dockerfile at https://g

[2018-08-29 10:38] fgalan opened #3271 "CPr forwarding shouldn't match withou ?type (a "dirty" update is got instead)"
According to Orion documentation regarding CPr forwaring using NGSIv2 operations (see https://fiware-orion.readthedocs.io/en/master/user/v1_v2_coexistence/index.html#ngsiv2-query-update-forwarding-to-context-providers):

---------------

Now, consider the following situation:

* Registering device in ITOA:

[code]

A command is sent:

[code]

The IOTAgent receives the following forwarded update:

[2018-08-29 12:19] fgalan opened #3272 "Custom notification: sending 0-length request"
The current customized notification implementation allow to define a custom payload (if "payload" field is provided with a non-empty value) or use the default one for NGSIv2 notifications (if "payload" field is ommited or it has "" value).

However, current implement lacks the posibility of not including payload at all, i.e. 0-length requests. You can use `"payload": " "` which produces a 1-byte e

[2018-08-29 12:44] fgalan commented on #3265
Maybe is a particular case of the problem described at https://github.com/telefonicaid/fiware-orion/issues/3162. What do you think?

[2018-08-29 12:49] fgalan commented on #3239
Thanks for the detailed feedback and the in-issue code contribution!

I'm sorry you find the easy solution after walking by the hard way :( I'll move the "CORS" section above in the left-panel index, just after Pagination in order to make it more visible so other users don't have the same problem in the future.

[2018-08-29 12:52] fgalan commented on #3239
PR with doc modification: https://github.com/telefonicaid/fiware-orion/pull/3274

Please close the issue if nothing else need to be done. Thanks!

[2018-08-29 15:32] kzangeli commented on #3272
Not sure who could want a notification without information. You can always remove the subscription ...
Has a user asked for this functionality?

[2018-08-29 15:42] #3239 closed

[2018-08-29 16:45] fgalan commented on #3272
The information could be in other parts of the request, like URL query parameters or headers. In fact, methods such as GET or DELETE (allowed in the current implementation of cutomized notification) don't typically used any payload.

The issue is motivated by a use case, although it has been workarrounded, so it doesn't have priority. @manucarrace and/or @mrutid could elaborate on the use case mot

[2018-08-29 18:07] kzangeli commented on #3272
Nah, no need. I just found it a little surprising :)

[2018-08-30 14:52] CristinaVT opened #3276 "[NGSI] HTTPBadRequestException: 'fiware-servicepath' through an Orion subscription."
I want to persist some historical data from my server. So the documentation says that you must first send a subscription to Orion and then Orion will send the notification to Cygnus.

I made the subscription like this:

[code]

And the creation of entities:
[code]
Then, Cygnus log tell me:

`HTTPBadRequestException: 'fiware-servicepath' header value does not match the number of notified context re

[2018-08-31 07:51] fgalan commented on #3276
Is this the same case described at https://github.com/telefonicaid/fiware-cygnus/issues/1514#issuecomment-417302236 ?

[2018-08-31 08:42] fgalan commented on #3238
Fixed in PR https://github.com/telefonicaid/fiware-orion/pull/3278

[2018-08-31 08:42] #3238 closed

[2018-08-31 09:08] arigliano commented on #1142
The problem is where building the final append query in case of replace action. As done for the expirationDate feature, the logic has to check if there is a new location, or if the old one must be deleted, and then append it either to set or unset BSONObjBuilders. In order to avoid code complication (too many if), in the updateEntity() function, a good approach could be using a BSONObjBuilder (rep

[2018-08-31 12:27] fgalan opened #3280 "Orion returns illegal JSON in some situations"
Creating this entity (note the `\n`):

[code]

Stored at DB as:

[code]

You can retrieve it this way:

[code]

But note that is is illegal JSON.

[code]

Orion must not return never illegal JSON. The problem seems to be located in the rendering stage.

[2018-08-31 12:58] fgalan commented on #3280
Similar test, using a subscription:

[code]

In DB is:

[code]

Rendered as legal JSON:

[code]

This is due to subscriptions and entities are using different rendering logic. This remarks the importance of having only one way of rendering JSON along the code, so bugfixing can be done in just one place. This stresses the need of *unification and simplification* already described in https://github.

[2018-08-31 13:10] fgalan commented on #1298
This new bug https://github.com/telefonicaid/fiware-orion/issues/3280 raise the importance of progressing in this issue. Thus, as a first step I'd suggest a PR doing the following:

1. Change JsonHelper.cpp implementation in order to use std::string concatenation approach (the current one used in entities rendering) instead of std::ostringstream
2. Change NGSIv2 renders for entities/attributes/met

[2018-09-03 13:56] #3121 closed

[2018-09-03 14:03] fgalan opened #3282 "Compound values are lost when rendering due to not-matching registration in DB"
The following entity in DB:

[code]

The following registration in DB:

[code]

Note the registration **does not match** the entity.

The following GET operations fail as they are not rendering the compound values (in the keyValues case, note that even the rendering is illegal JSON):

[code]

[code]

If we use GET /v2/entities/E10 instead of GET /v2/entities it works:

[code]

[code]

If we remove

[2018-09-03 14:08] fgalan commented on #3282
Debugging this issue I have found in postQueryContext() function in postQueryContext.cpp:

[code]

qcrsP.contextElementResponseVector.vec[0].contextElement.contextAttributeVector.vec[1] and qcrsP.contextElementResponseVector.vec[0].contextElement.contextAttributeVector.vec[2] correspond to attributes B and C in E10 (E10 is qcrsP.contextElementResponseVector.vec[0]). The compoundValueP is ok in bot

[2018-09-03 15:29] arigliano commented on #1142
I've added unit test for 3 cases, except the following one:
- Existing location attribute L1, replace including location attribute but different (L2)
It should be first discussed/explained, as I wrote in the last part of previous comment.

[2018-09-05 03:45] fisuda opened #3284 "About contributing Orion Japanese document"
Hi @fgalan ,

I have translated `.md` files in doc/manuals directory into Japanese.
Before sending a PR, may I ask something?

1. May I put Japanese document in this repository?

2. Where directory should the files be put?
   My proposal is to make `manuals.ja` in doc directory and put the files in it.

3. Is it better to send my PR after PR #3279 is merged?

[2018-09-05 07:34] fgalan commented on #3284
Thank your for your initiative! Please find my comments inline

Yes, of course :)

I understand you mean `doc/manuals.ja`, in parallel of existing `doc/manuals` with English documentation. I think is a good place to put the documentation.

Good question. In my opinion I think it depends on wether the documentation in Japanese is already translated or not.

* If already translated, then I'd recomme

[2018-09-05 10:16] fgalan commented on #3284
Just a little extra comment...

Maybe better to use `manuals.jp` instead of `manuals.ja`. We are already using "(jp)" for Japanese slides in the top level README.md in the repository.

[2018-09-05 11:32] fgalan commented on #3284
Is this all right?

It's all right. Note that PR #3279 doesn't touch `dev` (except in some minor points), so translation of that manual can wait from my point of view.

Thanks!

[2018-09-05 11:43] fisuda commented on #3284
I understand. I will be able to send a PR with the translated files by September 15th. This issue will be closed by the PR.

Thank you.

[2018-09-05 14:34] fgalan commented on #1298
PR #3285 addresses this issue (but probably more ones will follow).

[2018-09-06 09:18] fgalan commented on #1142
I will try to ilustrate with an example. Let's assume we have the following situation (S) in DB:

[code]

Then a replace like this is proccessed:

[code]

The resulting situation in DB is:

[code]
Another case, let's assume again situation S and the following replace request:

[code]

the situation in DB after processing it should be:

[code]

Please tell me if this clarifies how it should behave.

[2018-09-07 11:41] fgalan opened #3287 "Travis: parallelize functional test in sub-jobs"
As far as I understand, travis runs sub-job in parallel:

![imagen](https://user-images.githubusercontent.com/1534240/45217063-03533c00-b2a3-11e8-94a8-1053a8000d3a.png)

Could we exploit this in order to paralelize functional testing? I mean, use the `--fromIx` and `--toIx` in order to run diferent blocks in different sub-jobs.

For instance, if we chose 100 tests as block sice we can have:

* fun

[2018-09-07 11:43] fgalan commented on #3287
I'm realizing that testHarness doesn't have a `--toIx` CLI...

[code]

However, if the division of jobs described above is possible, it think it should worth the effort to implement `--toIx` in testHarness.sh. It shouldn't be too dificuult.

[2018-09-07 12:30] kzangeli commented on #3287
--toIx could be implemented in 30 min, testing included

On Fri, Sep 7, 2018, 13:43 Fermín Galán Márquez <notifications@github.com>
wrote:

[2018-09-10 07:55] #3284 closed

[2018-09-10 10:18] fgalan commented on #2603
I'd say that PR https://github.com/telefonicaid/fiware-orion/pull/3285 provides a definitive solution to this issue, so it can be closed. @kzangeli what do you think?

[2018-09-11 08:26] #2603 closed

[2018-09-11 13:19] arigliano commented on #1142
Ok, right. So only for the replace case we should allow replacing a target location attribute (e.g. L2) when there is already a different location attribute? (e.g. L1). Currently we have:
[code]
So, should this part be refined with a "if v2 replace" check, avoiding to return an error in that case?

[2018-09-11 13:26] fgalan commented on #1142
Sounds good (although I haven't analyzed the problem in deep in order to know if there are better options ;)

[2018-09-11 13:27] fgalan commented on #1142
In fact, replace can be used in v1 (POST /v1/updateContext with actionType: REPLACE). However, it is find if the check is only working for NGSIv2 (NGSIv1 is about to be deprecated so fixing it is not a priority).

[2018-09-11 15:28] arigliano commented on #1142
Fixed in 40da980

[2018-09-12 14:23] fgalan opened #3290 "metadata filtering seems to fail in notifications"
The following test has been done with Orion 1.15.0-next (33800d5e6a7b1f213046f1034912c54cf9b9ebcc)

Creating entity E1:

[code]

Creating sub with attrsFormat legacy pointint to port 5551 filtering by "a_md" metadata:

[code]

Creating regular sub (implicit attrsFormat normalized) to port 5552 filtering by "a_md" metadata:

[code]

Run `nc -l 5551` and `nc -l 5552` in two terminals.

Update the en

[2018-09-12 16:03] fgalan commented on #3280
Fixed by PR #3285, .test and CNR added in PR https://github.com/telefonicaid/fiware-orion/pull/3291

[2018-09-12 16:03] #3280 closed

[2018-09-12 16:11] fgalan commented on #1298
PR https://github.com/telefonicaid/fiware-orion/pull/3292 continues the simplification work.

[2018-09-13 07:31] versatildefuy commented on #3162
Hi, we are trying to represent the Fiware DataModels and we are stuck with this issue. Is there any resolution forecast?

[2018-09-13 07:51] mainakae commented on #3162
We are working in some projects in need of this functionality (integrating with other fiware components) and are waiting too for it to be solved :)

Thx!

[2018-09-13 14:01] fgalan commented on #1142
Fixed by PR #3283

[2018-09-13 14:14] fgalan commented on #3162
@versatildefuy @mainakae could you elaboraton on how the Orion instance you are using is deployed, please? I mean:

* On premise deployment based on docker at dockerhub
* On premise deployment based in RPM
* On premise deployment based in copiled sources
* Orion instance running in third party (which one?) cloud
* other

Thx!

[2018-09-13 15:06] #1142 closed

[2018-09-13 15:08] fgalan commented on #3167
This issue could have been closed by PR https://github.com/telefonicaid/fiware-orion/pull/3283, but a .test should confirm it before closing.

[2018-09-13 17:00] fgalan commented on #2425
Fixed by PR https://github.com/telefonicaid/fiware-orion/pull/3229 (in 1.15.0) but ftest added later in PR #3294.

[2018-09-13 17:00] #2425 closed

[2018-09-13 17:01] fgalan commented on #2506
Fixed by PR #3229 (in 1.15.0) but ftest re-enabled later in PR #3294.

[2018-09-13 17:01] #2506 closed

[2018-09-13 17:14] fgalan commented on #3167
In fact, I think no new .test is needed. Using the .test already included in PR #3283 running with a 1.15.0-next version (i.e. previous to the fix implemented in PR #3283) I have been able to reproduce the problem.

In particular, replace_location_attribute_with_same_location_attribute.test ends with the following status in the database:

[code]

which is inconsistent, as we have a attrs.location

[2018-09-13 17:14] #3167 closed

[2018-09-14 08:39] arigliano commented on #2364
Hello, I would like to work on this issue. Can you assign it to me?

[2018-09-14 08:41] arigliano commented on #2074
Hello, I would like to work on this issue. Can you assign it to me?

[2018-09-14 08:43] fgalan commented on #2074
Done!

Focus on NGSIv1 request. No need to fix in NGSIv1, as it is decrecated.

[2018-09-14 08:45] fgalan commented on #2364
Done!

Focus on NGSIv2 requests. No need to fix in NGSIv1, as it is decrecated.

[2018-09-14 09:08] mainakae commented on #3162
Sure, we are using a dockerized on premises installation, and we have set up an integration with an IoT Agent to serve as intermediary between mqtt and Orion.

The IoT Agent registers itself as CP, and the exchange of information via JSON objects in attributes is thus inhibited.

[2018-09-14 09:50] fgalan commented on #3162
The situation is as follows:

We currently have a patch that should fix this problem. However, the patch could be introducing a memory leak. We are not fully sure, but investigating if the leak is there or not is hard and can take time. The outcome of that investigation is precluding to introduce that patch in the master branch, as master branch has to be as leak free as possible and we cannot tak

[2018-09-14 10:54] mainakae commented on #3162
I would really like it! we are in a development phase, more interested in getting a PoC or a prototype working with full functionality, than being absolutely production ready. We can provide whatever feedback we can gather about the working of Orion in the mean time, if you like.

Thanks!

[2018-09-14 12:20] versatildefuy commented on #3162
Yes, that would serve also for us. We can try the fix and report if any bug is encountered.
Thank you very much @fgalan for your quick response.

[2018-09-14 15:09] fgalan commented on #3162
Docker firare/orion:fix3162 ready to deploy and use.

Please @versatildefuy and @mainakae tell us how it goes posting comments in this issue. Thx!

[2018-09-18 10:43] mainakae commented on #3162
Hi @fgalan I've just tried the new setup and It's working nicely with API v1 ¡great!.

I've raised my expectations a little bit too much, I'm afraid, and as I've seen that API v2 is being adopted in iotagent-node-lib and iotagent-json, I've tried the same test but issuing commands with API v2 and it didn't work.

As of right now, it seems that the context provider update with non-primitives is wor

[2018-09-18 10:48] fgalan commented on #3162
At the present moment, due to lack of definition of NGSIv2-based forwarding, CB always uses NGSIv1 in the CB->IOTAgent forwarding. From a client perspective, there is no change in the forwarding no matter if client uses NGSIv1 or NGSIv2 to do the update at CB endpoint.

Thus, maybe the problem you have with NGSIv2 is caused by another cause. Could you add which exact request are you using to updat

[2018-09-18 11:41] mainakae commented on #3162
Sure, here they are:

[code]

[2018-09-18 11:45] fgalan commented on #3162
According to https://fiware-orion.readthedocs.io/en/master/user/context_providers/index.html

or to https://fiware-iot-stack.readthedocs.io/en/master/device_api/index.html#send-commands

could you test with

[code]

and tell us how it goes?

[2018-09-18 12:05] mainakae commented on #3162
Off course, you are absolutely right, It solved the problem completely.

Sorry (and ashamed) not to have properly rtfm XD

Thanks again @fgalan you where most helpful and kind.
Pedro.

[2018-09-18 13:16] versatildefuy commented on #3162
In our case, we are having the same issue. I'll try to explain better our case. Currently, we are developing a kind of IoT Agent based in our devices requirements and we are trying to represent the FIWARE Data Models. We have separated the attributes in an IoT Agent similar way so at the end we are trying to register an entity with four lazy attributes and some other statics. The lazy attributes a

[2018-09-18 14:19] fgalan commented on #3162
@versatildefuy not sure if I'm understanding the problem you describe...

Of the 4 queries you show, which ones would be right andd which ones wouldd be wrong?

[2018-09-18 14:59] versatildefuy commented on #3162
Those are correct:
http://{{url}}:{{port-orion}}/v1/contextEntities
http://{{url}}:{{port-orion}}/v1/contextEntities?attributeFormat=object
and those are failing:
http://{{url}}:{{port-orion}}/v2/entities?limit=50
http://{{url}}:{{port-orion}}/v2/entities?options=keyValues,count&limit=50

In v1 requests the complex data structures are represented and in the v2 are substituted with empty strings ("

[2018-09-18 15:34] fgalan commented on #3162
It is a known issue that pagination and forwarding doesn't work good together. Details can be found in the following issues: https://github.com/telefonicaid/fiware-orion/issues/847#issuecomment-107379768, https://github.com/telefonicaid/fiware-orion/issues/1647 and https://github.com/telefonicaid/fiware-orion/issues/3263. I understand that the case you are describing is related with one (or more)

[2018-09-19 07:27] versatildefuy commented on #3162
Ok, thank you very much for your diagnosis. I retried the v2 request tests without pagination options:
http://{{url}}:{{port-orion}}/v2/entities
http://{{url}}:{{port-orion}}/v2/entities?options=keyValues
and the problem is still the same: empty string in structured values, arrays in our case. I think we can conclude is not a pagination problem. Am I wrong?

So, in order to treat this properly, ho

[2018-09-19 18:06] fgalan commented on #3162
Maybe it is related with I said at https://github.com/telefonicaid/fiware-orion/issues/3162#issuecomment-422360999

Could you try including entity type in the URL, pls? I mean something like:

[code]

[2018-09-20 07:02] versatildefuy commented on #3162
It seems it is not related. I tried both requests you proposed with the same result: empty strings. Any other idea or test I could perform?
Thank you again

[2018-09-20 11:47] fgalan commented on #3287
@caa06d9c not sure of understanding what you mean...

So you mean that each travis sub-job would run in parallel in the *same docker container*, i.e. sharing ports, filesystem, etc.? Or, on the contrary, each travis sub-job uses a *different docker container*, i.e. isolated ports, isolate filesytem, etc. for each sub-job.

[2018-09-20 11:53] versatildefuy commented on #3162
I'm using fiware/orion:fix3162 docker image. The one you create for this issue.
Here is the response to GET /version request:
[code]
Thanks

[2018-09-20 13:30] fgalan commented on #3162
Note that the HEAD commit in branch bugfixing/3162_fix_but_potential_leak is 231d2f4

![imagen](https://user-images.githubusercontent.com/1534240/45821442-8041d500-bce9-11e8-94fe-6faa59c25f4b.png)

However, the git_hash field in your version output shows 71eb582 which is not part of the branch, but of master:

![imagen](https://user-images.githubusercontent.com/1534240/45821671-0eb65680-bcea-11e8-

[2018-09-20 13:32] fgalan commented on #3162
To discard docker fiware/orion:fix3162 was built incorrectly, @mainakae could you post the result of `GET /version` in your case, pls?

[2018-09-20 15:50] dherykw commented on #3162
I have building the same docker image

[code]

and I am retrieving the same Orion version than @versatildefuy

[code]

Live Long and Prosper plus data model support for IoT agents

[2018-09-20 17:11] fgalan commented on #3162
@versatildefuy @mainakae please re-redeploy new image for fiware/orion:fix3162. I missed some changes in the branch (now done at https://github.com/telefonicaid/fiware-orion/commit/e77449239487395299e15f8e557cb657db481768) that were plecluding of building the righ code image.

The right commit you should see now in git_hash field in GET /version is `e77449239487395299e15f8e557cb657db481768`.

The

[2018-09-21 06:42] versatildefuy commented on #3162
Good news @fgalan !!!

The issue is resolved in the new docker image. I made a small test just now and it seems everything is working properly. I'll continue with more tests next week, providing reports if any problem is detected.

Regarding the presence or absence of bugs, I can definitely confirm you there was a bug with v2 forwarding over structured values.

Thank you very much for your respons

[2018-09-21 11:51] fgalan commented on #1298
PR #https://github.com/telefonicaid/fiware-orion/pull/3301 continues simplification work (unification of ContextElement and Entity classes)

[2018-09-24 16:36] fgalan opened #3310 "Pre-update metadata content included in notifications"
Orion keeps a in-memory image of the entity during context update in order to build notifications for triggered subscriptions. It seems that the metadata existing in the DB is not purged before updating with the new ones.

The problem can be raised doing the following test:

1. Create entity E with atribute A with metadata MDA=1
2. Create subscription (triggering notification)
3. Update attribute

[2018-09-24 16:38] fgalan opened #3311 "Duplicated items in attrs= and metadata= cause duplicated keys in responses/notifications"
For instance `GET /v2/entities?attrs=A,A,A` will include `"A": { "type": ..., "value:"..., "metadata": ... }"` three times in each entity having such attribute.

Not only attrs= and metadata= URI params, but also its payload params counterparts in POST /v2/op/query and subscriptions.

[2018-09-25 09:26] fgalan commented on #1634
Duplicated in https://github.com/telefonicaid/fiware-orion/issues/2780. Closing this.

[2018-09-25 09:26] #1634 closed

[2018-09-25 09:27] fgalan commented on #2780
Joining issue https://github.com/telefonicaid/fiware-orion/issues/1634 (now closed), which is about this same thing:

[2018-09-25 10:29] fgalan commented on #850
We implemented CB_MAX_TRIES time ago and I understand this is a solution for this issue. Maybe we missied to close that time...

[2018-09-25 10:56] fgalan commented on #2780
Documentation at section https://github.com/telefonicaid/fiware-orion/blob/master/doc/manuals/user/known_limitations.md#subscription-cache-limitation should be updated to remove the reference to this issue, once completed.

[2018-09-25 11:17] kzangeli commented on #850
Definitely.
This was implemented yaers ago.
Just close.

[2018-09-25 11:18] #850 closed

[2018-09-25 11:29] kzangeli commented on #2780
Instead of hardcoding a 'critical' number of issues, I'd propose to implement a very simple algorithm, based on the available RAM in the host, to calculate the number of issues for when to disable the sub-cache

[2018-09-25 11:57] fgalan commented on #2780
Both could make sense, depending on the use case. Ideally, something like:

[code]

or

[code]

would be the best.

[2018-09-25 12:01] kzangeli commented on #2780
Sure.
I'd set default value to 'adaptative' (a value of 0).
If -csubCacheLimit is used on command line, it overrides the default calculated value

[2018-09-27 07:57] fgalan opened #3314 "Empty vector as parameters (should be simplified)"
Raised https://github.com/telefonicaid/fiware-orion/pull/3301#discussion_r220660544

We have several functions/methods that use std::vector<> as parameters. In some cases, we want to pass an empty vector so in order to fit with function signature we need to create an empty vector to be passed. This add extra complexity in the code.

Some alternatives:

* Use NULL for these parameters. However, thi

[2018-09-27 09:24] #3182 closed, assigned to nobody

[2018-09-27 09:27] fgalan commented on #3311
Fixed by PR https://github.com/telefonicaid/fiware-orion/pull/3316

[2018-09-27 09:27] #3311 closed

[2018-09-27 15:06] fgalan commented on #3127
After @caa06d9c outstating work, I understand all the RPM-based installation stuff is solved. Have a look to document:

* https://fiware-orion.readthedocs.io/en/master/admin/install/index.html
* https://fiware-orion.readthedocs.io/en/master/admin/yum/index.html

Thus, I'm closing the issue. If I'm wrong, don't hesistate to re-open again and post a comment explaining what the current situation and

[2018-09-27 15:06] #3127 closed

[2018-09-27 15:11] fgalan commented on #2938
This issues seems to be duplicate https://github.com/telefonicaid/fiware-orion/issues/3280 (it seems we created #3280 without remembering this one was here :)

PR https://github.com/telefonicaid/fiware-orion/pull/3285 fixed #3280 and I understand that also this one. Thus, I'm closing it.

If I'm wrong, please don't hesitate to reopen the issue or comment.

[2018-09-27 15:11] #2938 closed

[2018-09-27 15:13] fgalan commented on #2777
NGSIv1 is deprecated (and this issue doesn't have an equivalency in NGSIv2 world). Thus, I'm closing.

[2018-09-27 15:13] #2777 closed

[2018-09-27 15:32] fgalan commented on #1012
Done in PR https://github.com/telefonicaid/fiware-orion/pull/3192

[2018-09-27 15:32] #1012 closed

[2018-09-27 16:39] fgalan commented on #3162
I have been looking into this a little bit...

It seems that forwarding compound values works in the master branch right now. That would explain the positive @mainakae at https://github.com/telefonicaid/fiware-orion/issues/3162#issuecomment-422366233 even when the docker used by him was one from master, as he was using updates.

Thus, the scope of the bug is forwarded queries only. That would expl

[2018-09-27 16:44] fgalan commented on #3162
PR with the doc fix: https://github.com/telefonicaid/fiware-orion/pull/3320

[2018-09-27 17:50] fgalan commented on #1493
I think we are covered, either at MongoDB side or at API side (it would be pretty easy to develop a client program doing paginated GET /v2/entities to recover everything). In addition to the lack of interest in the last 3 years (no comments since November 2015) make me think this issue should be closed.

[2018-09-27 17:50] #1493 closed

[2018-09-27 17:52] fgalan commented on #5
NGSIv1 has been deprecated and theres isn't any equivalente functionality (context availability subscriptions) in NGSIv2. Thus, this issue should be closed.

[2018-09-27 17:52] #5 closed

[2018-09-27 17:53] fgalan commented on #50
NGSIv1 has been deprecated and there isn't any equivalente functionality (NGSI9 notifications) in NGSIv2. Thus, this issue should be closed.

[2018-09-27 17:53] #50 closed

[2018-09-27 17:54] fgalan commented on #484
It is not realistic at the present point to work on the Rush integration any longer. Thus, issue to be closed.

[2018-09-27 17:54] #484 closed

[2018-09-27 17:56] fgalan commented on #400
The issue is old (last comment 3 years ago) and the testharness has been heavily rewritten in this period. Thus this issue could be obsolete. We are going to close it. If problems with PID file in testHarness happen again, a new fresh issue will be created.

[2018-09-27 17:56] #400 closed

[2018-09-27 18:03] fgalan commented on #2441
This is a corner case for a version (1.3.0) that nowadays is pretty old. Closing.

[2018-09-27 18:03] #2441 closed

[2018-09-27 18:05] fgalan commented on #2999
@swtcwj not sure if you finally posted the question in StackOverflow (did you?). It has passed almost a year since last comment, so I understand this issue can be closed.

[2018-09-27 18:05] #2999 closed

[2018-09-27 18:49] kzangeli commented on #400
Actually, if the broker dies in "an ugly way", the pid file remains in the
file system and a subsequent start of the broker fails.
The solution (only speaking about functests) is to remove the pid file
before starting the broker.
I have this already implemented in the orionld fork

On Thu, Sep 27, 2018, 19:56 Fermín Galán Márquez <notifications@github.com>
wrote:

[2018-09-28 09:00] fgalan commented on #3290
Extra info on this issue:

* It can be simplified and use only one subscription and one nc (tested with the NGSIv2 one) to repreoduce it
* Some times, the first update works fine (i.e. TimeInstant metadata filtered out) but after waiting a bit (some seconds) and do a new updates the problem appears (i.e. TimeInstant metadata is not filtered out). Maybe it could be related with csub cache sync.

[2018-10-01 12:12] fgalan commented on #1298
PR https://github.com/telefonicaid/fiware-orion/pull/3324 continues simplification work: removal os never implemented idDomain and reg metadata in NGSIv1 and renaming render() to toJsonV1().

[2018-10-01 16:25] #3290 closed, assigned to nobody

[2018-10-01 19:37] cdupont opened #3326 "catch on the exception mongo::UserException [it was "container crashes with exit code 139"]"
I recently upgraded Orion to version 1.15.
However it crashes regularly with exit code 139.
For instance:

    $ docker-compose up
    orion_1       | time=Sunday 30 Sep 19:40:34 2018.747Z | lvl=ERROR | corr=N/A | trans=N/A | from=N/A | srv=N/A | subsrv=N/A | comp=Orion | op=mongoConnectionPool.cpp[152]:mongoConnect | msg=Database Startup Error (cannot connect to mongo - doing 100 retries with a 1

[2018-10-02 07:54] fgalan commented on #3326
So it happens all the time? Or only when your PC is loadesd (I mean, when you PC is not loaded, the problem doesn't happen)?

[2018-10-02 08:46] cdupont commented on #3326
It happens quite intermittently...
It seem to happen more often when my PC is load (for example when I use Skype or play some video)...
Here is a log where it happens on Travis: https://api.travis-ci.org/v3/job/435775229/log.txt
See line 2043. It seem to be related to the order in which the containers are started, or the load of docker at startup, or the connectivity with Mongo?
I don't have a rep

[2018-10-02 10:43] mucelee opened #3328 "cannot run Orion CB."
Hey,
had to move MongoDB on an external VM and therefore reconfigured Orion CB to use Mongo not on localhost but through an IP of external mongoDB (mongoDB was also configured to bind external IPs).
Whenever I try to run Orion CB, it stops, the logs say it has failed:
`cat: /run/var/contextBroker/contextBroker.pid: no such file or directory`
However, when I create this file - it gives me this:
`co

[2018-10-02 10:53] fgalan commented on #3328
I think is better to deal with this question using http://www.stackoverflow.com. Thus, please do as follows:

1. Create the question in StackOverflow. Please use "fiware-orion" label.
2. Add the link to the question as comment in this issue.
3. Close the issue

Thanks!

[2018-10-02 11:01] mucelee commented on #3328
@fgalan issue closed, question asked in Stack Overflow.
thank you!

[2018-10-02 11:01] #3328 closed

[2018-10-02 13:06] fgalan commented on #3328
Link to question at SOF: https://stackoverflow.com/questions/52607011/cannot-run-the-orion-context-broker

[2018-10-02 15:00] cdupont commented on #3326
I use the default from docker-compose. I'm not sure how mush is this, probably 2Go?

[2018-10-02 15:35] mainakae commented on #3162
Sorry for the late reply, here is the response to the GET /version
[code]
same as @versatildefuy  and @dherykw

[2018-10-03 08:48] cdupont commented on #3326
Here is the result of docker logs and inspect:
[code]

[2018-10-03 09:16] fgalan commented on #3326
A problem in the starting order (i.e. CB container is started before MongoDB is started) could make sense. In order to confirm/discard you could do the following test:

1. Run first MongoDB docker with `docker run`.
2. Esnure MongoDB is up and ready (for instance, accesing to it with mongo shell)
3. Run now Orion docker with `docker run`

More detail on how to run individual container instead of u

[2018-10-03 10:06] cdupont commented on #3326
I did as suggested, it works in both cases (mongo before orion, orion before mongo) with appropriate messages.
It seem to crash when there is load at startup. That's probably why it doesn't crash when starting individual containers, but crash when I start my full platform with docker-compose up.
For example today it crashed twice when typing `docker-compose up`. Other times it was fine. Quite the

[2018-10-03 10:13] fgalan commented on #3326
In any case it seems to be an issue more related with docker or with the available resources in your hosting system than with Orion itself. What do you think?

[2018-10-03 11:43] cdupont commented on #3326
I agree. I'm wondering how to debug it, though. Do you know how I can trace/graph the memory consumption of dockers?

[2018-10-03 14:54] fgalan commented on #3162
Please @mainakae could you also provide feedback on PR #3320 in order to see if the documentation modificaiton in that pull request is correct according your tests? Thanks!

[2018-10-04 15:34] arigliano commented on #2364
It seems that the check:
[code]
cannot discern when the header is not present or when is present but empty (as like our case). maybe the logic in httpHeaderGet should be changed; the row below is skipped if there is a Content-type header but empty;
[code]
Thus, I guess that this:
[code]
passes no key to the httpHeadeGet callback if the header is empty.
Maybe [MHD_lookup_connection_value](https://w

[2018-10-05 08:35] fgalan commented on #1298
PR https://github.com/telefonicaid/fiware-orion/pull/3330 unified ContextElementVector into EntityVector

[2018-10-05 09:46] arigliano commented on #2364
It seems that even with  MHD_lookup_connection_value, it does not find the Content-type header if in the request it was present but empty. It supposes that the header is not present...

[2018-10-05 10:45] fgalan commented on #2364
Thank you very much for your feedback.

As far as I understand, you mean that it is not possible to distiguish both situations from Orion code. Is that correct?

I have been looking into the details of Content-Type header in the corresponding RFC document at https://tools.ietf.org/html/rfc2616.html#section-14.17. Syntax is defined as:

[code]

Is a black or empty string allowed as `media-type`? Lo

[2018-10-05 10:51] arigliano commented on #2074
It seems that this issue was covered in early versions. Indeed, if I try a POST to **v2/entities** with this payload:
[code]
I (correctly) get:
[code]
***
In case of modification, if i make a PUT to **v2/entities/E1/attrs** with this payload:
[code]
I (correctly) get:
[code]

If I well understood the issue request, it should be closed.

[2018-10-05 10:54] arigliano commented on #2364
Yes, I perfectly agree with you.

[2018-10-05 10:55] fgalan commented on #2074
I agree. Closing.

Thanks for checkint it!

[2018-10-05 10:55] #2074 closed

[2018-10-05 10:56] fgalan commented on #2364
Thus, clsoing. Thx!

[2018-10-05 10:56] #2364 closed

[2018-10-05 11:19] cdupont commented on #3326
It happens really consistently, on my PC, on travis and on colleagues PC.
Here is a docker-compose that reproduce the problem:
[code]
Run with:
[code]

My system is not loaded at the moment. With this setting, it happens systematically.
It seems to be related to the startup of mongo: Orion might make some requests when mongo is in an uncertain state.
I noticed that if the database is big, it happe

[2018-10-05 11:40] cdupont commented on #3326
I updated to 3.4, same problem.

[2018-10-05 11:54] cdupont commented on #3326
It does seem to be related to memory, after all. After using Skype, my system presented little memory available:
[code]
Cleaning it made the problem go away:
[code]
Now Orion starts correctly.
Probably having less memory makes mongo take more time to startup, flustering Orion?

[2018-10-05 11:58] fgalan commented on #3326
It could be.

A way of testing it would be to have a tail -f in the mongo docker log and in the context broker docker log. Thus, you can check if the error occurs only when Orion has ended startup but MongoDB is still on it.

[2018-10-05 12:09] cdupont commented on #3326
I seem to reproduce the problem more often when loading memory:
[code]

[2018-10-05 12:16] cdupont commented on #3326
Anyway, a solution could be to add a catch on the exception `mongo::UserException` in Orion?

[2018-10-08 08:01] fgalan commented on #3326
Orion already implements a process to retry connections to MongoDB, giving up after a number of retries if the process fails.

However, the idea of capturing the exception makes sense (at least to print the proper error message in the logs :). Let's have this issue opened for that (low priority, I guess)

[2018-10-08 14:06] arigliano commented on #3122
Hello, I would like to work on this issue. Can you assign it to me?

[2018-10-08 14:06] arigliano commented on #3045
Hello, I would like to work on this issue. Can you assign it to me?

[2018-10-08 15:02] fgalan commented on #3045
Of course. Done!

[2018-10-08 15:03] fgalan commented on #3122
Of course. Done!

[2018-10-09 15:14] fgalan opened #3335 "Avoid srv=pending in badinput messages."
We have seen in traces:

[code]

We should avoid srv=pending in badInput messages.

This is probalby caused due to we get the service name after raising the error. Maybe changing the order of the steps in the logic it can be solved.

[2018-10-10 13:32] fgalan commented on #1298
PR https://github.com/telefonicaid/fiware-orion/pull/3336 ensures that old JSON_ macros are using only in the NGSIv1 renderint part.

[2018-10-10 13:46] fgalan opened #3338 "Avoid OrionError in apiTypesV2 library"
Some of the NGSIv2 classes include an OrionError object as part of the class. This, a kind of legacy of NGSIv1 (where we used to have a StatusCode in all payloads to be rendered) should be avoided, so classes have only data related with NGSIv2 itself.

OrionError should be provided by the serviceRoutine and used in the servicerRoutinte-mongoBackend interface (so mongoBackend will eventually fill i

[2018-10-10 14:11] fgalan commented on #1298
Fixes in devel manual done in PR https://github.com/telefonicaid/fiware-orion/pull/3339

[2018-10-11 07:41] fgalan commented on #3338
Implemented by PR https://github.com/telefonicaid/fiware-orion/pull/3341

[2018-10-11 07:41] #3338 closed

[2018-10-15 20:17] systa opened #3343 "Broken document link"
Used guide in "https://github.com/telefonicaid/fiware-orion/blob/master/README.md" leads to a non-existing wiki-page.

[2018-10-16 10:10] fgalan commented on #3343
It seems to be working:

![imagen](https://user-images.githubusercontent.com/1534240/47009296-6eaeea00-d13c-11e8-99a4-309baef834e0.png)

Maybe is some kind of local problem in your system/network?

[2018-10-16 12:04] cdupont commented on #3326
As a workaround, I added an healthcheck to mongo; and orion need waits that mongo is healthy.
Here is my docker-compose.yml:
[code]

[2018-10-17 07:56] fgalan commented on #3326
Great!

Maybe it would be a good idea to include this in the documentation to help other users in the same situation. In particular in docker/README.md. I mean, in a new section 4 Troubleshooting (old section 4 will be now section 5) with a 4.1 subsection for this specific case.

What do you think? Would you like to propose a PR with that piece of documentation?

[2018-10-17 08:08] cdupont commented on #3326
But this is still considered a bug, no? Orion should catch the Exception.
In any case I can propose the PR.

[2018-10-17 15:49] systa commented on #3343
Did you try link "Orion Context Broker - User and Programmers guide" from the Readme.md?
For me it is still not working

[2018-10-17 15:58] fgalan commented on #3343
You mean this one?

![imagen](https://user-images.githubusercontent.com/1534240/47099740-3db2e000-d236-11e8-84d6-79115ddfb12f.png)

[2018-10-17 16:01] systa commented on #3343
Yes

From: Fermín Galán Márquez <notifications@github.com>
Reply-To: telefonicaid/fiware-orion <reply@reply.github.com>
Date: Wednesday, 17 October 2018 at 18.58
To: telefonicaid/fiware-orion <fiware-orion@noreply.github.com>
Cc: Kari Systä <kari.systa@tut.fi>, Author <author@noreply.github.com>
Subject: Re: [telefonicaid/fiware-orion] Broken document link (#3343)

You mean this one?

[imagen]<htt

[2018-10-17 16:08] fgalan commented on #3343
It's working for me. It bring me to:

![imagen](https://user-images.githubusercontent.com/1534240/47100388-a51d5f80-d237-11e8-8eaf-0c61a4d78698.png)

which is the expected place.

What do you get in your case? Could you paste a screenshoot?

[2018-10-17 16:13] systa commented on #3343
Alright. Now I see.
I considered “This page no longer contains….” as out-dated link that should be fixed.

Kari

From: Fermín Galán Márquez <notifications@github.com>
Reply-To: telefonicaid/fiware-orion <reply@reply.github.com>
Date: Wednesday, 17 October 2018 at 19.08
To: telefonicaid/fiware-orion <fiware-orion@noreply.github.com>
Cc: Kari Systä <kari.systa@tut.fi>, Author <author@noreply.github.

[2018-10-18 08:30] fgalan commented on #2282
The easiest workaround is implementing the filtering at client side.

I mean, the client will receive all the results, no matter if temperature is greater than 40 or not. The client may filter out the entities which entity less than or equal 40,

[2018-10-18 08:43] fgalan commented on #3326
Yes, we can keep the issue open in order to keep discussing (and eventually fixing) about Orion Exception.

Regarding this, two things to consider:

1. What should Orion do when the exception is capture? My proposal y to log and exit, al if we reach that point is because the retry loop has failed and doesn't make sense to retry again.
2. Can the behaviour be reproduced in a deterministic way?

[2018-10-18 12:16] MaxAkesson commented on #2282
Filtering at client side works as long as the amount of entities is not too great and the client knows filtering must be done on the results rather than the query.

We have read the proposed Context Source Forwarding Specification and saw it would fix many problems, is there a priority to implement it? Is there anything we can contribute?

[2018-10-22 15:53] arigliano commented on #3122
As far as I understand, the idea would be to:
NGSI v2 Operations:

- **POST /v2/entities**: ignore the location metadata as custom metadata (as for V2 is not the right way to define a  geolocation attribute), and write to DB as normal metadata. So the GET should show it among other regular metadata.
***

NGSI V1:
- **POST /v1/contextEntities/type/T/id/E2** :  use the location metadata to create th

[2018-10-22 16:38] cdupont commented on #3326
Apparently condition: `service_healthy` is not supported in docker-compose V3:
https://github.com/peter-evans/docker-compose-healthcheck/issues/3

[2018-10-23 06:54] fgalan commented on #3122
Yes, I think your reasoning is correct. In the second case, be careful to not double-rendering the same metadata (one as mark for location and the other retrieved from DB as regular attribute).

Thanks!

[2018-10-23 11:34] fgalan commented on #3326
Is there any alternative or workaround for docker-compose v3?

[2018-10-23 12:42] cdupont commented on #3326
Alternative is to use a tool like [wait-for-it](https://github.com/vishnubob/wait-for-it) or dockerize.

[2018-10-23 14:05] fgalan commented on #3326
One possibility would be to describe both solutions (for docker-compose v2 and v3). However, if you prefer to keep things simple, I'd suggest to describe the one you have and know it works (based on docker-compose v2) with a final note stating that service_healthy is not going to work in v3 and that wait-for-it should be used, but without going into too much detail.

Does it make sense to you?

[2018-10-25 10:44] fgalan opened #3347 "Return 400 instead of 500 when GeoJSON syntax error occur"
Orion returns 500 error when client send a wrongly formed GeoJSON:

Example 1:

[code]

[code]

Example 2:

[code]

[code]

Orion should return 400 Bad Request error (as the error is in the client side). The solution would be to intercept in the proper place the error returned by MongoDB (looking for error "extract geo keys") and use 400 instead of 500 in that case.

[2018-10-28 15:42] cdupont commented on #3326
Well, I fixed one of my other containers that was consuming a lot of memory on start-up.
Now the problem doesn't appear anymore... So I don't think any documentation action is needed.

[2018-10-29 17:14] taliaga commented on #3237
Apparently I missed this information from the [walk-through docs](https://fiware-orion.readthedocs.io/en/master/user/walkthrough_apiv2/index.html#subscriptions). It comes in a header called `Location`.

Adding this to the spec in https://github.com/Fiware/specifications/pull/8 instead.

[2018-10-29 17:14] #3237 closed

[2018-10-30 16:51] fgalan commented on #3070
The three PRs were just merged. MongoDB 3.6 support has been consolidated in master branch. Closing issue. Thanks to everybody! :)

[2018-10-30 16:51] #3070 closed

[2018-10-31 17:06] agaldemas commented on #3070
Hi,
Nice news, I've just tested latest version of Orion and Mongo 3.6.8, and now request "/v2/types" doesn't crash Orion.
Well done !
thanks to everybody
I copy @grenouille06

[2018-11-05 14:46] arigliano commented on #3045
After PR #3122 clarifications and related logic fixes, looking deeper this issue, the problem seems to be in the following, the entitiesQuery calls does not receive the ApiVersion:
[code]
Then in the **entitiesQuery** function, the API version is not present in the call, and it seems to take 1 as default:

[code]
Finally, the ContextElementResponse constructor, receives "1" as apiVersion (even if

[2018-11-05 17:28] fgalan commented on #3045
Without having analyzed the issue so deep as you have done (thanks! :) I think best alterantive would be:

In fact, I think the code was that way in the past but we removed it as we didn't need (until now)

With regards to

I think it is not a good idea, as it would involve overload the RenderFormat semantics with an aspect not related with it. RenderFormat is used only by notifications and I unde

[2018-11-13 08:52] fgalan commented on #3189
This issue has been asigned to @SourabhChourasiya-NEC

Thanks!

[2018-11-16 05:30] SourabhChourasiya-NEC commented on #3189
Hi @fgalan Sir,
I have successfully implemented the onshot subscription feature at creation time and it is working fine without impacting existing functionalities.

But when I am trying to update the subscription status from inactive to oneshot again through patchSubscription request. I am not getting any notification because initial notification will be sent once we request for new subscription.

[2018-11-16 16:49] fgalan commented on #3189
From my point of view, in order to keep things simple and usable, oneshot subscriptions shouldn't trigger initial notification (neither at creation time nor update subscription to move from "inactive" to "oneshot"). Thus, it would be as follows:

* Subscription is created with status "oneshot". No initial notifications is sent.
* Some entity update triggers the subscription. A notification is sent

[2018-11-21 18:55] fgalan commented on #3122
Fixed by PR #3346

[2018-11-21 18:56] fgalan commented on #3045
Fixed by PR #3346

[2018-11-22 13:19] #3122 closed

[2018-11-22 13:19] #3045 closed

[2018-11-27 04:07] SourabhChourasiya-NEC commented on #3189
Hi @fgalan Sir,
Thank you for your feedback. It was very helpful for me to implement the ONESHOT feature.
I have implemented the ONESHOT subscription feature according to your suggestion.
Currently, I am self-reviewing it. I will raise the PR in 2/3 days.

Should I need to write FT for the same?

Thank You

[2018-11-27 08:03] fgalan commented on #3189
Do you mean functional tests (i.e. .test files)? Yes, every new functionality should come along with corresponding test and documentation.

Thanks!

[2018-11-28 14:48] Carmelo10 opened #3359 "Info geolocation"
Hi I'm a student and I'm working for the first time on the broker. I understood how the creation of entities works and their updating through "update" queries. My question is: you can create an entity that contains variables (eg geolocation) defined with value "null" or "zero" and then initialize them with values that interest me. So as to have dynamic and non-static variables (ie that require use

[2018-11-28 17:19] fgalan commented on #3359
Github issues are typically for identified issues in the software (e.g. a bug report). However, I understand this is a question thus it should be better posted in http://www.stackoverflow.com

Could you post the question there, please? It is just a matter of copy-paste the existing text :). Please don't forget to include the "fiware-orion" label in the question post.

Once posted, please add the l

[2018-11-28 17:51] tioperez opened #3360 "Error getting an entity that has an attribute of type StructuredValue"
**STEP 1:** Update or append entity with an attribute of type StructuredValue

[code]

**WHEN:** Retrieve an entity by ID **test_entity001** or List entities

[code]

**THEN**: The response does not contains the value for the attribute **example_attr**

[code]

**UPDATE:**

I've deployed the iot stack with docker. These are the used containers:

- fiware/orion:2.0.0
- fiware/iotagent-json:1.8.0

[

[2018-11-29 04:42] SourabhChourasiya-NEC commented on #3189
Hi @fgalan Sir,

I have raised the PR #3361 .
Please review it and guide me further.

Thank You

[2018-11-29 08:44] Carmelo10 commented on #3359
https://stackoverflow.com/questions/53534914/fiware-orion-geolocation

[2018-11-29 08:44] #3359 closed

[2018-11-29 13:02] fgalan commented on #3189
Thanks for your contribution! I have provided some piece of feedback/question on the PR, as usual :)

[2018-11-29 13:29] fgalan commented on #3360
I have conducted a similar test.

Create the entity with:

[code]

Update the entity with:

[code]

Get the entity:
[code]

Result is correct:

[code]

Note I haven't include fiware-service and fiware-servicepath to make requests simpler, but I will conduct the same tests using them. In the meanwhile, could you conduct a test like mine (i.e. without headers and running CB without `-multiservice`)

[2018-11-29 18:56] fgalan commented on #3360
For the record, mine is: 2.0.0-next (git version: 0d4e4bedf1ac59834087614514ad2bbce7893e96)

[2018-11-30 10:15] tioperez commented on #3360
Thanks @fgalan I will check if it work running CB without -multiservice.

Currently i run a Orion with the following docker-compose

[code]

[2018-12-02 16:27] Glagnar opened #3362 "README problem ?"
The readme states that:
`However, note that Orion doesn't work yet with MongoDB 3.6. Have a look to issue https://github.com/telefonicaid/fiware-orion/issues/3070`
However, I read somewhere else that 3.6 was the only supported version.

[2018-12-02 16:31] Glagnar commented on #3362
https://github.com/Fiware/tutorials.Step-by-Step/blob/master/docs/getting-started.md
This guide uses 3.6

[2018-12-03 07:59] fgalan commented on #3362
You are right, MongoDB 3.6 support was recently added (https://github.com/telefonicaid/fiware-orion/blob/master/CHANGES_NEXT_RELEASE#L3).

I have looked to https://github.com/telefonicaid/fiware-orion/blob/master/README.md file and there is no reference to MongoDB there... Could you tell me in which document you have find the wrong statement, please?

[2018-12-03 09:39] tioperez commented on #3360
I confirm that the problem appears when you use the iot-agent service to create a device with commands array like:

[code]

And then when you add a new attribute of type StructuredValue and you request its value. The value for that attribute is not present.

**So I am closing this issue and create a new one with the detailed spec.**

[2018-12-03 09:39] #3360 closed

[2018-12-03 11:11] tioperez opened #3363 "Error on StructuredValue attribute type when using commands on a IoT device"
I've deployed the iot stack with docker. These are the used containers:

- fiware/orion:2.0.0
- fiware/iotagent-json:1.8.0

[other containers not involved in the issue ...]

**Documentation consulted:**
- [FIWARE-NGSI v2 Specification][1]
- [IoT Agent Provision API Documentation > Devices > Device Model > commands][2]

----------

**GIVEN:** A device ready to receive a command called "ping"

[code

[2018-12-03 12:55] fgalan commented on #3360
Ok. Maybe it would be useful to add the link to the new issue here, for traceability.

[2018-12-03 13:13] caa06d9c opened #3364 "Deb based image for Orion"
I've prepared image based on Debian (~112mb). I can refactor CI too. Is is a good idea?
[Link](https://github.com/caa06d9c/fiware-orion/tree/docker/docker)

`docker build -t fiware/orion:deb --build-arg REV=master`

[2018-12-03 17:23] fgalan commented on #3363
You mean that if you do the provision of the devide using this

[code]

Then it works as expected?

[2018-12-04 07:30] tioperez commented on #3360
https://github.com/telefonicaid/fiware-orion/issues/3363#issuecomment-443793572

[2018-12-04 07:37] tioperez commented on #3363
Yes, If you don't add commands array to that object, then it work as expected.

[2018-12-04 07:39] fgalan commented on #3363
What about if you provision using the command array but you get the attribute individually, i.e.:

[code]

Is that working?

[2018-12-04 07:46] tioperez commented on #3363
Isn't working, the behaviour is the same.

[2018-12-04 08:30] fgalan commented on #3363
I'll try to reproduce the problem. Could you post the docker-compose.yml you are using (reduced to the relevant container) so I can replay your same test, please?

[2018-12-04 09:30] tioperez commented on #3363
Thanks @fgalan here you are.

[code]

[2018-12-04 10:10] fgalan commented on #3189
PR merged. Closing.

[2018-12-04 10:10] #3189 closed

[2018-12-04 16:15] fgalan commented on #3364
Thanks for the link! I'll have a look as soon as I can.

For the records: current Orion image (https://hub.docker.com/r/fiware/orion/tags/) is around 105-108 MB

[2018-12-04 17:19] caa06d9c commented on #3364
This size is compressed, real size at local storage ~280MB, so dev version in compressed size ~ 45mb, in real - 112

[2018-12-05 08:30] janaka1984 opened #3369 "How to unsubscribe particular entity from csubs using subscribe_id"
Hi @fgalan ,

i couldn't find particular **subscribe_id** to **unsubscribe** particular entity from **csubs**.

If i can use customize  **subscribe_id**  instead of auto **generate id**, it is easy to unsubscribe particular id.
But i couldn't set customize id, when call **subscribe(self, entity_id, entity_type="openmtc", fiware_service="")** in **orion_api.py**

Regards
Janaka

[2018-12-05 08:31] janaka1984 opened #3370 "subscribe_id"

[2018-12-05 08:33] #3370 closed

[2018-12-05 09:50] fgalan commented on #3369
This is more a question about functionality rather than an actual issue in Orion code. Thus, I'd suggest to move it to StackOverflow (https://www.stackoverflow).

Thus, could you please create a question post in SOF, please? It would be just a matter of copy-pasting the same text, so it should be easy :) Please, don't forget to include the "fiware-orion" label.

Once done, please add the link to t

[2018-12-05 10:12] janaka1984 commented on #3369
Hi @fgalan

Thanks for reply
I have added above question to SOF
https://stackoverflow.com/questions/53629748/how-to-unsubscribe-particular-entity-from-csubs-using-subscribe-id-in-fiware-ori

Regards
Janaka

[2018-12-05 10:12] #3369 closed

[2018-12-05 12:05] fgalan commented on #3363
For the records, an equivalente version of docker-compose.yml for version 1 (the one I have in the machine where I'm going to test).

[code]

[2018-12-05 14:54] fgalan commented on #3363
Hint: using this for CB `command` you will bet a more useful log:

[code]

[2018-12-05 14:58] fgalan commented on #3363
I'm doing the same test, but getting a different result:

[code]

So it it working in almost all cases... except in the one associated to a structured value. For that case, the `value` key is not shown.

The log I get in Orion is the following one:

[code]

The lack of iota-json log in this case make me think that probably the Orion->IOTA-JSON connection is not working. I'll have a look to that ne

[2018-12-05 15:12] fgalan commented on #3363
I have confirmed the connection problems. Looking to the IOTA-JSON container IP:

[code]

Now accessing to Orion container:

[code]

Trying to ping by name:

[code]

Thus, I'm adding "" to /etc/hosts and now it works

[code]

Running again the above query:

[code]

Log:

[code]

I'm getting the same result but now the log shows Orion-IOTA-JSON interaction. The problem is not yet solved, but having

[2018-12-05 16:39] fgalan commented on #3363
After this debugging session, it seems we have two situations here:

1. Orion fails to forwared the query to IOTAgent, due to connection problems. In that case, we see in the traces:

[code]

2. Orion is able to forward the query to IOTAgent and it gets a 404 result. In that case, we see in the traces:

[code]

In both situations, the `value` key for compound attributes is not rendered in the quer

[2018-12-10 11:08] fgalan commented on #920
This issue has been asigned to @SourabhChourasiya-NEC

Thanks!

[2018-12-10 11:11] fgalan commented on #920
With regards to the specific option to avoid the initial notificaiton, what about?

[code]

`skipInitialNotification` is a bit long... @SourabhChourasiya-NEC (or anybody :) if you have some alternative name, please go ahead.

[2018-12-10 16:28] fgalan opened #3372 "Expression support in custom notifications"
Currently custom notifications support only a basic attribute value substitution mechanism, e.g:

[code]

It would be great to extend that mechanism to include aritmetic expressions, like [the ones supported by IOTAgents](https://github.com/telefonicaid/iotagent-node-lib/blob/master/doc/expressionLanguage.md), e.g,

[code]

(IOTAgent expressions use `${@temperature}` for plain substitution, which

[2018-12-11 06:42] fgalan commented on #3363
Reference documents in orion-testservice DB (useful to implement the .test):

[code]

[code]

[2018-12-11 07:10] SourabhChourasiya-NEC commented on #2882
Fixed in #3373

[2018-12-11 07:14] fgalan commented on #920
Note that the mongoUpdateSubscription logic can also send an initial notification https://github.com/telefonicaid/fiware-orion/blob/master/src/lib/mongoBackend/mongoUpdateSubscription.cpp#L905. Maybe the code is reused in both create/update operations so you would only touch the code in a single point but from the point of view of functional .test, both cases (create and update) should be covered.

[2018-12-11 10:06] karaleina opened #3374 "Duplication of IDs - Conflict Error when obtaining attributes in FIWARE Orion Context Broker"
**PROBLEM SUMMARY:**

I get Conflict Error when I obtain attributes in FIWARE Orion Context Broker after registering Context Provider. When I try to get an attribute (location) without registered context, it works fine for me, but after context registration it fails (I get 409 Conflict Error). On the other hand, I can remove entity by id and then I can get temperature for not existing object.

I h

[2018-12-11 13:07] fgalan opened #3375 "Overlogging as ERROR a situation that isn't"
Registration is created (using the same example as in the API walkthrough):

[code]

Then get the registration:

[code]

The following error appears in log:

[code]

BSON type 18 is "64-bit integer" according to http://bsonspec.org/spec.html. The field in DB appears as:

[code]

[2018-12-12 10:03] fgalan commented on #2882
Doc fixes in PR #3376

[2018-12-12 10:03] #2882 closed

[2018-12-12 15:42] tmontanaro opened #3378 "Orion Docker container: problems in notification subscriptions"
I'm using Orion on my own server (through the provided Docker container (container Orion at version 1.14.0-next)).
Everything works except the subscriptions.
I found a lot of possible contents to send to Orion to submit a subscription but I continue to see "status": "failed" when I query the list of subscriptions (and, in any case, no data is received). Do you have any idea on how to solve such a

[2018-12-12 15:50] fgalan commented on #3378
This is more a question than an issue so it would be better placed in SOF (http://www.stackoverflow.com). Thus, could you create a question post there (it is a matter of basically copy-pasting the same text :), please? Don't forget to add the label "fiware-orion" to your questions.

Once posted in SOF, please add the link to the question as a comment in this issue, then close the issue, Thanks!

[2018-12-12 16:03] tmontanaro commented on #3378
Ok, thanks!

https://stackoverflow.com/questions/53746833/fiware-orion-docker-container-problems-in-notification-subscriptions

[2018-12-12 16:09] #3378 closed

[2018-12-12 18:45] fgalan commented on #3374
StackOverflow is definitively the way to go with this kind of questions. Thanks for posting there!

Let's continue discussion in SOF and close this issue.

[2018-12-12 18:45] #3374 closed

[2018-12-13 10:16] fgalan commented on #3363
The fix has landed in master branch. Please @tioperez redeploy using `fiware/orion:latest` (instead of `:2.0.0`) and check if `example_attr` is working now. Thanks!

[2018-12-13 14:53] tioperez commented on #3363
Thanks @fgalan

[2018-12-13 14:53] fgalan commented on #3363
You're welcome!

"Thanks" means that you have tested and it is working now? :)

[2018-12-13 15:03] tioperez commented on #3363
Yeap works fine 👌

[2018-12-13 15:04] fgalan commented on #3363
Thanks for the feedback! Based in your report I think we can close this issue.

[2018-12-13 16:16] fgalan commented on #3265
It seems the link the issue body has broken... (I get a 404).

I think we are close to fix #3162 and given this issue could be related, I'd like to have a look. @caa06d9c  could you include the .test in a comment to this issue or include a new working link, please? Thanks!

[2018-12-13 17:25] caa06d9c commented on #3265
This PR implementing test, that was in the broken link, so the issue can be closed.
Thanks!

[2018-12-13 17:25] #3265 closed

[2018-12-13 18:38] fgalan commented on #3375
Fixed by PR https://github.com/telefonicaid/fiware-orion/pull/3382

[2018-12-14 04:54] SourabhChourasiya-NEC commented on #920
Hi @fgalan Sir,

I do agree with you. But I have checked the functionality for subscription create/update. According to the code flow as we update the status from inactive to active through PATCH Subscription, notification should be sent to the consumer. But no notification is sent to consumer, it waits for next entity update for sending the notification.

As mentioned in the document of [initial

[2018-12-14 07:41] #3375 closed

[2018-12-14 09:48] fgalan commented on #920
`status` is not the only field you can update with PATCH on the subscription. What about if you PATCH changing the `subject` or `notification` fields?

[2018-12-14 11:47] fgalan commented on #3282
Solved by PR #3380

[2018-12-14 11:47] #3282 closed

[2018-12-17 04:49] SourabhChourasiya-NEC commented on #920
Hi @fgalan Sir,
I have checked PATCH request for subject and notification field, but after updating one of the field or both, the initial notification doesn't trigger in this case also.
However, I have started working for configurable initial notification by URI parameter, and update you in some time.

Thank you.

[2018-12-17 08:07] fgalan commented on #920
If you look for "initial notification" in existing .test you will find several ones related with initial notification on update. However, let's put appart that by the moment if you want and focus on the implementation.

Thanks!

[2018-12-18 07:59] fgalan commented on #3162
Thanks @jason-fox for the feedback. It would be great to have also the feedback from @versatildefuy @mainakae @dherykw but I understand your positive report is enough to close the issue.

Af follow up actions I will:

* delete the fiware/orion:fix3162 image
* delete the branch bugfixing/3162_fix_but_potential_leak
* cancel PR #3320 as the documentation adjust is no longer meaningfull

[2018-12-18 07:59] #3162 closed

[2018-12-18 15:16] fgalan opened #3389 "Forced update option"
When Orion recieves an update if the value of an attribute is the same as the previous value then it is not considered and actual update so:

* Subscriptions covering the attribute are not triggered
* dateModified metadata for that attribute (and possibly dateModified attribute for the containing entity) are not updated

This issues is about implementing an extension option in the NGSIv2 API that

[2018-12-19 09:59] cdupont commented on #3326
The problem still bites me very often:
[code]
In which case I have to do `docker-compose down` then `docker rm $(docker ps -a -q)` to clean everything.

[2019-01-08 12:33] fgalan commented on #3362
Thanks for the clarification.

I understand PR https://github.com/telefonicaid/fiware-orion/pull/3394 solves is. Is that correct?

[2019-01-10 11:00] cdupont commented on #3001
This is highly needed.
I need to implement MQTT on my server, which is using Orion as a back-end.
This proves difficult if MQTT is not implemented inside Orion... For instance I could implement myself a PUBLISH endpoint and write inside the MongoDB directly. But in this case the Orion notifications would not be triggered I think.

[2019-01-10 16:51] cdupont commented on #3166
I have the same issue.
Not sure to understand though: what's happening here? What do you mean by "running in fail state"?

[2019-01-13 03:05] SourabhChourasiya-NEC commented on #920
fixed in #3397

[2019-01-14 13:02] fgalan commented on #3326
Is there any deterministic way to reproduce the problem? It is hard to debug a problem that sometimes happens sometimes doesn't ;)

[2019-01-14 13:57] fgalan commented on #3362
PR #3364 has been merged. This issue is going to be closed.

@Glagnar if you think this is not ok and something is yet pending, please tell us about. Thanks!

[2019-01-14 13:57] #3362 closed

[2019-01-14 14:34] fgalan commented on #3001
I agree this is a very apealing to be included in Orion.

The work was started in PR #3194. As far as I remember the work was pretty advanced, but some comments on the PR are yet pending. Not sure if @McMutton are you still active and can provide some update on it, please.

If @McMutton is no longer involved in Orion development, a possibility will be that some other continues the work he started

[2019-01-14 18:10] cdupont commented on #3001
Unfortunately my time is too limited currently :)

[2019-01-14 18:12] cdupont commented on #3326
Unfortunately no deterministic way, but it happens very often.
The docker-compose.yml I gave on the 5th Oct reproduces the problem.

[2019-01-17 06:42] SourabhChourasiya-NEC commented on #3389
Hi @fgalan Sir,
I can work on this feature. Please assign this to me.
Thanks

[2019-01-17 10:03] #920 closed

[2019-01-18 10:04] fgalan commented on #1494
The following post in SOF should be edited upon issue completion: https://stackoverflow.com/questions/54220061/orion-subscriptions-do-not-detect-the-removal-of-entities

[2019-01-18 11:56] ilarimikkonen opened #3400 "Documentation: context information - what is the definition"
the documentation refers at many points to "context information" but it's not defined anywhere. Could you please add a short section to Readme explaining what "context information" means?

[2019-01-18 12:17] jason-fox opened #3401 "[MUST] Readme must display QA results section"
The QA Results section is missing

- MUST requirement from TSC

[2019-01-18 15:45] jason-fox opened #3402 "[SHOULD] Repo description, topics and URL Llink"
Please click the edit button at the head of the repo and amend the description link and topics as shown (or similar):

### Description:

### Link

- SHOULD requirement from the TSC.

[2019-01-21 11:20] #3402 closed

[2019-01-21 12:22] jason-fox opened #3403 "[MUST] Credits are missing"
According to the contribution requirements, credit must be given to developers who contribute to the development of each component. A simple way to do this is to add and maintain a  [CREDITS](https://github.com/Engineering-Research-and-Development/iotagent-opcua/blob/master/CREDITS) file.

The list of previous contributors can be obtained using the following command:

[code]

- MUST Requirement fr

[2019-01-21 12:30] dherykw opened #3404 "[Question] Orion Federation Security"
Let's suppose a scenario where we have two Orions deployed in different cloud infrastructures. These Orions are behind a PEP (Wilma) each, **with no posibilty of accesing them without autentication.**

- Would it be possible to federate these Orions through the PEP?
- If the Orion2 (O2) is the context provider of Orion1 (O1) when an O1 user request a queryContext to O1 will the access token propag

[2019-01-21 13:04] jason-fox opened #3405 "[MUST] Remove anchor tags from docs"
The use of `<a>` anchor tags within the documentation can cause issues within the Readthedocs documentation. They are usually unnecessary since the headings create their own references anyway which can be used.

All anchor tags should be removed from the documentation. If navigation is still required, the internal links will also need to be updated.

* MUST Requirement from TSC

[2019-01-21 14:21] dherykw commented on #3404
As @fgalan request, the topic will be discussed on StackOverflow, find the link [here](https://stackoverflow.com/questions/54291871/orion-federation-security)

[2019-01-21 14:21] #3404 closed

[2019-01-21 15:40] fgalan commented on #3400
Thanks for the feedback. Pull request https://github.com/telefonicaid/fiware-orion/pull/3406 addresses it. Please tell us what do you think, so the PR can be merged to solve this issue.

[2019-01-22 03:05] SourabhChourasiya-NEC commented on #3389
Hi @fgalan Sir,
Should I update the document if any or create a new document for the same with updating NGSIv2 implementation notes.
Thanks

[2019-01-22 08:10] fgalan commented on #3389
Depends on the document, but in general for small additions (like this one) it is better to modify existing documents.

I'd suggest first complete the implementation, then I can suggest at PR time how to edit the documentation (which documents to modify and how). Makes sense?

[2019-01-22 12:40] #3400 closed

[2019-01-22 12:52] fgalan commented on #3405
I'm not sure if removing `<a>` anchors would break the Japanese translation...

For instance looking to https://raw.githubusercontent.com/telefonicaid/fiware-orion/master/doc/manuals.jp/user/walkthrough_apiv2.md we have:

![imagen](https://user-images.githubusercontent.com/1534240/51536645-905ef200-1e4c-11e9-97fb-b16df583b9f1.png)

which is linked this way (in the same file):

![imagen](https://us

[2019-01-22 13:11] fisuda commented on #3405
@jason-fox  If <a> anchor tags can't be used, I have to give up the internal links in jp doc or have to use the captions written in English. This issue is not only in orion jp document but also in other jp documents.

[2019-01-23 13:08] jason-fox commented on #3405
Let's relax the rule then.

**Clarification:* The requirement should only apply for Documentation in English.

[2019-01-23 13:12] fgalan commented on #3405
Great!

I understand the amendment should be pushed to https://github.com/Fiware/contribution-requirements/

[2019-01-23 13:39] fisuda commented on #3405
I appreciate your understanding.

[2019-01-25 09:09] fgalan commented on #3190
@efviodo no news since July last year... :)

Any update on this please? Thanks!

[2019-01-26 12:32] agaldemas opened #3412 "support for milliseconds in timestamp attributes (Datetime type)"
Hello,
As soon as Orion should be used in smart industry, even it's not aimed at controlling industrial process, it could be valuable to support milliseconds in timestamp attributes of type DateTime, for the moment the milliseconds in a DateTime attribute are removed even specified in the injected value like :
[code]
the milliseconds part

 are not stored in mongo (set to 0):
[code]
and then can't

[2019-01-28 04:50] SourabhChourasiya-NEC commented on #3389
fixed in #3413

[2019-01-28 14:01] efviodo commented on #3190
@fgalan: Sadly at this moment I am quite away from this project and without personal time to make a contribution with quality.

I would be glad if someone else with more active participation would take it.

My apologies!

[2019-01-28 16:48] fgalan commented on #3190
@SourabhChourasiya-NEC what do you think about this? Would you like to implement this? Taking into account your last contributions I would say you are now an expert in Orion subscription/notification stuff :D

[2019-01-29 06:11] SourabhChourasiya-NEC commented on #3190
Hi @fgalan  Sir,

I would be happy to work on it. Please assign this feature implementation to me.
Also, provide your valuable guidance on the same if any.

Thank you

[2019-01-29 09:03] fgalan commented on #3190
Thanks! :)

This issue has been assigned to @SourabhChourasiya-NEC

With regards guidance, please have a look to above comments, from this point on: https://github.com/telefonicaid/fiware-orion/issues/3190#issuecomment-405636909

[2019-01-29 18:00] fgalan commented on #3077
Fixed by PR https://github.com/telefonicaid/fiware-orion/pull/3414

[2019-01-29 18:04] fgalan commented on #3073
Fixed by PR https://github.com/telefonicaid/fiware-orion/pull/3414.

Let's compare the one in this issue (top):

[code]

with the one in the PR's branch:

[code]

All using the same corr/srv/subsrv/from, two transactions (0001 for the update, 0002 for the notification sent).

Check with all notification modes (permanent, transient an threadpool) in both cache and no-cache modes (i.e. the six possi

[2019-01-29 18:32] mrutid commented on #3073
[srv=pending | subsrv=/BBB] Don't you know the srv at this point? there is any difference with subsrv?

[2019-01-29 19:06] fgalan commented on #3073
Yes, the first two ones are weird with regards srv= and subsrv=

[code]

I think it's easy to improve. I'll do:

[2019-01-30 12:15] fgalan commented on #3073
PR modified and now it looks like:

[code]

[2019-02-01 09:31] #3389 closed

[2019-02-04 08:08] jmcanterafonseca opened #3418 "[NGSI-LD] Implement POST /ngsi-ld/v1/entities/"
Section 6.4.3.1 of the ETSI Specification

https://www.etsi.org/deliver/etsi_gs/CIM/001_099/009/01.01.01_60/gs_CIM009v010101p.pdf

[2019-02-04 08:10] jmcanterafonseca opened #3419 "[NGSI-LD] Implement GET /ngsi-ld/v1/entities"
Section 6.4.3.2 of the specification

https://www.etsi.org/deliver/etsi_gs/CIM/001_099/009/01.01.01_60/gs_CIM009v010101p.pdf

[2019-02-04 08:12] jmcanterafonseca opened #3420 "[NGSI-LD] Implement GET /ngsi-ld/v1/entities/{entityId}"
Section 6.5.3.1 of the specification

https://www.etsi.org/deliver/etsi_gs/CIM/001_099/009/01.01.01_60/gs_CIM009v010101p.pdf

[2019-02-04 08:12] jmcanterafonseca opened #3421 "[NGSI-LD] Implement new URL parser"

[2019-02-04 08:13] jmcanterafonseca opened #3422 "[NGSI-LD] Implement LD @context manager"

[2019-02-05 10:30] fgalan commented on #3419
The scope of this issue is the basic operation without optional or advance features taking into account NGSIv2 interoperability aspects, i.e. a kind of "minimum viable operation" (borrowing the term MVP from lean methodologies). Advances/optional features in the operations are deferred to future issue.

[2019-02-05 10:31] fgalan commented on #3420
The scope of this issue is the basic operation without optional or advance features taking into account NGSIv2 interoperability aspects, i.e. a kind of "minimum viable operation" (borrowing the term MVP from lean methodologies). Advances/optional features in the operations are deferred to future issue.

[2019-02-05 10:42] fgalan commented on #3422
Given this is an internal module without code using it in the context of this issue, its API (.h) should be covered by unit test. Note the case is similar to mongoBackend, that was developed when no code using it were ready and was covered using unit tests.

[2019-02-05 15:03] agaldemas commented on #3412
Wonder why no one even post a comment on this issue ?
Do you want I rewrite it in a simpler way ?
Thanks in advance for your feeback

[2019-02-05 16:03] fgalan commented on #3412
I saw the issue but I'm afraid I haven't yet have time to analyze and provide a answer. I'll do as soon as possible. In the meanwhile maybe some other member of the Orion community could provide feedback on it.

[2019-02-06 09:25] agaldemas commented on #3412
Hi @fgalan, thanks for your feedback, to do it simple:
I noticed that milliseconds are lost at the insertion in mongo when using DateTime or ISO8601 types with V2 requests,
with V1 requests and ISO8601 type for timestamp milliseconds are kept but in metadata only, as a formatted date.
And globally milliseconds are not handled for dateModified and dateCreated (modDate & creDate in mongo).

[2019-02-06 11:13] #3073 closed

[2019-02-06 11:24] #3077 closed

[2019-02-06 17:05] fgalan opened #3427 "Wrong error code (204) when idPattern is used in POST /v2/op/update (should be 501)"
(Related with https://github.com/telefonicaid/fiware-orion/issues/2389)

Currently idPattern is not supported in `POST /v2/op/update` operation. However, if we attemp to use it:

[code]

we get:

[code]

instead of a 501 Not Implemented.

The DB is not touched anyway.

[2019-02-06 17:07] fgalan commented on #2670
Related: https://github.com/telefonicaid/fiware-orion/issues/432

[2019-02-06 17:07] fgalan commented on #432
Related: https://github.com/telefonicaid/fiware-orion/issues/2670

[2019-02-06 17:22] fgalan commented on #3412
(Finally, I have been able to have a look and anwser :)

You are right: precision higher than seconds (i.e. miliseconds, microseconds, etc.) are not supported in `DateType` NGSIv2 attribute type. That's the reason of issue #2670 (in some sense #432 can be seen as the implementation detail of #2670).

With regards to NGSIv1, it's working because DateTime has no meaning in that API version. By the w

[2019-02-06 17:23] fgalan commented on #3412
With regards to `YYYY-MM-DDThh:mm:ss,ssssssZ`, it's the first time I see a format like that :) In my experience, not sure if an standard or not, but the dot (.) is typically used as separator.

Maybe @jmcanterafonseca , which knows NGSI-LD much better than me, can provide additional feedback.

[2019-02-07 14:18] agaldemas commented on #3412
Hello @fgalan, @jmcanterafonseca
About NGSI LD and timestamp format, I made a feedback to ETSI, with a proposal to change in the next version of specification to use '.' instead of ',' as separator, and to accept also milliseconds as well.
May be I can transfer you my email, so that you can also support my suggestion !

[2019-02-07 15:37] fgalan commented on #3412
What ISO8061 tells about fractions is (http://www.loc.gov/standards/datetime/iso-tc154-wg5_n0038_iso_wd_8601-1_2016-02-16.pdf section "4.2.2.4 Representations	with	decimal fraction") is:

From my point of view, NGSI-LD should use the same.

Having said that, if you think that only "." should be supported (i.e "," forbidden) and you want to propose that to ETSI you can also have my support :)

[2019-02-07 17:25] fgalan opened #3429 "lastNotification/timesSent get lost upon update subscription in noCache cases"
At https://github.com/telefonicaid/fiware-orion/blob/master/test/functionalTest/cases/3189_oneshot_subscription/3189_oneshot_subscription_noCache.test we get a subscription just after updating it (to change status inactive -> oneshot).

[code]

Having a `lastSuccess` without `lastNotification` doesn't make sense. It is like `lastNotification` and `timesSent` got lost after updating the subscriptio

[2019-02-08 13:29] fgalan opened #3431 "Entity expiration if it doesn't receive an update in a given time"
We have transient entities functionality since Orion 1.15.0.

However, in addition of using a fixed date it will be great to add the capability of expire (and delete) the entity if no update on it has been received within a given date (real updated? or any update, i.e. even the ones don't actually change any attribute value?).

It is a matter of dynamically chaning the `extDate` field in the DB do

[2019-02-09 10:14] agaldemas commented on #3412
You're right @fgalan,
If you don't mind, I'll send a new email to ETSI, copy to you, to refer iso 8601, and accept both [.] & [.] for second decimal fraction.

[2019-02-11 13:19] fgalan opened #3432 "dup key error in CEP->CB update"
In CEP-CB integration, the following configuration in rules:

[code]

was causing this update request:

[code]

which in secuence causes log traces like this regaring duplicate key at DB:

[code]

However, the following action:

[code]

causes this update request:

[code]

and it seems to work.

Something could be wrong in CB error-checking logic. A duplicated entity should be detected before prog

[2019-02-11 16:31] fgalan commented on #3432
Looking to log traces it seems that CEP does two update context actions triggered by the same notification, each one associated to a different transaction at CB:

Transaction 1548182303-294-00002021196:

[code]

Transaction 1548182303-256-00001932275:

[code]

Note both transaction (i.e. execution threads) are started very closely (at .399) both check entity existence (at .385) and see entity does

[2019-02-11 16:33] fgalan commented on #3432
This solution will work only in mono-CB deployments. In multi-CB deployments (as the one corresponding to the logs, note that the big offset in transacion id number means that two different CBs are processing each update) that is not going to work.

[2019-02-11 16:42] fgalan commented on #3412
Ok!

[2019-02-12 17:08] fgalan opened #3434 ""Special Metadata Types" in NGSIv2 specification"
Looking to the [NGSIv2 specification](http://fiware.github.io/specifications/ngsiv2/stable/) we have a section for "Special Attribute Types".

However, we don't have a section for "Special Metadata Types". The DateTime attribute type is the only one to be included there (note that in "Builtin Metadata" section we mention DateTime).

NGSI v2.0 was already released so in theory no new version can be

[2019-02-15 12:28] fgalan opened #3439 "needsActualChange subscription field to implement "always-notify" at subscription side"
Issue #3389 covers "always-notify" from the point of view of the update request. However, it is also make sense to set it at subscription level, i.e. a subscription configured with "always-notify" will consider every update operation as an actual update, no matter if the attribute were actually changed or not.

It could be done using a new boolean field `needsActualChange` within `condition`. By d

[2019-02-15 12:53] alvarosainzpardo commented on #3439
This functionality would be very useful for the projects I work on: theese projects are business intelligence dashboards that receive the data using notifications. The source of the data are third-party projects.

[2019-02-19 16:05] fgalan opened #3442 "NGSIv1 updates with geo:line|box|polygon|json removes location DB field of NGSIv2-located entities"
An entity created with NGSIv2 with a geo location attributes (geo:point, geo:line, geo:box, geo:polygon and geo:json) have a DB field named `location` (documented at https://fiware-orion.readthedocs.io/en/master/admin/database_model/index.html#entities-collection). If the entity updates its location using NGSIv2 or with NGSIv1 using geo:point then everything is ok and the entity keeps a coherent `

[2019-02-19 18:43] fgalan commented on #3442
Fixed by PR https://github.com/telefonicaid/fiware-orion/pull/3443

[2019-02-20 07:49] #3442 closed

[2019-02-20 15:05] ReasyEasyPeasy opened #3444 "Adding device change the value from Integer to String and delete value from entity"
Hey,
I'm using

-  fiware/iotagent-ul:latest
- mongo:3.6
- fiware/orion:2.1.0

and I'm doing the following:

[code]
[code]
**Results in:**

[code]

[code]

**Results in:**

The value is deleted and suddenly its a string although the type is still Integer.

[2019-02-21 11:22] #3444 closed

[2019-02-21 11:31] fgalan commented on #3444
This issue corresponds to https://stackoverflow.com/questions/54778164/fiware-orion-subscription-sending-empty-body/54805807, isn't?

(For the sake of traceability ;)

[2019-02-21 12:37] ReasyEasyPeasy commented on #3444
Yeah that is true. I just learned that this behaviour is a feature not a bug. Thats why I closed it!

[2019-02-22 13:21] StephaneRouxNCA opened #3446 "HTTPS notification doesn't reach cygnus"
Orion version is 2.1.0
Orion is started in HTTPS using the -https option

We use the "HTTPS" protocol schema in URL in our subscriptions --> reference" : "https://cygnus.domain.com/notify"

When we insert an Entity matching the subscrition, the ### Entity is created in Orion, **but not in STH**

However Orion Logs return: **Notification Successfully Sent to https://cygnus.domain.com:443/notify**

[2019-02-22 15:18] fgalan commented on #3446
This is more related with a support case than with a confirmed issue in Orion. Thus, I think it would be better to post the question in http://stackoverflow.com (basically a copy-paste there :). Could you do that, please? Use the "fiware-orion" and "fiware-cygnus" labels.

Once done, please add the link to the question as comment in this issue. Then, close the issue.

Thanks!

[2019-02-28 09:37] jaimeventura commented on #3068
Any update on this?
Im trying to implement a CP in python, using connexion and flask, but i cant find the ngsi v1 openapi/swagger spec to do it easily (only NGSI v2 is available).

[2019-02-28 22:11] minimalisti commented on #3326
In our system Orion worked well for some months, and then started to show this same behaviour, dying every now and then. I am seeing the same exit error code 139, but the reason _might_ be different. I didn't open a new issue, because I am not sure if I am not hitting the same bug(s). This case is difficult to for me to debug, as I can't see no cause for this in the logs.

End end of Orion's log:

[2019-03-01 07:42] fgalan commented on #3326
@minimalisti I think it should be better to open a new issue. In principle, it seems it is not related with the
mongo::UserException error described in this issue.

Please open a new issue (basically a copy-paste of the comment you have done here).

[2019-03-01 08:26] fgalan commented on #3068
We have been recently talking about this @dcalvoalonso @jmcanterafonseca and me so your comment is very timely :)

There is a proposal for forwarding in NGSIv2 (described at https://github.com/Fiware/specifications/pull/2) but it is too complex to be implemented at once. Thus, we are going to opt to implement something simpler in the first step but compatible with the specification if at the end w

[2019-03-04 10:26] fgalan opened #3451 "Notification blacklist CLI"
A new CLI option to specify a comma separated notification blacklist. If a given notification match one of the pattern (regex will be supported) then the notification is not send and a INFO message is logged.

For instance:

[code]

avoids notifications to the foo.com domain (any port) and to port 9999 in example.bar.com.

[2019-03-06 07:54] fgalan commented on #3068
More detail on the operations to implement:

* `POST /v2/op/update` will use `"update"` as `actionType` (to be consistent with NGSIv1)
* With regards to the `<parameters>` in `GET /v2/entities?<parameters>`, according to [NGSIv2 specification](http://fiware.github.io/specifications/ngsiv2/stable/) it allows 15 query parameters, but not all them makes sense in the context of query forwarding. A pre

[2019-03-07 23:43] minimalisti opened #3452 "Orion intermittently exits with code 139"
In our FIWARE system consisting of Orion, STH-Comet, and Mongo, Orion worked well for some months, but then started dying every now and then with exit code 139. This case has been difficult to for me to debug, as I can't see no cause for this in the logs.

End of Orion's log up to untimely exit:

[code]
As I wrote, at this time a have no further information to give about this problem. I would appr

[2019-03-08 08:17] fgalan commented on #3452
(I have cleaned up comments from #3326 to keep each issue focused on its topic)

[2019-03-08 09:17] kzangeli commented on #3068
My first doubt about forwarding is the following:
We will have V1 and V2 forwarding co-existing for some time, so how decide whether to send the forwarded requests as V2 instead of V1 ?

Different possibilities:
- All registrations created with V2 will get forwards using V2 (we'd need a new field for regs in mongo)
- The field http:url of the registration could be used to indicate the protocol ver

[2019-03-08 10:05] jmcanterafonseca commented on #3068
legacyForwarding: false will indicate that v2 should be used, right?

El vie., 8 mar. 2019 a las 10:17, Ken Zangelin (<notifications@github.com>)
escribió:

[2019-03-08 10:06] IgorDespot opened #3453 "Request header field fiware-service is not allowed by Access-Control-Allow-Headers in preflight response."
Hi,

I have an issue with cors when making calls to Fiware Orion.

The version of Fiware Orion.

"orion" : {
  "version" : "1.13.0-next",
  "uptime" : "7 d, 1 h, 8 m, 30 s",
  "git_hash" : "ae72acf9e8eeaacaf4eb138f7de37bfee4514c6b",
  "compile_time" : "Fri May 4 10:12:18 UTC 2018",
  "compiled_by" : "root",
  "compiled_in" : "1901fd6bb51a",
  "release_date" : "Fri May 4 10:12:18 UTC 2018",
  "doc"

[2019-03-08 10:19] kzangeli commented on #3068
Ah, great. Totally forgot about "legacyForwarding".
Good, the "registrator" decides.

[2019-03-08 10:32] fgalan commented on #3068
Corrent. In addition, omiting legacyForwarding field also indicates that v2 should be used.

[2019-03-08 11:06] fgalan commented on #3453
(I have formatted your code a bit)

How do you run Orion? Typically the output of the `ps ax | grep contextBroker` command.

By the way, your Orion version is pretty old (1.13.0, released almost a year ago). It would be wise to upgrade to a newer one (latest at this moment is 2.2.0).

[2019-03-08 11:24] IgorDespot commented on #3453
Hi, fgalan,

Yes, version is old, there was busy period od project so I had no time to check if swapping versions would make any difference in sending data, subscriptions etc... We are definitely going to upgrade version at least on the test environment.

I run Orion using docker compose, most important is command option:
` command: -dbhost mongo -https -key /localhost.key -cert /localhost.pem -lo

[2019-03-08 12:53] fgalan commented on #3453
I'm not an expert in CORS but reading at https://fiware-orion.readthedocs.io/en/master/user/cors/index.html#access-control-allow-headers it seems that fiware-service is included in the list:

[code]

Maybe it could be related with case (fiware-service vs. Fiware-Service)? It shouldn't becuase HTTP headers are case insensitive by definition, but...

Another question: is this happening only with `PO

[2019-03-08 13:03] fgalan commented on #3452
Exit code 139 means that the process ended due to signal 11 (SIGSEGV). It would be useful to have the backtrace in order to have more information. The typical procedure to get the backtrace is:

[code]

However, not sure how this can be achieved if Orion runs inside docker container... Some investigation needs to be conducted on this.

Has you been able to reproduce the problem running Orion outsi

[2019-03-08 14:08] IgorDespot commented on #3453
I try a post with v2/entities and got the exact same response. Anyway until we have more info on this I will try to make some connector/proxy to send data to Orion.

[2019-03-11 09:59] fgalan commented on #858
Metadata ID has been deprecated in Orion 1.13.0 and definitively removed in Orion 2.2.0. Thus, this issue is going to be closed.

[2019-03-11 09:59] #858 closed

[2019-03-11 11:25] fgalan opened #3456 "Crash during cache refresh logic"
Version:

[code]

On CI environment crash and core generation at March 8th, 0:20. Backtrace:

[code]

Possibly related code references:

* Related with 10, https://github.com/telefonicaid/fiware-orion/blob/master/src/lib/mongoBackend/MongoGlobal.cpp#L473
* Related with 9, https://github.com/telefonicaid/fiware-orion/blob/master/src/lib/mongoBackend/connectionOperations.cpp#L695

[2019-03-11 11:29] fgalan commented on #3456
On CI environment new crash and core generation at March 10th, 0:10. Backtrace:

[code]

[2019-03-12 12:04] fdelavega opened #3458 "IsPattern set to false in legacy forwarding request"
I am using Orion v2.1.0,  I have created a registration using v2 providing entity info with idPattern. In particular, I have created the following one:

    {
        "dataProvided": {
                "entities": [
                  {
                    "type": "Weather",
                    "idPattern": ".*"
                  }, {
                  	"type": "OffStreetParking",

[2019-03-12 15:54] minimalisti commented on #3452
I have always ran Orion as a service in Docker Compose inside a virtual machine, so I haven't reproduce the error. Maybe I should try it, but I presumed running with Docker was natural with FIWARE, much of the documentation is dedicated to using FIWARE with Docker and Docker Compose, and I would like to continue using them.

I haven't tried  enabling core generation within a Docker container, from

[2019-03-12 18:27] fgalan commented on #3452
Thank you for the detailed report. Please keep posting if some new finding arrives.

[2019-03-13 10:26] fgalan commented on #3458
According to https://fiware-orion.readthedocs.io/en/master/user/ngsiv2_implementation_notes/index.html#registrations, `isPattern` and `typePattern` are not supported.

In fact, the proper behaviour should be return 501 Not Implemented when the registration attemp is done.

The unsupport for this is due to an old and yet unsolved problem comming from the NGSIv1 days: given a regex (the one in the r

[2019-03-13 10:35] fgalan commented on #3287
Done in PR https://github.com/telefonicaid/fiware-orion/pull/3457

I'll play with .travis.yml trying to make smaller blocks in the ft job.

[2019-03-13 10:41] fgalan commented on #3287
I  have had a look to .travis.yml and I afraid is harder than I originally think... I understand this is the part in which the jobs are configured:

[code]

but I don't know how to provide the --fromIx and --toIx parameters.

@caa06d9c could you have a look and help, pls? Thanks!

[2019-03-13 11:54] caa06d9c commented on #3287
`/ci/rpm7/build.sh` should be fixed, so new parameters should be added and `FUNCTIONAL TEST` too to pass this params and   `/ci/rpm7/makefile` target too

[2019-03-14 09:53] kzangeli commented on #3458
Perhaps we need to put some restriction on the idPattern for registrations.
We could start with only allowing '.*' and nothing else for idPatterns.
That way, at least we get somewhere until we have a final decision, which seems difficult to find. It is a complex problem ...

[2019-03-14 10:04] fdelavega commented on #3458
The general case for supporting regex might not be a priority, but a mechanism for specifying in the registration that it is being provided all the entities of a given type would be important in my opinion

[2019-03-14 10:08] jmcanterafonseca commented on #3458
that can be done using just a type and avoiding using any idPattern. probably the spec should be updated for not allowing idPattern.

[2019-03-14 10:08] kzangeli commented on #3458
So, allowing for '.*' only as idPattern in the registration, and then using the entity id/idPattern from the request in the forwarded query would work for that part, right?

[2019-03-14 10:10] kzangeli commented on #3458
"avoiding using any idPattern" would be equivalent to allow only ".*" as idPattern.
Any of the two options are OK in my opinion.

[2019-03-14 10:11] jmcanterafonseca commented on #3458
we can do the following:

if `supportedForwardingMode` is different than none, then idPattern can only be '.*'

[2019-03-14 10:20] kzangeli commented on #3458
Sounds good.

And if `none`, giving idPattern would give an error (when registering) ?
And if !`none`, any value != .* of idPattern would also be an error (when registering)

[2019-03-14 10:29] jmcanterafonseca commented on #3458
if supportedForwardingMode is none `idPattern` can be anything

[2019-03-14 10:33] jmcanterafonseca commented on #3458
by the way, the problem of checking whether two RegExp intersect is not trivial as pointed out by @fgalan . That's (one more) corner case of Context Forwarding and providers. Maybe `idPattern` is a parameter that should be removed from Registrations.

[2019-03-14 10:35] jmcanterafonseca commented on #3458
so here we have two options, remove idPattern or go for my previous proposal.

[2019-03-14 10:38] kzangeli commented on #3458
Sounds ok to me to remove idPattern, for now. Perhaps forever.
If entity id is not given (or empty?), all entities of the 'entity type' match.
'entity type' would be mandatory if there is no 'id'.
And, what is later forwarded in the query would be the ID in the query.
That I think sums it up.

[2019-03-14 10:44] jmcanterafonseca commented on #3458
OK to remove `idPattern` forever and also to discuss the issue at NGSI-LD level ...

yes but when forwarding I think it is safer to forward both `type` and `id` (if both exist) or only `type` or  `id`

[2019-03-14 10:45] jmcanterafonseca commented on #3458
@fgalan do you agree?

[2019-03-14 12:28] kzangeli commented on #3458
And @fdelavega, does this proposal cover your immediate needs, at least?

[2019-03-14 14:10] fdelavega commented on #3458
I think so, what I need at this stage is just having the possibility of create a registration, providing only the type, with the meaning of '.*', so all the entities of a given type

[2019-03-14 15:06] fgalan commented on #3458
From [NGSIv2 spec](http://telefonicaid.github.io/fiware-orion/api/v2/stable/) with regards to `entities` in registration payload:

So removing `idPattern` forever is not a valid option. Doing so will involve to change a specification that is frozen or to produce a new version (NGSIv2.1) that will not be backward compatible with the former (NGSIv2.0).

However, allowing a subset of regex in registr

[2019-03-14 15:44] kzangeli commented on #3458
About NGSIv1 or v2, can't say I really care. Some functests we already have implemented and the rest will be very easy to implement. The main difference (apart from extras included in v2, like the Via HTTP header etc) is the routine used for rendering the payload for the forward + the Verb+URI Path.
Apart from that, the changes  for v1 should be perfectly valid also for v2, so, I'd go that way.

S

[2019-03-14 15:51] fgalan commented on #3458
you mean

?

[2019-03-14 16:06] kzangeli commented on #3458
No, what I meant was:
If the original query doesn't contain an entity ID, the it *must* contain an entity type.
This to avoid that idPattern are used without entity type.

What is forwarded will of course follow the same rule, as it is "copied" from the original query.

[2019-03-14 16:21] fgalan commented on #3458
In general I agree with the "So:" list from @kzangeli . Some comments follow.

This has its own issue https://github.com/telefonicaid/fiware-orion/issues/3106 and should be in a separate PR for the sake of the mental health of the reviewer :D

In NGISv2, not always is the case. For instance:

[code]

doesn't contain an entity ID and doesn't contain an entity type.

In NGSIv1 whatever may happen :)

[2019-03-14 16:37] jmcanterafonseca commented on #3458
that's  why LD requires at least a type or some attributes in a query ...

providing a query with no parameters would mean that you would need to fwd
it to all registered providers, a big deal ...

El jue., 14 mar. 2019 a las 17:21, Fermín Galán Márquez (<
notifications@github.com>) escribió:

[2019-03-14 17:11] kzangeli commented on #3458
Would such an open query really make forwards?
Will look it up.
If it does, it's a bit crazy. I am sure pagination will not work for such a query ...

[2019-03-14 17:14] jmcanterafonseca commented on #3458
yes, many issues. that's why LD is restricting that with good criteria, I
think.

El jue., 14 mar. 2019 a las 18:11, Ken Zangelin (<notifications@github.com>)
escribió:

[2019-03-14 20:03] fgalan commented on #3458
From a point of view of fowarding logic there isn't any problem. If the original query doesn't have entity ID and doesn't have type, then you can forward it anyway in the case of matching.

For instance if you have a query without ID and wihout type, a registration with pattern `".*"` and type "A" will match (and the query will be forwarded, filtering by type A). A registration with pattern `".*"`

[2019-03-18 09:34] kzangeli commented on #3458
Here's a proposal that seems doable.
The drawback is that there will probably be too many queries to mongo.
To use this proposal, I'd suggest to implement a registration cache, very similar to the subscription cache. I guess the sub-cache implementation could be made a little more generic and be valid for both. Shouldn't be too costly to implement ...

The idea is that if the entity id of the regi

[2019-03-18 10:18] fgalan commented on #3458
Note we have reduce the scope of the requirement some comments above to:

which perfectly covers the @fdelavega use case.

So rows 2, 5, 8 and 11 can be left out and the matching algorithm.

Not sure off understaing this... Why do you expect too many queries to mongo? Could you elaborate on this, please?

I'd suggest to open a new issue (maybe we have it already?) about registration cache. For the

[2019-03-18 10:25] kzangeli commented on #3458
Yes, we talked about reducing the scope. This is a new proposal with which perhaps we don't need to reduce it that much.

About many queries to mongo, to match the entity id (simple id or idpattern) of the query to the ids of the registrations there are many combinations - see the table I drew. Is it possible to create a single query to mongo to cover all that???   I kind of doubt it.  If we had t

[2019-03-18 11:17] kzangeli commented on #3458
One detail:
If both query and registration use ID and not ID-pattern, they must be an exact match for a forward to be sent.

[2019-03-18 19:17] fgalan commented on #3458
I haven't thought on the details but in general MongoDB query language (either `find()` or `aggregate()`) is quite powerfull and it seems doable in the same query. Maybe an ugly and long query, but a query after all :) Remember that the reason that motivates the csub cache wasn't a problem with MongoDB queries but the usage of `$where` operator to solve "reverse regex" which is considered an antip

[2019-03-19 08:38] kzangeli commented on #3458
The "conclusion" about only allowing `.*` as idPattern for registrations is just the first step.
Some day, hopefully soon, something better will be implemented.
That day we'll go back to my proposal and continue the discussions.

[2019-03-19 15:17] fgalan opened #3460 "GET /v2/entities doesnt return 500 Internal Sever error when DB is failing"
Orion returns 200 OK and `[]` for GET /v2/entities when DB fails. It should return 500 Internal Server Error.

Note that GET /v2/subscriptions is behaving correctly in this aspect (have a look and copy the same behaviour).

[2019-03-21 11:01] fgalan opened #3461 "Improvements in the notifications system"
**CURRENT SITUATION**

We have three notification modes, which work as described:

_Transient_

Notification sending is done by `Notifier::sendNotifyContextRequest()` which basically creates a
new thread each time a notification is going to be sent.

The entry point for the notification thread is `startSenderThread()` function which in sequence uses `httpRequestSend()` to do the actual sending. Th

[2019-03-22 10:50] fgalan opened #3463 "Basic query and update forwarding cases sin registration '.*' pattern"
The basic cases are:

1. regR = `.*`, query = `.*`, attrs = [ A, ... ]
2. regR = `.*`, query = 'E', attrs = {null}
3. regR = `.*`, query = 'E', attrs = [ A ... ]
4. regR = `.*`, query = 'E', attrs = {null}
4. regR = `.*`, update = 'E', attrs = [ A ... ]

This first one was covered in issue #3458. The present issue is about covering the remaining cases.

[2019-03-22 11:36] fgalan commented on #3458
Fixed by PR https://github.com/telefonicaid/fiware-orion/pull/3459

@fdelavega could you confirm it works and close the issue, pls?

We have covered the most basic case in this issue, some other has been spined off in this other issue:

[2019-03-25 14:26] kzangeli commented on #3463
I have done some experimentation and found that query cases with entity id (cases 2-4) don't work.
I haven't tested but I strongly doubt that the update case with entity id works.
Doesn't really matter.

The implementation of forwarding is made with something else in mind.
Instead of looking at the query/update, we look at the registrations. Modifying the existing code is far more difficult than r

[2019-03-25 14:42] kzangeli commented on #3463
See step 08 in the following functional test:
[legacy-query-over-entity-id-for-regs-with-idpattern.txt](https://github.com/telefonicaid/fiware-orion/files/3003836/legacy-query-over-entity-id-for-regs-with-idpattern.txt)

[2019-03-25 14:51] new58 opened #3466 "Hello all"

[2019-03-25 14:55] new58 commented on #3439
very good and thanks for this post

[2019-03-25 14:56] fgalan commented on #3466
I understand this issue has been created for testing or something like that :) so I'm closing.

[2019-03-25 14:56] #3466 closed

[2019-03-25 19:41] kzangeli commented on #3463
To troubleshoot, use the branch (pushed to origin):
`bug/3463_forwarded_query_with_entity_in_for_reg_with_idpattern`

In that branch, run the functest `legacy-query-over-entity-id-for-regs-with-idpattern.test`

Search for the second occurrence of **Serving request GET /v2/entities/E1** in the logfile

What I have seen, `registrationsQuery` (I modified it) seems to do its job, it finds the three ma

[2019-03-27 19:20] fgalan commented on #3463
I have had a look to the branch and test. And made it to work.

The "Not Found" problem in step 8 is solved just taking into account the ".*" pattern into account for matching. In particular, this modification in `processEntity()`:

[code]

So, now the service routing logic is able to get the righ CPr information provided by the mongoBackend. There is an addition problem: the responses has more en

[2019-04-01 09:18] cesarjorgemartinez commented on #3456
Steps for not crash machine when review ContextBroker cores:
[code]

[2019-04-01 09:20] cesarjorgemartinez commented on #3456
On CI environment new crash and core generation at March 30th, 00:01. Backtrace:
[code]

[2019-04-04 15:00] fgalan commented on #3068
PR #3458 implements NGSIv2 based forwarding for queries with basic .test coverage.

What is pending after that PR is:

* NGSIv2 based forwarding for queries with basic .test coverage.
* Copy & translate to NGSIv2 the existing NGSIv1-based .test cases in cases/0787

[2019-04-04 20:21] kzangeli commented on #3068
NGSIv2 based forwarding for _queries_ => _updates_?

[2019-04-05 07:22] fgalan commented on #3068
Correct. It was a typo. Now fixes above.

[2019-04-10 09:48] dcalvoalonso commented on #3068
As part of https://github.com/telefonicaid/iotagent-node-lib/pull/762, I am doing some integrations tests of this PR with some IOTAs. In particular, I am working with the [LWM2M IoT Agent](https://github.com/telefonicaid/lightweightm2m-iotagent). You can check the WIP PR in https://github.com/telefonicaid/lightweightm2m-iotagent/pull/186.

I think that there is a problem with entities containing a

[2019-04-10 11:33] fgalan commented on #3068
Spaces are not allowed in NGSIv2 attribute names (along with other identifiers, please have a look to "Field syntax restrictions" section in the [NGSIv2 specification](http://fiware.github.io/specifications/ngsiv2/stable/)). In fact, you shouldn't be able even to register an attribute like that (CB failing to detect it would be a bug).

Could you confirm the response you get when you try to regist

[2019-04-10 12:24] dcalvoalonso commented on #3068
Sorry I forgot this! :(

The response is `201 Created`. You can see in the screenshot below the entry in the database.
![orion_registration](https://user-images.githubusercontent.com/11388886/55878229-50cabb00-5b9c-11e9-9ef0-103f8a3ade3b.png)

[2019-04-10 13:37] fgalan opened #3468 "POST /v2/registrations allows forbidden attribute names in NGSIv2"
(This comes from https://github.com/telefonicaid/fiware-orion/issues/3068#issuecomment-481668521)

According to that report, CB is allowing a POST /v2/registration with attribute `luminescence att` and it must not, given the whitespace is forbidden in attribute names in NGSIv2 according the spec.

Probably it is a matter of adjusting the parsing logic to be more strict. Let's have a look to the pa

[2019-04-10 13:37] fgalan commented on #3068
The issue reported by @dcalvoalonso has been spinned out to https://github.com/telefonicaid/fiware-orion/issues/3468

[2019-04-15 06:21] SourabhChourasiya-NEC opened #3471 "OnChange condition should be configurable according to the contextConsumer"
According to the current functionality for Context Subscription, whenever the value of an attribute or metadata changes broker notifies to its context consumer about the change.

But sometimes it might not be necessary that context consumer will consider all the changes. For e.g. sometimes consumer may want to be notified only when the value of an attribute is changed & not its metadata.

So it is

[2019-04-15 06:50] fgalan commented on #3471
Maybe it could be done using a new field `onChange` with allowed values `value`, `metadata` and `all` (default).

[2019-04-15 07:58] cesarjorgemartinez commented on #3456
On CI environment new crash and core generation at Apr 12 23:57. Backtrace:

[code]

[2019-04-17 09:32] SourabhChourasiya-NEC commented on #3190
Hi @fgalan Sir,

I have completed the stage-1 implementation.
Now I am working on stage-2.

Thank you

[2019-04-17 10:00] fgalan commented on #3190
Great! Thank so muchy @SourabhChourasiya-NEC for your efforts.

[2019-04-22 08:13] fgalan opened #3473 "Should HTTP headers in .test be in the same order CB provide them?"
Based in cases like [this one](https://github.com/telefonicaid/fiware-orion/pull/3472/files/bf689df90741336365a6a8562f8216c9cd30311a#r276383701), it could happend that current implementation of accumulator-server.py doesn't dump the headers in the same order it gets them.

Should HTTP headers in .test be in the same order CB provide them? I'm not so sure:

* In the one hand, that way .test would b

[2019-04-22 16:44] fgalan commented on #2282
A simplified version of the specification (described [in this comment](https://github.com/telefonicaid/fiware-orion/issues/3068#issuecomment-470005604)) is under work (in fact the first batch of functionality, corresponding to query forwarding, is on the way in PR https://github.com/telefonicaid/fiware-orion/pull/3467). My spectatation is it will be finished in the next Orion version (2.3).

Howev

[2019-04-23 08:08] kzangeli commented on #3473
We might have to sort the HTTP headers alphabetically for this to work on all nodes

[2019-04-23 08:09] kzangeli commented on #3473
I would **not** want to use the #SORT_START/END mechanism of the functional tests ...

[2019-04-23 08:09] fgalan commented on #3473
What do you mean by "all nodes" ?

[2019-04-23 08:53] kzangeli commented on #3473
With node I mean a VM or a physical machine where we run the functional tests

[2019-04-23 08:56] kzangeli commented on #3473
It would definitely be better if the headers came out in the same order that the broker sends them.
But, if this is not possible, and if yjr order now is to be random, the next best solution is for the accumulator to order them in a way that all nodes see them in the same order.

After that we'd have to touch each of our >1000 functests ... :(

The only good solution seems to be to try to maintain

[2019-04-23 11:57] fgalan commented on #3473
I agree. And it seems to be doable, according to the SOF link I provide in the issue body. All nodes wuld need to use Python 3.7+ but I think is not a problem with virtualenv.

[2019-04-23 14:01] LeonanCarvalho opened #3474 "OCB does not auto-recovery when process stop due PID file missing"
For some random reason, the context Broker service stops and it doesn't recovery itself if the pid file is missing or empty.

[code]

When this error occurs the only way to turn on the service is recreating the PID file, even `stop` `start` fails.

[code]

A good alternative is to let the old init scripts and use the [new directive for services, the systemd.service ](https://www.freedesktop.org/so

[2019-04-26 12:18] arilwan opened #3482 "Errors found in incoming JSON buffer: v2/entities/<id>/attrs?options=keyValues"
I understand this issue has been reported long ago (and seems to be fixed). I however encountered it again posting context update from my script (to Orion CB).

My script:
[code]
When run, Orion report the following error (from `response.content`)
[code]
I can confirm the payload is a valid `JSON`object from `print('jsonData : ',jsonData)`:
[code]
I am not sure why this error occur. Orion version:

[2019-04-26 13:14] StephaneRouxNCA commented on #3446
see https://stackoverflow.com/questions/55868359/https-notification-doesnt-reach-cygnus

[2019-04-26 13:14] #3446 closed

[2019-04-26 14:37] #3482 closed

[2019-04-29 15:32] fgalan commented on #3482
This issue has been closed, which I interpret you finally fixed the problem. Great in that case! :)

Could you elaborate what was the cause of the problem and how do you fix it, please? Just in case that information can be useful for other users.

[2019-04-29 17:49] arilwan commented on #3482
Yes, solved.
I understand the problem was the leading `[`and ending `]` in the `JSON` returned, Orion CB does not accept.
This was solved using python string's `.startswith('[')` and `.endswith(']')` methods.

[2019-04-29 18:08] fgalan commented on #3482
Yes, that's correct. Note you are updating a single entity so an array of element there doesn't make sense and an object (with `{` and `}`) is used instead.

[2019-05-06 07:39] DiEVeXx opened #3483 "Problem with v2 subscription notification"
I'm having some troubles with Subscription notification in Orion Context Broker.

When a notification is returned to QuantumLeap (i want to show values in Grafana), most of the time the values of the attributes arrive as strings (but sometimes not.. it's weird).
So QuantumLeap gives me an exception (`crate.client.exceptions.ProgrammingError: SQLActionException[ColumnValidationException: Validation

[2019-05-07 09:51] SourabhChourasiya-NEC commented on #3190
Hi @fgalan Sir,

I have implemented the stage-2 and made some modification in the subscription creation request payload.

for this, we have to create a subscription by the following request:
[code]
According to this whenever onlyChangedAttrs value is true it will notify the only those attributes which are changed from condition.attrs.

Note: It will not send the initial notification, a first notif

[2019-05-08 10:22] fgalan commented on #3190
Some feedback regarding your proposal:

1. JSON support bolean types, so better to use `true` and `false` instead of string `"true"` and `"false"` for `onlyChangedAttrs` value.
2. If notification.attrs is provided, it should act as a filter. I mean, for instance we have:

[code]

and the updates changes A and B then only B will be notified  (as it is the one that match the conditions "has changed"

[2019-05-08 14:26] DiEVeXx commented on #3483
Here the logger output of the javascript code that I use to upload values to O.C.B.
I'm using the javascript `request` library

[code]

TCP Stream captured using Wireshark:
[code]

[2019-05-08 14:27] DiEVeXx commented on #3483
Here the trace of Wireshark
[code]

[2019-05-08 14:28] DiEVeXx commented on #3483
Here the logger output of the javascript code that I use to upload values to O.C.B.
I'm using the javascript `request` library

[code]

TCP Stream captured using Wireshark:
[code]

[2019-05-08 14:32] DiEVeXx commented on #3483
Here the logger output of the javascript code that I use to upload values to O.C.B.
I'm using the javascript `request` library

[code]

TCP Stream captured using Wireshark:
[code]

[2019-05-08 14:33] DiEVeXx commented on #3483
Here the logger output of the javascript code that I use to upload values to O.C.B.
I'm using the javascript `request` library

[code]

TCP Stream captured using Wireshark:
[code]

[2019-05-08 14:34] garvi-x commented on #3483
test

[2019-05-08 14:35] garvi-x commented on #3461
test

[2019-05-08 14:51] fgalan commented on #3483
There are two relevant things in the update request you are using:

1. You are using an operation of the NGSIv1 API (which is deprecated in favour of NGSIv2)
2. You are providing the the value as string: `"value":"0.2832031"`

A possible solution for this is:

1. To provide the value as a native JSON number, i.e `0.2832031` instead of `"0.2832031"`
2. To update the entity using the NGSIv2 API. The

[2019-05-08 17:17] fgalan commented on #3483
(New attemp for get this comment at bottom)

There are two relevant things in the update request you are using:

1. You are using an operation of the NGSIv1 API (which is deprecated in favour of NGSIv2)
2. You are providing the the value as string: `"value":"0.2832031"`

A possible solution for this is:

1. To provide the value as a native JSON number, i.e `0.2832031` instead of `"0.2832031"`
2. T

[2019-05-09 14:47] jicarretero opened #3484 "Possible Bug: improper Index creation in MongoDB"
I've created 3000 entities using IoT Agent Json (Let's say I have 3000 cars). So, In mongoDB we have this representation:

{ "_id" : { "id" : "car0001", "type" : "thing", "servicePath" : "/car_measurement" }, "attrNames":...

This means the _id is compound of 4 fields: id, type, type, servicePath.

I can see in MongoDB that there are some indexes created on _id:
[code]
However, the query made by c

[2019-05-09 17:53] fgalan commented on #3484
According to https://fiware-orion.readthedocs.io/en/master/admin/perf_tuning/index.html#database-indexes

However, in order to help administrators in this task, the following indexes are recommended:

Note that the indexes you cite are included in this recommendation.

[2019-05-10 06:29] jicarretero commented on #3484
In fact, 3 indexes are created instead of the 2 described in the documentation. The 3rd one is:
[code]
And this one doesn't seem to be of use.

Thank you.

[2019-05-10 07:06] fgalan commented on #3484
That index is not related with Orion, but with MongoDB. MongoDB always creates an index for `_id` in every collection. As far as a I know, there is no way of avoid its creation or removing it.

[2019-05-14 16:02] fgalan opened #3485 ""Complete CPr" NGSIv2 forwarding"
Apart from the “simple CPr” NGSIv2 forwarding covered by #3068 (which assumes CPr implements only two operations: one for query and another for forward), it could be possible to implement a “complete CPr” NGSIv2 forwarding. This issues is about that.

"Complete CPr" is defined as:

[2019-05-18 17:53] cdupont commented on #1645
I was wondering about the status? Thanks.

[2019-05-20 13:37] fgalan opened #3487 "Slow queries protection"
Orion documentation at https://fiware-orion.readthedocs.io/en/master/admin/perf_tuning/index.html#database-indexes provides information about "fixed" indexes to improve performance. However, they could be not enough due to the free utilization of filters and orderBy by the user.

Orion could implement some kind of "protection" for this kind of cases. In particular, it will be done with a new param

[2019-05-20 14:00] fgalan commented on #1645
No news as far as I know. The issue is waiting a brave developer to take care of it :)

[2019-05-20 19:00] fgalan commented on #3484
Once clarification has been done I think this issue can be closed. However, if I'm wrong please @jicarretero tell me so and we will reopen it.

[2019-05-20 19:00] #3484 closed

[2019-05-21 05:24] SourabhChourasiya-NEC commented on #3190
fixed in #3490

[2019-05-21 14:09] cdupont commented on #3326
I still have this issue often with the latest version (2.2.0). If you are in FIWARE summit I could show you :)

[2019-05-21 15:39] ptrdtznr opened #3492 "Entity Size PAYLOAD_MAX_SIZE"
Hello,

we are facing some limitation in the field of robotics exchanging data. Nowadays the PAYLOAD_MAX_SIZE is 1MB (https://github.com/telefonicaid/fiware-orion/blob/8f2e12356aa023c6e55ee58bcc101c334bd5c8ef/src/lib/common/limits.h#L114), but we have to exchange data which is bigger than that.

May it be possible to increase this parameter or add it (even better) as a parameter in the docker(comp

[2019-05-21 15:41] ptrdtznr opened #3493 "Docker Documentation"
There is an broken link with the Docker Documentation here:

https://fiware-orion.readthedocs.io/en/master/user/docker/index.html

[2019-05-21 17:49] fgalan commented on #3326
Unfortunatelly, I'm not at FIWARE summit :(

What I would need is a deterministic way of reproducing the problem (i.e. "deploy this given docker-compose.yml, then run request X, the run request Y, etc.") to be able of debugging it.

[2019-05-21 22:14] kzangeli commented on #3492
I looked at this a little, trying to remember why we put that limit. Long time ago but I think it was done like that just because we thought it would be enough (a little like Bill Gates :)).

This limit seems to be simply an instruction to MHD, to make it stop allocating when reaching the limit.

I see no reason to not let users of Orion change the limit, on their own risk.

The default value shou

[2019-05-22 06:16] ptrdtznr commented on #3492
This would be perfect! I hope we can have this change soon :)

[2019-05-22 06:52] fgalan commented on #3493
Thanks for the report!

Maybe you could contribute with a PR fixing it, please? The one that discover the issue (especially in easy cases a this one seems to be) has preference to get credit for the fix :)

[2019-05-22 07:08] fgalan commented on #3492
The limitation is explained here https://fiware-orion.readthedocs.io/en/master/user/known_limitations/index.html#request-maximum-size and it makes sense from the point of view of service denial. The larger the request size is in concurrent access scenarios, the higher the stress Orion has.

Having said that, it seems to be a good idea to make this flexible so users can change at their own risk wit

[2019-05-29 07:50] fgalan commented on #3287
I think we have hit the limits with PR https://github.com/telefonicaid/fiware-orion/pull/3498. From now on, travis is broken :(

@caa06d9c did you finally solved the way of parallelizing test harness, please?

[2019-05-29 07:58] fgalan opened #3499 "Extra information about partial updates in responses"
(Comes from PR https://github.com/telefonicaid/fiware-orion/pull/3498)

NGSIv2 doesn't provide information about partial updates. For instance, if I do an update with attribute A and B, but B doesn't exist in the entity, A is updated and response is like this:

[code]

More information could be provided. Two alternatives:

1. Use the "description" string for that (in a similar way "PartialUpdates"

[2019-05-29 08:59] caa06d9c commented on #3287
Yes, please, take a look into [Orion-LD repository](https://github.com/FIWARE/context.Orion-LD/tree/develop/docker) and its Travis [build](https://travis-ci.org/FIWARE/context.Orion-LD/builds/535356088). I can do the same for this repository. but you can see, that ci things were refactored.

[2019-05-29 10:01] fgalan commented on #3287
Yes, please. Thanks!

[2019-05-29 19:57] #3364 closed

[2019-05-30 15:56] fgalan commented on #3499
Upon completion of this issue maybe the following fragment in context_providers.md needs to be adjusted:

[2019-05-31 13:29] LeonanCarvalho commented on #3474
Hi @fgalan , no problem!

Sorry for do not reply it in time, I was busy with another tasks, now I'm back on it.

Yes, I'm using CentOS 7.x with kernel Linux 3.10.0-957.5.1.el7.x86_64.
[code]

Apparently, the behavior with systemd result in another bug but probably connected.
![image](https://user-images.githubusercontent.com/3593706/58708654-c1b57480-838e-11e9-9670-e6ed40c92c69.png)

The processes

[2019-06-03 07:00] fgalan commented on #3474
Some comments:

That's weird... if CB doesn't find entities it should return 4xx errors, not 500. Could you provide the detail of the request you send and the complete response you receive, please?

You can try with INFO to increase the log level. Not sure if it will provide too much information in this case, but maybe it worth the time to try...

[2019-06-04 09:21] nalexopo opened #3503 "API to read multiple sensor measurements via Orion+keyrock?"
Hello,
 I am a hardware developer  and I have multiple sensors communicating with the framework. I also have deployed the system until cygnus and keyrock components. Currently I have also developed a client that mines time series data straight from connecting on the mongo database.  I know this is a crude way of doing things and if I want to play with roles and permissions I have to do it through

[2019-06-05 15:52] fgalan commented on #3503
Github issues are more related to identified issues/bugs in the software or with new backlog features. For a question like yours, I think it would be better to use StackOverflow (http://stackoverflow.com/). Could you post your question there, please? Basically a copy-paste of the same text :) Please use relevant tabs such as "fiware-orion", "fiware" and "fiware-sth-comet".

Once done, please add a

[2019-06-06 06:34] #3492 closed

[2019-06-06 06:40] fgalan commented on #3492
Implemented by PR https://github.com/telefonicaid/fiware-orion/pull/3496

[2019-06-06 08:14] nalexopo commented on #3503
https://stackoverflow.com/questions/56473264/api-to-read-multiple-sensor-measurements-via-orionkeyrock-or-connect-sth-comet

[2019-06-06 08:14] #3503 closed

[2019-06-10 14:59] jmcanterafonseca commented on #3499
NGSI-LD has already solved this issue

https://www.etsi.org/deliver/etsi_gs/CIM/001_099/009/01.01.01_60/gs_CIM009v010101p.pdf

Section 6.6 207 Status

UpdateResult data structure (Section 5.2.18)

[2019-06-11 14:27] fgalan opened #3505 "Suboptimal DB queries"
Queries to DB done by Orion could be suboptimal. In particular:

[code]

[code]

[code]

[code]

[code]

[code]

Sumary of issues that can be improved:

* Avoid `$or` with a single element
* When we only have an element in servicePath, `_id.servicePath: { $in: [ /^/waste$/ ] }` can be simplified (not use $in and probably event not use a regex)
* `_id.id: /.*/` could be replaced by just `_id.id: {$

[2019-06-11 16:25] kzangeli opened #3506 "Cookbook: The section "Adding a REST service" is outdated"
The part "Adding a REST service" describes how it worked (to add a REST service) before a pretty important change and is no longer valid. Needs to be rewritten.

[2019-06-13 15:27] chicco785 opened #3507 "entityType empty"
hi, we have updated orion to 2.2.0 in production and when we query the /types it returns always and empty array. despite the logs says:

[code]

[2019-06-13 16:10] chicco785 opened #3508 "milliseconds support?"
using 2.2.0, when an IoT agent sends the following payload:

[code]
    {
        "id": "urn:ngsi-ld:Test:test-1",
        "type": "Test",
        "TimeInstant": {
            "type": "DateTime",
            "value": "2019-06-13T16:01:53.00Z",
            "metadata": {}
        },
        "boolean": {
            "type": "Boolean",
            "value": "true",
            "metadata": {

[2019-06-13 16:14] chicco785 commented on #3508
i see there is already a thread on the topic #3412 let's close this one as duplicate

[2019-06-13 16:14] #3508 closed

[2019-06-13 16:18] chicco785 commented on #432
This practically means that Orion cannot support any Industrial IoT scenario :/

[2019-06-14 04:53] saurabhjangir opened #3509 "Code Migration for latest C++ Features."
As I am working on latest mongocxx-driver which needs c++ 11 feature to get compile successfully, I came across some auto_ptr related errors in mongodbBackend (Which is basically deprecated in C++ 11).
As a resolution we just need to study unique_ptr and replace it smartly with auto_ptr.
So just wondering if we're having any plans for the same  ?

[2019-06-14 06:41] fgalan commented on #3509
Not sure if we already have an issue about migrating to c++11 (maybe you could have a look to the open issues to check it) but anyway it seems to be a good idea and, as far as a know, a pre-requisite for the MongoDB drive migration.

Thus, I think it would be a good idea to do that but before starting to work in the MongoDB driver migration. However, some questions I have about it:

* Appart from

[2019-06-14 08:22] fgalan commented on #432
I think the situation is not so dramatic :)

Even if Orion doesn't support milliseconds natively, the application always has the option to manage it itself. For instance, using a `modDateMs` which value is an integer with time in milliseconds so each time something is modified in the entity it also updates such attribute.

[2019-06-14 08:24] fgalan commented on #3507
Could you include in a comment to this issue the sequence of steps in order to reproduce the case, please? I mean something like:

1. Orion starts with an empty database
2. An entity is created using the following request...
3. Another entity is created using this other request...
4. etc.
5. `GET /v2/type` is done and an empty array is got

Thanks!

[2019-06-14 08:53] chicco785 commented on #432
right, but i was thinking to the current iot-agent -> orion chain.
the iot agent generates a timestamp with milliseconds and attach it to orion, we can't change that now. what about having then an option for the iot agent lib to send long for the timestamp and format as number?

[2019-06-14 08:56] chicco785 commented on #3507
hi @fgalan we will try,
it may not the be that simple, because we updated the version from before 2.2.0 and after the update /v2/types are not working. we have multitenancy, so what i can test is if the issue show up also creating a new service (which means new db) what do you think? at least we will know if it a general issue or an issue related to the db that were created before the update.

[2019-06-14 08:57] fgalan commented on #432
I'd suggest to open an issue about it in the ioagent-node-lib repository explaining the proposal and rationale so we can discuss there.

[2019-06-14 09:02] fgalan commented on #3507
Sound good. Please keep updated in this issue with your progress.

[2019-06-14 09:10] fgalan commented on #432
Related issue (for traceability): https://github.com/telefonicaid/iotagent-node-lib/issues/795

[2019-06-14 11:11] saurabhjangir commented on #3509
I didn't find any open Issue related to the migration.
Yes, As we know mongocxx driver needs c++11, so for compiling code with mongocxx latest driver we need to build the code with `-std=c++11` flag, but while doing so I've found that mongodbBackend throws error because mongodbBackend  uses `auto_ptr `at several places which is deprecated in C++ 11 . So for the current situation I have removed `-W

[2019-06-14 16:06] fgalan commented on #3509
It seems to be good news :)

Thus, I'd suggest going ahead with a PR replacing auto_ptr with unique_ptr. Behavior at run time will be checked by travis when you cast the PR with a pretty good coverage based on tests, don't worry about it.

[2019-06-15 08:59] saurabhjangir commented on #3509
That's great !! I'll share these changes ASAP.

[2019-06-17 15:55] fgalan commented on #3505
This part

implemented by PR #3510

[2019-06-18 09:31] YatinArora-NEC opened #3511 "411 Error and Empty reply from server"
I am using Orion 1.14.0  and using batch operation v2/op/update and  when we send 15 kb payload it gives 411 error Length Required and when sending 50kb payload it gives empty reply from server. Also in header we are using header "Transfer-Encoding:chunked".

 curl command for 15 kb payload is given below
[code]
and the response from curl command is
HTTP/1.1 100 Continue
HTTP/1.1 411 Length Requir

[2019-06-18 16:21] antonio-gpmp opened #3512 "{"error":"ParseError","description":"Errors found in incoming JSON buffer"}"
Alguien sabe porque sale este error. No consigo formar correctamente la data por lo que observo en el código de error.

`def event_printer(self, value, source, metadata):
        print(NOTIFY_MSG.format(value, source))
        dic = {}
        lista= []
        # lista += ["data: {}".format(value),"source: {}".format(source)]
        dic.update({'data': str(value)})
        dic.update({'source' :

[2019-06-19 11:44] fgalan commented on #3512
Ese error lo da el CB cuando la petición que se le manda tienen un JSON con algún problema de sintaxis. No parece un problema con Orion en sí sino con tu código cliente.

Te recomendaría echarle un ojo a https://github.com/telefonicaid/fiware-orion/tree/master/scripts/utils donde hay múltiples ejemplos en Python de como interactuar con el CB via su API NGSIv2. Viendo cosas como https://github.com/

[2019-06-19 19:23] fgalan commented on #3511
Not sure of understanding the case... Do you mean that if you don't use "Transfer-Encoding:chunked" then you are able to insert a bulk of data up to 1MB?

[2019-06-19 20:14] kzangeli commented on #3511
From wikipedia:

_Chunked transfer encoding is a streaming data transfer mechanism available in version 1.1 of the Hypertext Transfer Protocol (HTTP). In chunked transfer encoding, the data stream is divided into a series of non-overlapping "chunks". The chunks are sent out and received independently of one another. No knowledge of the data stream outside the currently-being-processed chunk is nec

[2019-06-20 06:28] ilarimikkonen opened #3514 "Feature to check datamodels against json schema"
Hi,

there has been discussion about fiware datamodels. It would bee useful to have feature where Context broker could check data validity against json schema.

Has there been any thinking along these lines?

[2019-06-20 07:06] fgalan commented on #3514
rapidjson (the JSON parsing library we use) supports JSON Schema according to its documentation (see http://rapidjson.org/md_doc_schema.html). Thus it shouldn't be too difficult to enable schema validation in Context Broker. The only aspect it's not clear to me is how to select the schema to use (as far as I know each FIWARE datamodels have a different schema and a single operation, e.g. `POST /v2

[2019-06-20 12:59] dagniel opened #3515 "Problem/question regarding the init procedure"
Hello all,

I'm trying to deploy the Orion ContextBroker on a Openshift/OKD(Kubernetes) cluster and I'm having a problem with its deployment regarding the initialization time.

I'm using the 2.2.0 release tag for the ContextBroker with mongoDB 3.2.0. The startup args for Orion are:
[code]

The initialization appears to be somewhat inconsistent regarding the time required for the app to become avai

[2019-06-20 14:42] fgalan commented on #3132
After a fruitful interchange of emails with @saurabhjangir (thanks! :), some feedback to take into account:

I think one of the problems of the current codebase is that the usage of the legacy driver is spread around the code, instead of being concentrated in just a single point (or in a small set of points). Although all the DB operations (query, insert, etc.) are isolated in just a couple of mod

[2019-06-20 15:13] fgalan commented on #3132
With regards to item 2 this is currently the situation (at master). The following list shows all the source code files in which the string "BSONObj" appears:

[code]

(Maybe there is some "false positive", as BSON could appear for instance in a comment  but I think the list is pretty accurate. In addition, a similar test could be donde with other key classes in the legacy driver like BSONArray, et

[2019-06-21 11:43] fgalan opened #3517 "Remove $where in subscriptions queries in favour of "inverse regex" operation"
After years waiting for it :) it seems that the "inverse regex" functionality is going to be included in MongoDB 4.2 (see https://jira.mongodb.org/browse/SERVER-11947). This will allow to remove the usage of $where to search for subscriptions during an entity update in the noCache mode.

Before starting to implement this issue, first MongoDB 4.2 should become in the official Orion version (current

[2019-06-21 12:34] abrahamSecmotic opened #3518 "Create a subscription returns empty"
When I create a subscription with this request:

[code]

This request returns 201 with body empty.
It would be convenient in our use case to return the subscription id, in order to have better control of them and reuse the response. Would this be useful to be implemented via PR?

[2019-06-21 13:19] kzangeli commented on #3518
Check the HTTP header "Location"

[2019-06-21 14:46] fgalan commented on #3515
I'm afraid I cannot provide too much feedback, as I'm not an expert in Openshift/OKD(Kubernetes). Have you tested the same setup in a different platform (e.g. plain docker containers using docker-compose.yml for instance)? Just to check how it behaves there...

Some additional pieces of feedback:

* MongoDB 3.2 is two steps behind the version recommended for Orion, which is MongoDB 3.6 (see https:

[2019-06-21 16:00] abrahamSecmotic commented on #3518
Perfect, thank you very much

[2019-06-21 16:00] #3518 closed

[2019-06-24 10:10] dagniel commented on #3515
Thanks for the reply.

* I've missed the EOL detail for MongoDB 3.2. Now I have switched to MongoDB 3.6.
* Regarding the release of memory, I wasn't expecting immediate release, but what I've seen is that memory usage grew as high as 2.8GB and it didn't drop not even hours after the notification load has been stopped completely.

I haven't actually tested with docker-compose, however, the supporti

[2019-06-25 15:58] tstorek opened #3519 "Orion response with stack hang up and subscriptions with patterns"
Hello,

I am using Orion in the following in a larger scenario with docker-swarm:
- 1 MongoDB (v4)(Not scaled yet)
- 5 CBs (v2.2.0) in parallel
- 5 QuantumLeaps
- IoTA-UL

I am sending about 50-60 values per seconds. Unfortunately, not all of them are handled well and my IoTA-ERROR-Log grows quite with always the same message:

time=2019-06-24T22:29:26.001Z | lvl=ERROR | corr=7afde723-3e03-41f2-b5

[2019-06-26 06:22] tstorek commented on #3519
I did not try threadpool though because I am not sure, if it is the rigth scenario for this.
It does not matter if I use cache or not. But for my understanding "-noCache" is only for debugging and in very large scenarios with over 300000 subscriptions. I only found this old issue for this:
https://github.com/telefonicaid/fiware-orion/issues/2780

Hence, it is always good to keep the naumber of sin

[2019-06-26 06:26] kzangeli commented on #3519
300,000 subscriptions ... that's a lot :)
When using sub cache they are all stored in RAM. Keeping down the number of subscriptions by using patterns seems like a good idea.

[2019-06-26 06:39] tstorek commented on #3519
Well, assuming a district of buildings each having about 10000 data points the number is reached quite quickly, :) if I was subscribing each data point individually for storing it with quantumleap and crate. This would give a better handling in throttling individual data points.
 Hovever, I am not sure how mongo iterates entries. So maybe their is not even difference in patterns or individual hand

[2019-06-26 09:55] YatinArora-NEC opened #3520 "Confirmation about Buffer size of Orion"
- I want to confirm if the STATIC_BUFFER_SIZE=32kb as mentioned in below file is the default buffer size of Orion
 "https://github.com/telefonicaid/fiware-orion/blob/1.14.0/src/lib/common/limits.h"

- What is the range(Min value and Max value) of Buffer size.
- Will the maximum value of Buffer size vary with different versions of Orion?
- Currently i am using version 1.14.0.

[2019-06-26 18:20] fgalan commented on #3515
Orion connects to DB at startup and immediately does some DB initialization operations (the ones you see in the log about index creation). It doesn't wait to complete them in a later time. This can be easily seen in the code of the [mongoInit() function](https://github.com/telefonicaid/fiware-orion/blob/e3f31930f2d9532747b179303ba698c604206615/src/lib/mongoBackend/MongoGlobal.cpp#L203) doing this

[2019-06-26 19:13] fgalan commented on #3519
I think we are misleading two concepts: entities (representing the data points in a building) and subscriptions (the way Orion has to implement asynchronous context consumption, based on notifications). As far as I understand by your case description:

So you have 14000 entities and 18 subscriptions. Is that correct?

In addition, I don't fully understand what you mean by:

[code]

What do you mea

[2019-06-26 19:15] fgalan commented on #3519
Side-note: MongoDB 4.0 is not the official MongoDB version supported by Orion (check: https://fiware-orion.readthedocs.io/en/master/admin/install/index.html#requirements). Probably it doesn't have any impact in the case... but I let you know about it ;)

[2019-06-26 19:19] fgalan commented on #3519
With regards to:

In addition, could you attach an architecture diagram showing how they are connected, please?

[2019-06-26 19:34] fgalan commented on #3520
STATIC_BUFFER_SIZE is used only in one place of the Orion code (check https://github.com/telefonicaid/fiware-orion/search?q=STATIC_BUFFER_SIZE&unscoped_q=STATIC_BUFFER_SIZE). [This](https://github.com/telefonicaid/fiware-orion/blob/70fc36022dc591e90db9f3dab1e82d3b68f7334a/src/lib/rest/rest.cpp#L1403) in particular (rest.cpp):

[code]

As you can see, this is an improvement to avoid calling malloc

[2019-06-27 07:14] tstorek commented on #3519
@fgalan I think, we both have the same understanding:
- data point (incl. static metadata) are the devices and entities in this case because I use a 1 to 1 relations for now.
- the subscriptions I make are based on a type that generate while provisioning for each devices measuring a certain property based on a small data model (could be for a temperature sensor located in my building automation ne

[2019-06-27 07:45] fgalan commented on #3519
Yes, please. I think it would help to clarify the scenario. Once you do it, I'll read in deep your comment and provide feedback.

[2019-06-28 10:40] fgalan commented on #3505
PR https://github.com/telefonicaid/fiware-orion/pull/3521 addresses:

Only this remains:

[2019-07-03 10:46] pasquy73 opened #3522 "How to get from orion all subscriptions inserted by owners"
I need to filter subscriptions through logged users (i.e. user_id or organization_id) in a generic context.
The requirements are that any users can manage (edit or delete) only own subscriptions.
As far as I know, there isn't APIs to filter subscriptions by userid, so how can get from orion all subscriptions inserted by owners?
I think it could be a new feature to add in orion.