[2019-07-04 11:31] olivertem opened #3523 "Query entities by the logical operator OR"
I dont be able to retrieve entities form Orion querys with 2 conditions by the logical operator OR.

For example, if I want to retrieve the entities that have temperature>20 OR humidity<50. But I only can retrieve the query by the logical operator AND:

http:// localhost:1026/v2/entities?q=temperature>20;humidity<50

Also I try with | to separate the conditions, like this:

http:// localhost:1026/

[2019-07-11 21:45] dagniel commented on #3515
Hello and thanks for the support!

I found the issue which was causing this behaviour and it is a piece of configuration that I overlooked.

More to the point: what I haven't mentioned in my initial description(somehow I didn't think it would be a possible cause) is that I have set up a **replica set** for MongoDB.
I have tested with a standalone MongoDB with which the contextBroker initializes pe

[2019-07-11 21:45] #3515 closed

[2019-07-12 21:15] Glagnar opened #3524 "Unable to connect to MongoDB Replicaset [with SSL]"
I have a MongoDB 3.6 cluster that I am able to connect to in a variety of different ways:

[code]
or
[code]
or
[code]

But how no matter how I start the context broker it fails. This is the millionth try that does not work.... The documentation on this area is pretty sketch from you guy's. Please write just couple more lines about how to connect to a mongodb replica set.
[code]

[2019-07-15 10:56] rrc2soft opened #3525 "Simple Query Language returning entities with empty attributes (whenever there is no match)"
We are doing a course on FIWARE, and while following the instructor instructions we found a bug on the simple query language (through the JSON interface). In particular: if we send a query that has no hits (i.e. no entity complies with the query), yet there are entities whose attributes are empty, then the query will return all those entities plues their empty attributes instead of an empty list.

[2019-07-15 16:39] kzangeli commented on #3522
This seems like not one but two issues:

1. Filter in GET .../subscriptions to only the the ones created by X
2. Security - avoid for just anybody with access to the broker to modify/delete subscriptions

For (1) we'd need to add a field in the subscription, some kind of "owner id", and then of course a way of filtering over that field. Not too difficult to implement, if all agree that it is inter

[2019-07-15 17:35] pasquy73 commented on #3522
Thanks Ken for your response.
I was thinking to add a new optional 'fiware header' when you are going to create a subscription, i.e. **fiware-userid**.
So, when you want to retrieve subscriptions you can filter them throught that fiware-userid if it exists.
If you don't use fiware-userid, you can get all subscription (normal execution).

[2019-07-17 14:34] fgalan commented on #3515
Happy to know you finally solved! :)

Thanks for the report about how you solved it. It will be very useful for other users with similar problems.

[2019-07-17 14:45] fgalan commented on #3524
Is Orion showing any log traces? They could be useful to debug this.

[2019-07-17 14:47] fgalan commented on #3523
I understand this question was posted (and answered) in SOF at https://stackoverflow.com/questions/56886734/query-entities-by-the-logical-operator-or-with-fiware-orion so this issue could be closed.

If I'm wrong, please tell me so we can reopen it.

[2019-07-17 14:47] #3523 closed

[2019-07-17 14:52] fgalan commented on #3525
It's weird, because that entity has temperature=99 so it doesn't match the filter...

Do you have any registration in place (i.e. the result of `GET /v2/registrations`)? If so, please tell us the result of that request, please.

[2019-07-17 15:08] fgalan commented on #3522
Moved as question to https://stackoverflow.com/questions/57078839/how-to-get-from-orion-all-subscriptions-inserted-by-owners.

Closing issue.

[2019-07-17 15:08] #3522 closed

[2019-07-18 10:24] cesarjorgemartinez commented on #3456
On Integration environment at 2019-07-18 (release 2.2.0):

[code]

[2019-07-18 10:24] Glagnar commented on #3524
I am not seeing anything outputted to the logs.
But could you perhaps clarify exactly what the correct way of connecting to a replicates is, the documentation is a but lacking in details. I really just want to make sure we do it the correct way. You can see the three working connection strings I have, but perhaps you will translate that into the command line parameters I need for the context broke

[2019-07-18 10:30] fgalan commented on #3524
I think the way you are using is the correct one. The only difference compared with similar deployments that I know is the usage of `-dbuser user -dbpwd verysecret` (I don't use it, as in our environment the CB-MongoDB is secured at network layer).

Could you test without those parameters (i.e. setting replica set without authentication), please? Just to know if it works in that case and the probl

[2019-07-29 07:44] fgalan commented on #3190
Extra documentation added in PR https://github.com/telefonicaid/fiware-orion/pull/3528

[2019-07-29 07:44] #3190 closed

[2019-07-29 07:56] fgalan commented on #3505
PR https://github.com/telefonicaid/fiware-orion/pull/3529 implemented the pending item:

Note that there are some queries (the ones in "negative sense", i.e. the ones using $not, $nin, etc.) in which the usage of `$exists: true` cannot be avoided (or at least I haven't found the way).

[2019-07-29 12:58] tmontanaro opened #3530 "Problems in contacting endpoints for notifications after a while"
We are experiencing problems with the notifications sent by Orion for new data after the last update (done because the old Orion version sometimes stopped to work with an error saying that a "*.pid" file already existed) to version 2.2.0 (we substituted the Docker container).

Specifically, the problem is this:
when we start the docker container, every endpoint is contacted when a new data arrives

[2019-07-29 14:48] tmontanaro commented on #3530
As additional information,
if we try to send data manually (through a CURL request performed in a bash instance inside the docker container) it works fine. While Orion cannot contact the endpoint falling in a "Timeout" exception.

[2019-07-29 15:00] tmontanaro commented on #3530
After a restart of the docker container containing the context broker (with consequent deletion of the contextBroker.pid from the dedicated folder in (/var/lib/docker/overlay2/), now it started to push data.
I will inform you how much time does it take to encounter again the issue.

[2019-07-30 10:18] rrc2soft commented on #3525
Sorry for the late reply. This was during a one-day course, and I no longer have access to the platform.

[2019-07-30 15:05] tmontanaro commented on #3530
After monitoring the resource allocation of the Context Broker I can see this situation:
- when the context broker is run it needs less the 20% of CPU to perform all his features (i.e., send a notification to all the subscribed endpoints when a new data is received)
- during a day long the CPU allocation continues to grow and, when we notice a loss of information it arrives at 100% (after almost 2

[2019-07-30 15:23] fgalan commented on #3525
Oh... what a pity!

In this situation (inability of reproducing the case) I'd suggest to close the issue. What do you think?

[2019-08-01 10:23] PiotrBus opened #3531 "Log error on subscription updates"
When subscription is updated, error is logged.

This error log is caused by https://github.com/telefonicaid/fiware-orion/pull/3414

This changes use `getStringFieldF(subOrig, CSUB_LASTFAILUREASON);` and `getIntOrLongFieldAsLongF(subOrig, CSUB_LASTSUCCESSCODE);` without checking if this filed exist. So when string field is not exist, function getStringFieldF logs error and return `""` empty string.

[2019-08-01 15:38] fgalan commented on #3531
Thanks for the report!

Fixed in PR https://github.com/telefonicaid/fiware-orion/pull/3532

[2019-08-01 15:46] fgalan commented on #3530
(Linked SOF question: https://stackoverflow.com/questions/57256701/fiware-orion-context-broker-2-2-0-in-docker-stop-to-send-notifications-after-a)

[2019-08-01 16:00] fgalan commented on #3530
Thanks for the report!

Some questions, to know about your particular setup:

* How much memory and CPU is allocated to the container in which Orion runs? In other words, how much memory and CPU Orion "sees" from its underlaying contanerized operating system?
* How many subscriptions do you have in place? How many subscriptions are triggered by each update? How many updates per seconds (aproximate

[2019-08-02 06:51] fgalan opened #3533 "Should be the CB more flexible with dates/geo types allowing nulls/""?"
Allow "" and null in DateTimes/ISO8601 and geo:xxx. This would be easier the life for clients.

[2019-08-02 07:41] mrutid commented on #3533
There are (real) situations where you don't have a specific date or location for an attribute. Right now it is necessary to DELETE the attribute itself in order to manage this scenario (and it implies to develop non-trivial and special behaviours in GUI and FORMS for these two types) It would be nice to allow empty/null values for these types.

[2019-08-02 10:24] #3531 closed

[2019-08-02 13:45] tmontanaro commented on #3530
Hi, here you can find the replies. In the meantime, I came back to 2.1.0 version and it seems that the problem with CPU remains. However, this time some data continue to arrive (instead with 2.2.0, at a certain time it completely stopped to send it).

* `How much memory and CPU is allocated to the container in which Orion runs? In other words, how much memory and CPU Orion "sees" from its underlay

[2019-08-02 16:51] fgalan opened #3535 "Switch to disable refresh cache traces"
Subscription sincronization traces are shown in INFO level. Each subscription typically generate four traces

[code]

This is a bit annoying especially if you have a large setup (tens of services with hundreds of subscriptions each one) and a short refresh interval. In those cases, it would be nice to have a switch to disable them, i.e. `-noCacheLog`.

[2019-08-03 05:32] rrc2soft commented on #3525
Ok. Hopefully someone with more access to the platform will find the bug and solve it.

[2019-08-03 05:32] #3525 closed

[2019-08-05 09:06] cesarjorgemartinez commented on #3456
On Integrators environment at 2019-08-02 14:05:10 (release 2.2.0):

[code]

[2019-08-05 13:29] fgalan commented on #1051
Maybe useful (a text to BSON mongo filter translator): https://github.com/FIWARE/context.Orion-LD/pull/165

[2019-08-05 14:03] fgalan commented on #3456
It isn't sure the last one is about cache logic as the backtrace is not showing anything related with that, but ok to mention it in this issue.

[2019-08-06 13:16] fgalan commented on #3530
This is the weirdest part:

Yes, I can completely access all the other Orion endpoints. In fact, I see that the notifications are not arriving because the subscriptions say that there was a failure

I mean, if Orion has reached some kind of saturation point due to scarcity of resources, the expected behaviour would be an overall fail of the component. Not only notification would stop to work, but

[2019-08-06 20:38] helderalvesoliveira opened #3537 "Slow Orion/Create entity"
Hello,
When i have a lot information in Context Orion Broker ( in mongoDB), when i try insert more information increasingly your insertion is more slower.
e.g :
In this moment basically i have in Orion 3GB of information and when i try to send more information to Orion, i'm waiting more less 15' minutes to send 50MB, however, if i send the same information when the Orion was empty this process fin

[2019-08-13 11:26] Glagnar commented on #3524
Dear @fgalan I have been able to debug further and I suspect it is because the hosted MongoDB servers require SSL.
The MongoDB driver accepts an option to force SSLMode to kSSLEnabled:
http://mongocxx.org/legacy-v1/configuration/#options-setsslmode-and-options-sslmode
When I compile the ContextBroker with the option set, I seem to be able to to connect to the MongoDB.
[code]
But it is not the full

[2019-08-14 09:08] cgillions commented on #3453
+1

I get the same issue with a GET request to /v2/entities:
https://stackoverflow.com/questions/57491353/context-broker-preflight-options-request

[2019-08-14 10:10] smartcitydevops commented on #3456
Several crashes on Production environment at 2019-08-06, 15:30:00 to 15:32:00 (release 2.0.0)

(gdb) bt
#0  0x00007f8f0b7654f5 in raise () from /lib64/libc.so.6
#1  0x00007f8f0b766cd5 in abort () from /lib64/libc.so.6
#2  0x00007f8f0c01fa8d in __gnu_cxx::__verbose_terminate_handler() () from /usr/lib64/libstdc++.so.6
#3  0x00007f8f0c01dbe6 in ?? () from /usr/lib64/libstdc++.so.6
#4  0x00007f8f0c01

[2019-08-14 11:18] fgalan commented on #3453
I can try to reproduce the problem. In order to do that I'll need the exact request that is causing the response (ideally the curl command to run). Could you provide that information, please?

[2019-08-14 11:22] fgalan commented on #3537
I'd suggest dealing with this question in SOF (https://stackoverflow.com). Could you post there, please? Basically, a copy-paste of your question here :). Please include the "fiware-orion" label.

Once the post at SOF has been created, please include the link to it in this issue as a comment. Then, close this issue. Thanks!

[2019-08-14 11:28] fgalan commented on #3524
Thanks for the information!

Maybe you could create a pull request to show the exact changes changes you needed to do in the Orion code to make it work to? We have travis CI activated in pull request, so it is a good way of checking if the change if fine with the regression test (it which case it can be merged) or to provide feedback in negative case.

[2019-08-14 11:47] cgillions commented on #3453
When the request is made from the browser, it sends a pre-flight `OPTIONS` HTTP request to the CB to check, for example, what headers the CB endpoint accepts. This HTTP method is not allowed.

```curl -X OPTIONS http://xxx.xxx.xxx.xxx:1026/v2/entities```

[2019-08-14 12:03] fgalan commented on #3453
I did the following test. Orion runs this way:

[code]

I do the following curl:

[code]

The response I get is 200 OK

[code]

But maybe I'm not running Orion the same way. Could you confirm how do you run it (i.e. `ps ax | grep contextBroker`)?

[2019-08-14 12:17] cgillions commented on #3453
Sure, our instance is started using this command:
[code]

For added info, it's version 1.7.0

[2019-08-15 18:59] fgalan commented on #3453
@cgillions the version you are using is pretty old and the OPTIONS header is not supported. OPTIONS header support was included around version 1.13.0.

Thus, the solution is easy: update Context Broker. I'd recommend you to do it to the most recent version at this moment (i.e. 2.2.0).

[2019-08-15 19:02] fgalan commented on #3453
I think the problem reported by @cgillions is solved with my last comment but with regards to the original problem described in the body of the issue, @IgorDespot could provide the exact request that is causing the response (ideally the curl command to run), please?

[2019-08-15 21:09] fgalan commented on #3537
I understand this question has been posted at https://stackoverflow.com/questions/57496918/entity-slow-orion-create. Let's continue the discussion there. Closing this issue.

[2019-08-15 21:09] #3537 closed

[2019-08-16 07:29] Glagnar commented on #3524
@fgalan I wish I could, but it does not really make sense. While my change enables the ContextBroker to actually connect to the MongoDB, it does not solve all problems. I do not know  the legacy mongodb drivers, MongoDB or even the context broker well enough to make a solution that fully works.

[2019-08-16 08:28] fgalan commented on #3524
Even in that case see how you have solved your case will be helpful to the ones which know context broker and legacy driver good enough to develop a full-fledged solution. Thus, I think it would be a good idea to create that PR.

You say "it does not solve all problems". To which problems do you refer? Could you elaborate a bit, please? Thanks!

[2019-08-21 11:05] Glagnar commented on #3524
Dear @fgalan I have made two screen recordings that might help you debug what is wrong. The first one is using the standard docker image of the fiware context broker:
https://asciinema.org/a/lLxdAjl5Jxv276RBCkdtTlnv0
It seems that the orion context broker is completely unable to connect to the mongodb.
Here is the git diff where you can see a change that I made to the context broker:
[code]
After

[2019-08-22 08:21] tomsluyts opened #3539 "[Question] Isolating subsciptions - subscription in error"
We've been having an issue with one faulty subscription (notification endpoint down) impacting the other active subscriptions, because of retries flooding the processor. Is there a way to set up Orion so subscriptions are more isolated?

I think it might also make sense to have Orion have the option of no longer trying to deliver on certain subscriptions anymore once a certain number of tries have

[2019-08-22 08:37] Siedlerchr commented on #2584
I am having the same error now with NGSIv2 legacy attributes and in STH-Comet version 2.6.0 and orion 2.2.0:
Both are running from docker.
[code]
It neither works when I pass the fiware-service header and fiware-service.

[code]

[2019-08-22 12:02] fgalan commented on #2584
I'd suggest to open a new fresh issue about this (this one is pretty old and closed). It should be easy, basically a copy-paste to a new issue :)

thanks!

[2019-08-22 12:23] Siedlerchr opened #3540 "NGSIv2 Notifications not including the Fiware-Service header for sth comet"
I stumbled across a bug which prevents me from creating a STH comet subscription. The issuie is similar to the old NGSIv1 related issue #2584
I am trying to create a subscription for STH comet with the NGSIv2 subscription format using
NGSIv2 legacy attributes.
STH-Comet version 2.6.0 and orion 2.2.0.
I created the minimal setup without cygnus.
Both are running from docker on the same server and ar

[2019-08-22 12:34] fgalan commented on #3540
It would be great to know exactly which notification is Orion sending to STH. In order to do that just kill the STH process and start a listening process on the same port (e.g. `nc`).

[2019-08-22 13:19] Siedlerchr commented on #3540
First attempt without any addtional headers:
[code]
So the fiware-service-path is sent, but not the required `fiware-service` header.

When I add a 'fiware-service' header with value 'something' I don't receive any data. This is probaly because I don't have a fiware-service or service-path defined in orion.
When I supply and empty `fiware-service` header I have the same output as above.

[2019-08-22 17:19] fgalan commented on #3540
How Orion is running (i.e. `ps ax | grep contextBroker`)?

[2019-08-22 18:31] Siedlerchr commented on #3540
Inside a docker container:
[code]

[2019-08-22 18:38] fgalan commented on #3540
Thanks for the information!

I can try to reproduce the case. You have provided me the curl you use to create the subscription and the way you run CB. Finally, could you provide me the update you are using to trigger notifications (in curl format), please?

[2019-08-22 18:47] Siedlerchr commented on #3540
Hi,
It's already the automatic initial notification after registering the subscription:
1. Register the Subscription
2. Check with list all subscriptions, see lastSucess code 400 for the sth registration.
3. Run docker-logs fiware-sth-comet on the container image and see the error about the fiware service path.

I attached the relevant parts of the docker-compose files.

[code]

[2019-08-23 08:09] fgalan commented on #3540
Others notification apart from initial notification also have the same problem? Or are they working fine including the fiware-service header?

[2019-08-23 10:25] fgalan opened #3541 "Subscription that pass to inactive state after a limit of failed connection attemps"
A new optional field would be used (in the subscription payload) to specify a limit of connection attempts, so when that number of failing notifications is reached, then the subscription passes automatically to inactive state. The counter is reset in the following situations:

* When a successful notification is sent
* When the subscription is modified to pass from inactive to active state

[2019-08-23 16:05] fgalan commented on #3539
How is the impact in other subscriptions? Maybe accumulated connection attempts while the connection failing endpoint timeout expires?

It would involve introducing a piece of state in the CB (the per-subscription fails counter) but it's a valuable idea anyway. I have created an issue for it here: https://github.com/telefonicaid/fiware-orion/issues/3541. Please feel free of adding feedback as comm

[2019-08-23 16:25] fgalan commented on #3524
I have created a PR based in your feedback: https://github.com/telefonicaid/fiware-orion/pull/3542. Let's see how it goes in the test regression done by travis.

With regards to

Maybe I have missed some trace but it seems the only one with error is the FATAL one at the end (the other are INFO and DEBUG):

[code]
Is my interpretation correct?

[2019-08-26 08:10] mathi123 commented on #3539
It was indeed an accumulation of connection attempts that timeout, leave no more room for the other notifications.

I believe it is documented here: https://fiware-orion.readthedocs.io/en/master/admin/perf_tuning/index.html#outgoing-http-connection-timeout

Can you confirm that there is a possibility that other subscriptions can be affected?

[2019-08-26 11:22] tomsluyts commented on #3541
It might be useful to qualify the cause of the "inactive" state - for example with an additional value or something, else you wouldn't know that the "inactive" state was triggered by reaching the max. number of connection tries. Somebody could have done it "manually" or something.

This could also allow for monitoring applications to pick up faulty endpoints.

[2019-08-27 08:17] Siedlerchr commented on #3540
I tested an update operation, e.g. changed the attribute of an entity with a PATH operation and I do get the same error:
No `fiware-service` header is sent.

[code]

The entity update PATCH operation:

[code]

Running nc shows the following output when I execute the PATCH operation:
[code]

[2019-08-27 11:42] Glagnar commented on #3524
That is what I saw.
You are welcome to use the cloud database with the credentials that you see in the video. I will leave it running for a week more. ( Or you can create your own on the MongoDB cloud website, remark though that you must select a dedicated instance for it to work with MongoDB3.6 )

[code]
The command above works

[2019-08-27 15:12] Glagnar opened #3543 "Mismatch between latest and 2.2.0"
I am using the context broker on docker hub, but for some reason the latest version and 2.2.0 are not the same ? Does latest here represent a 'daily' build ? If so, could you name it 'daily' or 'master' or something.
<img width="1170" alt="Screenshot 2019-08-27 at 17 10 21" src="https://user-images.githubusercontent.com/5913559/63783759-d0f48180-c8ed-11e9-9a43-00cea05db67c.png">

[2019-08-27 20:19] fgalan commented on #3524
I'll try. Thanks for setting up the server for the tests!

Which authentication mechanism is using the orion user? SCRAM-SHA-1 or other?

[2019-08-28 16:14] fgalan commented on #3543
I'm afraid that when the semantics o "latest" was defined in FIWARE dockerhub years ago it was in the sense of "latest *stable version of the code available, i.e. latest version in the master branch*" instead of "latest *frozen version, i.e. latest numbered version of the code*".

Changing the semantics of "latest" now could be problematic due to backward compatibility (lot of system out there pul

[2019-08-28 16:15] fgalan commented on #3540
Thanks you for the feedback! I'll try to reproduce the case based in your information and report my findings here.

[2019-08-28 16:28] fgalan commented on #3541
Good point.

Currently status enumeration is: "active", "inactive", "oneshot", "expired" and "failed". The new status, in fact, would be a specialization of "failed"... maybe "failedMaxReached" (I would prefer a shorter name, in the same style of the other, but I don't find a good alternative right now... any suggestion? :) )

[2019-08-28 16:31] fgalan commented on #3539
Yes, it may impact globally to the Context Broker. I think the explanation provided in the documentation section you cite is quite precise.

Have you tried using `-httpTimeout` to a short value (e.g. 1.5*N, being N the maximum time your system takes to establish connection when they are working)?

[2019-08-28 17:50] fgalan commented on #2987
PR https://github.com/telefonicaid/fiware-orion/pull/3544 implement the capability of changing the authentication mechanism. In addition, it sets SCRAM-SHA-1 as default.

@mathi123 you told "Those instructions do not work". Do you mean my comment at https://github.com/telefonicaid/fiware-orion/issues/2987#issuecomment-378037504? Or the modifications proposed by @minhtri1990 (which are the ones use

[2019-08-29 16:39] fgalan commented on #3524
Probably the problem you have (the one about `(V4 inet_pton fail for icity-shard-00-02-dkxcq.mongodb.net)`) gets solved in a recent PR https://github.com/telefonicaid/fiware-orion/pull/3544 (already merged).

Thus, could you apply your change to the current code in master branch and test again? I'm still debugging and maybe it stills not working yet, but the result of the test with the new version

[2019-08-29 16:49] fgalan commented on #3540
I have done the following tests:

--------------

Start CB with the same parametrization (except my DB runs in localhost) and a fresh DB (i.e. no `orion*` databases are shown in `show dbs` at mongo shell at start time):

[code]

Check version is as expected:

[code]

Create entity in service "something" and subservice "/":

[code]

Create subscription. Note the curl statement is same as yours, exc

[2019-08-29 16:59] fgalan commented on #3520
@YatinArora-NEC did my last comment answer your doubts? Could this issue be closed, please? Thanks!

[2019-08-29 17:03] Siedlerchr commented on #3540
Try creating a subscription and an entity with no fiware service header.
Then sth comet will complain about the missing header.

[2019-08-30 07:44] fgalan commented on #3524
I think I finally solved this issue in PR #3544. If you get the code in that PR (30aff89) then you could connect to the replica set you provided:

[code]

Note the new CLI switches: `-dbAuthdb` and `-dbSSL`.

@Glagnar could you test and confirm it's working, please?

[2019-08-30 07:59] tmontanaro commented on #3530
I'm sorry, I'm not yet able to do other tests because we came back to version 1.15.1 (that is properly working: even though the list of subscriptions shows some failures, data actually arrives since more than 1 week, while with 2.x we received data, also with some failures but only for 2 days.)

[2019-08-30 08:49] fgalan commented on #3530
Maybe a careful examination of the changelog from 1.15.1 to 2.2.0 (available here: https://github.com/telefonicaid/fiware-orion/releases) could provide some insight...

[2019-08-30 09:35] tmontanaro commented on #3530
Considering that, before coming back to 1.15.1 we also tried to use the versions 2.1.0 and 2.0.0 that revealed the same problems, you could also look at only the changes made from version 1.15.1 to 2.0.0

[2019-08-30 09:41] tomsluyts commented on #3541
I've got "connectionsfailure", "failedevents", "failedconnections" or "unhandledevents" as possibilities

[2019-08-30 12:31] fgalan commented on #3530
As reference, this is the diff between 1.15.0 (the base version for 1.15.1) and 2.0.0: https://github.com/telefonicaid/fiware-orion/compare/1.15.0...2.0.0

[2019-08-30 13:05] fgalan commented on #3540
Ok... now I think I understand what you mean from the beginning :) Let me try to explain how Orion works.

* If the original update request have fiware-service, then Orion propagates that header in associated notifications.
* If the original update request doesn't have fiware-service, then Orion doesn't include any fiware-service header in associated notifications.

This behaviour is consistent an

[2019-08-30 13:12] Siedlerchr commented on #3540
Ah okay, now I understand as well. From my point of view that sth-comet should ignore the header if it's not present or use a default one as perseo.  I modified my application to now send the header, still think it's some kind of workaround. Makes it harder to quick test things in the browser

[2019-09-02 17:36] fgalan commented on #3540
Although Orion allows it, not using fiware-service header is an anti-pattern. It has drawbacks, i.e. you cannot evolve your application to use the FIWARE security framework, as this security framework needs fiware-service (along with fiware-servicepath and x-auth-token) to work.

I'd recomment you to use [Postman](https://www.getpostman.com/) to do quick testing. It is almos as easiest to use as a

[2019-09-02 17:37] fgalan commented on #3540
Having clarified the way Orion works, I think this issue can be closed. Do you agree @Siedlerchr ?

(Maybe a new issue could be created in fiware-sth repository about the implementation of a default service and subservice, as Perseo does)

[2019-09-02 17:46] fgalan commented on #3530
Looking to the above link from 1.15.0 to 2.0.0 there are 167 commits. Looking to https://github.com/telefonicaid/fiware-orion/network it can be seen that it correspond to 43 pull requests (although a big percentage of them are probably not related to code, i.e. documentation, etc.).

So an "empirical" way of identifying the cause of the different behavior is to generate intermediate versions, star

[2019-09-02 18:01] Siedlerchr commented on #3540
Thanks for the clarification again. I now use a fiware service header and it's fine. I just thought that this header is part of a specification across all services.

[2019-09-02 18:01] #3540 closed

[2019-09-02 21:23] Glagnar commented on #3524
@fgalan It seems to work. I cloned your branch, compiled, and everything looks good.

[2019-09-03 07:00] fgalan commented on #3524
Thanks! I'll leave opened PR #3452, in the case you want to provide feedback there and/or explicit LGTM.

I think this issue is now solved and can be closed, isn't it?

[2019-09-04 18:39] fgalan commented on #3007
The following SOF question has to be updated when this issue gets completed: https://stackoverflow.com/questions/57784735/method-not-allowed-when-patching-registration/57794114#57794114

[2019-09-05 06:56] fgalan commented on #3524
PR was finally merged (in the case of any feedback, we can take it into account and a new PR could be created based on it, of course). Closing issue.

[2019-09-05 06:56] #3524 closed

[2019-09-05 06:59] fgalan commented on #2987
I think this is fixed by PR #3544 and #3542. Thus, I'm closing this issue.

If I'm wrong, please @mathi123 @minhtri1990 tell me so we can reopen on create a new one. Thanks!

[2019-09-05 06:59] #2987 closed

[2019-09-13 10:49] fgalan opened #3550 "Special attribute type to skip forbidden chars"
Context Broker doesn't allow forbidden charts (https://fiware-orion.readthedocs.io/en/master/user/forbidden_characters/index.html) in attribute values. This can be restrictive in some scenarios.

We could define an special attributeType (for instance, "TextUnrestricted") so ContextBroker broker will not do checks on it. Eg:

[code]

Of course, the user should know the potential security implicatio

[2019-09-23 13:49] cesarjorgemartinez commented on #3166
Provissional workaround by @cesarjorgemartinez:
`sudo docker rm iot-orion`
Then:
`docker-compose up .....`

[2019-09-23 13:53] fgalan commented on #3166
In theory, if during `docker stop` the OS in the container (where Orion runs) sends a SIGINT to Orion process, then Orion will remove the .pid file before stopping. That should be the standard procedure.

[2019-09-23 16:34] m4ng0 opened #3553 "Wrong time unit in log when connection to MongoDB Fails"
Whe the broker fails to connect to MongoDB, we see this message in the log:
`Database Startup Error (cannot connect to mongo - doing 100 retries with a 1000 microsecond interval)`
while the correct time unit is "millisecond".

[2019-09-24 15:08] #3553 closed

[2019-09-24 15:09] fgalan commented on #3553
Fixed by PR #3554

[2019-09-24 15:24] achiancone opened #3555 "Yum repository does not work"
There is a problem with the YUM repository.
When I put the command
`yum install contextBroker`
the repository does not work.
If I go to the link
[https://nexus.lab.fiware.org/repository/raw/public/repositories/el/7/x86_64/fiware-release.repo](https://nexus.lab.fiware.org/repository/raw/public/repositories/el/7/x86_64/fiware-release.repo)
I see the configuration, but if I follow the baseurl
[https:

[2019-09-24 15:40] fgalan commented on #3555
Could you provide the link to the page in which you have found Orion installation instructions, please? Just in case we need to review the procedure described there... Thanks!

[2019-09-24 16:00] achiancone commented on #3555
I found the instructions in the official documentation.
[https://fiware-orion.readthedocs.io/en/latest/admin/yum/index.html](https://fiware-orion.readthedocs.io/en/latest/admin/yum/index.html)
Do you have the same problem? Are you able to fix?

thank you ;-)

[2019-09-24 16:16] fgalan commented on #3555
I didn't manage the yum repositories. Is people from FIWARE Foundation which does that. Maybe they changed some URL...

(I typically get Context Broker compiling from sources or by dockerhub, so I'm afraid I cannot confirm the problem or possible fixes)

I'm CCing @caa06d9c (from FIWARE Foundation) so he can help with this.

[2019-09-25 07:29] ilyasdresden opened #3556 "Error: socket hang up issue"
Hello,

We faced with issue: Error: socket hang up.

Here was our setup:
MQTT (mosquitto) ->IoT Agent UL (FIWARE) -> Orion (FIWARE)
Then we pre-registered 1000 devices and started to send message over MQTT every 10 seconds with values for all devises.
At some point it stopped processing incoming data and showed this message in the log of IoT Agent UL.
We did the same with 100 devices it works well

[2019-09-25 07:32] c0nb4 opened #3557 "Update Invalid Characters"
Error Message: [INFO]: HTTP response: {"error":"BadRequest","description":"Invalid characters in entity id"}

Used Entity Id: "urn:ngsi-ld:SensorB-#HP-K12_____"

Invalid Character: "#"

As soon as I got raid of "#" Code worked fine.

[2019-09-25 11:35] fgalan commented on #3555
It seems that @caa06d9c is no longer in charge of this. CC: @flopezag

[2019-09-25 11:39] fgalan commented on #3556
Thus, trasnferring this issue to IOTA-UL repository

[2019-09-26 07:35] flopezag commented on #3555
I was checking the issue and now it should be working again. There where some issues due to infrastructure migration. Please, try again and let us know.

[2019-09-26 15:27] achiancone commented on #3555
Sorry @flopezag but it doesn't work.
The link
[https://nexus.lab.fiware.org/repository/el/7/x86_64/release](https://nexus.lab.fiware.org/repository/el/7/x86_64/release)
is broken (Error 404).
The Repository [https://nexus.lab.fiware.org/](https://nexus.lab.fiware.org/) seems to be online, but empty.

[2019-09-26 15:35] flopezag commented on #3555
Are you trying to execute the yum install contextBroker after the configuration of the public repository?

[2019-09-26 15:40] caa06d9c commented on #3555
@achiancone  this endpoint doesn't provide an http browse function, only directs link are accessible, and entry point for yum is [repomd.com](https://nexus.lab.fiware.org/repository/el/7/x86_64/release/repodata/repomd.xml).

[2019-09-27 08:07] achiancone commented on #3555
Thank you @caa06d9c and @flopezag. I understand now.
I'm trying to install the Context Broker directly from rpm. Probably the problem is that the online documentation is not clear at this point (with non browsable page):
[https://fiware-orion.readthedocs.io/en/latest/admin/install/index.html#using-rpm-file](https://fiware-orion.readthedocs.io/en/latest/admin/install/index.html#using-rpm-file)

[2019-09-27 09:06] flopezag commented on #3555
You are right @achiancone, the issue that you identify means that the documentation was not so clear in this point and we need to update accordingly.

[2019-09-27 09:45] fgalan commented on #3555
Thanks for the feedback!

Maybe @achiancone you could propose a documentation change based in your experience so it gets more clear, please? Do it as pull request modifying the file https://github.com/telefonicaid/fiware-orion/blob/master/doc/manuals/admin/install.md

Thanks!

[2019-09-27 13:45] fgalan commented on #3557
I think this question should be posted using StackOverflow (https://stackoverflow.com). Please, don't forget to include the "fiware-orion" label.

In addition, when you do that I'd kindly ask you to detail your case a little bit, eg: "I'm using CB and when I send (a given request you should detail) then I get this error: etc.".

Once you have created the question at SOF please add the link in the

[2019-10-02 07:52] c0nb4 commented on #3557
https://stackoverflow.com/questions/58197309/entity-id-invalid-in-fiware-orion

Sorry for the Konfusion.

[2019-10-02 07:52] #3557 closed

[2019-10-04 13:16] cesarjorgemartinez commented on #3166
Reproduced in Uma environment this issue. Apply the workaroud:
sudo docker rm iot-orion
up...

[2019-10-07 19:21] jmezzera commented on #3166
Hi,
Im having the same issue here.

@fgalan, I get that is the standard procedure but what about non standard e.g. an unexpected server reboot? How could I ensure that Orion is going to start correctly after a reboot?

Thanks

[2019-10-08 09:37] fgalan commented on #3166
An ordered reboot (i.e. "sudo reboot" in a typical Linux system) causes the OS stopping its processes in a proper way (i.e. OS sends SIGINT to all the processes). I understand you refer a more critical system fail, i.e. a hard disk crashes, electrical power outage or something like that.

If such critical even occurs, you should include clean up procedures as part as you recovery plan. In particul

[2019-10-08 18:23] jmezzera commented on #3166
I was indeed referring to such a failure.

Fair enough, I get what you mean.
Thanks for your response

[2019-10-10 11:14] ArqumFarooqui-NEC commented on #171
Hi @fgalan/ @kzangeli Sir,
According to my understanding:

1. add ```Rt``` prefix before all constants of enum - ```RequestType``` in 'Request.h' file.
2. add all classes of NGSI-9 and NGSI-10 (as all classes are request and response type in this) in enum,  and in NGSI folder I have to add only those classes which has dependencies on other classes with prefix ```Rt```.

Could you please provide yo

[2019-10-11 08:44] jmcanterafonseca commented on #3533
NGSI-LD does not allow nulls. You can always define a dummy location (empty object) or dummy date (1st Jan 1970) to flag an unknown value ...

[2019-10-14 07:37] fgalan commented on #3533
You may have wrong reports or analytics if you use dummy dates, locations (or dummy data in general) or you will need special processing to adapt reports to your "dummy data conveys". NULL as a clear, global, common semantic (and wide system/framework support) and IMHO is a good value to express "void/unknow".

So in NGSI_LD what would you plan to use as an "unknown" integer value? will it be 0? -

[2019-10-15 15:14] AngeloIapichino opened #3558 "Plot statistics in Grafana"
Hi guys,

I'm working with some benchmarks and assessments between different architectures (one of them is FIWARE).

Orion provides the statistics API (`GET /statistics`) and could be nice if it is possible to plot some indicators in Grafana.

Is this indicators published in some topic? Is it stored in MongoDB?

Do you have any suggestions?

Thanks in advance,
Angelo

[2019-10-15 16:34] jmcanterafonseca commented on #3533
my point is that if something is not known why it should appear as an Attribute value of an Entity at a particular point in time?

for instance, if a device is not available or is out of service then in that case an IoT Agent should not be updating anything to the CB, and let the value as it was before (either non-present or with its previous value).

[2019-10-16 06:33] ptrdtznr opened #3559 "Forbidden Characters in Entity"
Hello,

according to the [ForbiddenChar](https://fiware-orion.readthedocs.io/en/master/user/forbidden_characters/index.html#forbidden-characters), the forbiddne character are:

-   &lt;
-   &gt;
-   "
-   '
-   =
-   ;
-   (
-   )

But why is the "/" character than also forbidden?!

If I want to create an entity like that

[code]
A response generates  `{"error":"BadRequest","description":"Invalid

[2019-10-16 06:40] kzangeli commented on #3559
Looking at the source code, the Entity ID field for NGSIv2, has four additional forbidden characters:
* ?
* /
* \#
* &

Also, all characters with ASCII code 0-32 and  127-255 are forbidden in Entity ID.
Perhaps this is not well documented (or even not documented at all).

That said, I'm not sure why we don't allow slashes in entity id.

[2019-10-16 06:55] ptrdtznr opened #3560 "1-to-Many-Subscriber Notification"
I could not find any information about this scenarios, therefore here we go:

We got 1 publisher of an entity and n (>100) Subscribers to it. Once, the publisher changes the entity, all subscribers will be notified. What happens, if the Orion notifies subscriber 67/100 and the publisher sends a new update?

a) Orion finishes first the 33 other subscribers with the update and than starts with the w

[2019-10-16 07:03] ptrdtznr opened #3561 "Deleted Entity Notification Missing!?"
Lets say a publisher creates an entity, and some subscribers subscribe to it. After some time the publisher deletes the entity.

Is there any mechanism, that will inform the subscriber about the deleted entity? I couldnt find anything so far about this kind of "feature", "mechansim".

[2019-10-16 07:51] fgalan commented on #3560
I think this is more a question than an issue and should be published in StackOverflow (https://stackoverflow.com). Could you do that, pls? It's basically a copy-paste :). Please, add the "fiware-orion" label to the question.

Once published in SOF, please add a link to it as a comment on this issue. Then, close the issue.

Thanks!

[2019-10-16 08:19] ptrdtznr commented on #3560
Okay, let me rephrase the questions to an issue.

I am not able to find/ reproduce the above mentioned question with your provided, by the way outdated, Jmeter2 files. They are also not able to open with the latest Jmeter version 5, However I am also not able to find any documentation about the behavior of Orion according to QualityOfServices, which is clearly required from my point of view for a

[2019-10-16 13:50] fgalan commented on #3560
So you have "move" the original post to an issue related to JMeter files in the repository. Is my understanding correct?

Anyway, I think the original post is valuable as Q&A, as illustrates the way Orion works in that case. If you don't want to create a SOF post with it, may I copy-paste to do so (and self-answer)? Of course, it's better always if the original author (you) to do it, but I don't m

[2019-10-16 13:51] fgalan commented on #3561
Similar to issue #3560 I think this would be better placed in SOF. Same procedure described here: https://github.com/telefonicaid/fiware-orion/issues/3560#issuecomment-542572102, pls.

Thanks!

[2019-10-16 15:15] #3505 closed

[2019-10-17 13:57] tstorek commented on #3412
Hi,
we have the use case we would like to monitor and control smart energy systems over Orion in combination with IoT-Agents. For thermal systems of accuracy with down to one second might seem enough. However, when it comes to electrical systems we need to measure more frequently with higher sampling rate. Performancewise this should be possible, however, using quantumleap  to monitor systems it w

[2019-10-17 16:17] tstorek commented on #3519
Hi again,

sorry, for not coming back to this for such a long time.
I still owe a sketch of setup. So here they are:
![dataflow](https://user-images.githubusercontent.com/20579672/67027309-98ad3a80-f109-11e9-927f-faba91d3a2e6.JPG)
![platform_setup](https://user-images.githubusercontent.com/20579672/67027313-9a76fe00-f109-11e9-926c-ce61fddb54ea.JPG)

For the number of replicas I added the numbers.

[2019-10-17 16:58] fgalan commented on #171
Looking at the current `RequestType` enum, the constant names used by NGSIv2 request seem to be fine. With regard to NGSIv1, it is deprecated so it is not a good idea to invest time in changing their names.

So probably this issue is now obsolete (it is almost 6 years old! :) and maybe should be closed. What do you think?

[2019-10-17 17:01] fgalan commented on #3558
I don't know how Grafana works :) but if the idea is to plot information comming from Orion, then it should be used as a context consumer, using the NGSIv2 API to get context information from Orion.

If you want to get historical data, then I'd suggest to have a look to STH (https://github.com/telefonicaid/fiware-sth-comet). STH is a context consumer able to store historical information comming fr

[2019-10-17 17:06] fgalan commented on #3559
From NGSIv2 specification http://fiware.github.io/specifications/ngsiv2/stable, in the "Field syntax restrictions" section:

This is to avoid ambiguities in URL processing. If we would allow `/` for instance we could have entities with id `foo` and entities with id `foo/bar`. Thus, if we have the following request:

[code]

It may refer to:

* A get entity operation (i.e. `GET /v1/entities/{entity

[2019-10-17 17:07] fgalan commented on #3559
The usual solution is to encode-decode at client side. As the reference you cite suggest:

[2019-10-17 17:22] kzangeli commented on #171
Yeah, I think we can close this one. Really old and  all APIv1 code will probably soon be removed completely.

[2019-10-21 06:54] Luxxii commented on #3559
Would it be possible that the ContextBroker internally [encodes](https://www.degraeve.com/reference/urlencoding.php) unwanted/forbidden characters?

It would be nice to send:
[code]
instead of sending the encoded version:

[code]
which is barely readable and also displayed like this at `v2/entities`.

The above is still valid `JSON`.
The URL for this entity could then be accessed by `v2/entities/"

[2019-10-21 17:11] fgalan commented on #3559
@luxxi to be sure I fully understand your proposal, your idea is to automatically encode in the Orion request but not to decode in the responses? I mean, the client will create an entity as follows:

[code]

So latter he will retrieve its data using:

[code]

getting the following response:

[code]

Is my understanding correct?

[2019-10-22 06:35] ptrdtznr commented on #3561
I dont think this is an questions, I think this is an issue, since subscribers don't know when the entity has been deleted. And this is a crucial thing which should be somehow handled by Orion. I am not accepting a close and/or a SOF post as an answer.

[2019-10-22 07:07] Luxxii commented on #3559
I am talking about an INTERNAL encoding. This also includes the decoding part. So for clearance:

A client wants to create an entity and does the following:

[code]

The Orion Context-Broker (OCB) receives this query and encodes for specific characters as long as the sent `JSON` is valid (and a FIWARE-Entity).

If a user accesses via a Web-Browser: `v2/enitites`, the OCB needs to decode the encode

[2019-10-22 16:18] fgalan commented on #3559
Thanks for the clarification!

The bottom line is that rendering some chars could lead to injection attacks in clients that consume results from Orion directly and are not well designed or well protected. For instance, a web application acting as Orion client.

For instance something like this:

[code]

If the client doesn't have care processing the `value` it can end executing arbitrary JavaScrip

[2019-10-23 10:16] ptrdtznr commented on #3559
I do understand this thought @fgalan , but there are many ideas, exploits and hacks to do some Code-Injeqtion (SQL Injection, Javascript, etc. pp). You won't be able to minimize the possibilities because you are not allowing few characters. I would prefer either allow as much as possible or basically nothing except [A..Za..z]. I am stressing this example a bit, but I am not happy with the set of c

[2019-10-24 06:00] ArqumFarooqui-NEC commented on #2027
Hi @kzangeli sir,
I have started working on this issue.
As per my understanding : "All the HTTP Headers that are used by orion should be  in a single document  with their description."
As all the HTTP headers are defined in ```rest/HttpHeaders.h``` file, so I'll have to just place them in a single file and add the description for all HTTP Headers. Some HTTP Header descriptions are present in  fiwa

[2019-10-24 08:06] #171 closed

[2019-10-24 16:09] fgalan commented on #3559
Orion forbids `(`, `'`, `"` and `;`, thus killing the syntaxis of most of the languages in which the injected exploit could be encoded.

But maybe we have left something without covering... it would be great to know in that case an example of exploit that *without using none of the current forbidden chars in Orion* could cause code execution in an injection attack scenario.

[2019-10-28 08:53] Luxxii commented on #3559
By forbidding specific characters, the possibility by not being attacked is not reduced in my opinion.

E.G.: [Here](https://www.w3schools.com/tags/ref_urlencode.asp) is another URL-Encoding-Reference. There, it specifically shows that you can encode `control characters`. The OCB would allow inputs like:

[code]

So what if an attacker abuses this? E.G. he could know that some libraries online are

[2019-10-28 09:33] ptrdtznr commented on #3559
I agree, we are loosing the focus and drifting away

[2019-10-29 18:20] jmezzera opened #3567 "Cannot query some Entities"
Hi
I'm having some issues querying some entities. I have an implementation, in which I have this sample of Entities

`GET {ORION}/v2/entities/`: (Fiware-Service and **Fiware-ServicePath: /farmacias/1**)
[code]

However, I have an application that gets the entire list of entities of the service, by querying the endpoint without setting the ServicePath header. In this case I only get a sublist of th

[2019-10-29 18:57] jmezzera commented on #3567
I deleted some entities I was not using and then Orion responded with the ones I was looking for.
Could it be that the query response was so long that it was trimmed, leaving some entities behind?

[2019-10-30 08:23] fgalan commented on #3533
To make easier the life for clients, as my first entry in the issue tells :)

I mean, ideally, it can be as you said so if the client doesn't have the data, it doesn't send an attribute with it. But some clients (due to they have "fixed" the attributes they send and cannot omit them, I understand IOTAs are of that kind generally) cannot do that, and, in that case, null seems to be a good option fr

[2019-10-30 08:27] fgalan commented on #3412
I think the situation doesn't has changed since I tool some comments above:

By the way, @agaldemas, regarding:

Did you get any answer from ETSI? It would be very weird they don't adhere NGSI-LD to a higher level standard as ISO8601 is...

[2019-10-30 09:27] fgalan commented on #3519
Thanks for the diagram. Some additional pieces of information I'd need:

* Could you also provide an example of entity and an example of subscription (as provided in the API, i.e. `GET /v2/entities/{entityId}` and `GET /v2/subscriptions/{subId}`, not in DB)?
* How many entities do you have at the end?
* How many subscriptions do you have at the end?

(Looking in the issue comments above, I'm afrai

[2019-10-30 09:38] fgalan commented on #3561
"Is there any mechanism, that will inform the subscriber about the deleted entity?" looks like a question to me ;)

Maybe it's a matter of perspective... Requests like "is there X in Orion?" or "how I can do X in Orion?" are good candidates for SOF. Enrich the Q&A knowledgue base that way is very useful for users. And of course it doesn't preclude that the answer could be "You cannot do X at the p

[2019-10-30 10:10] fgalan commented on #3559
I think the discussion is useful, as the rationale behind the forbidden chars is related to what we are talking about. Not too much drifted away, from my point of view ;)

I know this is a controversial topic. Some people thinks one way, some other people thinks other way. In fact, the link you cite https://stackoverflow.com/questions/4999884/is-urlencode-good-enough-to-stop-all-sql-injection-atta

[2019-10-30 10:16] jmcanterafonseca commented on #3533
maybe the IoT Agents should be fixed. It provides a more useful insight the
old value of an Attribute than overwriting it with null ... due to a
failing sensor ....

El mié., 30 oct. 2019 a las 9:23, Fermín Galán Márquez (<
notifications@github.com>) escribió:

[2019-10-30 10:34] jmcanterafonseca commented on #3559
sorry for jumping in here. the #, / and ? should be valid chars for Entity Ids. We already had this discussion with NGSI-LD.

There is no risk of ambiguity as the API client should encode the corresponding URI component when calling the REST API. For instance to retrieve an Entity with id 'a/b' a URI of the form /v2/entities/a%2Fb should be used.

[2019-10-31 11:31] fgalan opened #3568 "Notification flow control on update"
Sometimes (especially with batch updates, i.e. `POST /v2/op/update`) a single update may trigger a large set of notifications which take some time to be processed (e.g. due to the receiver doesn't responses immediately). If the sender of the updates goes faster than notification processing (due to Orion responses immediately to the update sender, without waiting for notification finalization) this

[2019-10-31 14:19] mrutid commented on #3568
OK

[2019-11-04 17:28] fgalan commented on #3458
Having passed 6 months without news :) and close to the Orion 2.3.0 release date, I understand we can close this issue.

[2019-11-04 17:28] #3458 closed

[2019-11-04 18:40] WyRe opened #3570 "accumulator-server.py is not working even inside virtualenv"
Well, I was following your [getting started guide](https://fiware-orion.readthedocs.io/en/master/user/walkthrough_apiv2/index.html#starting-accumulator-server) to turn on the accumulator server and receive Orion notifications in there. I've even created a `virtualenv` like you suggest and installed `Flask==1.0.2` and `pyOpenSSL==19.0.0` but it doesn't work even so.

First I'm getting a syntax erro

[2019-11-04 20:00] WyRe commented on #3570
I've tried with `python2` and apparently is working, I would suggest you to make the explicit appointment [in there](https://fiware-orion.readthedocs.io/en/master/user/walkthrough_apiv2/index.html#starting-accumulator-server) (**`python2` version is needed**; I mean).

Otherwise when that's not explicitly said, I think the most usual thought is the script is designed for `python3`.

I'll keep open

[2019-11-04 22:58] fabiocabrini commented on #3389
thanks

[2019-11-05 08:21] Siedlerchr commented on #3567
Have you looked into the pagination? You could add the count option in your query to see how  many results you really have for that query and If I remember correctly, orion has a limit (can be configured) how many entities are returned in one  query.
https://fiware-orion.readthedocs.io/en/master/user/pagination/index.html

[2019-11-05 08:27] fgalan commented on #3068
Basic NGSIv2 forwarding implemented in Orion 2.3.0. Possible continuation of the work in issue https://github.com/telefonicaid/fiware-orion/issues/3485. The present issue gets closed.

[2019-11-05 08:27] #3068 closed

[2019-11-05 13:02] jmezzera commented on #3567
Thank you very much, I did not know about that option.

[2019-11-05 13:02] #3567 closed

[2019-11-06 07:06] ptrdtznr commented on #3559
Thanks @jmcanterafonseca , I agree here totally with you.

[2019-11-06 12:38] fgalan commented on #3570
Thanks for the feedback! Documentation has been modified in the following PR: https://github.com/telefonicaid/fiware-orion/pull/3572. It would be great if you could have a look and provide feedback :)

In addition, it would be great if somebody could provide a version of accumulator-server.py for python3. It should be just a matter of adapting little things, e.g. as `print "..."` to `print("...")`

[2019-11-06 13:14] WyRe commented on #3570
I thought exactly the same, that's why I also tried

[code]

With the same result unfortunately. Regarding to _some other obscure OS-related reason is causing problems..._ I would be fine if someone could reproduce the same issue, Otherwise ... I would point to my system. But I've tried in my two personal computers, laptop and desktop and both are showing the same behaviour; although both have als

[2019-11-08 13:05] WyRe commented on #3570
@fgalan I've been thinking about that `debug mode` too:

![Captura de pantalla_2019-11-08_14-02-07](https://user-images.githubusercontent.com/4059108/68478578-8ae26500-0230-11ea-9bff-f8a0eda49229.png)

Is it related with the [line 425](https://github.com/telefonicaid/fiware-orion/blob/master/scripts/accumulator-server.py#L425) in the script?

[2019-11-08 13:17] fgalan commented on #3570
I think it wouldn't hurt. Enable it and let's see if it brings some light to the problem.

In addition, I have remembered that I had some problems in the past with Flask (the underlying web server in which accumulator-server.py is based) and IPv6. Maybe it has some relation, although it happened many years ago and I don't remember exactly. In the case it can help, this is the link: https://stackov

[2019-11-08 13:17] fgalan commented on #3570
What do you mean by work flow?

[2019-11-08 13:32] WyRe commented on #3570
I mean, should I fork `fiware-orion` then make my own branch, the accumulator port and a pr?

[2019-11-08 17:04] fgalan commented on #3570
Yes, that's the usual workflow. You can do it in a new file (e.g. accumulator-server-python3.py) so we can have both versions for a while. Thanks!

[2019-11-12 11:17] cesarjorgemartinez commented on #3166
Hi, when will this issue be fixed?

[2019-11-13 08:33] fgalan commented on #3166
This is not an issue that needs to be fixed :) As I have mentiened in previous comments, this is not an issue/bug, but a feature, that prevents several CBs to run at the same time due to errors or bad configuration.

There would be an issue if in the event of an ordered shutdown of CB (i.e. upong getting and SIGINT or SIGTERM signal) the PID file would not be removed by CB. Is that the situation?

[2019-11-14 11:13] fgalan commented on #3568
Implemented by PR https://github.com/telefonicaid/fiware-orion/pull/3577

[2019-11-14 16:53] jmezzera commented on #3166
@cesarjorgemartinez I understood the point @fgalan made and now I agree with him. I now have the OS in charge of cleaning a failed termination. I hope this helps.

[2019-11-21 09:22] ArqumFarooqui-NEC commented on #3427
Hi @fgalan / @kzangeli sir,
I have started working on this issue.
As per my understanding : "for batch operation `POST /v2/op/update` (with actionType : append, appendStrict, update, delete, replace), `idPattern` is not implemented yet. When we are using the same we are getting response as `204 No Content`, But it should be `501 Not Implemented`.
For that I'll have to identify the file from where

[2019-11-26 15:34] fgalan commented on #3427
My understanding is the same as yours :)

Maybe it is a good idea to have a look to the Developers Manual (https://github.com/telefonicaid/fiware-orion/blob/master/doc/manuals/devel/README.md) and Contribution Guidelines (https://github.com/telefonicaid/fiware-orion/blob/master/doc/manuals/contribution_guidelines.md) in the case you didn't know these documents.

Regarding testing, you should inclu

[2019-11-29 13:34] Enkelmann opened #3578 "Some possible Null Pointer Dereference bugs"
Hi there!
I am currently running some static analysis tools over the code and I already found some Null Pointer Dereference bugs in the code (using [Infer](https://fbinfer.com)) that you might want to replace with proper error handling.
[code]
The return value of `strdup` is not checked.
[code]
Again `strdup`.
[code]
Again `strdup`.
[code]
If the first `strdup` fails, the second one will get a Nul

[2019-12-02 20:45] fgalan commented on #3578
Thank you for the report!

Maybe even you could propose a pull request with the changes needed to fix these null pointer dereferences (the one finding the bug should also have the oportunity of getting the glory of solving it ;).

What do you think?

[2019-12-03 06:44] Enkelmann commented on #3578
I'll have to decline the honour of fixing them. ;-) Error management should be consistent and I am not familiar enough with the project to know the exact way the program should fail (or recover) in these cases.

[2019-12-04 08:38] smartcitydevops commented on #3456
Crash in Preproduction environment, only machine pre2-iot-core-fe-01, in Nov 27 around 13:00 (release 2.2.0)

(gdb) bt
#0  0x00007f5e804f84f5 in raise () from /lib64/libc.so.6
#1  0x00007f5e804f9cd5 in abort () from /lib64/libc.so.6
#2  0x00007f5e80db2a8d in __gnu_cxx::__verbose_terminate_handler() () from /usr/lib64/libstdc++.so.6
#3  0x00007f5e80db0be6 in ?? () from /usr/lib64/libstdc++.so.6
#4

[2019-12-05 16:48] fgalan commented on #3578
Ok, no problem. We will try to address them. It would be a great if you could do a new pass with your tool once we fix the code, please, to check it the tool show them as solved.

I will focus by the moment on the ones in metricsMgr and jsonParse. With regards with the ones in logMsg and parseArgs it would be great if @kzangeli could provide the fix (he knows better than me the internals of such m

[2019-12-05 17:17] kzangeli commented on #3578
I wouldn't mind. It is my code after all.
But, before January, impossible.
And after that we'll see.
Swamped in work lately ...

[2019-12-13 12:18] fgalan commented on #3578
The following PR https://github.com/telefonicaid/fiware-orion/pull/3579 addresses the issues detected.

[2019-12-16 09:57] #3578 closed

[2019-12-16 15:01] fgalan commented on #3456
The [last one](https://github.com/telefonicaid/fiware-orion/issues/3456#issuecomment-561535310) should be solved by PR https://github.com/telefonicaid/fiware-orion/pull/3580.

[2019-12-17 14:26] jmezzera opened #3581 "Semicolon in device attribute"
I was trying to update an entity with a semicolon inside an attribute:

[code]
and got
[code]

Removing the ; solve the error. However, is this behaviour the one expected?

Thanks

[2019-12-17 14:32] fgalan commented on #3581
Given this is more a question about Orion functionality than an issue, could you move this question to StackOverflow, please? Please use the "fiware-orion" label.

Once you create the question in SOF, please add the link to it as a comment on this issue. Then close the issue.

Thanks!

[2019-12-17 14:40] jmezzera commented on #3581
Ok, my bad!
https://stackoverflow.com/questions/59376543/are-semicolons-allowed-in-device-attributes

[2019-12-17 14:40] #3581 closed

[2019-12-18 15:21] arturohu opened #3582 "Notification to HTTPS"
Hello, I have found the following problem:

I've created two subscriptions in Orion, subscriptions are responsible for notifying to a service reachable through the internet. The first subscription notifies to service via HTTP and next one via HTTPS.

- Notification without security is produced correctly.
[code]

- Notification with security produce too many fails ("Timeout was reached").

[code]

[2019-12-19 12:35] fgalan commented on #3582
Are you https://service/notify endpoint working? Could you test with curl (providing both the curl command used and the response you get), please? Thanks!

[2019-12-19 12:38] arturohu commented on #3582
It was an example, I didn't put the real endpoint. I tried to apply the -insecureNotif rule but it didn't work either.

[2019-12-19 12:49] fgalan commented on #3582
Yes, I got it ;)

Could you the curl test I mention above on the real endpoint from the same machine where Orion runs and report the result, please? Thanks!

[2019-12-20 10:43] LuisGP opened #3583 "File "common/compileInfo.h" isn't generated by cmake."
Hi,
If I compile using the `makefile` script everything works fine but trying to compile using `cmake` it fails with the following error message:

[code]

So, it seems that the generated `common/compileInfo.h` isn't being generated when using `cmake`.
I found this issue when compiling in a Ubuntu 18.04.3 docker image.

[2019-12-20 10:50] kzangeli commented on #3583
That file is generated during the build.
Look at the toplevel makefile, target *compile_info*.

This is the script that genberates `compileInfo.h`:
`scripts/build/compileInfo.sh`

[2019-12-20 11:01] LuisGP commented on #3583
So, if I want to build using `cmake` what should I do?

[2019-12-20 11:09] kzangeli commented on #3583
I would strongly propose to use the "normal" make of orion.
We also use cmake.

If you for some reason is unable to do that, make a script that first calls `scripts/build/compileInfo.sh` and then whatever you need.   Use that script for compilation of the broker.

[2019-12-20 11:10] LuisGP commented on #3583
Ok, thank you very much.

[2019-12-20 11:10] #3583 closed

[2019-12-24 09:30] ArqumFarooqui-NEC commented on #3427
Hi @fgalan  sir,

I've fixed the issue#[3427]( https://github.com/telefonicaid/fiware-orion/issues/3427) and it is working fine in my local repo. I've also created new test cases for the same that is successfully executed. But during running of functional tests, there are 6 existing test cases are failing,for which errors are showing as` VALIDATION ERROR: input file and reference file have differe

[2019-12-27 05:16] ArqumFarooqui-NEC commented on #3460
Hi @fgalan  @kzangeli sir

As per my investigation, `500 Internal Server Error` is returning as response when the queries `GET /v2/subscriptions`, `GET /v2/subscriptions/<subID>` and `GET /v2/entities/<entID>` passed to Orion where DB is failing.

As the behavior of `GET /v2/entities/<entID>` is also correct so I'm following current implementation of the same and will implement the similar behavio

[2020-01-07 12:27] fgalan commented on #3427
Happy to know the solution to this issue is progressing!

I'd suggest to create a PR with the proposed fix. This is the best way of analyzing the problems you mentions on 3068 cases and provide feedback.

Thanks!

[2020-01-07 12:32] fgalan commented on #3460
I think your understanding it correct. Thanks!

[2020-01-07 17:47] gboege opened #3586 "geo:json Mulitpoint, MultilineString, Multipolygon non documented"
Hi

I have just found out, that there are more geo:json options available than documented.
They are implemented and in the tests, but not in the docu.
Multipoint
Multilinestring
Mulitpolygon

I guess, this opens up new options and usecases.

[2020-01-07 19:26] fgalan commented on #3586
To which documentation do you refer? Could you provide the precise link, please? Thanks!

[2020-01-07 20:10] gboege commented on #3586
I have to correct myself a bit, it is not non documented. Sorry for this unprecise statement, maybe this could be a bit extended to explicitely mention those 3. I did searches for all 3 terms with fiware and no results.

https://fiware-orion.readthedocs.io/en/1.2.1/user/geolocation/index.html
No mentioning at all.

http://telefonicaid.github.io/fiware-orion/api/v2/stable/
"GeoJSON. GeoJSON is a ge

[2020-01-08 05:26] Chandradeep-NEC commented on #2027
@fgalan
The PR on this issue has been raised by @ArqumFarooqui-NEC, I request you to please assign this issue to him.

[2020-01-08 08:05] fgalan commented on #2027
Done! :)

[2020-01-08 08:40] Chandradeep-NEC commented on #2027
Thanks for your quick response :)
The PR #3576  has already been reviewed and verified. Request you to please merge the PR.

[2020-01-13 16:21] fgalan commented on #3586
(1.2.1 is a pretty old version, I'd recommend to use https://fiware-orion.readthedocs.io/en/master/user/geolocation/index.html or https://fiware-orion.readthedocs.io/en/2.3.0/user/geolocation/index.html)

with actually is a link to the second link you cite, i.e. http://telefonicaid.github.io/fiware-orion/api/v2/stable

NGSIv2 intentionally doesn't provide extra info regarding which GeoJSON are sup

[2020-01-13 18:09] fgalan commented on #3533
Related question at SOF (to be edited once this issue gets addressed): https://stackoverflow.com/questions/59642299/orion-context-broker-geolocation-how-to-deal-with-location-not-known

[2020-01-14 09:51] gboege commented on #3586
I do understand that it is not mentioned in the NGSI-Standard, but I agree to better put it in the implementation notes, because it is not the full GeoJson standard implemented:

The following GeoJson Positions (as described in the table of index [here](https://macwright.org/2015/03/23/geojson-second-bite.html) are enclosed in the Orion-Tests ([Link](https://github.com/telefonicaid/fiware-orion/bl

[2020-01-14 11:14] fgalan commented on #3586
Thanks for the feedback! Based on it I have done the following PR modifying documentation: https://github.com/telefonicaid/fiware-orion/pull/3587. It would be great if you could have a look to it, please.

Thanks!

[2020-01-14 12:55] fgalan commented on #3586
Taking into account PR #3587, I think this issue can be closed. Do you agree, @gboege ?

[2020-01-14 13:13] gboege commented on #3586
We updated the Orion CB docs with details. Issue closed

[2020-01-14 13:13] #3586 closed

[2020-01-14 18:13] smartcitydevops commented on #3456
Crash in Intgration environment, machine pre2-iot-core-fe-01, in Nov 27 around 13:28 CET (release 2.3.0)

context broker last logs:
time=2020-01-14T12:19:26.306Z | lvl=INFO | corr=e961b79a-36c7-11ea-8b94-fa163ec74401 | trans=1577705464-717-00015861269 | from=10.0.0.24 | srv=urbo | subsrv=/distritotelefonica | comp=Orion | op=logMsg.h[1874]:lmTransactionEnd | msg=Transaction ended
time=2020-01-14T1

[2020-01-14 18:15] smartcitydevops commented on #3456
Crash in Inrtgration environment, machine ext2-iot-core-fe-02, in Nov 27 around 13:21 CET (release 2.3.0):

context broker last logs:
time=2020-01-14T12:19:48.469Z | lvl=INFO | corr=fe3e5984-36c7-11ea-87d8-fa163e0622ea | trans=1577705434-253-00015849687 | from=10.0.0.24 | srv=urbo | subsrv=/distritotelefonica | comp=Orion | op=logMsg.h[1874]:lmTransactionEnd | msg=Transaction ended
time=2020-01-14

[2020-01-16 11:47] #3568 closed

[2020-01-17 12:47] fgalan commented on #3550
Implemented by PR https://github.com/telefonicaid/fiware-orion/pull/3592

[2020-01-17 12:47] #3550 closed

[2020-01-20 08:55] arturohu commented on #3582
Hello @fgalan, sorry for my late reply. We have been trying to collect any useful information. All curl done have been successful and have been tested from the main Orion host to https://service/notify host, it hasn't registered problems during this test. However, Orion notifications to the service fail sometimes when service is over HTTPS. Certificates work properly and HTTP communication doesn't

[2020-01-20 10:41] arturohu commented on #3507
Hi,
I have the same problem with **/v2/types**, I always get an empty array for all services and servicepath.

Tested services and servicepaths have got at least two type of entities which should be returned.

Thank you!

[2020-01-20 12:22] fgalan commented on #3582
Thus, I understand sometimes works, sometimes fails. Which ratio of fails (%) do you have, more or less?

[2020-01-20 12:26] fgalan commented on #3507
Thanks for the report

[Same question](https://github.com/telefonicaid/fiware-orion/issues/3507#issuecomment-502018187) I did to @chicco785 :) Could you include in a comment to this issue the sequence of steps in order to reproduce the case, please?

[2020-01-21 15:41] arturohu commented on #3582
Yes, that's what I mean.

For example, I have 5 entities in a service path, each one has 2 subscriptions:
- Notify change of entity to service (HTTP)
- Notify change of entity to service (HTTPS)

A total of 10 subscriptions on this service path. If both paths (HTTP, HTTPS) to the service are available, I can see that many notifications that must travel via HTTPS are lost, this I can know by compar

[2020-01-22 09:31] arturohu commented on #3507
Sure!

1. Testing Orion 2.0.0 to 2.2.0
   1. Create Orion entity:
         - Service: test
         - Servicepath: /test
   2. Get /v2/types?options=values - OK
   3. Update Orion 2.0.0 to 2.2.0
   4. Get /v2/types?options=values - **FAILS**, response: []
   5. Create new Orion entity:
      - Service: test2
      - Servicepath: /test2
   6. Get /v2/types?options=values of new service and servicep

[2020-01-22 17:54] fgalan commented on #3582
Maybe your HTTPS endpoint is too slow responding thus Orion gives up after the 5 seconds expiration timeout. That could explain the `"lastFailureReason": "Timeout was reached"` you get. HTTP processing is pretty much faster (due it doesn't encode/decode the messages) so you are not getting the problem that case.

Try to increase the default Orion timeout, e.g. `-httpTimeout 20000` for 20 seconds a

[2020-01-22 18:02] fgalan commented on #3507
Let's focus on the second case (Testing Orion 2.2.0, 2.3.0 and 2.3.0-next) as I think is the easier to me to reproduce. Three things:

* Could you include the exact request (directly runable curl command preferred :) you use for "Create Orion entity"?
* Could you clarify if your Orion DB is empty before the "Create Orion entity" step is run?
* Which MongoDB version are you using?

Thanks!

[2020-01-23 08:46] arturohu commented on #3507
All request on each version was with empty DB, MongoDB version that I have used was 3.2

I have put **MongoDB 3.6** empty and It works. As you told me, I send you curl commands, perhaps It can help.

[code]

[code]

I have the last question, Are there any way to put old subscriptions in a new Orion and MongoDB with only one request? I mean, updating database and come back to the same previous stat

[2020-01-23 08:51] fgalan commented on #3507
@arturohu happy to know the solution was easy (once identified the problem) and it's working now! :)

It's important to pay attention to the Orion requirements in the installation manual, i.e.: https://fiware-orion.readthedocs.io/en/master/admin/install/index.html#requirements

@chicco785 maybe this is also the cause of the problem in your case? Which MongoDB version are you using?

[2020-01-23 10:04] chicco785 commented on #3507
i think is 3.2 as well

On Thu, 23 Jan 2020 at 09:51, Fermín Galán Márquez <notifications@github.com>
wrote:

--
*Dr. FEDERICO MICHELE FACCA*
*CTO, Head of Martel Lab*
+41 788075838
*MARTEL INNOVATE* <https://www.martel-innovate.com/> - INNOVATION, WE MAKE
IT HAPPEN
Click *HERE* to download Martel reports and white papers!
<https://www.martel-innovate.com/premium-content/>
Follow us on *TWITTER* <

[2020-01-23 10:59] fgalan commented on #3507
@chicco785 could you test with MongoDB 3.6 pls?

[2020-01-28 09:28] Enkelmann opened #3602 "Possible Null Pointer Dereference"
In *scr/lib/parseArgs/paFrom.cpp*, line 105
[code]
If the while-loop terminates, because `ap` is Null instead of a `break;` statement, then line 105 causes a Null pointer dereference.

This was found with [Clang-Analyzer](https://clang-analyzer.llvm.org/) static source code analysis tool.

[2020-01-28 09:39] 0xricksanchez opened #3603 "Possible Illegal read memory access in APIv2 when sending malformed request"
Hi,

I've been auditing the API Endpoints in the context broker and I've come across some results that are likely of interest to you! I've been using a slightly modified version (added ASAN to Makefile) of the Docker container when using my tooling for robustness tests of the API endpoints.

Sending malformed JSON entities to the context.Orion_LD (compiled with an Address Sanitizer) V2 API can res

[2020-01-28 09:40] 0xricksanchez opened #3604 "Possible stack-overflow in APIv2 in rapidJson dependency when sending deeply nested request"
Check my reasoning in #3603 .

Sending "malformed" (deeply nested) JSON entities to the context.Orion_LD (compiled with an Address Sanitizer) V2 API can result in a recursion error problem, since the `rapidjson` library tries to parse all the `object<->value` relations.
As seen from the back trace the problem is deeply rooted in the `rapidjson` dependency when handling large but valid and accepted

[2020-01-28 09:41] 0xricksanchez opened #3605 "Possible stack overflow in APIv2 in CompoundValueNode.cpp when sending nested request"
Check my reasoning in #3603

Sending "malformed" JSON entities to the context.Orion_LD (compiled with an Address Sanitizer) V2 API can result in a stack overflow since the context broker tries to parse all the objects.
As seen from the backtrace the problem is caused by massive allocation requests in the `CompundValueNode.cpp:459` file.
In particular here:

[code]

## Crash back trace:

[code]

##

[2020-01-28 09:41] 0xricksanchez opened #3606 "Possible stack-overflow in APIv2 in parseContextAttributeCompoundValue.cpp when sending large but valid requests"
Check my reasoning in #3603

This crash is caused in combination with the `rapidjson` dependency when handling large but valid and accepted requests.
So sending such "malformed" JSON entities to the context.Orion_LD (compiled with an Address Sanitizer) V2 API can again result in a different recursion error problem.
The failing function is `jsonParseV2/parseContextAttributeCompoundValue.cpp:277`:

[2020-01-28 09:43] 0xricksanchez opened #3607 "Possible stack overflow in APIv1 in boost jsonParser dependency"
Check my reasoning in #3603

Sending malformed JSON entities to the context.Orion_LD (compiled with an Address Sanitizer) V1 API can result in a stack overflow in the `/boost/property_tree/json_parser`:
It looks like our JSON request was deemed valid from the FIWARE side of things but the format breaks the `Ptree()` implementation in the boost library, which provides a JSON parser utility.

`/boos

[2020-01-28 09:45] 0xricksanchez opened #3608 "Another possible stack overflow in APIv1 in boost jsonParser dependency"
Check my reasoning in #3603

This stack trace is similar to #3607  , so they most likely should be considered related.

## Crash

[code]
## Recorded responsible test case

[code]

[2020-01-28 09:47] 0xricksanchez opened #3609 "Possible illegal read access on zero page in APIv1 in StatusCode.cpp"
Check my reasoning in #3603

Sending malformed JSON entities to the context.Orion_LD (compiled with an Address Sanitizer) V1 API can ultimately result in a illegal READ access on a zero page in `/opt/fiware-orion/src/lib/ngsi/StatusCode.cpp`:

From the marked line over here
[code]

The crash occurs finally occurs here:

[code]

## Crash

[code]

## Recorded responsible test case

[code]

[2020-01-28 10:06] Enkelmann opened #3610 "Unsafe usage of *strncat* function"
There is a common antipattern in the usage of *strncat*, which can lead to buffer overflows:

Unsafe usage example:
[code]
If `strlen(buffer) + strlen(string) > sizeof(buffer) - 1` this leads to a buffer overflow. See [here](https://en.cppreference.com/w/c/string/byte/strncat) for more information.

Occurences in the source code:

- in *src/lib/parseArgs/paParse.cpp*
[code]
- in *src/lib/parseArgs

[2020-01-28 10:09] 0xricksanchez commented on #3607
As I was told the APIv1 is close to being fully deprecated, hence the APIv1 related issues may not be super urgent anymore. However, I noticed there seem to be similar problems in both endpoints. Hence the APIv1 issues may still be useful for comparison/testing.

[2020-01-28 10:14] Enkelmann opened #3611 "Possible Memory Leaks"
The [Clang-Analyzer](https://clang-analyzer.llvm.org/) static source code analyzer tool found some possible memory leaks in the code:

In *src/lib/logMsg/logMsg.cpp* in function *lmClear*:
[code]
If the return statement in line 3157 is reached, then the function returns without freeing *line*.
In the same function there is another possibility to leak *line*:
[code]
The inner *line* variable oversh

[2020-01-28 10:42] fgalan opened #3612 "Upgrade built-from-sources dependencies to newer version"
Orion build procedure (https://fiware-orion.readthedocs.io/en/master/admin/build_source/index.html) used the following dependencies, from sources:

* rapidjson: 1.0.2
* microhttpd: 0.9.48

They are somehow old and new versions exist today (probably even newer in the moment this issue gets implemented ;)

* rapidjson: 1.1.0
* microhttpd: 0.9.69

It would be great to upgrade. However, this involves

[2020-01-28 18:12] fgalan commented on #3132
Related PR https://github.com/telefonicaid/fiware-orion/pull/3613, with a proof-of-concept in one unit test file.

[2020-01-29 15:47] fgalan commented on #3604
Thanks for the feedback!

I have tried to reproduce the probem, using [this script](https://gist.github.com/fgalan/eb9b6ea1cb760d9b93a0ab311318dd5d) which uses exactly your same payload but the broker works properly (i.e. doesn't crash and responses with error):

[code]

CB version: 4735a8f6b11954cdee458cafe8ddd058b023af20 (the one at master at the present moment) using the recommented rapidjson v

[2020-01-29 16:16] fgalan commented on #3605
Thanks for the feedback!

I have tried to reproduce the probem, using [this script](https://gist.github.com/fgalan/fd06442ad30612e69270c030f2a251f0) which uses exactly your same payload but the broker works properly (i.e. doesn't crash and responses with error):

[code]

CB version: 4735a8f6b11954cdee458cafe8ddd058b023af20 (the one at master at the present moment).

Thus, I'm afraid I'm unable to

[2020-01-29 16:16] fgalan commented on #3605
(However, even in the case I don't get a crash, probably it's a good idea to detect this problem at CB level as a 400 error instead of a 500 error detected at MongoDB level)

[2020-01-29 16:37] fgalan commented on #3606
The situation is exactly the same than with issue #3605, this time with [this script](https://gist.github.com/fgalan/fde3afb99d0a854229b3e44b605b838c).

[2020-01-29 16:40] fgalan commented on #3607
Thanks for the feedback!

Could you confirm which endpoints (verb + URL) are you using in test cases 1, 2 and 3, please?

[2020-01-29 16:47] fgalan commented on #3608
Thanks for the feedback!

I have tried to reproduce the probem, using [this script](https://gist.github.com/fgalan/31920ce194857e73b3acf23120c882cd) which uses exactly your same payload but the broker works properly (i.e. doesn't crash and responses with error):

[code]

CB version: 4735a8f6b11954cdee458cafe8ddd058b023af20 (the one at master at the present moment).

Thus, I'm afraid I'm unable to

[2020-01-29 16:51] fgalan commented on #3609
Thanks for the feedback!

Looking to the "Recorded responsible test case" I'm not sure in which sense this JSON is malformed... Could you elaborate so I can try to reproduce, please?

[2020-01-30 18:00] GerfriedC opened #3618 "embedded computer example for using ORION"
The examples given for starting using the public instance of ORION are using bash, wget and other functions from a full LINUX installation (also not working on a MAC) and require manual input.
Is there an example for micropython which might be used to retrieve the token automatically at the start of the data uploading script and then every hour?
Many Thanks

[2020-02-04 08:02] GerfriedC commented on #3618
I would also appreciate PHP based examples, since translating  the given cURL commands has not been sucessful. The parameter -X  without further info stands for what kind of proxy? And the pipe to a python script is for the client side, I guess?

[2020-02-04 09:21] fgalan commented on #3618
I'd suggest to use StakOverflow (http://www.stackoverflow.com) for this kind of questions. Note that what you are describing is not actually an issue (i.e. problem on the software, case to be debugged, etc.), but a question related with Orion, so I think is better to use that platform which, in addition, is used and c checked by a large community of developers.

Thus:

1. Please open a question (o

[2020-02-04 10:31] GerfriedC commented on #3618
Thanks for your hint. Could be part of the documentation adding How-Tos for different languages.

[2020-02-04 10:31] #3618 closed

[2020-02-04 14:08] fgalan commented on #3618
Did you finally asked the questions in SOF? Do you have the links to them?

With regards to:

Currently we have a translation of the English documentation to Japanese. We are of course open to contributions of new translations (as far as there are a commitment to upgrade the translation each time the master doc in English changes ;)

Thanks!

[2020-02-04 15:19] GerfriedC commented on #3618
Languages means PHP and Python/Micropython - not only examples for the command line.

[2020-02-06 08:59] 0xricksanchez commented on #3607
Hi, sorry for the delay.

For all the request on the APIv1 the following request structure was used:

[code]

[2020-02-06 10:23] fgalan commented on #3618
Ah... you mean programming languages... I completely misunderstand your comment, sorry :D

The [API walkthrouth](https://fiware-orion.readthedocs.io/en/master/user/walkthrough_apiv2/index.html) was deliberately written based on curl command to be language-agnostic, as we wanted to be neutral and didn't take preference of any language/developer over any other.

However, we are open to contributions

[2020-02-06 10:32] GerfriedC commented on #3618
Dear Fermin,

ok- unfortunately  I have one task bringing data to FIWARE. I was pointed towards Postman by your German colleague, but again that does not work. There is some fundamental difference between using curl in the terminal and PHP.
Any hints?

many thanks

best regards

Gerfried

[2020-02-07 16:07] mariofrommadrid commented on #3512
Muchas gracias Fermín,
Me ha sido muy útil ... los caracteres escapados siempre son una lata
;-)

[2020-02-10 11:53] fisuda opened #3623 "[Question] About Orion functional test on aarch64"
Dear @fgalan,

I'm trying to run [some FIWARE GEs on Raspberry Pi](https://github.com/lets-fiware/fiware-pi). I have built the `Orion 2.3.0` binary for `aarch64` and run the Orion Functional Test with it. I have a result in which 1 error and 5 warnings are. It would be great if you could give me an advice.

[code]

Please see the whole test log [here](https://github.com/fisuda/report/blob/master/o

[2020-02-11 11:01] fgalan commented on #3623
I think that you can ignore the error you get. The `0000_large_requests/notification_different_sizes.test` is somehow weak (note all the options already included in the REGEX, which means that it was adjusted several times in the past) and if the rest of ~1100 test are working, then it's fine.

However, if you have been able to run the test in a different environment in which it works an interesti

[2020-02-11 11:38] fisuda commented on #3623
Thank you for your advice.

I also ran the test on `x86_64`.  https://github.com/fisuda/report/tree/master/orion/20200209_orion/x86_64_notification_different_sizes
I compared the messages, but I wasn't able to find difference.
[code]
I ran the test with `Orion 2.3.0`, not `Orion 2.3.0-next`. Is there a possibility that the 5 bytes difference is '-next'?

[2020-02-11 11:48] fgalan commented on #3623
I haven't thought of that possibility, but it may fully sense! :)

The Orion version is used in the `User-Agent` header in the notification HTTP request sent by Orion, and the headers also count for the `Sending message 1 to HTTP server` count.

It would be great if you could confirm this theory comparing the headers in the notifications in both cases.

In this theory gets confirmed, maybe we shou

[2020-02-11 12:02] fisuda commented on #3623
Thank you for your quick reply.
I will run this testcase with Orion 2.3.0-next on x86_64 and aarch64 and report on the result.

[2020-02-12 12:02] fisuda commented on #3623
I have run the test on x86_64 and aarch64. The Orion version used in the User-Agent header was orion/2.3.0-next. The Content-Length was same size. I think that the 5 bytes difference is `-next`.

[code]

The updating of REGEX value is not only needed for Sending message 1, but also for Sending message 2 and 3.

| Sending message | Orion 2.3.0 | Orion 2.3.0-next  | Content-Length |
| --------------

[2020-02-12 15:57] fgalan commented on #3623
Having merged PR #3625, maybe this issue should be closed? Or is anything pending?

Thanks!

[2020-02-12 21:23] fisuda commented on #3623
This issue has been solved. We can close it.
I will send a PR about building Orion for aarch64  at a later date.

Thank you!

[2020-02-12 21:23] #3623 closed

[2020-02-19 08:39] SamuelTJackson opened #3628 "Run test in docker image"
Hi,
I try to run the functional test in a docker container.
Dockerfile:
[code]
entrypoint.sh:
[code]
docker-compose.yml:
[code]
Every test fails with `FAIL 10 - SHELL-INIT produced output on stderr`
Is it not possible to run the test in a container?

[2020-02-20 09:26] fgalan commented on #3628
Could you have a look to the /tmp/contextBroker.log file (inside the docker running CB)? Maybe it should some useful information that can help to understand the problem.

[2020-02-20 11:31] SamuelTJackson commented on #3628
I updated my post!

[2020-02-20 17:25] fgalan commented on #3628
The log seems to correspond to a clean Orion startup. So, let's check some other things...

In the case of a failing test, several additional files are produced. In particular, in the same directory of the failing `<file>.test` file you will found:

* `<file>.contextBroker.log`
* `<file>.diff`
* `<file>.out`
* `<file>.regexpect`
* `<file>.shell`
* `<file>.shellInit`
* `<file>.shellInit.stderr`
* `

[2020-02-21 07:53] mpmartini opened #3629 "subscription status failed"
I installed an Orion Context Broker and QuantumLeap directly in a Windows 10 machine. I have been making some tests to register an entity and change some values of its attributes from an outside program and everything is ok.
I have been following a step by step tutorial. When I register a subscription in OCB in order to receive a notification in QuantumLeap whenever the value of one of the attribu

[2020-02-21 08:20] SamuelTJackson commented on #3628
cat */*.stderr:
[code]

cat */*.stdout:
[code]

[2020-02-21 08:30] mpmartini commented on #3629
We managed to fix this problem, at least!
We looked for the IP of each container using this instruction:
"docker inspect --format='{{.Name}} - {{range .NetworkSettings.Networks}}{{.IPAddress}}{{end}}' $(docker ps -aq)"
We adjusted the QuantumLeap container IP in the body of the subscription (parameter "url"), and it worked!
When we consult the subscriptions registered at OCB it appears now with st

[2020-02-21 08:30] #3629 closed

[2020-02-21 08:56] fgalan commented on #3628
I see two issues here:

Regarding `mongo: command not found` it is due you haven't installed the mongo shell on the docker image. Related with this, I see that you have Orion and Mongo in separate images, which is not the typical setup for running test (maybe it works adjusting some env var in testEnv.sh, but it hasn't been tested...). I'd recommend a setup similar to the one used in the CI image

[2020-02-25 14:41] SamuelTJackson commented on #3628
I installed the mongo shell in the docker container. And I checked if accumulator-server.py is properly installed. I can run accumulator-server.py inside the container:
` * Running on http://0.0.0.0:1028/`

 Now the first 28 test are working:
[code]
stderr is empty
stdout:
[code]

[2020-02-26 15:47] fgalan commented on #3628
Looking to the script we use for travis CI, it seems it disables the the ipv4_ipv6_both.test test (it is just a matter of renaming it with .DISABLED, see https://github.com/telefonicaid/fiware-orion/blob/master/ci/rpm7/build.sh#L99)

I'm not sure of the reason (I'm not the original author of build.sh and I'm afraid the authr, @caa06d9c leave the project some time ago) but maybe IPv6 doesn't work c

[2020-02-26 17:16] fgalan commented on #15
So, in the end, more than 6 years after we created this issue :), @fisuda has achieved it! See PR https://github.com/telefonicaid/fiware-orion/pull/3630

[2020-02-27 13:49] fisuda commented on #3628
You need to enable IPv6 support in the Docker daemon. (https://docs.docker.com/config/daemon/ipv6/)
In the case of CentOS, you create a `/etc/docker/daemon.json` file as shown:
[code]
And restart the Docker daemon.
[code]

The following is for your information.

I create a docker image in which Orion and Mongodb are. I run the test harness for Orion with the image. The result is here (https://gith

[2020-02-28 08:21] fgalan commented on #1025
So, to sum up:

-	offset = 0 w/o limit, 20 <= count -> ok
-	offset = 0 w limit, limit <= count -> ok
-	offset > 0 and offset + limit <= count -> ok
-	offset > 0 and offset + limit > count -> error

Woraround: in the last page: offset + limit == count.

[2020-02-28 08:36] fgalan commented on #3628
Thanks for the information! I'll try to apply this solution to the docker CI so maybe we can remove the hack we have there to disable IPv6 test.

[2020-02-28 08:52] fgalan commented on #3628
I have done a closer look to the CI stuff and I think I was wrong...

The ipv4_ipv6_both.test  is **not** disabled in the travis CI pass. For instance (https://travis-ci.org/telefonicaid/fiware-orion/jobs/655794394?utm_medium=notification&utm_source=github_status):

![imagen](https://user-images.githubusercontent.com/1534240/75524851-069a3480-5a0f-11ea-8cb4-3000024f4962.png)

It seems the aforemen

[2020-02-28 18:51] dmitrii-playq commented on #3628
@fgalan `-j` is in use in nightly (release) builds (RPM), at least it was so a bit of time ago. This Jenkins (that supports builds) runs tasks in a cluster, so ipv6 config should be turned on there. @flopezag can help with it, I guess:)

[2020-02-28 18:52] caa06d9c commented on #3628
@fgalan `-j` is in use in nightly (release) builds (RPM), at least it was so a bit of time ago. This Jenkins (that supports builds) runs tasks in a cluster, so ipv6 config should be turned on there. @flopezag can help with it, I guess:)

[2020-03-05 08:35] Siedlerchr opened #3633 "DELETE with wrong header returns 404 although entity is existing"
We accidentaly inserted entities into orion using the wrong header (typo)
`fiware-service-path` instead of the correct one `fiware-servicepath` (withouht the last hyphen) and now I am unanble to delete the entities. I also tested the [python script delete_entities_by_query](https://github.com/telefonicaid/fiware-orion/blob/master/scripts/utils/delete_entities_by_query.py) direclty on the server wi

[2020-03-05 11:19] fgalan commented on #3633
I think this is more a question about functionality than an identified issue/bug. Thus, I'd suggest to move it to http://www.stackoverflow.com and deal with it there.

Thus, could you create the corresponding question in SOF (mostly a copy paste), please? Please add "fiware-orion" label.

Once done, add a link to the question in this issue, then close the issue.

Thanks!

[2020-03-05 11:53] Siedlerchr commented on #3633
https://stackoverflow.com/q/60544817/3450689

[2020-03-05 11:53] #3633 closed

[2020-03-05 12:15] Siedlerchr commented on #3633
I posted this on SO, but I nonetheless think it's a bug. I mean the entities are there and found, but can't be deleted.

[2020-03-05 12:16] fgalan commented on #3633
If at the end this is confirmed as a bug (after discussing it at SOF) then this issue can be reopened.

[2020-03-13 11:35] fgalan opened #3638 "Multivalued entity type"
Some uses cases could require a multi-value type in entities as this one (keyValues format):

[code]

Multi-valued type is not currently supported in Orion, but with some modifications it shouldn't be too difficult to achieve. Some preliminary insights on this:

* MongoDB will allow it. It will be as shown in the example below. There is a small caveat: the order in the array matters to define the

[2020-03-13 11:58] jmezzera opened #3640 "Strange behavior in PATCH /v2/entities"
Problem described in [SOF](https://stackoverflow.com/questions/60660119/is-there-a-way-to-patch-to-an-entity-using-wildcards-or-list-of-servicepaths).

Maybe I'm doing something wrong, however I'm getting a 204 when the query did not work and I think that's not right.

Thoughts?

[2020-03-17 12:57] fgalan commented on #3609
In other words, how I can generate the request (e.g. with a curl command) that is causing the crash.

@0xricksanchez what do you think?

[2020-03-18 15:49] dherykw opened #3642 "Notification throttling has bad behaviour"
I have created a notification with a throttling of 600 s and I am reciving two notifications in the same minute.

orion version: 2.2.0

[code]
![](https://mattermost.hopu.eu/files/e3xqpqn7sjb18j4u55acd3kbzc/public?h=3lClHjQlPIROLCnx6rExHZ5wp5Ag72oNM_R9xuWgY9o)

[2020-03-20 10:08] jaimeventura commented on #3559
My 2 cents on this discussion.

I think Code-Injection (SQL Injection, Javascript, etc. pp) shouldn't something for the CB to worry about.  The client/consumer application should worry about that. In fact, if working with subscriptions, a "data consumer" application should have some sanitisation mechanism for the received data (imagine for instance, some attacker pretending to the CB and injecting

[2020-03-20 12:50] fgalan commented on #3603
Fix implemented in PR #3615

Thus, I'm closing the issue. However, it would be great if @0xricksanchez could test again (with master branch code) and provide feedback, please. Of course, if the problem persists we will reopen the issue.

[2020-03-20 12:50] #3603 closed

[2020-03-20 12:56] fgalan commented on #3604
I have been unable to reproduce this problem. Moreover, PR #3615 adds test cases covering the cases in the issue (although I haven't got so far explicit confirmation, I could have made some mistake imitating the same cases).

I'm closing the issue given that, under my perspective, there is nothing else we can do. Of course, if we receive more feedback from @0xricksanchez and new actions has to be

[2020-03-20 12:56] #3604 closed

[2020-03-20 12:57] fgalan commented on #3605
I have been unable to reproduce this problem. Moreover, PR #3615 adds test cases covering the cases in the issue (although I haven't got so far explicit confirmation, I could have made some mistake imitating the same cases).

I'm closing the issue given that, under my perspective, there is nothing else we can do. Of course, if we receive more feedback from @0xricksanchez and new actions have to be

[2020-03-20 12:57] #3605 closed

[2020-03-20 12:59] fgalan commented on #3606
I have been unable to reproduce this problem. Moreover, PR #3615 adds test cases covering the cases in the issue (although I haven't got so far explicit confirmation, I could have made some mistake imitating the same cases).

I'm closing the issue given that, under my perspective, there is nothing else we can do. Of course, if we receive more feedback from @0xricksanchez and new actions have to be

[2020-03-20 12:59] #3606 closed

[2020-03-20 13:00] fgalan commented on #3608
I have been unable to reproduce this problem. Moreover, PR #3615 adds test cases covering the cases in the issue (although I haven't got so far explicit confirmation, I could have made some mistake imitating the same cases).

I'm closing the issue given that, under my perspective, there is nothing else we can do. Of course, if we receive more feedback from @0xricksanchez and new actions have to be

[2020-03-20 13:00] fgalan commented on #3607
I have been unable to reproduce this problem. Moreover, PR #3615 adds test cases covering the cases in the issue (although I haven't got so far explicit confirmation, I could have made some mistake imitating the same cases).

I'm closing the issue given that, under my perspective, there is nothing else we can do. Of course, if we receive more feedback from @0xricksanchez and new actions have to be

[2020-03-20 13:00] #3607 closed

[2020-03-20 13:02] #3608 closed

[2020-03-23 15:06] fgalan commented on #3642
I'm not fully sure but I suspect this is related with your subscriptions in Orion more than to an actual issue in the software. But I would need to know more details of the case to be sure. In order to do so, I'd suggest to post your problem in StackOverflow (please use "fiware-orion" label) so we can debug there. Please add the link to the question in SOF as comment in this issue.

If at the end

[2020-03-23 15:28] fgalan commented on #3640
With regards to the question in SOF, it understand it has been already nicely anwered by @kzangeli (please, tell me otherwise).

However, there is probably an issue in Orion to be solved. In particular:

* PATCH without service path returns 200. "Without service paths" defaults to `/` in updates requests (as PATCH is). If the entity doesn't exist previously in `/`, then this is a bug (a 404 should

[2020-03-23 15:30] fgalan commented on #3640
Thanks for the feedback @jmezzera !

[2020-03-23 17:06] jmezzera commented on #3640
The question was kind of resolved In SOF. I'm afraid I did not fully understand it o maybe is the -possible- underlying  issue we are discussing here.

Concretely: Is it possible to PATCH an entity with a wildcard in the SP? Take this for example:
[code]

* `PATCH /ID1 with SP /` works
* `GET  /ID3 without SP` works
* `PATCH /ID3 with SP /group1` works (204 and updates)
* `PATCH /ID3 without SP` d

[2020-03-27 17:13] jmezzera commented on #3640
Hi. Was anyone able to replicate the issue?
Don't hesitate to ask me for further information.

[2020-04-02 10:28] michaeI-s opened #3647 "NGSIv2 update forwarding sets attribute value to empty string"
Hi,

I'm trying to update the attribute of an entity that resides in a context provider via NGSIv2 update forwarding [Update request --> Orion v2 --> Orion v2 (CPr)].
Unfortunately the attribute is not updated with the new value from the request, but its value is set to an empty string.

This is my entity in the CPr:
[code]

This is my PATCH request which is sent to the first Orion and subsequentl

[2020-04-02 11:31] fgalan commented on #3640
I haven't tried myself, but I think the information above in this issue is complete enough to guide a developer to fix this issue. Thanks!

To be clear with the scope: the scope of this issue is about fixing the response codes (currently wrongly using 2xx) for some error conditions. The support of wildcards and/or comma separate lists in fiware-servicepath is not in the scope of this issue (if tha

[2020-04-02 17:10] fgalan commented on #3647
According to [CPrs and request forwarding documentation](https://fiware-orion.readthedocs.io/en/master/user/context_providers/index.html)

Your registration has types:

[code]

So maybe adding type to your update, that is change

[code]

to

[code]

could help.

Could you try and tell us how it goes, please?

[2020-04-03 16:03] fgalan commented on #3559
@ptrdtznr thanks for the feedback! Please find some inline comments

Yes, this can be a problem. However, under my understanding, that configuration parameter would be used as a "last resort measure" in cases in which the breaking of standard is less pain than not enabling it. Anyway, being a configuration parameter, it would be completely tp the user (i.e. the people running Orion) either enablin

[2020-04-03 19:49] michaeI-s commented on #3647
Hi Fermín,

thanks for the hint. This is actually working - great!

I understand that `?type=<TYPE>` is a secure way of addressing the right CPr registration in the broker, because practically there could be several registrations with different types matching the same update query - especially in connection with the idPattern (.*) matching feature.

But in a real world scenario a client usually do

[2020-04-14 08:58] dherykw commented on #3642
I have created the question on SOF.

Here you have the link:
https://stackoverflow.com/questions/61203988/notification-throttling-has-bad-behaviour

Thank you

[2020-04-26 23:25] anselmobattisti commented on #3326
It's an old thread, but, can help someone stucked in this same point.

If you got the docker-compose file from the samples code of FIWARE, you will need to define a depends_on directive.

like

`
version: "3"

services:
    mongo:
        image: mongo:3.6
        command: --nojournal
    orion:
        image: fiware/orion
        depends_on: ["mongo"]
        links:
            - mongo
        por

[2020-04-27 08:19] fgalan commented on #3326
Thanks you for the hint @anselmobattisti! The thread is somehow old, but still open, so your feedback is valuable :)

@cdupont could you have a look and see if it helps, please? Thanks!

[2020-04-27 08:37] cdupont commented on #3326
@anselmobattisti good hint, thanks.
Unfortunately, `depends_on` is not really useful because it can start Orion just after Mongo. It does not wait that Mongo is stable.
The only way is to define `restart: on-failure` and let Orion restart.

[2020-04-27 09:48] fgalan commented on #3326
Is there a way to configure in docker-compose a script to be run from Orion container to check if MongoDB container is ready?

Maybe it could be a way to explore. It seems that scripts like that are available out there (for instance, check https://stackoverflow.com/questions/15443106/how-to-check-if-mongodb-is-up-and-ready-to-accept-connections-from-bash-script)

[2020-04-27 10:01] cdupont commented on #3326
Yes, it's definitely possible.

[2020-05-04 11:35] mkavipriya commented on #3190
Hi fgalan,

[2020-05-04 11:36] mkavipriya commented on #3190
Hi fgalan,

I am using "onlyChangedAttrs" = true in my Draco subsciption, but it doesn't seem to be working. It is still sending all the attributes irrespective of it is modified or not. Does this feature work in a particular version of Orion? However I am using the latest version of Orion "2.4.0-next". Can you please help me fix this. Thanks for your help!

Attached below my Draco Subscription;
c

[2020-05-04 15:37] fabiocabrini opened #3648 "statistics in multi-tenancy mode"
I would like to know if there is a way to extract the statistics for each client, when Orion is running in multi-tenancy mode?

[2020-05-05 12:15] fgalan commented on #3648
I think I can provide some feedback on it but, not I think is better to do it using StackOverflow (http://www.stackoverflow.com), as this is not really an issue (bug, etc.) on the software.

Could you post your question in SOF, please? By doing a copy-paste of your original question it should be inexpensive :) Please use the "fiware-orion" label.

Once done, please add the link to SOF question as

[2020-05-05 12:17] fgalan commented on #3190
I'm not fully sure but I suspect this is related with your subscriptions in Orion more than to an actual issue in the software. But I would need to know more details of the case to be sure. In order to do so, I'd suggest to post your problem in StackOverflow (please use "fiware-orion" label) so we can debug there. Please add the link to the question in SOF as comment in this issue.

If at the end

[2020-05-05 23:48] fabiocabrini commented on #3648
Done

[2020-05-05 23:48] #3648 closed

[2020-05-06 06:39] fgalan commented on #3648
Link to question: https://stackoverflow.com/questions/61624953/statistics-in-multi-tenancy-mode-on-cef-context-broker/61628888#61628888

[2020-05-06 10:21] mkavipriya commented on #3190
Hi Fermin,

Thanks for your reply.  All the other parameters in our Draco subscription are working fine, like if we give a list of attributes in the "conditions", then only those attributes are sent to Draco.  "onlyChangedAttrs" is the only parameter which is not working and has no affect whatsoever on the JSON sent to Draco.
Also as per your recommendation, I have posted the problem in StackOverf

[2020-05-06 15:02] fgalan commented on #3190
Let's move the discussion to SOF post comments.

[2020-05-06 16:44] fgalan commented on #3642
I have taken some time (sorry...) but at the end I could have a look to the question in SOF. Let's move discussion there.

[2020-05-11 07:15] ArqumFarooqui-NEC commented on #3434
Hi @fgalan sir,
I’ve started working on this issue. Please assign this issue to me.
As per my understanding: I’ll have to add a doc section for `Special Metadata Types` i.e. only `DateTime` attribute.
Please confirm the above understanding??
As per my investigation, this new section can be added in `fiware-orion/blob/master/doc/manuals/user/metadata.md` file?

[2020-05-12 12:41] rvnair10 opened #3649 "Case sensitive issue in querying"
How I can ignore case, by doing query in Fiware Context Broker.

For example I have a query like:

v2/entities/?options=keyValues&type=Room&q=name==xyz

But this query doesn't return all the Rooms which names includes Xyz,XYZ,XyZ etc.

Could you please advice me, how we can do ignore case here.

[2020-05-12 12:47] rvnair10 opened #3650 "Not equal condition not working with ID"
Lets assume I have three Room entities with ids

- urn:ngsi-Id:Room:Room1
- urn:ngsi-Id:Room:Room2
- urn:ngsi-Id:Room:Room3

Now I want to query all entities where id not equal urn:ngsi-Id:Room:Room2.

I tried != operator - not working. Also tried idPattern - not working.

Could you please advice how we can do this?

[2020-05-13 10:37] fgalan commented on #3650
I think this is more a question about functionality than an issue on the software. So, it would be better deal with this question in http://www.stackoverflow.com. Could you post the question there (basically, a copy-paste of the above text), please? Please use the "fiware-orion" label.

Once done, please add a link to the question in a new comment in this issue, then close the issue.

Thanks!

[2020-05-13 10:38] fgalan commented on #3649
I think this is more a question about functionality than an issue on the software. So, it would be better deal with this question in http://www.stackoverflow.com. Could you post the question there (basically, a copy-paste of the above text), please? Please use the "fiware-orion" label.

Once done, please add a link to the question in a new comment in this issue, then close the issue.

Thanks!

[2020-05-13 11:25] rvnair10 commented on #3649
Done. Link to Stackoverflow [here](https://stackoverflow.com/questions/61768303/ignore-case-in-fiware-queries).

[2020-05-13 11:25] #3649 closed

[2020-05-13 11:26] rvnair10 commented on #3650
Done. Link to Stackoverflow [here](https://stackoverflow.com/questions/61695007/fiware-context-brocker-how-to-query-entities-with-not-equal-condition-to-its-id).

[2020-05-13 11:26] #3650 closed

[2020-05-13 11:55] fgalan commented on #3434
Of course, I can assign this issue to you if you want to work on it... however, maybe it is not a very interesting issue. Let me explain myself.

Note we don't plan to release NGSIv2 errata version soon, so maybe your changes in the .apib file (the one that should be modified) will not appear in places like this one http://telefonicaid.github.io/fiware-orion/api/v2/stable in the next future.

Thus

[2020-05-13 12:17] ArqumFarooqui-NEC commented on #3434
I've done some investigation on this and I think I'm bit closure. Once I'll raise the PR and then I'll pick another one.
What do you think like this, please let me know your opinion?

[2020-05-14 09:53] fgalan commented on #3434
If you have started the work and are close to the finish, then I think the best idea is to raise the PR (my comment arrived late... sorry for that ;)

[2020-05-15 12:54] rvnair10 commented on #3650
@fgalan could you please provide a solution in stackoverflow?

[2020-05-15 12:55] rvnair10 commented on #3649
@fgalan , could you please share a solution in stackoverflow?

[2020-05-18 15:10] abrahamSecmotic opened #3651 "Update entity type"
Hi,

I'd like to update the entity type, but couldn't find the request to do so. It may not be possible, but I don't understand the reason.

I tried updating the entity type with IoTA. The IoTA was updated but Orion was not.

Is this a issue to fix ? or I dont understand the funcionality of entityType.

Thanks.

[2020-05-18 18:02] fgalan commented on #3651
I think this is more a question about functionality than an issue on the software. So, it would be better deal with this question in http://www.stackoverflow.com. Could you post the question there (basically, a copy-paste of the above text), please? Please use the "fiware-orion" label.

Once done, please add a link to the question in a new comment in this issue, then close the issue.

Thanks!

[2020-05-19 06:56] abrahamSecmotic commented on #3651
Ok @fgalan .

Here the question: https://stackoverflow.com/questions/61884909/fiware-orion-why-is-the-entity-type-inmutable

Thanks!

[2020-05-19 06:56] #3651 closed

[2020-05-19 11:01] Anjali-NEC commented on #3036
Hi @fgalan sir,
As per my investigation, In the test case `11b.Update E3, setting M1 to A1` which is written in file https://github.com/telefonicaid/fiware-orion/blob/master/test/functionalTest/cases/1156_mq_as_uri_param_for_metadata/q_and_mq_as_uri_param_for_metadata.test the expectation is as the patch operation should change M2 metadata to M1 metadata of A1 attribute.
To confirm the updated val

[2020-05-20 11:00] fgalan commented on #3650
Looking to SOF, I see that @jmcanterafonseca already provided an answer. Have you have a look to it? Is not correct?

Just to understand the case here...

[2020-05-20 11:01] fgalan commented on #3649
Looking to SOF, I see that @jmcanterafonseca already provided an answer. Have you have a look to it? Is not correct?

Just to understand the case here...

[2020-05-20 12:24] fgalan commented on #3036
The text for the test shown in my original post of this issue seems to be old. I have find the change in this commit https://github.com/telefonicaid/fiware-orion/commit/0722433203bc55e775e3166c5ad708ef8017528d#diff-c802915e2d5e80852f8865fc83091a65, which belongs to PR https://github.com/telefonicaid/fiware-orion/pull/3316, which in sequence is associated to issues #3310 and #3311, solved as part o

[2020-05-20 12:24] #3036 closed

[2020-05-20 16:47] cesarjorgemartinez commented on #3166
From the point of view of DevOps it is a big issue.

One container that failed abruptly, the same container need to restore this (pid).

if this is not done, an unavailability is caused and it must be someone manually who restores the container, and that is unacceptable by the end customer.

Do you need me to review and correct this problem with a pull request?

Regards,
Cesar Jorge

[2020-05-21 05:13] rvnair10 commented on #3650
I tried the first option already but its not working. For idPattern option, I didn't get much detail to do so from fiware docs. It would be really helpful if you can give a sample.

[2020-05-21 05:15] rvnair10 commented on #3649
I tried the option already and it ia not working. Since we have limited documentation available on idPattern, it would be really helpful if you could give a sample. Thanks.

[2020-05-25 08:39] fgalan commented on #3427
Fixed in PR https://github.com/telefonicaid/fiware-orion/pull/3617

[2020-05-25 08:39] #3427 closed

[2020-05-28 07:48] fgalan opened #3655 "Notification (and maybe registrations?) endpoint alias"
A way of using alias for notification endpoints, so instead of using the full URL en the subscription (with host, port and path) the alias will be used. Some benefits of this:

* Subscriptions would be more portable. We don't need to change the subscription if the endpoint changes, only the alias.
* Security could be improved. Some users can have grants to modify the endpoints but not the subscrip

[2020-05-28 11:32] floufen opened #3657 "Querying data with query strings results unexpected data"
Hi,

When provisioning an actuator using iotagent-ul, retrieving data with query string results to unexpected entities.

Here is how to reproduce this behavour :
[code]
Add service:
[code]
and provision command :
[code]
from now if retreive an entity with valid attribute it results to good result :
[code]
but if the attributes doesn't exist or not equal it results this entity :
[code]
[code]
Why t

[2020-06-02 11:33] Anjali-NEC commented on #3099
Hi @fgalan sir,
As per my analysis if the service path is "/#" then all the subscriptions should be returend based on the current source code.
As per the doument https://fiware-orion.readthedocs.io/en/master/user/service_path/index.html the list of subscriptions should be return for which exact match of "/#".

I have below queries:
1.if we fix the issue then backward compatibility occured please l

[2020-06-03 08:45] fgalan commented on #3647
CB allows registrations without type. The need of specifying the type is only on queries/updates to be forwarded. As far as I remember, this is more a "gap" than a feature designed to enforce a secure way of addressing the right CPr registration (although at end it helps to that purpose of course :)

I'm afraid I don't have any smart solution for this at the present point, sorry... apart from havi

[2020-06-03 08:49] fgalan commented on #3647
I did a quick search on opened issues and the following ones seems to be somehow related:

* https://github.com/telefonicaid/fiware-orion/issues/3271
* https://github.com/telefonicaid/fiware-orion/issues/2247

(Non exahustive search... there could be more related one I haven't found)

[2020-06-03 08:59] fgalan commented on #3166
In this case, the container (not Orion) should have in its re-starting logic (entrypoint.sh?) the cleanup of the file (with rm).

[2020-06-03 10:31] fgalan commented on #3099
That's the main problem with this issue... we don't know how to solve it and at the same time deal with backward compatibility :)

That makes this issue very hard... maybe it's better to pick another bug to solve.

Thanks!

[2020-06-03 10:48] fgalan commented on #3657
To complete the picture we would need some extra information:

* The exact registration that IOTA does at CB. It can be obtained in the Orion database (registrations collection)
* The CB-IOTA interactions (request/response) that take place associated to each one of the `GET /v2/entities` operations shown above, either capturing on the wire (wireshark?) or in the logs (the following reference could

[2020-06-03 14:34] michaeI-s commented on #2247
Hi, from my point of view this might be a good approach. Has any progress been made in this respect in recent years?

Because in practice it is not always possible to specify a type. I will quote a section of my comment on the issue https://github.com/telefonicaid/fiware-orion/issues/3647:

[2020-06-03 14:37] michaeI-s commented on #3647
Yes, actually these issues relate to this problem.

[2020-06-05 03:49] MelonMask opened #3661 "Can not create context entity using NGSI10"
Hi all,

I have a problem on pushing context entity using NGSI10 by Postman. This is an image problem when i am trying to create context entity
![image](https://user-images.githubusercontent.com/61260236/83835058-01d5d280-a71a-11ea-8af1-7d1c8e52ca5b.png)

Below is an body of context entity
![image](https://user-images.githubusercontent.com/61260236/83835100-1b771a00-a71a-11ea-80b0-51891c8807a8.png

[2020-06-05 11:54] Anjali-NEC commented on #3612
Hi @fgalan sir,

As per my analysis, the version of rapidjson and microhttpd need to upgraded i.e. rapidjson: v1.0.2 to v1.1.0 and microhttpd: v0.9.48 to v0.9.69. For this, version of rapidjson and microhttpd will be updated in Dockerfile, Dockerfile-CI, Building from source documentation and jenkins CI.

Regarding Dockerfile-CI, we need to push the new image to dockerhub.

Please confirm the abov

[2020-06-06 15:55] JackMind opened #3662 "Build orion for raspberry"
Hello,

I'm trying to build an orion image to run on a raspberry, I used the Dockerfile on the repo and change the label of the centos image to 7, an go this error (below):

Error: Nothing to do
The command '/bin/sh -c adduser --comment "${ORION_USER}" ${ORION_USER} &&     yum -y install epel-release &&     yum -y install       boost-devel       bzip2       cmake       gnutls-devel       libgcrypt

[2020-06-07 12:20] jmcanterafonseca commented on #3661
try with http instead of https ... on the other hand I would strongly recommend that you use NGSIv2 and GeoJSON for your API and payloads

[2020-06-08 09:16] floufen commented on #3657
Here the registration of the orion-openiot database:

<pre>
<b>> use orion-openiot</b>
switched to db orion-openiot
<b>> db["registrations"].find()</b>
{ "_id" : ObjectId("5eddfc03e7e028b0e09312bb"), "expiration" : NumberLong("9223372036854775807"), "servicePath" : "/", "contextRegistration" : [ { "entities" : [ { "id" : "urn:ngsi-ld:Bell:001", "type" : "Bell" } ], "attrs" : [ { "name" : "ring", "

[2020-06-08 09:49] fgalan commented on #3661
As @jmcanterafonseca says, it is strongly recommended to use NGSIv2. Note that NGSIv1 was deprecated long time ago and, as any other deprecated feature, the following applies (from https://fiware-orion.readthedocs.io/en/master/deprecated/index.html):

So please test the same case using NGSIv2 and, if the problem stills, then we will have a look. Thanks!

[2020-06-08 15:58] fgalan commented on #3662
Did you follow the procedure described at https://github.com/telefonicaid/fiware-orion/blob/master/docker/raspberry_pi.md ?

[2020-06-10 07:05] fgalan commented on #3612
I think your understanding is correct. Note that the original issue was written some months ago, so maybe at the present momem there are even newer versions that could be used.

[2020-06-10 11:53] floufen commented on #3657
The problem occurs with all registrations with **`leagacyFormat`** not set. So when the format is equal to "**normalized**", any invalid term will return an unexpected response. But if we force format to "**JSON**" (legacyFormat: true), the problem is solved.

To reproduce the problem you juste have to create a registration without legacyFormat set.

example:
[code]
[code]
with a nonexistent term

[2020-06-12 07:57] fgalan commented on #3657
Thank you for so detailed report! I'll have a look when I some time and provide feedback

[2020-06-16 08:35] fgalan commented on #3434
Fixed by PR https://github.com/telefonicaid/fiware-orion/pull/3654

[2020-06-16 08:35] #3434 closed

[2020-06-17 06:47] achandana opened #3666 "Attribute data incosistency in Draco payload when onlyChangedAttrs flag enabled in Draco subscription"
I am using "onlyChangedAttrs" in my Draco subscription.
 My draco subscription as below :

Device registration paylod :
{
"devices": [
{
"device_id": "WSensor-3",
"entity_name": "urn:ngsi-ld:SENSOR:WSensor-3",
"entity_type": "SENSOR",
"attributes": [
        { "object_id": "temperature", "name":"temperature", "type":"Integer"
        },
        { "object_id": "airpressure", "name":"temperature", "

[2020-06-22 09:28] onrao commented on #3666
@fgalan  requesting your quick look into the issue we observed above as said by @achandana  requesting for suggestion, if  it is a known issue and it has got fixed  then the required configuration or any alternate fix for this issue

[2020-06-25 18:04] fgalan commented on #3666
It would be great if you could formulate the problem in terms of Orion Context Broker (note this is fiware-orion repository ;). I mean, simplify the case removing Draco and IOTA and describe it in in terms of Orion APIs interaction. That way it would be much easier to debug.

In particular, what I need is:

1. The subscripiton you have done (already provided above, great!)
2. An example of update

[2020-06-27 13:36] onrao commented on #3666
Hi @fgalan Thank you for your quick attension.
version of the Orion  is as follows,
{
  "orion": {
    "version": "2.3.0",
    "uptime": "30 d, 16 h, 37 m, 2 s",
    "git_hash": "764f44bff1e73f819d4e0ac52e878272c375d322",
    "compile_time": "Tue Nov 5 09:38:37 UTC 2019",
    "compiled_by": "root",
    "compiled_in": "38ab37448d3a",
    "release_date": "Tue Nov 5 09:38:37 UTC 2019",
    "doc": "ht

[2020-06-27 14:00] onrao commented on #3666
@fgalan do we need to raise this request again in IoT Agent SOF or GitHub, as we didn't have much time to prove this fiware based solution in my current project. requesting your qucik support and action to get this into mainline.
Looking forward to have a positive reply.

[2020-06-30 14:46] fgalan commented on #3612
PR https://github.com/telefonicaid/fiware-orion/pull/3663

Changes in Jenkins CI are pending. Let's keep the issue open the issue while this can be completed (@fgalan will deal with it)

[2020-06-30 16:10] fgalan commented on #3412
Related question at SOF (which answer should be update when this issue progresses):

https://stackoverflow.com/questions/62516873/when-iot-agent-sends-data-within-milliseconds-the-values-are-not-notified-to-dr/62661681#62661681

[2020-06-30 16:11] fgalan commented on #2670
Related question at SOF (which answer should be update when this issue progresses):

https://stackoverflow.com/questions/62516873/when-iot-agent-sends-data-within-milliseconds-the-values-are-not-notified-to-dr/62661681#62661681

[2020-06-30 16:11] fgalan commented on #432
Related question at SOF (which answer should be update when this issue progresses):

https://stackoverflow.com/questions/62516873/when-iot-agent-sends-data-within-milliseconds-the-values-are-not-notified-to-dr/62661681#62661681

[2020-06-30 16:18] fgalan commented on #3666
So, if I understand correctly... you have solved the issue "hacking" the IOTA Node Lib? Is my interpretation correct?

[2020-07-02 11:37] onrao commented on #3666
Hi @ fgalan yes we had solved the issue by hacking the IoT Agent Nodelib. We would like to have a clean solution to be pushed into IoT Agent Node lib. Would you please help us?

[2020-07-02 12:34] fgalan commented on #3666
Would be a solution to support milliseconds in Orion DateTime attributes? (issues #3412, #2670 and #432)

[2020-07-02 18:14] onrao commented on #3666
Yes @fgalan It would be a common solution for the above indicated issues# 3412,#2670 and #432

[2020-07-02 18:16] fgalan commented on #3666
As far as I know, @kzangeli is working on milliseconds support in DateTime attributes in Orion and the work is pretty advance. Maybe @kzangeli himself can tell about this.

[2020-07-03 09:37] fgalan commented on #3666
This is the work done by @kzangeli on this: https://github.com/telefonicaid/fiware-orion/pull/3668

@onrao @achandana : It would be great if you could test the fix. The simpler way would be to build a docker container based on the PR's branch. If you do so, your feedback about the test would be highly valuable. Thanks in avance!

[2020-07-08 17:52] fgalan opened #3671 "Use milliseconds formats in dates not related with DateTime"
PR #3668 implements milliseconds support for DateTime attributes and metadata. However, Orion uses ISO8601 dates in other places, in particular:

* expiration dates for registrations a subscriptions
* lastNotification, lastFailure and lastSuccess fields in subscriptions information
* Am I missing something?

Currently, they are managed as seconds and rendered using the `.00Z` format.

First questi

[2020-07-08 17:54] fgalan commented on #3671
Upon completion of this issue, review repo content (especially documentation) looking for `.00Z` occurrences that probably would need a fix.

[2020-07-09 19:18] onrao commented on #3666
@fgalan yes we can support on i.please let us know how we can enable it. Thanks

[2020-07-10 09:29] fgalan commented on #3666
PR #3673 (which is the sum of PRs #3668 and #3672) implementes milliseconds functionality for DateTime attributes and metadata into master.

If you use docker-based deployment it's just a matter of pull again Orion Context Broker container `:latest` tag and test again. If you do it, please tell us about the result of your tets. Thanks!

[2020-07-10 09:33] fgalan commented on #3412
PR #3673 (which is the sum of PRs #3668 and #3672) implements milliseconds functionality for DateTime attributes and metadata into master.

@agaldemas @tstorek it would be great if you coult test it (using `:latest` from dockerhub for the Orion container) and provide feedback, please.

[2020-07-10 09:34] fgalan commented on #2670
PR #3673 (which is the sum of PRs #3668 and #3672) implements milliseconds functionality for DateTime attributes and metadata into master.

[2020-07-10 09:34] #2670 closed

[2020-07-10 09:36] fgalan commented on #432
PR #3673 (which is the sum of PRs #3668 and #3672) implements milliseconds functionality for DateTime attributes and metadata into master.

@chicco785 it would be great if you could test it (using `:latest` from dockerhub for the Orion container) and provide feedback, please.

[2020-07-15 05:22] rajeswar457 commented on #3468
CC : @Chandradeep-NEC

Hi @fagalan,

I’m not able to reproducing this issue in my local environment. Following error is returned “error: bad request”.
When I tried with attribute name like ”luminescence” in this case I’m able to register. As per NGSIv2 specifications context broker is failed to detect if attribute name included whitespace. Such types of attributes are forbidden as per ngsiv2 spec.

[2020-07-16 07:26] Anjali-NEC commented on #3179
Hi @fgalan @mathi123 sir,

I am working on this issue and i have raised the PR #3675  for same.

[2020-07-16 11:39] #3179 closed

[2020-07-16 12:11] fgalan commented on #3657
Do you only modify the format (either directly in MongoDB collection or indirectly by re-creating the registration)? Or do you also modify the provider URL (shown as `http://orion:1026/v2` in your example above)?

[2020-07-16 14:13] fgalan commented on #3657
I'd like to share the results of some testing I have been doing.

I have two instances of Orion, one running on port 1026 acting as Context Broker, the other running in port 1027 acting as context provider (CPr). I use the following to run them:

[code]

I create an entity in the context provider with the following request:

[code]

So, setup ready, let's start to test...

--------------------

Fi

[2020-07-16 14:22] fgalan commented on #3468
@rajeswar-NEC not sure of fully understand you comment...

Could you provided the exact request you are using (e.g. `curl` command) and the response you get? With that information I think it would be more clear.

[2020-07-17 12:07] rajeswar-NEC commented on #3468
Hi @fgalan

please find the below attached screenshots and explanation.

Case 1: I had used in  json payload with id: test3468    type: light and attribute names ‘luminescence’ & ‘pressure’ in this case
            I’m successfully executed and attributes were registered.
Case 2: I had used in json payload with id: test3468:whitespace    type: light and attribute names ‘luminescence attribute’ &

[2020-07-17 19:12] rajeswar-NEC commented on #3468
Hi @fgalan

I am able to reproduce the issue on my environment, please find the below screenshot for the same.
![Screenshot (1)](https://user-images.githubusercontent.com/55490519/87822274-d0126880-c88e-11ea-99bc-4b0f96a8a12d.png)

[2020-07-20 06:58] fgalan commented on #3468
I think your way of reproducing the error is correct. Instead of 201 Created, Orion should report a 400 Bad Request with this payload:

[code]

Similarly, if the problem is in the entity id or entity type (check for instance with "the 3468" instead of "3468" and with "the ligth" instead of "light") a 400 Bad Request with these payload should be returned:

[code]

Maybe it can help how Orion behave

[2020-07-21 08:23] rajeswar-NEC commented on #3468
Hi @fgalan

{"error":"BadRequest","description":"Invalid characters in entity id"}
{"error":"BadRequest","description":"Invalid characters in entity type"}

Yes, I had tried in both ways and the returned response was same as like expected result ” 400 Bad Request”, please find the  below attached screenshots for the same

Case 1: entity id included with whitespace
![Screenshot (2)](https://user-im

[2020-07-22 06:41] arturohu opened #3676 "Issue filtering entities with lazy attributes"
We're trying to run some **filters** on a type of entity. These entities are Device type and have static, lazy, and active attributes. We get the following response when we try to ask for the entities by satisfying a certain condition, for instance, "q=name=='Test Name'", and taking into account that "name" is a static attribute.

1. If the condition is **satisfied** for an entity
   - The entity

[2020-07-23 11:01] Anjali-NEC commented on #3272
Hi @kzangeli @fgalan sir

I have done investigation on this issue. following are the two concern:
1. As the type of payload is defined as string object so the NULL value can not assign to it. so we cannot replace "" (empty string) to NULL.
In C++ std::string object should always initialized and always contains a string; its contents by default are an empty string ("").

2. If I declare payload as

[2020-07-24 09:37] floufen commented on #3657
Thank you for the report !

I just modified the format. The URL stays the same. My bad, I didn't notice the "not service found" error was thrown. It is not related to the usage of legacyForwarding.

The problem still exist. Can you tell me why the registrations database is searched while querying context broker data ? :)

[2020-07-24 10:33] Anjali-NEC commented on #3013
Hi @fgalan sir,

I am working on this issue. and i am suggesting the below warning message in case if contextBroker  is started in insecure mode.

"contextBroker is started in insecure mode (-insecureNotif)"

[2020-07-27 19:39] fgalan commented on #3468
Confirmed. I was a typo. My comment above has been edited to fix it.

Your understanding is correct. It should be easy: just a matter of checking that situation at parsing stage and return the proper error response.

Thanks!

[2020-07-27 19:43] fgalan commented on #3676
I understand (by the mention to "lazy attributes") that you are using IOTA in your setup. Is that correct? Which one and which version, please?

If you remove the registrations created by the IOTA (using `DELETE /v2/registrations/<regId>` operation), requests to Orion work as expected?

Thanks for the feedback!

[2020-07-27 19:54] fgalan commented on #3657
Let me start for the end :)

It is searched in order to find Context Providers that could have information about the entity/attribute being queried. Orion does a "merge" on local information and Context Providers registrations.

For instance, you could have this situation:

* Orion has local information (entities collection) for attribute A in entity E
* Orion has a registration (registrations col

[2020-07-27 20:01] fgalan commented on #3272
HttpInfo.h class has a `payload` field of `std::string`. However, this field is not expressive enough to be used to model the "no payload situation" needed by this issue.

I'd suggest to add a new field `bool includePayload` to that class for that. That field will be filled to true at parsing stage (in the case of finding `"payload": null` in the request) and will be used at notification creating

[2020-07-27 20:03] fgalan commented on #3013
Great! Just a minor suggestion to the text:

"contextBroker is started in insecure notifications mode (-insecureNotif)"

(to make clearer which aspect is insecure)

[2020-07-27 20:07] fgalan commented on #3013
PR https://github.com/telefonicaid/fiware-orion/pull/3677

[2020-07-28 11:02] arturohu commented on #3676
We're actually using an own context provider. When we ask Orion for the entities with attribute filter, this context provider receives the request and returns all the associated context elements. It seems that Orion doesn't apply the filter to all the entities returned by the context provider.

- Should the context provider handle the filter?
- Does Orion expect to receive all lazy attributes even

[2020-07-28 11:18] #3013 closed

[2020-07-29 14:14] floufen commented on #3657
Thank you for the explanation.
Why are queries not applied when extracting entities in the registrations collection? is it meant to be like that ?
I tested by doing some tweaking to the MongoGlobal.(cpp|h) to apply the queries and it seems that it resolves the issue.
Can you review the code please ? https://github.com/telefonicaid/fiware-orion/compare/master...floufen:hotfix/queryfilter-registrati

[2020-07-29 14:26] floufen commented on #3676
it looks like your issue is the same as #3657

[2020-07-29 16:08] JorgeSilva7 opened #3678 "Add attribute to multiple created entities with same id pattern"
Hi,

I didn't found in documentation or source code the specifications to add attribute to multiple created entities with same id pattern. Only found the method for add attr to entity one by one (with array), but [this method ](https://fiware-orion.readthedocs.io/en/1.2.1/user/append_and_delete/index.html) doesn't work (lazy method) when need add attribute to 100+ entities with id pattern (idIot:1

[2020-07-30 11:15] fgalan commented on #3676
It is known issue that filtering is not working well with CPrs (see issue https://github.com/telefonicaid/fiware-orion/issues/2282) and maybe it is impating/causing the same issue you have here.

[2020-07-30 11:25] fgalan commented on #3657
Sorry, I don't understand what you mean. Could you elaborate a little bit, please?

Can you review the code please ? master...floufen:hotfix/queryfilter-registrations

Thanks for sharing your code modification. As far as I understand, you are applying filtering to the DB query done in registration collection in order to find candidate context providers to forward the client NGSI query. However, no

[2020-07-30 11:38] fgalan commented on #3678
This is more a support question than an actual issue on the Orion Context Broker software. Thus, could you pot is at https://www.stackoverflow.com, please? Use "fiware-orion" tab.

Once published at SOF, add the link to the question as comment in this issue. Then, close the issue.

Thanks!

[2020-07-30 12:11] floufen commented on #3657
Hahah I am sorry. I did the modifications without understanding how the code really works and how the datas are stored. It seemed to work because all the the registrations were filtered.
Now I did understand that the query filtering is not, yet, supported on query forwarding.
I close this issue because it's a duplicate of #2282

[2020-07-30 12:11] #3657 closed

[2020-07-30 14:14] arturohu commented on #3676
Exactly, we are using **CPrs** registered using **NGSIv1**, and requesting entities with filtering through NGSIv2.

What will be the next step? Should we close this issue to attend the issue #2282 you have mentioned?

Thank you

[2020-07-30 16:57] JorgeSilva7 commented on #3678
https://stackoverflow.com/questions/63177898/add-attribute-to-multiple-created-entities-with-same-id-pattern

[2020-07-30 16:57] #3678 closed

[2020-08-06 08:29] fgalan opened #3681 "Add library version information in GET /version"
It would be an interesting feature that Orion informs of the exact versions of libraries on which it depends in the `GET /version` operation. Something like this (draft):

[code]

Two things to take into account:

* Backward compability. Although probably this is not actually a problem, as we are adding a new element to version ("libversions") but not modifying any existin one. A similar case occu

[2020-08-06 09:21] cesarjorgemartinez commented on #3681
It's a very interesting feature for DevOps. Will it be for version 2.5.0?

Regards,
Cesar Jorge

[2020-08-06 09:46] flopezag commented on #3681
Are you taking into account security? It would provide security sensible information about the system.

[2020-08-06 10:08] jason-fox commented on #3681
I agree with @flopezag on this, a REST endpoint isn't the right place to hold information about the build.

For DevOps I assume you are using Docker containers . I would the assume you would be better off just adding `LABEL` attributes to the image and running `docker inspect`

e.g:
[code]

[code]

The names of many of the attributes are standardized. If you need additional custom ones, you could

[2020-08-06 10:43] fgalan commented on #3681
ContextBroker version itself and githash commit are already sensitive security information being shown ;)

It is a matter of allowing this operation only to authorized users (e.g. using a PEP).

[2020-08-06 10:46] fgalan commented on #3681
The problem with this is:

* As far as a understand it is based in a key-value system and the values for the keys are "hardwired". I mean, they are not taken from the library itself. Thus, the following is not accomplished: _"How to get the versions information. In order to so an accurate information, the information should be get from the library itself, avoiding any "hardwire" of the version num

[2020-08-06 15:52] jmcanterafonseca commented on #3681
debug-wise the feature is interesting but not necessarily has to be offered as a REST interface. it could be offered only to a trusted user. for instance, as a command line interface utility available on the docker image.

[2020-08-06 17:25] kzangeli commented on #3681
It surprises me that you worry about security here.
This is open source. If anybody is interested in the versions of the libs, all he has to do is to clone the repo and look at the makefile.
Or, compile the broker and run 'ldd' on it.
Easy as pie.

[2020-08-07 11:13] fgalan commented on #3681
Fully agree with @kzangeli

Moreover, it can be even simpler. It is just a matter of:

1. Do `GET /versions`
2. Get the value of `git_hash`. Let it be `4bf835364feec277dbcd5e146f4077494151e3c9`
3. Go to the repository to https://github.com/telefonicaid/fiware-orion/commit/4bf835364feec277dbcd5e146f4077494151e3c9
4. Click "Browse files" and navigate to https://github.com/telefonicaid/fiware-orion/b

[2020-08-07 11:39] fgalan commented on #3676
If you think #2282 covers this issue (and would do so with some comments to #2282), I think is a good idea to close this one.

After that, the next step would be to find some brave developer :) wanting to have a look at #2282 and solve the issue. I can guide on the process, if somebody commits with the task.

[2020-08-07 15:16] fgalan commented on #3468
Fixed by PR https://github.com/telefonicaid/fiware-orion/pull/3682

[2020-08-10 12:12] Anjali-NEC commented on #3272
Hi @fgalan sir,

I've fixed the issue. Please check PR #3683 and if it is ok then please merge the PR in master branch.

[2020-08-18 11:01] rajeswar-NEC commented on #2933
Hi @fgalan

I  would like to work on this issue, please let me know if no one is working on this.
As per my understanding, the error message string of API “PATCH /v2/entities/ID/attrs” in case of failure, need to be updated.
Please confirm.

[2020-08-18 11:09] Anjali-NEC commented on #2791
Hi @fgalan  @kzangeli sir,

I am working on this issue.
Below are the modifications i have done for all checkings with "" and usages of length().

1. (s == "") to s.empty()
2. (s.length == 0) to s.empty()
3. (s != "") to !s.empty()
4. (s.length != 0) to !s.empty()

Please confirm the above modifications.

Currently the testing of above modification is in progress once it is done i will raise the P

[2020-08-19 10:05] fernandorr21 commented on #3570
Sorry, I have the same problem. Could you resolve it?

[2020-08-20 07:24] MichelSc opened #3684 "OCB not responding after some time"
This is our setup: we have an OPC UA IotAgent that gathers device data and sends them to Orion Context Broker, to be further processed by a Perseo node or a QuantumLeap node.

We use version 1.3.7 of OPCUA IotAgent and version 2.4.0-next of Orion Context Broker. Both are run in docker containers with the standard fiware images.

This is what we observe: after some time, OCB stops handling requests

[2020-08-24 10:39] rajeswar-NEC commented on #2933
Hi @fgalan

According to NGSIv2 Spec, in case of failure the API PATCH /v2/entities/ID/attr  returned response error string {“error” : “NotFound”}  (if the resource identified by the request is not found then “NotFound” is returned)

So, I have updated returned response description string with more details as below:
{"error":"NotFound","description":"action: UPDATE - entity: [Room1, Thing]The enti

[2020-08-24 14:45] Anjali-NEC commented on #2791
Hi @fgalan @kzangeli sir,

I've fixed the issue. Please check PR #3685 and if it is ok then please merge the PR in master branch.

[2020-08-27 09:46] Anjali-NEC commented on #3555
Hi @fgalan sir,

I am working on this issue and as per my understanding we need to update the document of installation USING RPM FILE
in https://github.com/telefonicaid/fiware-orion/blob/master/doc/manuals/admin/install.md

I have a concern regarding this:

We need to Update the link for Download the package directly from the FIWARE Yum repository i.e
https://nexus.lab.fiware.org/service/rest/repo

[2020-08-28 18:34] achandana opened #3687 "How to subscribe Draco Nifi cluser with Orion"
I have enabled the draco Nifi cluster using zookeeper by flowing below link. Three nodes are running with different ports(8080,8081,8082).

https://pierrevillard.com/2016/08/13/apache-nifi-1-0-0-cluster-setup/

Could anyone please help me. How can I subscribe  with Orion.

[2020-09-01 05:53] rajeswar-NEC commented on #2231
Hi  @jmcanterafonseca @fgalan

I would like to work on this issue, please let me know if no one is working on this.

[2020-09-02 14:42] arturohu opened #3688 "Unusual behavior when requesting entities with specific attributes"
I am running a series of trials and I have detected a possible problem. The problem comes from requesting entities with a number of specific attributes.

In this case, I have established a **CPr** with a set of attributes for the following entity and the URL that provides it. In Orion, I have created the entity with attributes directly on it. Therefore, when requested the entity will obtain the at

[2020-09-04 08:07] LarsNorlander opened #3689 "Orion returns data from context provider for entities filtered out by query"
## Steps to Reproduce
1. Start up the context provider example as specified on the [NGSI Step-by-Step Context Providers](https://fiware-tutorials.readthedocs.io/en/latest/context-providers/index.html#start-up) page.
2. With the provided [Postman Collection](https://app.getpostman.com/run-collection/7c9bed4bd2ce5213a80b), under the folder "Context Provider Registration Actions", run the request "Re

[2020-09-04 11:02] fgalan commented on #3570
Not sure if @jfernandz finally adapted the accumulator to Python 3. Could you tell us, please? Thanks!

[2020-09-04 11:05] fgalan commented on #3684
Question:

...and still responing to request on port 1026 (i.e. `GET /version`, `GET /v2/entities/v2`)?

[2020-09-04 11:20] fgalan commented on #2933
Looking to the [NGSIv2 spec](http://telefonicaid.github.io/fiware-orion/api/v2/stable/) section "Error responses" I would't say that errors to `POST /v2/entities/ID/attrs` due to non-existing attribute fall in this case:

Thus the errors for case 1 and 2 should be the following ones (ideally):

[code]

What do you think?

[2020-09-04 11:53] fgalan commented on #3555
Not sure of what documentation fix should be done... This issue is based in the feedback from @achiancone,

But I'm not sure which particular fix should be done in the documentation.

Maybe @achiancone could you guide @Anjali-NEC to implement the fix, please? Thanks!

[2020-09-04 11:55] fgalan commented on #3687
This is more a support question than an actual issue on the Orion Context Broker software. Thus, could you pot is at https://www.stackoverflow.com, please? Use "fiware-orion" tab.

Once published at SOF, add the link to the question as comment in this issue. Then, close the issue.

Thanks!

[2020-09-04 11:56] fgalan commented on #2231
Assigned. Thanks!

[2020-09-04 12:12] fgalan commented on #3689
Thank you for so detailed report.

Maybe is the same issue described at https://github.com/telefonicaid/fiware-orion/issues/3676 and/or https://github.com/telefonicaid/fiware-orion/issues/2282 ?

[2020-09-04 12:14] fgalan commented on #3688
Thanks for the report!

In order to know the scope of this issue, could you test the following operation

[code]

and tell us how it goes, please?

[2020-09-04 12:22] arturohu commented on #3688
Sure!

[code]

The test CPr receives the next request from Orion:

[code]

Thank you!

[2020-09-04 12:40] #2791 closed

[2020-09-06 17:12] jfernandz commented on #3570
@fgalan I'd like to do it, but for now I'm improving my python knowledge. I think it is not a priority because it is just a simple script for testing purposes. But of course I hope I can port the code soon.

[2020-09-07 05:45] Anjali-NEC commented on #3681
Hi @fgalan @kzangeli @jmcanterafonseca @flopezag @jason-fox @cesarjorgemartinez sir,

I would like to work on this issue, please let me know if no one is working on this.
As per my understanding, we need to add versions of libraries on which it depends in the GET /version operation.

I have partially fixed this issue By adding exact versions of libraries in https://github.com/telefonicaid/fiware-o

[2020-09-07 07:01] fgalan commented on #3681
Assigned. Thanks for your interest in this issue!

With regards to your approach, one comment. It would be better to take the version library from the library itself, instead of from our own code in Orion. For instance, libmicrohttpd seems to have a constant MHD_VERSION which provided the version number in hexadecimal (it would need to be converted to x.y.z format, of course). Other libraries mayb

[2020-09-07 07:30] LarsNorlander commented on #3689
Ahh, it seems to match #3676 but just worded differently. And I suppose #2282 is the root issue. So I suppose you'd prefer to have this issue closed then?

[2020-09-07 07:35] MichelSc commented on #3684
A "GET /version" gives:

On the OCB container, executing "ss -tunp | grep 1026" gives

repeated (curiously) 1026 times

[2020-09-08 14:49] fgalan commented on #3688
I understand the right behavior should be Orion to filter results provided by CPr to only the attributes requested by the client, in both cases (`GET /v2/entities?attrs=name` and `GET /v2/entities/urn:ngsi:Device:Test-Device1/attrs/name`)

[2020-09-08 15:00] fgalan commented on #3689
If you find this issue is fully covered by some other one, maybe is a good idea to close it as a duplicate. That way we reduce the issue entropy in the repository :)

[2020-09-08 15:04] fgalan commented on #3684
Not fully sure, but it seems the problem is not related with Orion itself but with the docker underlying layer. The fact that depending on how do you start the whole setup with docker-compose the issue appears or not seems to point into that direction.

Maybe some docker expert could provide more advice on this on how to debug to find the root cause.

[2020-09-08 15:06] #3468 closed

[2020-09-09 04:51] rajeswar-NEC commented on #2933
Hi @fgalan
As per my understanding error responds  for case 1 & case 2 should be following

{"error":"NotFound","description":"one or more of the attributes in the request do not exist: [ presur ]"}
{"error":"NotFound","description":"one or more of the attributes in the request do not exist: [ temperatur ]"}

please let me know your opinion.

[2020-09-09 07:09] fgalan commented on #2933
I have provided a rationale, based on NGSIv2 specification, that tells otherwise (see [my comment above](https://github.com/telefonicaid/fiware-orion/issues/2933#issuecomment-687084186)). Could you elaborate on which is bases your understanding, please?

[2020-09-09 10:00] achandana opened #3692 "Connection reset by peer in Orion curl command"
We have pulled and ran orion docker image in EC2 instace and we are using AWS documentdb authentication instead of mongodb. While hitting the healthcheck url : curl http://localhost:1026/version we are getting Connection reset by peer curl exception.

root:~# curl http://localhost:1026/version
curl: (56) Recv failure: Connection reset by peer
root:~#
Anyone please help on this issue.

[2020-09-09 11:26] arturohu commented on #3688
I agree with you, in fact, Orion returns only those attributes requested. But I think that in the IoT environment, and thinking about the computational, network, and resource cost of asking for attributes to remote devices, it is a problem that comes before this. I think that **filtering** should be done **before asking CPr** because this can generate unnecessary delays if the attribute for which

[2020-09-09 15:32] jason-fox commented on #3401
Requirement was reduced to [SHOULD] Closing.

[2020-09-09 15:32] #3401 closed

[2020-09-10 14:23] fgalan opened #3693 "Covered notifications in subscritpions"
Currently, Orion notifications only include attributes that the entity actually has. For instance, if the subscription has `notification.attrs: [A, B, C]` but the entity only has A and B, C is not included in the notification.

That's fine with most of the notification receiver. However, some receivers may benefit from notifications with always the same set of attributes, no matter which attribute

[2020-09-11 08:06] LarsNorlander commented on #3689
Sure, I'll do that then.

[2020-09-11 08:06] #3689 closed

[2020-09-11 09:14] fgalan opened #3694 "Improvements in Orion logs system"
The following modifications has to be done in the Orion Context Broker logs system:

* Move all the current LM_I traces to LM_T, choosing a suitable (new) tracelevel in DEBUG level **except** the trace about Orion startup, that must remain in INFO level
* Introduce the following new traces at INFO level
    * At the end of each GET request on the CB API endpoint, log the URL used and the response

[2020-09-11 09:20] fgalan opened #3695 "Orion should end when it is not able to connect to DB at startup"
Currently, when Orion is not able to connect to DB at startup this is shown in logs:

[code]

which is fine but, in addition, Orion shoul stop working. It is pointless to have running a process that is not able of doing any operations (in fact, the listening port of the Orion API is not working in this situation). Better to stop, so monitoring tools (like monit, etc.) can detect the situation and

[2020-09-11 09:41] kzangeli commented on #3695
I thought it actually exited, after a number of retries ...

If not, then I'd propose to let it try at least 3 times before giving up

[2020-09-11 09:56] fgalan commented on #3695
I think the retry times are fine (100 >> 3 :)). Is the action when the retrial fails which needs to be changed.

[2020-09-14 12:03] fgalan commented on #3688
Yes, of course. That's another way of solving the problem. Orion may ask for specific attributes (if they are known derived from the client query) when issuing the `POST /v2/op/query` to the Context Provider.

[2020-09-14 12:05] fgalan commented on #3692
Not sure of this issue, but it seems related with your setup (docker, AWS, network, etc.), not with Orion itself.

[2020-09-17 07:03] tstorek commented on #3412
@fgalan Just tested :) apparently it works fine. THANK YOU VERY MUCH! when will you have the next release. In production I do prefer stable versions instead of latest, especially, because once changed you cannot downgrade anymore. It seems timestamp was an integer previously.

[2020-09-17 09:09] fgalan commented on #3694
The following old-INFO traces will remain at the end:

[code]

which I think is good enough.

[2020-09-17 14:16] fgalan commented on #3694
Regarding

It will be implemented only for non-initial notifications (i.e. it will be implemented for notifications that are caused by a entity creation/update). In the case of initical notification only only notification exists associated to the causing operation (which is subscription creation/update) so it is pointless to add a counter.

[2020-09-18 11:13] fgalan commented on #3694
Feedback from a review with @manucarrace @mrutid and @AlvaroVega

* It would be desirable to include the Orion options at the startup in a INFO message. It would be also desirable to include information regarding MongoDB connection (nice to have)
* Use only one line (instead of 2 or 3), using the following formats:
   * `Request received: POST /v2/entities, request payload (xx bytes): { ... }, res

[2020-09-24 15:46] fgalan commented on #3412
Thank you for the report and for kinds word! :)

We don't have an exact date for the release of 2.5.0 but probably it will be done when the log improvements get finished (PR https://github.com/telefonicaid/fiware-orion/pull/3696). Maybe some weeks.

[2020-09-30 08:18] cesarjorgemartinez opened #3701 "Crash during UpdateSubscription"
Version: `2.4.1_20200923174553 git_hash f416ddb73b090c9bc21313d19f5cada7f51744ee`

On PRO environment crash and core generation at September 29th, 17:22:55. Backtrace:

[code]

[2020-09-30 11:52] fgalan commented on #2231
Fixed by PR https://github.com/telefonicaid/fiware-orion/pull/3691

[2020-09-30 11:52] #2231 closed

[2020-09-30 11:53] fgalan commented on #3701
Do you have the update request that supposedly caused the crash?

[2020-10-01 11:13] fgalan commented on #3694
Check implementation with large payloads. I think we have a "LIMIT TOO LONG" guard that can hide log trace completely and we should see how we can deal with that.

[2020-10-01 15:11] fgalan commented on #3694
Regarding:

Now INFO at startup is as follows:

[code]

[2020-10-02 12:48] fgalan commented on #3694
With regards to **query forwarding** reference execution using cases/0787_cprs_full_functional_v2/ngsiv2_query_five_different_cprs_in_one_query.test

[code]

Note they are NGSIv1 payload (it's and old test) but, for the point of view of this functionality, it doesn't make any difference.

[2020-10-06 14:01] fgalan commented on #3694
Ideally, we should introduce two CLI switches to deal with this:

* `-logLineMaxSize` to set the maximum absolute size for trace line (no matter the log level). Default value: 32 * 1024 (to keep backward compatibility, as now is hardwired to that value)
* `-logInfoPayloadMaxSize` to set the maximum size for payloads in log level INFO. Default value: 5 * 1024.

[2020-10-07 13:36] MichelSc commented on #3684
The problem could be related to Orion and not to Docker, as it could be caused a too early connection of the iotagent. In our setup, for reproducing the problem, the iotagent is started (by docker) while Orion is still warming up. In the work around, the iotagent is started (by docker) when Orion is up and running. This might explain the difference.

[2020-10-08 13:51] fgalan commented on #3684
In this case, it is not a problem of Orion itself but with the orchestration in the startup of Orion clients (in this case IOTA). I mean, nothing can be done in Orion code to solve a situation in which a client tries to access Orion before Orion starts.

However, the original issue is not describing this situation, isn't it? You say "after some time, OCB stops handling requests from the iotagent".

[2020-10-08 15:22] MichelSc commented on #3684
Sorry for the confusion.
The issue happens after some time of working of OCB, so 5 to 15 minutes after the start of both processes. A time depending on the number of messages processed. As if OCB runs out of some resource, like file descriptors.
The issue happens only if the itoagent is started too soon after the start of OCB (OCB is started by docker compose, as a result of the dependencies befor

[2020-10-12 12:33] Anjali-NEC commented on #3681
Hi @fgalan sir,

I have fixed this issue and below is the output of GET /version:
![getv](https://user-images.githubusercontent.com/52558146/95746394-571b8500-0cb4-11eb-8f0f-8f2a8501963b.JPG)

However, There is no way has been found to get the versions of `libuuid, mongodriver and openssl` in existing code. So, I have hard coded these versions.

Below is the screenshot for the same.
![lib](https:/

[2020-10-12 15:55] SBlechmann opened #3704 "Notifications for attributes from CPr"
Orion holds an entity that gets some attributes from an external CPr.
When I querry the entity I see all the attributes (attributes orion holds and the ones from the CPr).

In the end I would like to have all the attributes' values in my timeseries db routed through QL.
But apperently, the orion only raises a notification for attributes orion holds.

Obviously, you can create a workaround script t

[2020-10-13 18:09] fgalan commented on #3681
Looks much better this way :)

Some extra comments:

1. It would be great if you could transform `"0x00097000"` to something more useful for users in the x.y.z from, such as`"0.9.70"`. Not sure how it works but it seems there is a correspondence between the digits in MDH_VERSION and the x.y.z form.
2. I think that better than provide a hardwired value, uuid and mongo versions should be removed. Ho

[2020-10-13 18:22] fgalan commented on #3681
In the case of mongo driver, please have a look at mongo/version.h. There is interesting stuff there, specially kVersionString constant.

With regards to uuid, I'm afraid I don't find anything interesting in uuid/uuid.h, so if at the end it is not possible to find its version number, just remove it from the GET /version output. It is a pretty stable library and with a low utilization in Orion, so

[2020-10-14 10:15] cesarjorgemartinez commented on #3701
I don't have the update but has occurred when a subscription has been activated and it was in the first subscription

[2020-10-14 16:17] #2122 closed

[2020-10-19 09:54] fgalan commented on #3704
I think we can distinguish between two diferent scenarios:

(triggering attribute = the attribute which change triggers the notification)

1. The triggering attribute is in the CPr. This scenario is hard to solve, as Orion doesn't know what is happening in CPrs. In other words, if an attribute update takes place in the CPr, Orion doesn't know about that so Orion cannot trigger any notification abo

[2020-10-21 10:00] fgalan opened #3706 "Orion incorrectly report error when passing from 0 locatations to 1 location in entity update"
Having this entity at DB (note there is no location):

[code]

With this upgrade (adding a location field):

[code]

We get this error:

[code]

And this in log traces:

[code]

Note that `[]` has no sense here...

[2020-10-26 16:11] fgalan commented on #3694
PR https://github.com/telefonicaid/fiware-orion/pull/3696

[2020-10-26 16:17] fgalan opened #3707 "logLineMaxSize and logLineMaxSize in the log admin REST API"
In the re-work done in issue https://github.com/telefonicaid/fiware-orion/issues/3694 the following parameters were introduced in the CLI:

* `-logLineMaxSize`
* `-logInfoPayloadMaxSize`

It could be a good idea to include them in the log admin API, so they can be dyncamically changed, allowing things like this:

[code]

[code]

Each setting is associated to a global variable, so connect them with

[2020-10-27 11:34] #3694 closed

[2020-10-27 12:12] fgalan commented on #3706
CC: @fjperalta

[2020-10-27 12:16] Anjali-NEC commented on #3681
Hi @fgalan Sir,

I have not found any way to transform MDH_VERSION in the x.y.z from.

I have tried multiple approaches to get version of mongo driver in Output by including mongo/version.h or defining kVersionString constant but I am unable to find any suitable approach. So as per my suggestion it should be removed.

[2020-10-27 12:49] fgalan commented on #3681
Looking at how MDH_VERSION  looks like:

0x00097000

if we ignore the two last digits, we have:

00 -> 0 -> 0. ...
09 -> 9 -> ... .9. ...
70 -> 70 -> ... .70

It's a bit weird as 70 in hexadecimal is not 70 in decimal, but it seems to work so. Mabye asking how it works to the libmicrohttpd devel list would be a good idea.

[2020-10-27 12:50] fgalan commented on #3681
I'd have a look and try to use in in a proof-of-concept. Apparently, it should be easy to get that information...

[2020-10-27 14:18] kzangeli commented on #3681
I implemented this for Orion-LD.
Will post here once I have a minute.

On Tue, Oct 27, 2020, 13:50 Fermín Galán Márquez <notifications@github.com>
wrote:

[2020-10-27 16:24] fgalan commented on #3706
PR https://github.com/telefonicaid/fiware-orion/pull/3710

[2020-10-28 08:20] #3706 closed

[2020-10-28 19:17] fgalan commented on #3681
I did it :) See https://lists.gnu.org/archive/html/libmicrohttpd/2020-10/msg00008.html

A promising function named MHD_get_version() is cited in that email. Could you have a look to it, please?

[2020-10-29 05:37] Anjali-NEC commented on #3681
Hi @fgalan sir,

I have updated in my PR #3709

[2020-10-29 08:14] fgalan commented on #3681
Once PR https://github.com/telefonicaid/fiware-orion/pull/3709 has been merged, some extra fixes need to be done. I'll take care of them.

[2020-10-29 12:14] fgalan commented on #3681
Finished in PR https://github.com/telefonicaid/fiware-orion/pull/3713/files

@kzangeli this is not necesary. I found the way at the end. Thanks anyway! :)

[2020-10-29 14:50] #3681 closed

[2020-10-30 09:21] #3612 closed

[2020-10-30 09:23] fgalan commented on #3666
Milliseconds support has been implemented for Orion 2.5.0 and, except if somebody tells otherwise, it works as expected. Closing issue.

[2020-10-30 09:23] #3666 closed

[2020-10-30 09:25] fgalan commented on #3412
@tstorek Orion 2.5.0 has been released some minutes ago ;)

[2020-10-30 09:26] fgalan commented on #3412
Milliseconds support has been implemented for Orion 2.5.0 and, except if somebody tells otherwise, it works as expected. Closing issue.

[2020-10-30 09:26] #3412 closed

[2020-10-30 09:31] fgalan commented on #432
Milliseconds support has been implemented for Orion 2.5.0 and, except if somebody tells otherwise, it works as expected. Closing issue.

[2020-10-30 09:31] #432 closed

[2020-11-03 14:44] PedroVictorB opened #3716 "notificationMode different in the documentation"
In the documentation (https://fiware-orion.readthedocs.io/en/2.5.0/admin/cli/index.html), the notificationMode parameter can be transient, permanent or threadpool:q:n .

After trying to use permanent, I got this message:

`
orion_1  | time=Tuesday 03 Nov 14:21:43 2020.326Z | lvl=FATAL | corr=N/A | trans=N/A | from=N/A | srv=N/A | subsrv=N/A | comp=Orion | op=contextBroker.cpp[739]:notificationMode

[2020-11-04 09:07] fgalan commented on #3716
You are right, the right keyword is "persistent". Usage message also confirms it:

[code]

The following sections in the documentation need to be fixed:

* https://github.com/telefonicaid/fiware-orion/blob/master/doc/manuals/admin/cli.md#command-line-options
* https://github.com/telefonicaid/fiware-orion/blob/master/doc/manuals/admin/perf_tuning.md#notification-modes-and-performance

Do you want t

[2020-11-04 10:44] cesarjorgemartinez opened #3717 "BUG Sometimes using MongoDB as ReplicaSet and change the primary node when exist on-air operations fail"
Hi,

Sometimes using MongoDB as ReplicaSet and change the primary node when exist on-air operations fail.

Seen with version 2.4.1.

Example logs (in WARN level):

[code]

Regards,
Cesar Jorge

[2020-11-04 12:46] cesarjorgemartinez commented on #3717
This behaviour are detected also in other components (example iota-ul)

[2020-11-04 13:21] PedroVictorB commented on #3716
@fgalan The pull request is there (#3718 ). I will try to contribute more in the future!

Thanks!

[2020-11-04 13:58] fgalan commented on #3716
Once PR https://github.com/telefonicaid/fiware-orion/pull/3718 has been merged, this issue can be closed.

Thanks for the contribution!

[2020-11-04 13:58] #3716 closed

[2020-11-04 16:05] fgalan commented on #3717
My first hypotehis was this was caused by a limitation in the legacy driver used by Orion, maybe solved in the new driver with a better support to on-fly operations during a primary change. Driver migration, as you maybe known, is pending (issue # 3132and main PR, in WIP status: https://github.com/telefonicaid/fiware-orion/pull/3622).

However then you say

which may invalidate my hypthosis, as th

[2020-11-04 16:18] cesarjorgemartinez commented on #3717
It may be that this hypothesis does not start from the data that are supposed to be correct. Example, other components also prevent this problem.

[2020-11-05 05:53] Anjali-NEC commented on #3707
Hi @fgalan Sir,

I would like to work on this issue, Please assign this issue to me. Thank you.

[2020-11-05 08:41] fgalan commented on #3707
Assigned. Thank you very much!

[2020-11-05 10:34] raiuli commented on #3555
Hi,
The fiware public repository is giving 404.
https://nexus.lab.fiware.org/repository/raw/public/repositories/el/7/x86_64
I cannot download and install  orion broker

[2020-11-05 13:04] fgalan commented on #3555
I'm not related with fiware.org domain, so I'm afraid I cannot provide support on this...

Maybe @flopezag could provide some feedback.

[2020-11-05 13:16] raiuli commented on #3555
But how can we install using rpm?

[2020-11-05 15:04] flopezag commented on #3555
Could you try it again. We have resolve an issue in our Nexus instance.

[2020-11-05 15:51] jicarretero commented on #3555
It works. ContextBroker install using that repo.

[2020-11-06 10:32] fgalan commented on #3555
Maybe this issue can be closed if yum repository is ok now? @achiancone @raiuli what do you think?

[2020-11-06 10:39] raiuli commented on #3555
yup

[2020-11-06 11:05] #3555 closed

[2020-11-06 11:21] fgalan opened #3721 "Optimize index creation logic"
(Similar to https://github.com/telefonicaid/fiware-cygnus/issues/1975)

Orion attempts to create a geo-index in every entity creation. This can be optimized in the following way:

* Orion keeps a memory data structure with all the indexes created so far (let's call it "indexes list"). At startup time, the indexes list is empty
* Whenever Orion attemps to create an index in a collection, first it c

[2020-11-06 11:22] fgalan commented on #3721
Hint: `std::map<std::string>` is probalby enough to implement the indexes list.

[2020-11-12 10:44] fjperalta commented on #1494
Currently, each notification includes the attributes `id` and `type` by default. It would be interesting to add a new internal attribute `entitystatus` with the values `created`, `updated` or `deleted`.

About https://github.com/telefonicaid/fiware-cygnus/issues/1415, Cygnus could save this value to a new field named `entitystatus` at the destination table in order to identify if a given entity ha

[2020-11-18 11:03] fgalan opened #3726 "New operation for atomic "get and update""
Extend the NGSIv2 API with an operation with "get and update" semantics. Provisional name:

[code]

Different from `POST /v2/op/update` which allows a list of entities, this operation will only update one entity.

The idea is to expose the functionality already existing in MongoDB with the `findAndModify()` operation to the CB API. That way, interesting use cases (e.g. mutex) could be implemented.

[2020-11-18 11:09] fgalan opened #3727 "Avoid triggering notification if metadata changes but not the attribute value itself"
Currently, the metadata of an attribute is considered part of its value. Thus, a subscription using a given attribute as a triggering condition will trigger notifications in cases in which the attribute value doesn't change but metadata does. This is precluding some use cases.

Thus, in order to increase the flexibility of the subscription, this case should be allowed. The simpler approach seems t

[2020-11-19 12:54] fgalan commented on #3684
Quite a mystery... :)

Not sure how to help with this. I don't have clues about the problem but, anyway, I'm still thinking is not an issue in Orion itself but something in the environment where it runs.

What you say about

makes me think in the Orion performance tunning document (at https://fiware-orion.readthedocs.io/en/master/admin/perf_tuning/index.html). I'd suggest to have a look, in case s

[2020-11-19 15:48] fgalan opened #3729 "error processing query messages upon subcription with geo-filter"
Sometimes we get error in traces like this one:

[code]

The following request seems to trigger the failure:

[code]

[2020-11-19 16:18] fgalan commented on #3729
Useful curls for debuging. They correspond to first, before last and last.

[code]

[2020-11-19 16:24] fgalan commented on #3729
We have found that under normal conditions, the error doesn't take place. Steps to reproduce:

1. Start Orion
2. Run the following in `mongo orion` shell: `db.entities.dropIndex({"location.coords" : "2dsphere"})`
3. Do request query and error appears in the logs

Alternatively:

1. Start Orion
2. Remove entities collection
3. Re-created with `db.createCollection("entities")` (it starts without any

[2020-11-20 09:41] WillFreitag opened #3731 "Error "400 ParseError""
In our installation of Orion Context Broker we get around 0.004 % a "400 ParseError" as a response to a POST (.../v2/entities/?options=keyValues,upsert).
The payload looks like:
[code]
We implemented a resend-mechanism and resending the exact same payload again get's an expected 204-response.
So, for me,  this is not related to the payload at all.
Orion-log (log-level INFO) is not stating more tha

[2020-11-30 12:50] fgalan commented on #3731
So, you mean that after starting the CB in a "reset" state (i.e. DB empty before starting the test) then you do this request twice in a row:

[code]

The first time you get 400 Parse Error, the second time you get 204.

Is my understanding of the case correct?

[2020-11-30 13:26] WillFreitag commented on #3731
Exactly this is, what we do.
We send data (test-data in a high frequency) and when an 400 is encountered, we simply retry (same session, same payload) and get an 204 - on the very next time (with a short sleep (10ms) in between).

[2020-12-03 08:13] achandana opened #3734 "Device registration is not working with iotagent due registration failure in orion"
We are not able to register the device with iot agent.

Device provisioning :
curl --location --request POST 'http://localhost:4041/iot/devices/' \
--header 'fiware-service: openiot' \
--header 'fiware-servicepath: /' \
--header 'Content-Type: application/json' \
--data-raw'{
"devices": [
{
"device_id": "lamp001",
"entity_name": "urn:ngsi-ld:Lamp:001",
"entity_type": "Lamp",
"transport": "MQTT",
"

[2020-12-03 11:24] fgalan commented on #3734
This seems to be an exact duplicate (copy-paste) of https://github.com/telefonicaid/iotagent-json/issues/517

Please don't do that :) Let's use only one issue in one of the components (and in this case, I think the proper one is IOTA-JSON). If at the end this is an issue in Orion, it will be transfered between repos.

[2020-12-03 11:24] #3734 closed

[2020-12-04 05:19] daminichopra commented on #3726
Hi @fgalan , I would like to work on this issue. Please assign. Thanks

[2020-12-04 13:54] fgalan commented on #3726
Assigned. Thanks for your willingness to work on this issue! :)

We need first to defined de API for the new operation. I'd provide a proposal as a comment on this issue. However, in the meanwhile, maybe you can start working on the wrapper function for the `findAndModify()` MongoDB operation in connectionOperations.h/cpp. The new function (suggested name: `collectionFindAndModify()` should be a k

[2020-12-04 14:11] fgalan commented on #3726
_Proposal for the API operation_

Verb and URL:

[code]

The payload will be the same a described in "JSON Entity Representation" section in the [NGSIv2 specification](http://telefonicaid.github.io/fiware-orion/api/v2/stable/). There should be existing parsing logic in the CB code to deal with this kind of payload.

[code]

In successful case, a 200 OK response will be returned with the payload co

[2020-12-07 12:44] #3405 closed

[2020-12-07 16:16] Anjali-NEC commented on #3707
Hi @fgalan sir,

I have done investigation on this issue. As per my understanding we need to add PUT and GET method for logLineMaxSize and logInfoPayloadMaxSize in log admin API.

To GET logLineMaxSize and logInfoPayloadMaxSize we need to modify serviceRoutinesV2/logLevelTreat.cpp and add "lmLogLinesGet" method for getting logLineMaxSize but I have not found something for PUT method.

Currently I

[2020-12-08 10:59] ilarimikkonen opened #3735 "Feature request: Option to index Mongo DB automagically"
Story: As a system administrator or system owner, I'd like have an option to do Mongo indexing to get maximum performance out of the system so that my resources are efficiently used. I do not want to do this manually, as it is error prone and ties up human resources.

Options which have come up in the discussion:

- Command line parameter to automatically index (by _id) every new database as they

[2020-12-08 11:50] kzangeli commented on #3735
I was under the impression that mongo "gives us" an index over _id ...
I might be wrong.
In general it's not possible (well, not a good idea) to automize the election of indices as the broker doesn't know what its users are interested in - what kind of queries.
Remember that every index may make searches faster (depending on the query), but that it definitely makes inserts slower (as the index has

[2020-12-08 11:58] ilarimikkonen commented on #3735
to be more precise, the indexing we've been using:

[code]

and this seems to improve writes (POST / PATCH to Orion) quite dramatically.

[2020-12-08 12:09] kzangeli commented on #3735
ok, that is definitely interesting

[2020-12-10 17:57] mkavipriya commented on #3676
Do we have a fix available for this filtering issue please?  We are facing the same issue where Context providing returning invalid records and Orion forwarding them to the client as it is.

[2020-12-10 17:58] mkavipriya commented on #2282
Do we have a fix available for this query filtering issue in Context Provider please?  We are facing the same issue where Context providing returning invalid records and Orion forwarding them to the client as it is.

[2020-12-11 05:43] mkavipriya opened #3736 "Fiware Orion Query Forwarding issue"
Hi Fiware Team,

We have an issue with attribute filtering in Fiware Orion.  The attribute filtering worked fine and fetched correct records until we had no commands registered through IoT Agent.  From the time we added commands and corresponding registrations created in Orion, we are facing issues with the Fiware queries.  Fiware queries are returning invalid records from the Context Provider as

[2020-12-14 08:16] Anjali-NEC commented on #2745
Hi @kzangeli, @fgalan sir,

I have added new REST request: GET /admin/dependencies to get library dependencies in my PR #3737. If it is ok then please merge the PR in master branch.

[2020-12-16 11:08] fgalan opened #3738 "Crash on MHD_REQUEST_TERMINATED_CLIENT_ABORT situations"
Orion version: 2.5.0-next (git version: 9785a6bc0040a217fff6f3b941964fdf9a991fec)

CB started with `contextBroker -fg` crashes if the following is done:

* Run `printf 'GET /\n' | nc 127.0.0.1 1026` in  terminal
* Interrupt with Ctrl+C

Backtrace:

[code]

The problem is in `requestCompleted()` which always assumes non-null pointers but it seems that in MHD_REQUEST_TERMINATED_CLIENT_ABORT that con

[2020-12-16 11:18] kzangeli commented on #3738
Seems like due to the interruption, requestCompleted is called before and data callback has been issued (connectionTreat has never been called).
Should be a very easy fix.
In requestCompleted(), before doing anything else, just check for `*con_cls == NULL` and return if true.
[ In frame #1 we see that con_cls is pointing to something but that something is probably 0 => ciP is set to NULL and after

[2020-12-16 11:40] fgalan commented on #3738
It seems that in version 2.5.0 we have the problem, but not in 2.4.0. However, looking to https://github.com/telefonicaid/fiware-orion/compare/2.4.0...2.5.0 compare  `requestCompleted()` function doesn't have any related modification...

[2020-12-16 11:59] fgalan commented on #3738
Debuging in 2.4.0 (git version: 60659d18e9f682556c407794124325a75057cb94)

In this case, the program flow doesn't travese `requestCompleted()` function when the printf-nc+interrupt test is done.

Maybe the usage of MHD_OPTION_URI_LOG_CALLBACK handler, introduced by PR https://github.com/telefonicaid/fiware-orion/pull/3696 (merged between 2.4.0 and 2.5.0) has changed the program flow regarding MHD

[2020-12-16 12:28] fgalan commented on #3738
PR https://github.com/telefonicaid/fiware-orion/pull/3739

Instead of @kzangeli suggestion of checking for `== NULL` and exit and I have opted for checking for `!= NULL` and skip part of the code. I have done this because the function has an obscure

[code]

which I'm not sure it has to be executed even in the case of the pointer be NULL. The code is uglier, but I think that equivalent. @kzangeli

[2020-12-16 12:39] fgalan commented on #3738
PR #https://github.com/telefonicaid/fiware-orion/pull/3740 with the fix also in release/2.5.0 branch.

[2020-12-16 14:09] kzangeli commented on #3738
Well ...
I understand you want to call the delayed release functions to avoid any kind of memory leak.
I'm all for that ... but ...
As connectionTreat hasn't even been called, there will be nothing to delete. Not possible.
If anything at all has been allocated and needs to be freed, it's something allocated "by us" - and "we" start executing in the calls to connectionTreat.
As connectionTreat hasn

[2020-12-16 15:11] fgalan commented on #3738
The need of doing the "delayed release" was unclear to me. Now after reading your comment I think I get the point and understand that it is not necessary. Although taking into account this:

Maybe it a good idea to do it already :)

I also love the "return early" principle. PR #3739 has been already merged, due to this fix was urgent. However, I can do a new PR to refactor the implementation in th

[2020-12-16 15:20] kzangeli commented on #3738
It's fine, I just wanted to clarify

[2020-12-16 15:21] cesarjorgemartinez commented on #3738
+1 to second option clearly

[2020-12-16 15:25] fgalan commented on #3738
This PR: https://github.com/telefonicaid/fiware-orion/pull/3742

@kzangeli could you have a look, please?

[2020-12-16 16:32] fgalan commented on #2282
As far as I know, there isn't any fix available yet. The recommended workaround is to filter query results on the client side.

[2020-12-16 16:33] fgalan commented on #3676
Already answered in issue #2282 ;)

What I said some time ago stills:

[2020-12-16 16:55] fgalan commented on #2745
Library information is already provided in the GET /version operation (done in your other PR https://github.com/telefonicaid/fiware-orion/pull/3709, thanks! :). Thus, GET /admin/dependencies would be redundant.

I'd suggest to close PR #3737

(We should have closed this issue when we merge #3709, but we didn't realize about it. Sorry for the incoveniences)

[2020-12-16 17:02] fgalan commented on #3736
Thanks for the feedback!

I have one doubt: is this issue describing the same situation described in issue #2282? In that case, I'd suggest to "merge" both issues. That is:

* Add your report in this issue to #2282 as a comment
* Closing this issue

[2020-12-17 10:35] fgalan commented on #3738
After merging PR #3742 this issue is fully solved so it's going to be closed.

[2020-12-17 10:35] #3738 closed

[2020-12-17 13:00] fgalan commented on #3726
After discussing this with @mrutid we have realized that we need the ability to specify a filter condition (so sometimes the entity will match and be updated, other times won't).

Thus, the operation should accept *at least* the same `q` filter that `GET /v2/entities` uses. Other filters *may* be supported, such as `mq` or the geo-filter (`georel`, `geometry` and `coords`).

Based on this, this is

[2020-12-17 15:39] fgalan commented on #3735
I agree with @kzangeli : indexes configuration depends on usage and indexes introduce tradeoffs which Orion cannot infer itself. The best approach is to provide good documentation about it. I think the documentation we have now at https://fiware-orion.readthedocs.io/en/master/admin/perf_tuning/index.html#database-indexes is pretty good, but of course if @ilarimikkonen you have suggestions about ho

[2020-12-17 15:40] fgalan commented on #3735
With regards to

I have found this issue https://github.com/telefonicaid/fiware-orion/issues/3721 that describes some ideas, but in the context of the functional geo-index used by Orion for geo-location features.

[2020-12-18 09:10] Anjali-NEC commented on #1794
Hi @fgalan Sir,

I would like to work on this issue, please assign this issue to me.
As per my understanding, we need to add new category for "Other Error" named as "Context Provider Failure" in alarm type in logs.md.
Please confirm the above understanding and approch.

[2020-12-18 13:24] fgalan opened #3745 "Over-requesting to CPrs attributes that has been filtered out with attrs="
Situation: there are four entities (CAM1, CAM2, CAM3, CAM4) with a registered attribute `makeSnapshot`, `setPTZ` and `setSnapshotsCrontab` (depending on the entity one of them, two or the three).

 We do a query that is **filtering out the `makeSnapshot`, etc. registred attributes using attrs= query param**

[code]

Regardless the filter, the `makeSnapshot` is queried to the CPr but it shouldn't.

[2020-12-18 14:00] fgalan commented on #3745
It also happens if the GET is done in a specific entity (eg. CAM3). I mean:

[code]

Results in:

[code]

[2020-12-18 14:38] fgalan commented on #3745
(Maybe we already have this problem described in another issue, but I haven't found it so far)

[2020-12-18 14:39] fgalan commented on #3745
Having a look to code in getEntity.cpp:

[code]

Note that the `attrs=` (stored in `attributeFilter` object) is not pushed down to the lower service routine function `postQueryContext()` where all the forwarding logic happens. It is only used to filter after that, in the `entities.toJson()` call.

It seems that in the past we considered pushing down it, but it seems has some problem:

[code]

[2020-12-18 14:40] fgalan commented on #3745
Situation is pretty much the same for getEntities.cpp

[2020-12-18 14:55] fgalan commented on #3745
I have done this little hack:

[code]

And now it works without forwarding requests:

[code]

Let's do a full pass in functional tests with the hacked code to see which ones break...

[2020-12-18 15:59] fgalan commented on #3745
Only one test is failing:

[code]

[2020-12-18 16:08] fgalan commented on #1794
Thank you for your willingness to work on this issue! I have assigned it to you :)

With regards to specific actions to do, I think they are the following ones:

* Change message text in traces from "Other Error" to "Forwarding Error" (I think this is a better name than "Context Provider Failure")
* Define a new kind of alarm in https://github.com/telefonicaid/fiware-orion/blob/master/doc/manuals/

[2020-12-18 16:13] fgalan commented on #3745
That test has the following script:

[code]

The fail is in step 11 that instead of returning E1 with A1 and E2+E3 without attrs only returns E1 (A1). However, I think this is the right behavior... Maybe the test is wrong?

[2020-12-18 16:23] fgalan commented on #1794
In the case it helps:

[code]

[2020-12-23 05:41] Anjali-NEC commented on #1794
Hi @fgalan Sir,

I have added functions for forwardingError and  forwardingErrorReset and also modify logs.md file.

Can you please guide me how can I check or reproduce this error (forwardingError and  forwardingErrorReset)

[2020-12-23 22:50] ftgo opened #3748 "Attribute update does not work properly"
I am using Orion 2.5.2 in conjunction with Iot-Agent Ultralight 1.15.0.

The following commands does not work properly:

[code]

or

[code]

Querying it (http://localhost:1026/v2/entities) shows the following

[code]

The only way to make it work is doing this (_Batch overwrite attributes of multiple data entities_):

[code]

Here it is the query:

[code]

ps.: there is no issue sending the comman

[2020-12-30 06:54] Anjali-NEC commented on #3638
Hi @fgalan Sir,

I would like to work on this issue, please assign this issue to me.

[2021-01-07 15:37] fgalan commented on #2745
Overriden by issue #3681 (PR #3709). Closing.

[2021-01-07 15:37] #2745 closed

[2021-01-07 15:41] fgalan commented on #1794
You can stop your notifications/forwarding receiver so notifications or forwarded requests sent to it would raise an alarm. Next, you can bring the receiver up again so the next notification or forwarded request would release the alarm.

[2021-01-07 15:58] fgalan commented on #3638
You have been assigned :)

Thanks for your willingness to work on this issue!

[2021-01-08 08:33] fgalan commented on #3748
Thank you for your report!

Could you elaborate a bit more on "the following commands does not work properly"? I mean, which exact response do you get from CB when you issue the above curls? (hint: use `-vvvv` in the curl command line).

[2021-01-08 10:56] ftgo commented on #3748
What I mean is that the value field remains unchanged.

I am not with the sensors setup right now, only with the docker containers up. I hope these helps.

[code]

[2021-01-08 13:44] AtosInnovationBordeaux opened #3750 "When creating entity with keyValue options, Orion auto data type detection is not correct"
When creating an entity you could do it like this :
[code]

Or without the options=KeyValues parameter :
[code]

And in both case the entity is the same.
But I don't manage to create an entity with a options=keyValues parameter with an entity that has a 'location' attribute : when doing

[code]

In this case, the result from curl --location --request GET https://api.labatosbordeaux.eu/v2/entities/

[2021-01-11 12:32] fgalan commented on #3745
PR https://github.com/telefonicaid/fiware-orion/pull/3751

[2021-01-12 08:51] #3745 closed

[2021-01-13 09:37] AtosInnovationBordeaux commented on #3750
Looking at the code it looks like there should be some additional tests done arround
https://github.com/telefonicaid/fiware-orion/blob/20b7ef386d4a5a3d54211aa8e264e970dd0a4db6/src/lib/jsonParseV2/parseContextAttribute.cpp#L251

And Orion should check if the inner type is a geo:XXX and what kind of geojson that is to populate the attribute with the correct type

[2021-01-15 13:14] fgalan commented on #3106
Fixed in PR https://github.com/telefonicaid/fiware-orion/pull/3753

[2021-01-15 13:15] fgalan commented on #3106
Related issue https://github.com/telefonicaid/iotagent-node-lib/issues/974

[2021-01-18 09:38] #3106 closed

[2021-01-19 09:25] wistefan opened #3758 "Support Kubernetes deployment scenarios"
To run orion stable and performant in kubernetes environments, it would be good to have have solutions for the following 2 problems:

# 1. Health check
In order to work properly on kubernetes an application needs to provide a health endpoint. You can find a description about readiness/liveness here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probe

[2021-01-19 11:27] fgalan commented on #3750
After having a look to this, I think is not actually an issue/bug, but a consequence of how Orion works. I think the answer would be better as SOF answer than in an issue comment (as the former is more focused in explaing functionalty and the later in issues/bugs).

Thus, could you create a question post in StackOverflow with this (it should be easy... basically a copy-paste ;), please? I'll answe

[2021-01-19 11:31] kzangeli commented on #3750
I'd say it's a missing functionality and an issue with the label "backlog" would fit pretty well as a github issue.
But then again, that issue could be added after responding and explaining on SOF.

[2021-01-19 11:36] fgalan commented on #3750
Ok, let's wait until the explanation at SOF. @AtosInnovationBordeaux by the moment ignore my previous comment about closing the issue and don't do that (just add the link to the SOF question).

[2021-01-19 12:14] fgalan commented on #3748
In order to debug this issue, I need to isolate it to CB scope only. Thus, I'd need also the following pieces of information, pls:

* The entity corresponding to the device at CB, i.e. `GET /v2/entities/{entityid}`
* The registration associated to the command. It should be one of the ones shown at `GET /v2/registrations` (please tell me only the one I need, not the whole list :)

[2021-01-19 16:32] fgalan commented on #3456
Last report on this issue was more than a year ago (14 Jan 2020). Thus, we understand this bug (if any) no longer exists in recent Orion versions.

If we are wrong, a new fresh issue with new backtrace core report will be opened.

[2021-01-19 16:32] #3456 closed

[2021-01-20 10:10] AtosInnovationBordeaux commented on #3750
I would argue that it is an important missing feature because without that we can't really say that Orion allow the creation of entities through the keyValues format.

SOF link : https://stackoverflow.com/questions/65807353/when-creating-entity-with-keyvalue-options-orion-auto-data-type-detection-does

[2021-01-20 12:58] fgalan commented on #3731
I understand the problem only happens in high load scenarios. I mean, if you run two updates in a row in low load situation then both ones result in 204 No Content, right?

Hard to know what is going on... maybe your client has some difficulties in high load situations so sometimes it "cuts" requests sent to ContextBroker (a half-send JSON payload could explain the "ParseError")?

Maybe capturing

[2021-01-21 14:36] fgalan commented on #3750
Question answered at SOF.

With regards to

Note that the creation of entities **with specific attribute types** has not ever been the purpose (for a design/requirements point of view) of the keyValues format. As I tell in SOF answer, keyValues mode is a helper. Nothing else, nothing more.

Thus, under my understanding, nothing else needs to be done and this issue can be closed.

[2021-01-21 15:56] kzangeli commented on #3758
FYI, I implemented a simple TCP socket listener in Orion-LD - for kubernetes to connect and disconnect, using this as health check instead of trying to connect to the "REST" socket that is offered for normal requests.

The performance went up with more than 300% after this simple addition - from some 250-300 requests per second (per core) to almost 1000.

So, if the broker is to run under kubernet

[2021-01-21 16:22] fgalan commented on #3758
Do you have figures when health check is disabled at all? To have somekind of "upper limit"

[2021-01-21 16:29] kzangeli commented on #3758
My guess would be that those 1000 is really very close to the upper limit.
Very little "broker time" is spent listening on and accepting a connection, and I can't imagine that kubernetes tries to connect more than perhaps once a second - but I'm no expert on kubernetes, far from it :)
Stefan probably knows more (or anybody with knowledge on kubernetes)

[2021-01-22 00:54] ftgo commented on #3748
Here it is:

**entity**
[code]

**registrations**
[code]

[2021-01-22 10:49] AtosInnovationBordeaux commented on #3750
Thanks for your anwsers Firmin.

We think that this feature, although an extension of the original specs, allows a better user and developper experience, particulary with clients that want fast PoCs and we have some that already went that route (using keyValues).
They use Orion in mobile app related use cases where they have to search for entities through geolocation filters but are blocked by thi

[2021-01-22 11:27] kzangeli commented on #3750
I'd be willing to fix this issue, as I believe it's something we should have implemented when we implemented the "auto-attr-type" for key-values, but simply didn't think about.

However I need the OK from Telefonica before I start.

[2021-01-22 12:00] fgalan commented on #3750
I don't agree the use case is blocked as long as the client publishing the information can use the normalized API.

May I have a look at the source code of the client (please link with the pointer to the part doing the creating/update request towards CB ) to evaluate how difficult would be to change from keyValues mode to normalized, please?

[2021-01-22 13:13] AtosInnovationBordeaux commented on #3750
It is not possible to give access to our client's code unfortunatly.

The issue is that they already implemented and deployed their solution using keyValues and don't want to reimplement their Orion API and don't understand why this is an issue and feel like it should be working like this as well.

Do you think this feature would be a good addition to Orion ?

[2021-01-22 13:52] fgalan commented on #3750
It depends on what we mean by "feature":

* If we mean to implement value introspection so Orion looking to the value payload can infer if the attribute is GeoJSON or not, I think is not a good addition. Detecting if a given JSON is GeoJSON is far from easy... just have a look to [the GeoJSON schemas](https://github.com/geojson/schema) that would need to be implemented in Orion. Even in the case w

[2021-01-22 16:13] AtosInnovationBordeaux commented on #3750
For 1. I think it would be enough to do the check for attribute "location" only ? What do you think @kzangeli ?
Since the Fiware community entities all use the location attribute for geolocation purpose.

I also agree that 2 is a nice addition as well.

[2021-01-24 15:35] jmcanterafonseca commented on #3750
I think the intent of the keyValues format was to provide a simplified representation to be consumed by readers but not a "convenient" but in the end semantically incomplete format for writers. Furthermore, I would not allow entity creation with keyValues format.

Linked Data best practices advocate to label data items with their type, see for instance https://json-ld.org/spec/latest/json-ld-api-b

[2021-01-25 10:48] fgalan commented on #3729
Some additional findings:

_One_

The issue will happen with **entities collection exist without the geo-index**. However, it will not happen if the **entities collection doesn't exist at all**. The second is the usual situation when a given DB service doesn't exist and it is created with a new subscription. I mean, let's assume `orion-foo` DB doesn't exist previously and the following request is

[2021-01-25 10:57] fgalan commented on #3729
Although this is not an issue for Orion, I think it can be an issue in ORCH. See: https://github.com/telefonicaid/orchestrator/issues/301

[2021-01-25 10:58] kzangeli commented on #3750
First of all, does Orion modify a type on an update, if the type isn't given ?
I hope not - that would not be good at all.
I thought that this was all about "default" type when the type **isn't** given.

To answer @AtosInnovationBordeaux , my idea is to instead of just using "StructuredValue" as default type for a value that is a JSON Object, I'd look inside the payload body to see whether the JSO

[2021-01-25 11:12] AtosInnovationBordeaux commented on #3750
I guess it may depend with the way the update is done (update attribute only, update entity, update with options=upsert)

From my tests

- For upsert update it does change the type from "geo:json" to "StructuredValue"
- For attribute update (PUT on /v2/entities/<ID>/attrs/location/value) it does not

[2021-01-25 11:32] #3729 closed

[2021-01-25 12:34] fgalan commented on #3750
Not fully sure (it should be tested for the different kind of updating operations Orion support) but I think the way it works right now is as follows: when update request doesn't include attribute type in the JSON, the preconditions described in "Partial Representations" in the NGSIv2 spec apply so a type is chosen based on that, potentially changing the existing attribute type if that one differs