[2022-06-27 07:38] Siedlerchr opened #4154 "Release 3.7.0 tag is missing on docker hub"
**Bug description**

I wanted to test version 3.7.0, however on docker hub there is no release tagged with 3.7.0. I only find releases tagged with 3.70-PRE
https://hub.docker.com/r/fiware/orion/tags?page=1&name=3.7

[2022-06-27 07:42] fgalan commented on #4154
Not sure why it's not working... @wistefan could you have a look, please?

In the meanwhile, you can use `telefonicaiot/fiware-orion:3.7.0`

[2022-07-04 14:31] fgalan commented on #4085
What about using macros in the mapping itsef? Eg. to provide a prefix to id:

[code]

[2022-07-06 05:41] mrutid commented on #4085
I would add all the "first level" information elements, that is: id, type, service, subservice, auth-token (sometimes you don't want to propagate it).

- service, subservice, auth-token may be manipulated throught http headers but thats an implementation caveat in my opinion.

[2022-07-06 06:12] mrutid commented on #4085
Maybe we should have access to the old id/type/S/SS also in the template... You may want a new id but the old id to be part of some attribute  composition.
An off topic example may be found in Cygnus NameMappings we use "the NEW" to build the destination, and "the OLD" to populate table values.

NOTE: maybe we just need to hace access to the old ones in the macro language, the new ones always can

[2022-07-06 06:54] fgalan commented on #4085
Somehow related, new macros for service and servicePath are mentioned in https://github.com/telefonicaid/fiware-orion/issues/3913

[2022-07-06 07:07] fgalan commented on #4085
[code]

Notes:
* In the case of using "" then the corresponding header will not appear
* In the case of having some of them within `headers` the one in `headers` takes precedence.
* NOTE: ${service}, ${servicePath}, {$authToken} macros will be implemented as part of a separate issue.

[2022-07-06 07:51] fgalan opened #4159 "Custom notiffications: new macros for service, subservice and auth token"
New macros:

* service
* servicePath
* authToken

populated with the values in the update triggering the notification, to be used in any place in which a macro can be used at the present moment.

In the case of an attribute named the same way, the macro will use the value in the attribute (backward compatibility). However, that case is probably an anti-pattern.

[2022-07-06 07:51] fgalan commented on #3913
A separate issue has been created about it: https://github.com/telefonicaid/fiware-orion/issues/4159

[2022-07-06 11:31] fgalan commented on #2473
Similar issue https://github.com/telefonicaid/fiware-orion/issues/4071

[2022-07-06 11:37] fgalan commented on #2473
PR #4072 included in Orion 3.6.0 (associated to issue #4071) solves this for `headers`.

With regards to `url` and `qs` I understand it doesn't make sense, as they are used to compose the URL to send the notification, where having URL encoded chars is what the user wants (so decoding them could be counterproductive).

Thus, this issue is going to be closed.

[2022-07-06 11:37] #2473 closed

[2022-07-06 11:40] fgalan commented on #2968
Similar issue #3272

[2022-07-06 11:42] fgalan commented on #2968
I understand PR https://github.com/telefonicaid/fiware-orion/issues/3272 (associated to issue #3272) solves this in Orion 3.1.0. As current documentation explains (https://github.com/telefonicaid/fiware-orion/blob/master/doc/manuals/user/ngsiv2_implementation_notes.md#custom-notifications-without-payload):

associated to that subscription will not include any payload (i.e. content-length 0 notific

[2022-07-06 11:42] #2968 closed

[2022-07-06 11:45] fgalan commented on #3159
@taliaga any news on this issue? It stills happening with Orion newest versions (3.7.0 is the last one at the time of writting this)?

[2022-07-07 08:01] fgalan commented on #2560
PR #4157

[2022-07-07 08:01] #2560 closed

[2022-07-08 11:19] taliaga commented on #3159
Hi @fgalan. It's been a while since I last tested this, and re-reading the issue I realize I could have been clearer.

What I was not understanding at the time is that I was creating subscriptions and entities without`servicePath`, but then in the logs I saw that `servicePath` was `/#`. I was confused of the implicit behavour (see below) and the differences between empty vs `/` vs `/#` `servicePat

[2022-07-08 13:35] fgalan commented on #4159
PR https://github.com/telefonicaid/fiware-orion/pull/4166

[2022-07-11 18:43] #4159 closed

[2022-07-12 09:02] mapedraza opened #4168 "Capture all HTTP Headers and make them available for custom notifications"
**Is your feature request related to a problem / use case? Please describe.**
After merging https://github.com/telefonicaid/fiware-orion/pull/4166, that make available `FIWARE-Service`, `FIWARE-Service-Path` and `x-auth-token` for custom notifications, the idea of having this functionality for all headers comes into play.

**Describe the solution you'd like**
Using a modifier with a static part +

[2022-07-12 09:06] fgalan commented on #4168
Apart from fiware-service, firware-servicepath and x-auth-token (which would be coverd by issue https://github.com/telefonicaid/fiware-orion/issues/4159 and associated PR https://github.com/telefonicaid/fiware-orion/pull/4166) which other headers could be interesting to capture from a NGSIv2 update?

Let's take into account that the only three meaningful headers from a API point of view are these

[2022-07-12 11:43] djs0109 commented on #1494
Hello, this new feature is really helpful for my use case, where my IoT "sensor" sometimes sends measurements with the unchanged values, but I still want to trigger the notification in this case. I found that `entityUpdate` does not work as I expected.

My subscription:
[code]

The problem I found is that, the subscription can be triggered by a "PUT" request without actual change but not a "PATCH"

[2022-07-13 09:26] fgalan commented on #1494
Could you provide examples of the PUT and PATCH requests (verb + URL + payload) do you refer so I can test, please?

[2022-07-13 11:58] djs0109 commented on #1494
Yes sure. You can test with the following 4 steps.

1. Create entity
[code]

2. Create subscription

[code]

3. Update `temperature` using `PUT` (notify)

[code]

4. Update `temperature` using `PATCH` (not notify)

[code]

[2022-07-14 11:01] fgalan commented on #1494
I have modeled a new .test based in your case (see PR https://github.com/telefonicaid/fiware-orion/pull/4172) and it seems it is working... In my case I'm getting 2 notifications.

Note subscription is not exactly as yours, I have simplified removing some fields. I propose a kind of "mutual cross-check":

* Use the *exact* subscription I propose in the .test file and check what happens
* I'll try

[2022-07-14 11:03] fgalan commented on #1494
Additional question, pls: which Orion version are you using? I mean, the result of `GET /version`

[2022-07-14 11:16] djs0109 commented on #1494
It is a `3.7.0` image, which I pull from [here](https://registry.hub.docker.com/layers/fiware-orion/telefonicaiot/fiware-orion/3.7.0/images/sha256-89458990721945d172af95280506d3507d22df6093312fcca007060774058746?context=explore). For clarity here is the whole response:

[code]

[2022-07-14 11:19] fgalan commented on #1494
I have found that if I add "temperature" attribute to condition at subscription creation:

[code]

then both PUT and PATCH fail to generate notifications (which it is not exactly the same as you reported, as PUT is not working)

I'll have a look

[2022-07-15 14:53] fgalan commented on #1494
At the end I found a flaw in the implementation, fixing it in PR https://github.com/telefonicaid/fiware-orion/pull/4172 (now merged in master):

@djs0109 could you download image `telefonicaiot/fiware-orion:latest` and check if it works, please?

[2022-07-18 05:42] Anjali-NEC commented on #2591
Hi @fgalan sir,

I would like to work on this issue, please let me know this issue is still need to be fix or not?
Thanks

[2022-07-18 11:31] mapedraza opened #4178 "Docs are not aligned: forceUpdate option and alteration modes"
**Bug description**

forceUpdate option says:

But, regarding the alteration modes supported:

The alteration mode that has the same behavior that using `option=forceUpdate` is `entityUpdate`, not `entityChange`. So forceUpdate section need to be changed to:

[2022-07-18 15:03] fgalan commented on #4178
Note that section refers to `alterationType` built-in attribute, not to `subscriptions.concition.alterationType` field, without 's'. And it happens that when `?options=forcedUpdate` is used in the update requests then `alterationType` is set to `entityChange` in the notification.

Thus, under my understanding, the documentation is correct.

[2022-07-18 15:13] fgalan commented on #4178
Discussed at skype:

but applyed to the subscription, not matter if the update request included the forcedUpdate option or not.

should be changed to

but applyed to the subscription, not matter if the update request included the forcedUpdate option or not.

This will be fixed as part of the #4141 work

[2022-07-21 12:31] SrdjanZec opened #4180 "connecting Orion with MQTT"
Hi GitHub Community, I am trying to connect raspberry pi with FIWARE Orion context broker system using MQTT protocol. I am using python3 mqtt_publisher.py codein order to publish the mqtt JSON data, I am connecting to the mosquitto docker container. The server (my laptop) has 4 docker containers so far, Mosquitto (in this case is used as MQTT broker), IOT-JSON-Agent (gets data from MQTT broker and

[2022-07-21 14:38] Anjali-NEC commented on #2591
@fgalan

As per my understanding we need to support delete actionType in Special metadata in notifications
Currently `actionType` support only on the request operation type: `update` and `append`

So, we need to add actionType `delete` for  `delete` operation in the notifications for providing more information about the deleted attribute.

I am referring the below document for same:
https://github

[2022-07-22 07:52] SrdjanZec commented on #4180
Hi all, I am able to connect to the agent, but it gives me a Parse error parsing incoming message[%] forcing to hex string, what does it mean? Also lvl=FATAL Ignoring:Type Error parsedMessage.reduce is not a function. What does it mean?

[2022-07-26 10:17] nsrivastava9 commented on #4148
Hi @fgalan , Can you please provide the sample document /document structure and the query that is being executed to fetch the document as per [fiware-orion/src/lib/mongoBackend/MongoCommonUpdate.cpp](https://github.com/telefonicaid/fiware-orion/blob/e1b079c8843a759b3d53d458eb2034dc8a9793e3/src/lib/mongoBackend/MongoCommonUpdate.cpp#L1257)

[2022-07-27 08:49] Anjali-NEC commented on #4149
@fgalan @mapedraza

Thank you for your suggestions for Context Shard Manager.
But I want to consider adding features to Orion again.

I understand that it is quite difficult to resolve all pending issues.
Would you like to suspend the modification of query filtering this time and narrow down the modification target to pagination (#847) ?
Pagination makes client to get all information available to

[2022-07-27 09:36] anupamme commented on #4148
Hello @fgalan

Reaching out as we (@nsrivastava9 and I) need some high level guidance for making this change.

What we want to do is replace $where with aggregation pipeline [https://www.mongodb.com/docs/manual/core/aggregation-pipeline/]

So effectively we would like to make $where an alias for aggregation pipeline, meaning whenever the user calls **@where** we end up calling command **aggregate*

[2022-07-28 07:36] SrdjanZec commented on #4180
Solved! I was using the wrong IOT Agent.

[2022-07-28 07:36] #4180 closed

[2022-08-05 07:05] fgalan commented on #2591
doc/manuals/orion-api.md  section ` ## actionType metadata` should be removed upon completing this issue.

[2022-08-05 09:20] fgalan commented on #3108
Status "expires" should be also be revied. It seem only "active" works for registrations

[2022-08-05 10:59] fgalan commented on #4148
For Orion logs () I think this is the query you are asking for:

[code]

After a JSON pretty print ;) looks this way:

[code]

[2022-08-05 11:06] fgalan commented on #4148
Especifically regarding `idTtypeNP` we have:

[code]

[2022-08-05 11:31] fgalan commented on #4148
Not sure of fully understand what you mean by alias... in general in MongoDB, you cannot "blindly" replace usage of "$where in find()" by "$where in aggregation pipeline" as they are different operations (i.e. find() is a operation to query a database collection while aggregate() is a wrapper for a more complex command in MongoDB).

Having said that, note that "$where" is currently used in only on

[2022-08-05 11:35] fgalan commented on #2591
I think your understanding is correct. Thanks!

[2022-08-10 11:15] anupamme commented on #4148
Hi @fgalan

Thanks for your detailed message. It helps clarify how we can re-implement addTriggeredSubscriptions_noCache(). I have a couple of follow up questions.

The way I understand is this that in its current implementation, it builds `bgP->query` by calling 4 sub-functions (i.e. `fill_idNPtypeNP()`, `fill_idPtypeNP()`, `fill_idNPtypeP()` and `fill_idPtypeP()`) and then uses this to call `ori

[2022-08-11 08:34] fgalan commented on #4148
I think your understanding is correct.

Not sure what you are asking here... :) Maybe you are asking for and explanation on what the function() in the $where clause does? The purpose of that function() is to to a "reverse regex" operation. That it, in the query we have the entity (id "Room1" and type "Room" in the example above) and we want to retrieve the documents in the csubs collection which m

[2022-08-11 08:46] fgalan commented on #4148
Having a look to [the cited post at SOF](https://stackoverflow.com/questions/15966991/mongodb-reverse-regex) maybe a simpler solution to aggregation pipeline is possible :)

In particular, to follow [this advice](https://stackoverflow.com/a/69979596/1485926) and use `$expr` with `$regexMatch` to implement the "reverse regex".

This example is closer to what we need: https://mongoplayground.net/p/i

[2022-08-11 08:56] fgalan commented on #4148
Trying to get even more closer, maybe there are some problems... see https://stackoverflow.com/questions/73317911/expr-with-regexmatch-doesnt-work-when-the-pattern-is-inside-an-array

[2022-08-11 12:32] fgalan commented on #1494
I can confirm "onlyChangedAttrs" set to `true` makes notifications are not sent (in my case not sent in both PATCH and PUT cases). I'll have a look.

[2022-08-11 12:47] fgalan commented on #1494
Looking into this, I think is correct behaviour.

On the one hand, with regards to `entityUpdate` alteration type (https://fiware-orion.readthedocs.io/en/master/user/subscriptions_alttype.html):

So, according to this, the notification would be triggered in both PUT and PATCH cases [in your use case](https://github.com/telefonicaid/fiware-orion/issues/1494#issuecomment-1183131417).

However, at th

[2022-08-11 12:51] fgalan commented on #4148
A solution to the problem was provided (https://stackoverflow.com/a/73318486/1485926):

[code]

Example: https://mongoplayground.net/p/2bb8aC45kJS

[2022-08-15 07:36] djs0109 commented on #1494
@fgalan thank you for the explanation! I agree with you. In this regard the behavior definitely makes sense. in my use case for example, I will have a room entity, which has temperature, humidity, co2 concentration, etc. as attributes. It should receive measurements from the sensors and I want to save these measurements to CrateDB in a reasonable manner, i.e. to save and only to save the actual si

[2022-08-16 10:46] anupamme commented on #4148
Hi @fgalan

Thanks for these pointers. So now what we'd be doing is replacing the current "reverse-regex" implementation which uses $where operator to $expr as you pointed out in your last comment.

In your earlier comment (https://github.com/telefonicaid/fiware-orion/issues/4148#issuecomment-1206320022) you mentioned the compiled query looks like this (after json pretty print)

[code]

Notice tha

[2022-08-17 09:48] fgalan commented on #4148
The structure seems to be correct in the sense it replaces $where by $expr. I have noticed that `input` fields are empty string `""` which wouldn't be correct, but I guess this is due you are still working on it.

To see if your implementation is correct, create a pull request with the change. We have a lot of regression tests for subscriptions in "noCache" way (when this functionality is used) so

[2022-08-17 12:00] fgalan commented on #1494
Not sure of understanding your use case...

So, you have a given entity Room1 with several attributes temperature, humidity, co2 concentration, etc. Let's assume at a given moment the temperature is 24. Then, CB received update Room1 temperature to 24 (i.e. same value). What do you expect?

1. Notification with temperature = 24 (and no other attribute)?
2. Notification with temperature = 24 along

[2022-08-17 12:46] mapedraza commented on #4178
Fixed in https://github.com/telefonicaid/fiware-orion/pull/4188#pullrequestreview-1075657446

[2022-08-17 12:47] fgalan commented on #1494
Under my understanding, you can achieve this use case without using `onlyChangedAttrs: true`. If I'm wrong, could you elaborate why `onlyChangedAttrs: true` is needed?

[2022-08-17 13:13] djs0109 commented on #1494
Yes, I still need `onlyChangedAttrs: true`. Let's have a look. As you suggested, I create a CB subscription like this:
[code]
Let's assume that, at this moment, the room entity has the following status: `humidity=40, temperature=24, co2=100`. Now if the temperature sensor sends a new measurement, `temperature=24`, the CB will notify the time series DB with `humidity=40, temperature=24, co2=100`. H

[2022-08-17 13:34] fgalan commented on #1494
What about using `covered` feature? I mean with:

[code]

In the same situation you describe, CB will notify with `humidity=null, temperature=24, co2=null`, clearly stating which attributes has been included in the triggering update and which attribute haven't.

[2022-08-18 06:41] djs0109 commented on #1494
Unfortunately, it does not work for me.

I then also look into the CB docs, and found that the `covered` flag seems to be responsible for the attributes that not exist https://fiware-orion.readthedocs.io/en/master/user/ngsiv2_implementation_notes.html#covered-subscriptions. But maybe this is not the correct documentation for it.

[2022-08-18 07:58] Siedlerchr commented on #4154
It's still not there... But the the telefonicaiot/fiware-orion:3.7.0 worked

[2022-08-18 09:01] fgalan commented on #4154
Great!

Based on the feedback, I'll close the issue. However, please feel free of contacting FIWARE Foundation (@wistefan @jason-fox ...) regarding the sync problems in fiware dockerhub organization.

[2022-08-18 09:01] #4154 closed

[2022-08-18 10:34] fgalan commented on #1494
Not sure what do you mean by "attributes that not exist". Could you elaborate a bit more on why do you think this solution is not valid for your case?

[2022-08-18 11:33] jason-fox commented on #4154
Since Docker removed the ability for a third-party to listen to releases and automate builds, the `fiware` docker tags will always lag the original source of truth. `telefonicaiot` needs to build and tag first, `fiware` is just an aggregator of existing images.   This  is the case `telefonicaiot`, but it is also true for all other components aggregated from the FIWARE Catalogue. The only time that

[2022-08-18 11:40] Siedlerchr commented on #4154
@jason-fox  Thanks! Can you check the same for the ging/fiware-idm and ging/fiware-pep
https://github.com/ging/fiware-pep-proxy/issues/141

[2022-08-18 11:45] djs0109 commented on #1494
That is the description in the docs. I have tested with `"covered": true`, however, CB still notify with `humidity=40, temperature=24, co2=100` but not `humidity=null, temperature=24, co2=null`.

[2022-08-18 11:54] fgalan commented on #4154
If fiware dockerhub cannot keep sync with the "sources of truth" :), maybe fiware dockerhub organization should be disabled. Otherwise, we will have more issues like the one that @Siedlerchr reports here, causing confusion in our users.

[2022-08-18 19:57] Blobonat opened #4195 "Add support for DateTime including milliseconds following the NGSI-LD API specification"
As far as I have seen the IOTA currently supports `DateTime` including milliseconds using the `YYYY-MM-DDThh:mm:sssZ`-format. Following the API spec (v. 1.5.1) an implementation may also support (pp. 46-47):

**Describe the solution you'd like**
The time format used within an IOTA should be configurable.

**Describe alternatives you've considered**
A clear and concise description of any alternativ

[2022-08-18 20:07] #4195 closed

[2022-08-18 20:08] Blobonat commented on #4195
Wrong repo

[2022-08-22 06:55] Anjali-NEC commented on #4149
Hi @fgalan @mapedraza

Please provide your response on it. Thanks

[2022-08-23 10:32] fgalan commented on #4149
@Anjali-NEC so if I have understand correctly your proposal is not to work in the line described by @mapedraza at https://github.com/telefonicaid/fiware-orion/issues/4149#issuecomment-1151178321 but focus only in the CPr pagination issue. Is my understanding correct?

In that case, I'd like to clarify what are you exactly proposing, please. Examples may help.

Thus, taking into account your pictur

[2022-08-23 14:19] tstorek commented on #4033
@fgalan thanks, for all the work that you put into this piece of software. However, it would be very kind if you would highlight such change as a BREAKING CHANGE in the semantic release. As this is a breaking change it should have been a major release, right? It took me quite a while to figure this out but it actually occurred with version 3.7.0. So something was a little messed up with this. Than

[2022-08-25 10:35] fgalan commented on #4033
Sorry heard that...

However, note that in the (rare) cases in which a Orion release breaks the backward compatibility, it is properly warned in the release notes. For instance:

* In https://github.com/telefonicaid/fiware-orion/releases/tag/3.6.0 there is a note about the change in default metadata update semantics (well, we use NOTE instead of BREAKING CHANGE, but it's the same)
* In https://git

[2022-08-26 11:39] fgalan opened #4202 "onlyChangeAttrs taking into account "entityUpdate" in "alterationTypes""
It comes from https://github.com/telefonicaid/fiware-orion/issues/1494#issuecomment-1181656637

onlyChangedAttrs should take into account the `alterationTypes`, so if `alterationTypes` includes `entityUpdate` then it is interpreted in the following way: "include only attributes that are included in the update, no matter if there was an actual update or not".

Currently onlyChangedAttrs has implici

[2022-08-27 15:00] tstorek commented on #4033
@fgalan I saw it, but it was somehow confusing that the NOTE is in version 3.6.0 but the error occurred later in 3.7.0.

I would just recommend highlighting BREAKING CHANGES and making them more prominent.
Ideally, in the version number ;)
From a minor release, I usually expect new features and maybe some bug fixes (patch-release).

In this case, it was not as critical, as it rather protects exist

[2022-08-29 07:16] fgalan commented on #4033
Do you mean that the the change in the metadata update semantics (and side option `overrideMetadata`)  didn't happened in 3.6.0 but in the 3.7.0 (i.e. the note in the release notes was misplaced)? That's weird and it should be checked if you confirm that is the case.

From which version did you update to 3.7.0?

[2022-08-29 08:14] Anjali-NEC commented on #4149
Yes your understanding is correct.

It will return all the entities of CB, CPra A, CPra B, CPra C based on the registration order of ContextProvider in CB and the registration order of Entities in CP.

If you register in CP in the order of CPra A, CPra B, CPra C. It will return the response in the following order:

{E1, E2, E3, EA1, EA2, EA3, EB1, EB2, EB3, EC1, EC2, EC3}

This time, only offset,

[2022-08-30 07:07] Anjali-NEC commented on #4202
Hi @fgalan sir,

I would like to work on this issue. As per my understanding  currently if `alterationTypes": [ "entityUpdate" ]` it notify no matter if there was an actual update or not.

We need to add condition for if `alterationTypes": [ "entityUpdate" ]` it will only notify when attributes actually change. Please confirm my understanding.

[2022-08-31 15:52] fgalan commented on #4202
@Anjali-NEC not this issue is not about `alterationTypes` including `entityUpdate`. That feature is already developed and works.

This issue is about `onlyChangedAttrs`. If `alterationTypes` includes `entityUpdate` and `onlyChangedAttrs` is set to `true` then the notification must include only the attributes in the update and no matter if there was an actual change or not in these attributes in th

[2022-09-01 06:55] djs0109 commented on #4202
Exactly, what I expect is, when `alterationTypes` includes `entityUpdate`, the subscription should also be triggered if there is no actual change. However, this seems to be blocked by `onlyChangedAttrs=true`.

By the way, I notice that, if `onlyChangedAttrs=true`, the subscription can still be triggered, when I use `forcedUpdate` option in request. Based on this, a possible solution could be: if `

[2022-09-01 08:17] fgalan commented on #4202
I agree is not very elegant ;) Thus, I'll suggest to fix this in the "core" of onlyChangedAttrs funcionality, not "patching" the request internally.

[2022-09-02 07:47] cesarjorgemartinez commented on #3166
We reproduced this bug on 2022/09/02 after reboot the environment when fixing a system full disk problem. Version of Orion is 3.7.0.

[2022-09-02 08:01] fgalan commented on #3166
This is not a bug but a desired behaviour, as I have explained [here](https://github.com/telefonicaid/fiware-orion/issues/3166#issuecomment-553295349) and [here](https://github.com/telefonicaid/fiware-orion/issues/3166#issuecomment-539434852).

[2022-09-02 11:34] tstorek commented on #4033
@fgalan I am sorry. I just doubled checked and apparently, we accidentally skipped some versions here although 3.6 was already released more than a half year ago and I was pretty sure that it was updated in between. Sorry for that! Hence, no need to look into it again. I was probably in rush and like to apologize. Next time I goona read the notes more carefully!

[2022-09-02 11:47] fgalan commented on #4033
Dont' worry :)

The bottom line is that if you upgrade (for instance) from 1.0 to 1.3 you not only have to check the release notes in 1.3, but also in other versions in the upgrade path (1.1 and 1.2 in this case).

[2022-09-05 08:39] anupamme commented on #4148
Hi @fgalan

We have written the expression for the 4 conditions in the current code and the new expression is in the playground: [Playground Link](https://mongoplayground.net/p/WUY6MsL-D9o).

I am pasting it here as well:

`
db.collection.find({
  "$expr": {
    "$anyElementTrue": {
      "$map": {
        "input": "$entities",
        "in": {
          $and: [
            {
              "$regexM

[2022-09-05 18:20] fgalan commented on #4148
Maybe the [`$exits operator`](https://www.mongodb.com/docs/manual/reference/operator/query/exists) could help?

[2022-09-06 10:57] fgalan commented on #2903
@cdupont we have recently develop a funcionality to work "natively" with JSON in custom notification payload (see more details here: https://github.com/telefonicaid/fiware-orion/blob/master/doc/manuals/orion-api.md#json-payloads). Maybe it could be useful for your use case.

The new feature is already in master and it will be included in next Orion 3.8.0 release. At the present moment you can test

[2022-09-06 15:30] anupamme commented on #4148
[Done](https://stackoverflow.com/questions/73624483/embed-operator-exists-within-the-operator-map)

[2022-09-07 12:26] WillFreitag opened #4211 "Notifications sent on identical data when JSON attribute values are used"
**Bug description**
Orion sends a notifier, even if no attribute is changed.

- Orion version: Same behavior/tested with  2.4.2, 3.2.0 & 3.7.0
- MongoDB version: 3.6
- Env variables or CLI parameters: Orion is running with -noCache
- Docker Image used: fiware/orion:2.4.2/3.2.0/3.7.0

**How to reproduce it**
Steps to reproduce the behavior (as an example)
1. On a blank System, create a subscription

[2022-09-07 12:50] WillFreitag commented on #4017
Is this feature still planned to be implemented?
It will be very useful since it's hard to explain (to a customer), that "lastSuccessCode: 500" does not mean, that the notifier was successfully sent. :-)

[2022-09-07 13:45] fgalan commented on #4017
Tell your client that lastSuccessCode means lastResultCode and it would make more HTTP-sense for him ;)

Jokes apart, the feature is still on the table, but not within our priorities at the present moment. However, we are open to contributions (Orion is open source :) so anybody who wants to contribute with ideas on how the new subscription API and behaviour should be, and with the implementation

[2022-09-07 13:51] fgalan commented on #4211
Thank you for your issue report! Pretty clear and straightforward :)

We have recently solved a problem that could be related with your description:

[code]

However, that fix has not been yet released (it is planned for Orion 3.8.0, which is the next version)

Could you test with `telefonicaiot/fiware-orion:latest` docker image and tell us if it works, please?

[2022-09-07 13:57] WillFreitag commented on #4211
Great! I will test (tomorrow) and give feedback!

Thanks!

[2022-09-07 14:12] anupamme commented on #4148
Hey @fgalan

So someone responded at the [Stackoverflow](https://stackoverflow.com/questions/73624483/embed-operator-exists-within-the-operator-map).

I will create a PR with this solution. If you have comments let me know.

[2022-09-07 14:24] fgalan commented on #4148
Great! I'll have a look to the PR and provide comments on it. Thanks!

[2022-09-08 08:02] WillFreitag commented on #4211
All the same :-(
Using `telefonicaiot/fiware-orion:latest` (Orion-Version "3.7.0-next") has the same result.
I had the idea, that location or doubles in general might be a problem (you know best, comparing doubles is not as easy as "val1 == val2" when it comes to check the condition for the notifier), so I changed the payload sending a simple string - did not help.
So the issue is still there.

[2022-09-08 08:07] WillFreitag commented on #4211
For completeness, this is, what I'm currently trying:
Notification:
[code]
And the payload, sent via "PUT" after a first "POST":
[code]

I will try some more things (e.g. using POST with upsert, switch from normailzed to keyValues) in the next days...

[2022-09-08 08:19] WillFreitag opened #4212 "Exporter for Prometheus"
**Is your feature request related to a problem / use case? Please describe.**
When using Orion Context Broker in a containerized platform, it would be nice to have some metrics.

**Describe the solution you'd like**
There are client libs available for almost all languages inkl. C++ (https://prometheus.io/docs/instrumenting/clientlibs/).

**Do you have the intention to implement the solution**
- [

[2022-09-08 08:55] kzangeli commented on #4211
Comparing floating point values is a difficult task in a program.
CPU's are kind of made for integers ...

I ran into the same problem with Orion-LD and my idea of solving it (haven't implementing it yet) is to use a range for floating point comparisons and not an exact comparison.

Instead of comparing with EXACT numbers:
[code]
I'd do an AND:
[code]

Then the question arrives, WHO exactly define

[2022-09-08 08:56] fgalan commented on #4211
Just to be sure... could you do a `GET /version` in Orion service port and post the result, pls?

[2022-09-09 10:39] fgalan commented on #4017
The subscription provides some metrics about notifications. From https://github.com/telefonicaid/fiware-orion/blob/master/doc/manuals/orion-api.md#subscriptionnotification

* timesSent
* lastNotification
* lastFailure
* lastSuccess
* lastFailureReason
* lastSuccessCode
* failsCounter

Which other metrics do you miss here?

[2022-09-09 10:45] fgalan commented on #2556
build-fiwarelab-image.sh was removed in PR https://github.com/telefonicaid/fiware-orion/pull/4030. Thus, this issue is no longer valid and it will be closed.

[2022-09-09 10:45] #2556 closed

[2022-09-09 10:50] fgalan commented on #3439
This is covered by the `entityUpdate` subscription alteration type in issue #1494 in release Orion 3.7.0 (see associated PRs in that issue).

Thus, the issue is going to be closed as solved.

[2022-09-09 10:50] #3439 closed

[2022-09-09 10:54] fgalan commented on #4211
Maybe the problem is related which the usage of JSON values. By the above report, it seems it is not related with numbers exclusively.

Could you test the following case and report the result, please?

Case 1:

[code]

Case 2:

[code]

[2022-09-09 15:16] WillFreitag commented on #4211
Here we go:
OKAY means: Subscription works as expected, only sent on changed data.
FAIL means: Subscription is firing always, even on identical data.

<hr>
OKAY:

[code]

<hr>
FAIL:

[code]

<hr>
FAIL:

[code]

<hr>
FAIL:

[code]

Conclusion:
You're totally right. This as nothing to do with "geo:json" or doubles or so, but with "complex" types (structures).

[2022-09-09 15:27] kzangeli commented on #4211
Not so sure Orion supports "check of value change for compound value". It's ... a bit complex.
Fermin - easy to check! (last time I was there, it wasn't implemented for compounds)

I implemented it myself for Orion-LD - by rendering the old vs rendering the new value, then just a simple strcmp() ...
That works just fine as long as the order of the fields doesn't change ... A bit useless to tell yo

[2022-09-09 15:31] WillFreitag commented on #4211
Great "idea"!
About that ordering-thing: If you parse both JSONs into an object and flush those objects into JSON afterwards...should'nt both JSONs have the same order?

[2022-09-09 15:36] kzangeli commented on #4211
If the parser you use supports ordering of fields, then yes, of course.
Orion uses rapidjson - I'm not a fan and far from an expert ... :)

You still might have a problem with Arrays.
Can't really order the valus inside an array, as the broker doesn't know what the user wants, how it semantically understands the order of the values in an array.

Anyway, best effort, right?

[2022-09-10 10:03] WillFreitag commented on #4211
If Orion uses `std::array` there is "no problem" comparing two arrays for equality...
[code]

[2022-09-10 10:21] WillFreitag commented on #4017
Sorry, you got me wrong, Fermín.
There is nothing to complain about the current metrics, the notifications provide (except around the subject of this issue ;-) ).
Additionally to the info within the notification-response, it might be nice to have those metrics exported to Prometheus.
That's why I linked to #4212 .

[2022-09-10 15:03] kzangeli commented on #4211
Had it been that simple ...
It might be an object containing an array, containing an object, containing an array ...
Any depth.

Either you compare the old tree with the new tree (recursively looking up members from tree 1 in tree 2, and then mark every field as "compared", afterwards make sure all fields were compared in both trees), or you sort and render and strcmp.
This is far from trivial, th

[2022-09-12 06:56] fgalan commented on #4211
The solution to this issue would be to implement "deep compare" in attribute value JSON structures. Orion uses an internal way of representing JSON (CompoundValue) so some recursive function should be implemented to do so. The feedback in the previous comments can be useful to that end.

I'm changing the title to describe more precisely the issue.

(I think this is not the first time we found this

[2022-09-12 07:58] kzangeli commented on #4211
Yes, correct.
That's much nicer than "sort/render/strcmp"

[2022-09-12 10:51] WillFreitag commented on #4211
Just to have an answer to my client...Do you think, this will be implemented in 3.8.0? ...and further: is there a release date planned yet?
And again (already stated this in another issue): I'd really love to contribute but I don't find the time at all :-(

[2022-09-13 15:13] fgalan commented on #4211
It would depend if (and when) some brave developer volunteers to implement it :) By the moment it is ours immediate priorities. You can always use a side not-JSON attribute that changes at the same time than the JSON one (typically, a "TimeInstant" attribute of type DateTime with the timestamp of the change).

Maybe you can ask budget to your client so you can allocate resources to contribute with

[2022-09-14 09:07] WillFreitag commented on #4211
Okay.
My current workaround is, that no objects/arrays are used at all (e.g. Geo:JSON is now split into two doubles lat/lng). Naturally, we are leaving Smart Data Model with this but it's a workaround only - okay with our customer.

About the contribution: That project is about evaluating the FIWARE stack -the customer wants to know, if it fits his needs - so no money for development here :-( ...

[2022-09-14 10:27] anupamme commented on #4148
Hi @fgalan

I created a [pull request](https://github.com/telefonicaid/fiware-orion/pull/4213).

I have made the change only for function fill_idPtypeNP. Once it is approved I will make the similar changes for the other three functions:

`fill_idNPtypeNP(), fill_idNPtypeP()and fill_idPtypeP()`

Looking forward to your comments. Thanks!

[2022-09-14 11:12] anupamme commented on #4148
I see there are three failing tests:

1. on style issue
2. mismatch in line count.

Can you give me some guidance on how to fix?

Also, is there a way I can run these tests locally and know the results?

[2022-09-14 11:19] fgalan commented on #4211
Note that if you split latetitude and longitude into two different attributes instead of using GeoJSON, you will not be able to benefic from the [geo-query features in Orion](https://github.com/telefonicaid/fiware-orion/blob/master/doc/manuals/orion-api.md#geographical-queries).

Pitty :(

Your comment will be taken into account when this issue gets addressed.

Thanks for all your valuable feedbac

[2022-09-14 12:03] fgalan commented on #4148
With regars to style issue (https://github.com/telefonicaid/fiware-orion/actions/runs/3052031682/jobs/4921123995) I think this is the cause:

[code]

With regards to functional test failing it's a bit weird... I could have expected that "no cache" test were failing (due to some problem with the new query) but the fail in "cache" tests is weird, as they are not using that part of the code at all.

[2022-09-19 08:43] ArqamFarooqui110719 opened #4216 "Incorrect response for "/v2/types" API of Orion 2.6.1 and Orion 3.7.0"
**Bug description**
I have run 3 different versions of Orion via docker i.e. :
    Orion 3.7.0 + MongoDB 4.4 - on PORT 1026
    Orion 2.6.1 + MongoDB 3.6 - on PORT 1027
    Orion 2.1.0 + MongoDB 3.4 - on PORT 1028

When executing `/v2/types/` query, I'm getting INCORRECT response with Orion-2.6.1 and Orion-3.7.0 as response is including all the attribute types belonging to different entity type. S

[2022-09-25 04:37] ArqamFarooqui110719 commented on #4216
As per Orion's official document 'https://fiware-orion.readthedocs.io/en/latest/user/walkthrough_apiv2.html'
`/v2/types/` API returns **UNION OF ATTRIBUTE TYPES BELONGS TO "SAME ENTITY-TYPE"**.

![Orion-official-document-v2type-api](https://user-images.githubusercontent.com/55977298/192128473-762aef01-207a-42d6-ba91-84bd0c7ab9e1.png)

As per above investigation and analysis of the `/v2/types/` API

[2022-09-27 07:14] anupamme commented on #4148
Hi @fgalan

I tried installing functional Tests by going to the [link](https://github.com/telefonicaid/fiware-orion/tree/master/test/functionalTest). One of the steps is:

make install_scripts

However, there is no Makefile in the repository. Am I missing something here?

[2022-09-27 14:46] fgalan commented on #4148
This is the makefile: https://github.com/telefonicaid/fiware-orion/blob/master/makefile

[2022-09-27 14:48] fgalan commented on #4148
Maybe it is useful to have a look to CI Docker at https://github.com/telefonicaid/fiware-orion/tree/master/ci. This Docker container is built to run unit and functional test, so if you mimics the same steps in your environment you will end with a functional environment to run Orion tests.

[2022-09-28 09:41] fgalan commented on #4216
@ArqamFarooqui110719 thank you for so detail issue report :)

Changes from 2.2.0 to 2.3.0 (https://github.com/telefonicaid/fiware-orion/compare/2.2.0...2.3.0) show modification on src/lib/mongoBackend/mongoQueryTypes.cpp that could be the cause of the issue. However, in the 2.3.0 changelog at https://github.com/telefonicaid/fiware-orion/releases/tag/2.3.0 The changes seems to be have done in PR ht

[2022-09-28 10:45] fgalan commented on #4216
Function to fix mongoAttributesForEntityType() ?

[2022-09-28 13:38] fgalan commented on #4216
PR https://github.com/telefonicaid/fiware-orion/pull/4217

[2022-09-28 14:56] fgalan commented on #4216
The issue should has been fixed in master branch.

@ArqamFarooqui110719 could you please test it using the `telefonicaiot/fiware-orion:latest` image, please?

[2022-09-28 17:04] Maghnie opened #4218 "Googling FIWARE topics brings up outdated documentation"
**Bug description**
Not sure if this is the best place for this "bug report", because this is more of a "bug" in the user experience with googling FIWARE documentation.
For example, when I googled a FIWARE concept, the top result led to a seemingly outdated documentation page. (screenshot below)

**How to reproduce it**
Since Google search results are personalized, not sure how this can be reprodu

[2022-09-29 06:37] fgalan commented on #4218
As far as I know the Google algorithm show first the pages that have many other pages linking to them. Thus, for that particular example, I guess that the document https://fiware-orion.readthedocs.io/en/1.3.0/user/federation/index.html is more linked that the https://fiware-orion.readthedocs.io/en/master/user/federation.html

To change this behaviour we should be able to:

* Change the links in ex

[2022-09-29 06:38] fgalan commented on #4218
I would like to take this opportunity to tell you that documentation about the Orion NGSIv2 API has been recently restructured and improved, available at this link:

https://github.com/telefonicaid/fiware-orion/blob/master/doc/manuals/orion-api.md

Please, update your bookmarks with it.

[2022-09-29 07:13] Maghnie commented on #4218
I'm not sure either how to block Google from showing outdated pages, but there might be a way with the "noindex" meta tag:
https://developers.google.com/search/docs/crawling-indexing/block-indexing#:~:text=You%20can%20prevent%20a%20page,other%20sites%20link%20to%20it.

Another solution, possibly simpler, would be to display a sort of warning at the top of old documentation pages, while linking to

[2022-09-29 07:25] fgalan commented on #4218
I understand that this is already happening. For instance if you go to https://fiware-orion.readthedocs.io/en/3.1.0/ you'll see:

![imagen](https://user-images.githubusercontent.com/1534240/192967177-97c189dd-f7c4-4bfa-ae75-f981477c0bc1.png)

[2022-09-29 07:41] Maghnie commented on #4218
Yes, that looks great. Something like that would be perfect to have on all outdated doc pages.

It seems that docs with a version less than 2 don't show this warning, e.g.: https://fiware-orion.readthedocs.io/en/1.15.0/user/multitenancy/index.html

[2022-09-29 07:48] mapedraza commented on #4212
Thank for the suggestion of this Issue

Currently Orion implements its own metric system, are you aware of metrics API endpoint of Orion? You can review more information in the following link: https://github.com/telefonicaid/fiware-orion/blob/b412aca0527df44f9cf60e152947a69afa6a7a7e/doc/manuals/admin/metrics_api.md

[2022-09-29 07:58] WillFreitag commented on #4212
Thanks for the feedback and no, I wasn't aware of that API (and I wasn't aware that it's enabled by default - consuming resources w/o using the API at all :-) ).
At a first sight, it looks like it's exactly what I'm looking for!
Thanks again for that hint!

[2022-09-29 08:01] fgalan commented on #4218
Not sure why it works that way... we have no control on how readthedocs renders their pages. Maybe you could open an issue at readthedocs about that, please? In that case, please include the link to that issue as comment here.

Thanks in advance!

[2022-09-29 08:01] ArqamFarooqui110719 commented on #4216
I've tested and `/v2/types/` APIs are working fine. Please find below stepwise details:

1. Used `Mongo:4.4` and `telefonicaiot/fiware-orion:latest` images
<pre>
[root@fiware-stdsv5-20 telefonicaiot-fiware-orion]# docker pull telefonicaiot/fiware-orion:latest
latest: Pulling from telefonicaiot/fiware-orion
b85a868b505f: Pull complete
4e9601c6f42d: Pull complete
c6e76a008e18: Pull complete
Digest:

[2022-09-29 08:54] fgalan commented on #4216
Based on this positive report, we are going to close the issue.

Thanks for the feedback!

[2022-09-29 08:54] #4216 closed

[2022-09-29 11:58] fgalan commented on #4218
After the discussion on https://github.com/readthedocs/readthedocs.org/issues/9633 if you tell me which versions are not correct I can relaunch the build for all them. Thanks!

[2022-09-29 12:05] Maghnie commented on #4218
It seems that all versions before 2.0 were affected by this bug, so I'd say only these below need a relaunch 😅

- [ ] [1.15.0](https://fiware-orion.readthedocs.io/en/1.15.0/)
- [ ] [1.14.0](https://fiware-orion.readthedocs.io/en/1.14.0/)
- [ ] [1.13.0](https://fiware-orion.readthedocs.io/en/1.13.0/)
- [ ] [1.12.0](https://fiware-orion.readthedocs.io/en/1.12.0/)
- [ ] [1.11.0](https://fiware-orion.

[2022-09-29 14:09] fgalan commented on #4218
I have relaunched compilation in all ones in the above list. However, given that sometimes it has been concurrently and I'm sure what RTD does in that case, could you have a look to all them (checking the ones that are already fixed), please? Thanks!

[2022-10-04 08:10] WillFreitag commented on #4212
Issue already solved.

[2022-10-04 08:10] #4212 closed

[2022-10-04 09:33] LZimmermannLZI commented on #4218
I checked the above versions to include the warning message and it is present in all entries:

- [x] [1.15.0](https://fiware-orion.readthedocs.io/en/1.15.0/)
- [x] [1.14.0](https://fiware-orion.readthedocs.io/en/1.14.0/)
- [x] [1.13.0](https://fiware-orion.readthedocs.io/en/1.13.0/)
- [x] [1.12.0](https://fiware-orion.readthedocs.io/en/1.12.0/)
- [x] [1.11.0](https://fiware-orion.readthedocs.io/en

[2022-10-04 14:08] fgalan commented on #4218
Thanks for your review!

Not sure how to fix this. It seems to be a RTD thing, isn't it?

Maybe you could open an issue on RTD and include the link as comment here (for traceability), as you did before, please? Thanks!

[2022-10-12 13:26] walterwootz opened #4222 "Error on getting single lazy attribute value"
Hi everyone,
We are developers from Engineering and we are working on [iotagent-opcua](https://github.com/Engineering-Research-and-Development/iotagent-opcua), trying to improve lazy attributes handling.

**Bug description**
When requesting a lazy attribute value, Orion forward all the registered attributes instead of the one requested. Consequentially the IoT Agent registered does not know which

[2022-10-13 05:28] Anjali-NEC commented on #4149
Hi @fgalan @mapedraza

We have done some investigation on how the pagination feature laid out in case of request forwarding and how it will be implemented. we have classified some function on the basis of sequence diagram flow and the details of the function which need to be modified for the implementation of pagination in case of request forwarding are given below.

Please  find below my solution

[2022-10-13 07:44] fgalan opened #4223 "normalizedSimplified and keyValuesSimplified notification modes"
Currently notifications can use three diferent formats (normalized, keyValues and values (https://github.com/telefonicaid/fiware-orion/blob/master/doc/manuals/orion-api.md#notification-messages):

[code]

All them use `data` as array although it contains only one element (it is a legacy which have no longer sense since initial notification functionality was deprecated and removed).

It will be gre

[2022-10-13 07:45] fgalan commented on #4223
normalizedSimplified and keyValuesSimplified are just temporal names. It could be improved

[2022-10-20 12:50] Maghnie commented on #4218
As suggested in readthedocs/readthedocs.org#9644, the [page redirects](https://docs.readthedocs.io/en/stable/user-defined-redirects.html#page-redirects) approach could be used to correctly reroute older subpages of the documentation.

Maybe something like this can be added to the readthedocs configuration:
[code]
With some kind of regex in place of `multitenancy`.

[2022-10-20 15:46] fgalan commented on #4218
Maybe you could do a pull request on Orion repository to show how it looks like, please? Thanks!

[2022-10-20 17:07] anupamme commented on #4148
Hi @fgalan

Now that the PR is merged, the next question I have is when will this code go live? So that we can ask our customers to wait till then.

[2022-10-21 10:14] mapedraza commented on #4222
Maybe related:
- https://github.com/telefonicaid/fiware-orion/blob/master/src/lib/serviceRoutines/postQueryContext.cpp
- https://github.com/telefonicaid/fiware-orion/blob/master/doc/manuals/devel/cprs.md#forwarding-of-query-requests

[2022-10-21 14:19] fgalan commented on #4085
We are going to re-define this, based on the payload concept. So, in a custom notification, there would be three ways of defining a payload:

* As a custom text payload (currently supported with the `payload` field)
* As a custom JSON payload (currently supported with the `json` field)
* As a NGSIv2 normalized payload (the purpose of this issue)

The third mode will be associated to the `entity` f

[2022-10-21 14:24] fgalan commented on #4148
This will be part of version 3.8.0, to be released soon. There is only one issue pending to freeze the release (this one: https://github.com/telefonicaid/fiware-orion/issues/4085) but it is a complex functionality, so it could take some time.

In the meanwhile, the `:latest` version in telefonicaiot dockerhub should provide that functionality. You can use it while 3.8.0 gets released.

[2022-10-24 14:05] fgalan commented on #4148
PR https://github.com/telefonicaid/fiware-orion/pull/4226 with additional code comments and documentation fixes.

[2022-10-25 11:12] fgalan commented on #4085
`entity` -> `patch` as field name

[2022-10-26 09:23] Anjali-NEC commented on #4149
@fgalan @mapedraza

We have started working on implementing this feature with the shared implementation approach. please let us know if you have any query or concern.

[2022-10-28 13:03] fgalan commented on #4085
PR https://github.com/telefonicaid/fiware-orion/pull/4229

[2022-11-07 08:16] gsatheeshkumar commented on #3666
@fgalan

we have upgraded the Orion version (3.4.0) we have observed that millisecond-level tracking is not available in MongoDB.

as per your suggestions, the millisecond's support for DateTime attributes and metadata has been implemented. The feature will be available in the next Orion version (2.5.0).

but it is not supporting the latest version.

Can you please let us know how to handle these

[2022-11-07 08:28] fgalan commented on #3666
Not sure what do you mean by "it is not supporting the latest version"...

Could you provide more detail on the sequence of steps (i.e. request to Orion context broker) you have done to reach that conclusion, please?

[2022-11-07 13:29] Maghnie commented on #4218
Maybe we can, but this issue is gonna need the "backlog" label 😅

[2022-11-07 14:42] fgalan commented on #4218
No problem. "backlog" label assigned ;)

[2022-11-09 04:55] Anjali-NEC commented on #4149
@fgalan @mapedraza  Gentle Reminder!!

[2022-11-11 11:25] agaldemas-eridanis opened #4233 "orion statistics issues : measuring_interval_in_secs not reset & /version requests considered as "invalidRequests""
**Bug description**

A. if you 'DELETE' statistics, and you call again GET /statistics, `measuring_interval_in_secs`, remains at the same value as `uptime_in_secs`, instead of being reset to 0, the others sections are well reset.

B. if you perform a GET /version to orion, it is counted as an `invalidRequests`, and not as `versionRequests`, in statistics, nevertheless `versionRequests` appears in

[2022-11-11 11:59] agaldemas-eridanis commented on #4233
just checked : the same issues exists in 3.7.0 !

[2022-11-22 05:07] OASTEST2022 opened #4235 "in v2/registrations/{registrationId} if the registrationId is unknown returns in http code a 200 instead of a 404"
in **v2/registrations/{registrationId}** if the registrationId is unknown returns in http code a 200 and empty value instead of a 404 and error message.

### registrationId request
[code]

### Response body
http code :200
[code]

### Response headers
[code]

[2022-11-26 18:45] eduardoCarneiro99 commented on #3794
Hello,
I would like to know if anyone was successful in fixing this problem otherwise I might try to do it for my project.
Thank you in advance

[2022-11-28 16:27] fgalan commented on #3794
As far as I know, nobody is working on this, so feel free on taking the issue :)

Thanks for your willingness to contribute!

[2022-11-28 16:39] kzangeli commented on #3794
I already implemented this for Orion-LD, some time ago. I called the CLI param "-dbURI' as it is no longer only mongo in the game (DocumentDB, CosmosDB, ...)
You can borrow from there if you want to: https://github.com/FIWARE/context.Orion-LD/blob/develop/src/lib/orionld/mongoc/mongocInit.cpp#L130

Especially, I got the request to have the password separate, not in the same CLI as the rest, so I i